@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

<div @attributes="AdditionalAttributes"
     class="@this.GetClasses()">
    <div>
        @ChildContent
    </div>
</div>

@code {
    #region Items

    [Parameter]
    [CSSProperty]
    public GridItems? ItemsSmall { get; set; }

    [Parameter]
    [CSSProperty]
    public GridItems? ItemsMedium { get; set; }

    [Parameter]
    [CSSProperty]
    public GridItems? ItemsLarge { get; set; }

    #endregion

    #region Gutter

    [Parameter]
    [CSSProperty]
    public GridGutter? Gutter { get; set; }

    [Parameter]
    [CSSProperty]
    public GridGutter? GutterX { get; set; }

    [Parameter]
    [CSSProperty]
    public GridGutter? GutterY { get; set; }

    #endregion

    #region Justify

    [Parameter]
    [CSSProperty]
    public GridJustify? JustifySmall { get; set; }

    [Parameter]
    [CSSProperty]
    public GridJustify? JustifyMedium { get; set; }

    [Parameter]
    [CSSProperty]
    public GridJustify? JustifyLarge { get; set; }

    #endregion
}
