@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

<div @attributes="AdditionalAttributes"
     class="@this.GetClasses()">
    @ChildContent
</div>

@code {
    #region Column

    [Parameter]
    [CSSProperty]
    public GridItemColumn? Small { get; set; }

    [Parameter]
    [CSSProperty]
    public GridItemColumn? Medium { get; set; }

    [Parameter]
    [CSSProperty]
    public GridItemColumn? Large { get; set; }

    #endregion
}
