@inherits BaseComponent

<span @attributes="AdditionalAttributes"
      class="@this.GetClasses()">
    @ChildContent
</span>

@code {
    [Parameter]
    [CssProperty]
    public ColorEnum Color { get; set; } = ColorEnum.Default;
}
