@inherits BaseComponent

<div class=@GetClasses() @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {

    [Parameter]
    [CssProperty]
    public bool NoWrap {get; set;} = false;
}