@inherits BaseComponent
@if (Href != String.Empty)
{
    <a class=@this.GetClasses() disabled=@Disabled href=@Href @onclick=OnClick @attributes="AdditionalAttributes">
        @ChildContent
    </a>
}
else
{
    <button class=@this.GetClasses() disabled=@Disabled type="@Type" @onclick=OnClick @attributes="AdditionalAttributes">
        @ChildContent
    </button>
}

@code {

    [Parameter]
    [CssProperty]
    public ColorEnum Color { get; set; } = ColorEnum.Default;

    [Parameter]
    public string? Href { get; set; }

    [Parameter]
    [CssProperty]
    public bool Disabled { get; set; } = false;

    [Parameter]
    [CssProperty]
    public bool Loading { get; set; } = false;

    [Parameter]
    public ButtonTypeEnum Type { get; set; } = ButtonTypeEnum.Button;

    [Parameter]
    public SizeEnum Size { get; set; } = SizeEnum.Medium;

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
}
