@inherits BaseComponent

<div class=@("f-button-group" + (NoWrap ? " f-button-group-no-wrap" : "") + Class) @attributes="RestProps">
    @ChildContent
</div>

@code {
        [Parameter]
    public bool NoWrap {get; set;} = false;
}