@inherits BaseComponent
@if (!string.IsNullOrEmpty(Href))
{
    <a @ref=Refe class=@this.GetClasses() disabled=@Disabled href=@Href @attributes="AdditionalAttributes">
        <span>
            @ChildContent
        </span>
        @if (Loading)
        {
            <Spinner Color=@this.Color />
        }
    </a>
}
else
{
    <button @ref=Refe class=@this.GetClasses() disabled=@Disabled type="@Type.ToString()" @onclick=OnClick @attributes="AdditionalAttributes">
        <span>
            @ChildContent
        </span>
        @if (Loading)
        {
            <Spinner Color=@this.Color />
        }
    </button>
}

@code {

    [Parameter]
    [CssProperty]
    public ColorEnum Color { get; set; } = ColorEnum.Default;

    [Parameter]
    public ElementReference Refe {get; set;}

    [Parameter]
    public string? Href { get; set; }

    [Parameter]
    [CssProperty]
    public bool Disabled { get; set; } = false;

    [Parameter]
    [CssProperty]
    public bool Loading { get; set; } = false;

    [Parameter]
    public ButtonTypeEnum Type { get; set; } = ButtonTypeEnum.Button;

    [Parameter]
    [CssProperty]
    public SizeEnum Size { get; set; } = SizeEnum.Medium;

    [Parameter]
    [CssProperty]
    public bool Outline { get; set; } = false;

    [Parameter]
    [CssProperty]
    public bool Ghost { get; set; } = false;

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
}
