@inherits BaseComponent

@if (Href != String.Empty)
{

    <a class=@GetClasses() disabled=@Disabled href=@Href type="@Type" @attributes="AdditionalAttributes">
        @ChildContent
    </a>

}
else
{
    <button class=@GetClasses() @disabled=@Disabled type="@Type" @attributes="AdditionalAttributes">
        @ChildContent
    </button>
}

@code {

    [Parameter]
    [CssProperty]
    public string Color { get; set; } = "default";

    [Parameter]
    public string Href { get; set; } = "";

    [Parameter]
    [CssProperty]
    public bool Disabled { get; set; } = false;

    [Parameter]
    [CssProperty]
    public bool Loading { get; set; } = false;

    [Parameter]
    public string Type { get; set; } = "button";

    private async Task onClick()
    {
        if (Disabled)
            return;

        Loading = true;
        try
        {
            await OnClick.InvokeAsync();
        }
        catch (Exception)
        {
            throw;
        }
        finally
        {
            Loading = false;
        }
    }

    [Parameter]
    public EventCallback OnClick { get; set; }

}
