@inherits BaseComponent

@if (Href != String.Empty)
{

    <a class="f-button f-button-color-@Color @Class" disabled=@Disabled href=@Href type="@Type" @attributes="RestProps">
        @ChildContent
    </a>

}
else
{
    <button class="f-button f-button-color-@Color" disabled=@Disabled type="@Type" @attributes="RestProps">
        @ChildContent
    </button>
}

@code {

    [Parameter]
    public string Color { get; set; } = "default";

    [Parameter]
    public string Href { get; set; } = "";

    [Parameter]
    public bool Disabled { get; set; } = false;


    [Parameter]
    public string Type { get; set; } = "button";

    // [Parameter]
    // public EventCallback OnClick { get; set; }

}