@inherits BaseComponent

<div class="f-card-header @Class" @attributes=@RestProps>
    @if (Title != String.Empty)
    {
        <h5 class="f-card-title">
            @Title
        </h5>
    }

    @ChildContent
</div>


@code {
    [Parameter]
    public string Title { get; set; } = String.Empty;
}