@inherits BaseComponent
@* class="f-base-component f-card f-card-color-primary" *@
<div class=@GetClasses() @attributes=@AdditionalAttributes>
    @if (Title != String.Empty)
    {
        <CardHeader Title="@Title" />
    }

    @ChildContent

</div>


@code {
    [Parameter]
    public string Title { get; set; } = String.Empty;

    [Parameter]
    [CssProperty]
    public string Color { get; set; } = "primary";
}
