@inherits BaseComponent

<div class="f-card @Class" @attributes=@RestProps>
    @if (Title != String.Empty) {
        <CardHeader Title="@Title" />
    }

    @ChildContent
   
</div>


@code {
    [Parameter]
    public string Title {get; set;} = String.Empty;
}