@inherits BaseComponent
<div class=@this.GetClasses() @attributes=AdditionalAttributes>
    @ChildContent
</div>

@code {
    [Parameter]
    [CssProperty]
    public SizeEnum Width {get; set;} = SizeEnum.Default;
}
