@inherits BaseComponent

<li class=@this.GetClasses() @attributes=AdditionalAttributes>
    @if(!string.IsNullOrEmpty(Href)) {
        <a href="@Href" class=@this.ClassName("DropdownItemLink")>
            @ChildContent
        </a>
    } else {
        <span @onclick=OnClick class=@this.ClassName("DropdownItemLink")>
            @ChildContent
        </span>
    }
</li>


@code {
    [Parameter]
    public string Href { get; set; } = "";

    [Parameter]
    public EventCallback OnClick {get; set;}

}