<div id="@Id" class="f-dropdown hidden">
    
    <div class="f-dropdown-menu-header">
        @DropdownHeader  
    </div>
    <ul class="f-dropdown-menu" aria-labelledby="@Id">
        @ChildContent
    </ul>
</div>


@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment DropdownHeader { get; set; }

    [Parameter]
    public string Id { get; set; }

}
