@inherits BaseComponent

<li @attributes="AdditionalAttributes"
    class="@this.GetClasses()">
    @if(!string.IsNullOrEmpty(Href)) {
        <a href="@Href"
            class="@this.ClassName("DropdownItemLink")">
            @ChildContent
        </a>
    } else {
        <span class="@this.ClassName("DropdownItemLink")"
            @onclick="OnClick">
            @ChildContent
        </span>
    }
</li>

@code {
    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public EventCallback OnClick {get; set;}
}
