@inherits Button

<Button OnClick="HandleClick" Color=@Color Size="@Size" Outline=@Outline Ghost=@Ghost Loading=@Loading
    @attributes=AdditionalAttributes>
    @ChildContent

    <Icon Name="IconNameEnum.ChevronDown" />
</Button>


@code {
    [CascadingParameter]
    public Dropdown Parent { get; set; }
    
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Id { get; set; } = "dropdown-" + Guid.NewGuid().ToString();

    public void HandleClick()
    {
        Parent.Toggle();
    }

}
