@inherits BaseComponent

@if(Parent.IsOpen) {
    <div class=@this.GetClasses()>
        @DropdownMenuHeader
        @if(ChildContent != null) {
            <ul class=@this.ClassName("DropdownMenuBody")>
                @ChildContent
            </ul>
        }
        @DropdownMenuFooter
    </div>
}

@code {
    [CascadingParameter]
    public Dropdown Parent {get; set;}

    [Parameter]
    [CssProperty]
    public DropdownPlacementEnum Placement {get; set;} = DropdownPlacementEnum.Default;

    [Parameter]
    public RenderFragment DropdownMenuHeader {get; set;}
    
    [Parameter]
    public RenderFragment DropdownMenuFooter {get; set;}
    
}

