<li>
    <a href="@Href" class="f-dropdown-item">
        @ChildContent
    </a>
</li>


@code {
    [Parameter]
    public string Href { get; set; } = "#";

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}