@inherits BaseComponent

<CascadingValue Value="this">
    <div @attributes="AdditionalAttributes"
         class="@this.GetClasses()"
         tabindex="0">
        @ChildContent
    </div>
</CascadingValue>

@code {
    [Parameter]
    [CssProperty]
    public bool AutoClose { get; set; }

    [Parameter]
    [CssProperty]
    public bool Open { get; set; }

    public void Toggle()
    {
        Open = !Open;
        StateHasChanged();
    }
}
