@inherits BaseComponent
@using System.Resources;

<span @attributes="@AdditionalAttributes"
    class="@this.GetClasses()">
    @Content
</span>

@code {
    private MarkupString? Content { get; set; }

    [Inject(Key = "FluentCMS.Web.UI.Resources.Icons")]
    public required ResourceManager ResourceManager { get; set; }

    [Parameter]
    [CssProperty]
    public Colors Color { get; set; } = Colors.Default;

    [Parameter]
    public IconNames Name { get; set; } = IconNames.Default;

    [Parameter]
    [CssProperty]
    public Sizes Size { get; set; } = Sizes.Default;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Content = (MarkupString)(ResourceManager.GetString(Name.ToString()) ?? throw new Exception("Invalid Icon name: \"" + Name.ToString() + "\""));
    }
}
