@inherits BaseComponent
@using System.Resources;

<span class=@this.GetClasses() @attributes=@AdditionalAttributes>
    @Content
</span>

@code {
    [Inject(Key = "FluentCMS.Web.UI.Resources.Icons")]
    public required ResourceManager ResourceManager { get; set; }

    [Parameter]
    public IconDefinition Name { get; set; } = IconDefinition.Default;

    public MarkupString Content { get; set; } = default!;

    [Parameter]
    [CssProperty]
    public ColorEnum Color { get; set; } = ColorEnum.Default;

    [Parameter]
    [CssProperty]
    public SizeEnum Size { get; set; } = SizeEnum.Default;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Content = (MarkupString)(ResourceManager.GetString(Name.IconName) ?? throw new Exception("Invalid Icon Name"));
    }
}
