@inherits BaseComponent
@using System.Resources;

<span @attributes="@AdditionalAttributes"
    class="@this.GetClasses()">
    @Content
</span>

@code {
    private MarkupString? Content { get; set; }

    [Inject(Key = "FluentCMS.Web.UI.Resources.Icons")]
    public required ResourceManager ResourceManager { get; set; }

    [Parameter]
    [CssProperty]
    public ColorEnum Color { get; set; } = ColorEnum.Default;

    [Parameter]
    public IconNameEnum Name { get; set; } = IconNameEnum.Default;

    [Parameter]
    [CssProperty]
    public SizeEnum Size { get; set; } = SizeEnum.Default;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Content = (MarkupString)(ResourceManager.GetString(Name.ToString()) ?? throw new Exception("Invalid Icon name: \"" + Name.ToString() + "\""));
    }
}
