<span class="f-icon f-icon-size-@Size @Class" @attributes=@RestProps>
    @switch (Name)
    {
        case IconNameEnum.Plus:
            <span>SVG comes here</span>
            break;

    }
    @* <iconify-icon icon=@($"{Pack}:{Name}") width="100%" height="100%" /> *@
</span>

@code {
    [Parameter]
    public IconNameEnum Name { get; set; } = IconNameEnum.Default;

    [Parameter]
    [CssProperty]
    public ColorEnum Color { get; set; } = ColorEnum.Default;

    [Parameter]
    [CssProperty]
    public SizeEnum Size { get; set; } = SizeEnum.Default;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? RestProps { get; set; }
}
