@inherits Page

<Page Class=@this.GetClasses() @attributes="@AdditionalAttributes">
    <PageHeader Title=@Title>
        <PageActions>
            @HeaderActions
        </PageActions>
    </PageHeader>

    @if (@ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        <Card>
            <Table>
                <TableHead>
                    @TableHead
                </TableHead>

                <TableBody>
                    @TableBody
                </TableBody>
            </Table>
        </Card>
    }

</Page>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment HeaderActions { get; set; }
    [Parameter]
    public RenderFragment TableBody { get; set; }
    [Parameter]
    public RenderFragment TableHead { get; set; }
}