<Button Href="@To" @attributes=@RestProps>
    @ChildContent
</Button>

@code {
    [Parameter]
    public string To {get; set;} = "#";

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> RestProps {get; set;}

    [Parameter]
    public RenderFragment ChildContent {get; set;}
}

