@inherits BaseComponent

<nav class=@this.GetClasses() @attributes=@AdditionalAttributes>
    @if (HasBack)
    {
        <PageBackButton />
    }

    <h1 class="title">
        @Title
    </h1>

    <div class="body">
        <div class="subtitle">
            @if (PageHeaderSubtitle != null)
            {
                @PageHeaderSubtitle
            }
            else
            {
                @SubTitle
            }
        </div>
        @if (PageHeaderActions != null)
        {
            <div class="actions">
                @PageHeaderActions
            </div>
        }
    </div>
</nav>

@code {
    [Parameter]
    public bool HasBack { get; set; }

    [Parameter]
    public string Title { get; set; } = String.Empty;

    [Parameter]
    public string SubTitle { get; set; } = String.Empty;

    [Parameter]
    public RenderFragment? PageHeaderActions { get; set; }

    [Parameter]
    public RenderFragment? PageHeaderSubtitle { get; set; }
}
