@inherits BaseComponent

@* TODO: Remove ChildContent prop *@

<div class=@GetClasses() @attributes="@AdditionalAttributes">
    <h2 class=@ClassName("PageTitle")>@Title</h2>
    <div class=@ClassName("PageActions")>
        <ButtonGroup>
            @PageActions
        </ButtonGroup>
    </div>
</div>


@code {

    [Parameter]
    public string Title { get; set; } = String.Empty;

    [Parameter]
    public RenderFragment PageActions { get; set; }
}