@inherits BaseComponent

<li class=@this.GetClasses() @attributes=AdditionalAttributes>
    @if (string.IsNullOrEmpty(Href))
    {
        <span>
            @ChildContent
        </span>
    }
    else
    {
        <a class="group " href=@Href>
            @if (this.Icon != IconNameEnum.Default)
            {
                <Icon Name=@Icon />
            }
            <span class="ml-3">
                @ChildContent
            </span>
        </a>
    }
</li>

@code {
    [Parameter]
    public string Href { get; set; } = string.Empty;

    [Parameter]
    public IconNameEnum Icon { get; set; }

    [Parameter]
    [CssProperty]
    public bool Sub { get; set; }
}
