@inherits BaseComponent

<aside id="default-sidebar" aria-label="Sidebar" class="f-sidebar -translate-x-full @Class" @attributes=@RestProps>
    <div class="f-sidebar-body">
        @ChildContent

    </div>
</aside>
