@inherits BaseComponent

<aside id="default-sidebar" aria-label="Sidebar" class=@this.GetClasses() @attributes="@AdditionalAttributes">
    <div class="f-sidebar-body">
        @ChildContent

    </div>
</aside>

@code {
    [Parameter]
    public string Class {get; set;} = "-translate-x-full";
}
