@inherits BaseComponent

<li @attributes="AdditionalAttributes"
    class="@this.GetClasses()">
    @if (string.IsNullOrEmpty(Href))
    {
        <span>
            @ChildContent
        </span>
    }
    else
    {
        <a class="group" href="@Href">
            @if (this.Icon != IconNames.Default)
            {
                <Icon Name="@Icon" />
            }
            <span class="ml-3">
                @ChildContent
            </span>
        </a>
    }
</li>

@code {
    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public IconNames Icon { get; set; }

    [Parameter]
    [CssProperty]
    public bool Sub { get; set; }
}
