@inherits BaseComponent

<aside @attributes="AdditionalAttributes"
    class="@this.GetClasses() lg:!translate-x-0">
    <div class="main">
        @Header
        <ul>
            <li>
                <ul>
                    @ChildContent
                </ul>
            </li>
        </ul>
    </div>
    @Footer
</aside>

@code {
    [Parameter]
    [CssProperty]
    public bool Secondary { get; set; }

    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public RenderFragment? Footer { get; set; }
}
