@inherits BaseComponent

<li class=@this.GetClasses() role="presentation">
    @* Should use <a> *@

    @if (Active)
    {
        <a href="#" class="f-tab-item f-tab-item-active" aria-current="page" id="tab-@Index"
              @onclick="() => Parent.ActiveTab(Index)" type="button" role="tab" aria-controls="panel-@Index"
              aria-selected="true">@ChildContent</a>
    }
    else if (Disabled)
    {
        <a href="#" class="f-tab-item f-tab-item-disabled" id="tab-@Index" type="button"
              role="tab" aria-controls="panel-@Index" aria-selected="false">@ChildContent</a>
    }
    else
    {
        <a href="#" class="f-tab-item" id="tab-@Index" @onclick="() => Parent.ActiveTab(Index)" type="button" role="tab"
              aria-controls="panel-@Index" aria-selected="false">@ChildContent</a>
    }
</li>

@code {

    [CascadingParameter]
    protected Tabs? Parent { get; set; }

    [Parameter]
    public int Index { get; set; } = default!;

    [Parameter]
    [CssProperty]
    public bool Active { get; set; } = false;

    [Parameter]
    [CssProperty]
    public bool Disabled { get; set; } = false;
}
