@inherits BaseComponent

@* TODO: Remove ChildContent *@

<div class="f-tabs @Class" @attributes=@RestProps>
    <ul class="flex flex-wrap -mb-px">
        @TabList
    </ul>

    @TabContent

</div>

@code {

    [Parameter]
    public RenderFragment TabList { get; set; }

    [Parameter]
    public RenderFragment TabContent { get; set; }
}