@inherits BaseComponent

@* TODO: Remove ChildContent *@

<div class=@this.GetClasses() @attributes="@AdditionalAttributes">
    <ul class="flex flex-wrap -mb-px">
        @TabList
    </ul>

    @TabContent

</div>

@code {

    [Parameter]
    public RenderFragment TabList { get; set; }

    [Parameter]
    public RenderFragment TabContent { get; set; }
}