

<div class="f-tabs">
    <ul class="f-tab-list">
        @TabList
    </ul>

    <div class="f-tab-content">
        @TabContent
    </div>

</div>

@code {
        
    [Parameter]
    public RenderFragment TabList {get; set; }

    [Parameter]
    public RenderFragment TabContent {get; set; }


    private string ActiveTabId {get; set} =  null;
}