@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

@if(Visible)
{
    <div @attributes="AdditionalAttributes"
         class="@this.GetClasses()">
        @ChildContent
    </div>
}

@code {
    [Parameter]
    [CSSProperty]
    public TextAlign Align { get; set; } = TextAlign.Default;

    [Parameter]
    [CSSProperty]
    public Color Color { get; set; } = Color.Default;

    [Parameter]
    [CSSProperty]
    public TextSize Size { get; set; } = TextSize.Default;

    [Parameter]
    [CSSProperty]
    public TextWeight Weight { get; set; } = TextWeight.Default;
}
