@namespace FluentCMS.Web.UI.Plugins.ContentTypeManagement

<Button @onclick="() => OnClick(FieldTypes.Text)">
    Text
</Button>
<Button @onclick="() => OnClick(FieldTypes.TextArea)">
    TextArea
</Button>
<Button @onclick="() => OnClick(FieldTypes.Number)">
    Number
</Button>
<Button @onclick="() => OnClick(FieldTypes.Boolean)">
    Boolean
</Button>
<br />
<Button @onclick=OnCancel>
    Cancel
</Button>
