@namespace FluentCMS.Web.UI.Plugins.ContentTypeManagement

<PluginForm Model="@Model" Name="@FORM_NAME" Title="Update Field" OnSubmit=OnSubmit>
    <FormSelect @bind-Value="Model!.Type" Cols="6" Label="Type" Placeholder="Enter Field Type" Required Disabled>
        @foreach (var type in FieldTypes.Values)
        {
            <option value="@type.Key">@type.Title</option>
        }
    </FormSelect>
    <FormInput @bind-Value="Model!.Name" Cols="6" Label="Name" Placeholder="Enter Field Name" Required Disabled />
    <FormInput @bind-Value="Model!.Label" Cols="6" Label="Label" Placeholder="Enter Field Label" Required />
    <FormInput @bind-Value="Model!.Placeholder" Cols="6" Label="Placeholder" Placeholder="Enter Field Placeholder" Required />
    <FormTextarea @bind-Value="Model!.Description" Label="Description" Placeholder="Enter Field Description" Required />

    <FormActions Submit>
        <Button @onclick=OnCancel>
            Cancel
        </Button>
    </FormActions>
</PluginForm>
