@namespace FluentCMS.Web.UI.Plugins.ContentTypeManagement

@if (string.IsNullOrEmpty(SelectedType))
{
    <PluginBody Title="Select a field type">
        <CardBody>
            <ContentTypeFieldSelector OnSubmit="(type) => OnTypeSelect(type)" OnCancel=OnCancel />
        </CardBody>
    </PluginBody>
}
else
{
    <PluginForm Model="@Model" Name="@FORM_NAME" Title="Create New Field" OnSubmit=OnSubmit>
        <FormInput @bind-Value="Model!.Name" Cols="6" Label="Name" Placeholder="Enter Field Name" Required />
        <FormInput @bind-Value="Model!.Label" Cols="6" Label="Label" Placeholder="Enter Field Label" Required />
        <FormInput @bind-Value="Model!.Placeholder" Cols="6" Label="Placeholder" Placeholder="Enter Field Placeholder" Required />
        <FormInput @bind-Value="Model!.Type" Cols="6" Label="Type" Placeholder="Enter Field Type" Required Disabled />
        <FormActions Submit>
            <Button @onclick=OnCancel>
                Cancel
            </Button>
        </FormActions>
    </PluginForm>
}
