@page "/examples/login"
@layout ExamplesLayout

<Page>
    <PageBody>
        <Grid class="h-screen"
              ItemsSmall="GridItems.Center"
              JustifySmall="GridJustify.Center">
            <GridItem Small="GridItemColumn.Twelve"
                      Medium="GridItemColumn.Six"
                      Large="GridItemColumn.Four">
                <Card>
                    <CardBody>
                        <Input Label="Email"
                               Placeholder="Enter your email" />
                        <Input Label="Password"
                               Placeholder="Enter your password"
                               Type="InputType.Password" />
                        <Grid ItemsSmall="GridItems.Center"
                              JustifySmall="GridJustify.Between">
                            <GridItem>
                                <Checkbox Dense="true"
                                          Label="Remember Me" />
                            </GridItem>
                            <GridItem>
                                <Button Color="Color.Primary"
                                        Link="true">
                                    Forgot Password?
                                </Button>
                            </GridItem>
                        </Grid>
                        <Spacer />
                        <Button Block="true"
                                Color="Color.Primary">
                            Sign in to your account
                        </Button>
                        <Spacer />
                        <Spacer />
                        Don't have an account?
                        <Button Link="true"
                                Color="Color.Primary">
                            Sign up
                        </Button>
                    </CardBody>
                </Card>
            </GridItem>
        </Grid>
    </PageBody>
</Page>

