$spinner: $prefix + 'spinner';

.#{$spinner} {
    svg {
        @apply w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-gray-400;
    }

    @each $key, $value in $colors {
        &-color-#{$key} svg {
            @apply fill-#{$value}-600;
        }
    }
}