$stack: $prefix + 'stack';

$stack-items: (
    start,
    end,
    center,
    baseline,
    stretch
);

$stack-justify: (
    normal,
    start,
    end,
    center,
    between,
    around,
    evenly,
    stretch
);

.#{$stack} {
    @apply flex items-center;

    &-gutter-small,
    &-gutter-default {
        @apply gap-2;
    }

    &-gutter-medium {
        @apply gap-4;
    }

    &-gutter-large {
        @apply gap-6;
    }

    &-vertical-true {
        @apply flex-col;
    }

    &-wrap-true {
        @apply flex-wrap;
    }

    @each $key in $stack-items {
        &-items-#{$key} {
            @apply items-#{$key};
        }
    }

    @each $key in $stack-justify {
        &-justify-#{$key} {
            @apply justify-#{$key};
        }
    }
}