<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <HeadOutlet />
</head>
<body>
    <Routes />
    <script src="_framework/blazor.web.js" autostart="false"></script>
    <script>
    Blazor.start({
        ssr: {
            disableDomPreservation: true
        }
    })
    </script>
</body>
</html>
@code {

    // app is static (NoneInteractive) only so we don't need to null check out HTTP Context
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; } = default!;
}
