@namespace FluentCMS.Web.UI

<div class="f-page-editor-forms">
    <EditForm id="f-page-editor-form-update" Model="Model" FormName="UpdatePluginForm" OnSubmit="OnUpdateSubmit">
        <input id="f-update-form-inputs" type="hidden" />
        <input type="submit" value="Submit"/>
    </EditForm>

    <EditForm id="f-page-editor-form-add-section" Model="AddSectionModel" FormName="AddSectionForm" OnSubmit="OnAddSectionSubmit">
        <input id="f-update-form-inputs" type="hidden" />
        <input type="submit" value="Submit"/>
    </EditForm>

    <EditForm id="f-page-editor-form-add-column" Model="AddColumnModel" FormName="AddColumnForm" OnSubmit="OnAddColumnSubmit">
        <input id="f-update-form-inputs" type="hidden" />
        <input type="submit" value="Submit"/>
    </EditForm>

    <EditForm id="f-page-editor-form-update-column" Model="ColumnUpdateModel" FormName="ColumnUpdateForm" OnSubmit="OnColumnUpdateSubmit">
        <input id="f-update-form-inputs" type="hidden" />
        <input type="submit" value="Submit"/>
    </EditForm>

    <EditForm id="f-page-editor-form-update-sections" Model="SectionsUpdateModel" FormName="SectionsUpdateForm" OnSubmit="OnSectionsUpdateSubmit">
        <input id="f-update-form-inputs" type="hidden" />
        <input type="submit" value="Submit"/>
    </EditForm>

    <EditForm id="f-page-editor-form-delete-section" Model="SectionDeleteModel" FormName="SectionDeleteForm" OnSubmit="OnSectionDeleteSubmit">
        <input id="f-update-form-inputs" type="hidden" />
        <input type="submit" value="Submit"/>
    </EditForm>

    <EditForm id="f-page-editor-form-delete-column" Model="ColumnDeleteModel" FormName="ColumnDeleteForm" OnSubmit="OnColumnDeleteSubmit">
        <input id="f-update-form-inputs" type="hidden" />
        <input type="submit" value="Submit"/>
    </EditForm>

    <EditForm id="f-page-editor-form-create-plugin" Model="PluginCreateModel" FormName="PluginCreateForm" OnSubmit="OnPluginCreateSubmit">
        <input id="f-update-form-inputs" type="hidden" />
        <input type="submit" value="Submit"/>
    </EditForm>

    <EditForm id="f-page-editor-form-update-plugin" Model="PluginUpdateModel" FormName="PluginUpdateForm" OnSubmit="OnPluginUpdateSubmit">
        <input id="f-update-form-inputs" type="hidden" />
        <input type="submit" value="Submit"/>
    </EditForm>

    <EditForm id="f-page-editor-form-update-plugins" Model="PluginsUpdateModel" FormName="PluginsUpdateForm" OnSubmit="OnPluginsUpdateSubmit">
        <input id="f-update-form-inputs" type="hidden" />
        <input type="submit" value="Submit"/>
    </EditForm>

    <EditForm id="f-page-editor-form-delete-plugin" Model="PluginDeleteModel" FormName="PluginDeleteForm" OnSubmit="OnPluginDeleteSubmit">
        <input id="f-update-form-inputs" type="hidden" />
        <input type="submit" value="Submit"/>
    </EditForm>
</div>
