@namespace FluentCMS.Web.UI

<div class="f-page-editor-forms">
    <EditForm id="f-page-editor-form-update" Model="Model" FormName="UpdatePluginForm" OnSubmit="OnUpdateSubmit">
        <input id="f-update-form-inputs" type="hidden" />
        <input type="submit" value="Submit"/>
    </EditForm>
</div>