@namespace FluentCMS.Web.UI

<div class="f-page-editor-forms">
    <EditForm id="f-page-editor-form-update" Model="Model" FormName="UpdatePluginForm" OnSubmit="OnUpdateSubmit">
        <input id="f-update-form-inputs" type="hidden" />
        <input type="submit" value="Submit"/>
    </EditForm>

    <EditForm id="f-page-editor-form-add-section" Model="AddSectionModel" FormName="AddSectionForm" OnSubmit="OnAddSectionSubmit">
        <input id="f-update-form-inputs" type="hidden" />
        <input type="submit" value="Submit"/>
    </EditForm>

    <EditForm id="f-page-editor-form-add-column" Model="AddColumnModel" FormName="AddColumnForm" OnSubmit="OnAddColumnSubmit">
        <input id="f-update-form-inputs" type="hidden" />
        <input type="submit" value="Submit"/>
    </EditForm>

    <EditForm id="f-page-editor-form-update-column" Model="ColumnUpdateModel" FormName="ColumnUpdateForm" OnSubmit="OnColumnUpdateSubmit">
        <input id="f-update-form-inputs" type="hidden" />
        <input type="submit" value="Submit"/>
    </EditForm>
</div>