<div class="f-page-editor-sidebar">
    <div class="f-sidebar-header">
        <h3 id="f-sidebar-title" class="f-sidebar-title"></h3>
        <svg class="f-sidebar-close-btn" data-action="hide-sidebar" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M17 7L7 17M7 7l10 10"/></svg>
    </div>
    <div class="f-sidebar-body">
        <div id="plugins-sidebar" >
            @if (PluginDefinitions != null)
            {
                <div class="f-plugin-definition-list">
                    @foreach (var pluginDef in PluginDefinitions.Where(x => !x.Locked))
                    {
                        <div data-id="@pluginDef.Id" class="f-plugin-definition-item">
                            <span class="f-name">@pluginDef.Name</span>
                            <span class="f-description">@pluginDef.Description</span>
                        </div>
                    }
                </div>
            }
        </div>

        <div id="styles-sidebar">
            <!-- Style Editor (<span id="style-type"></span>: <span id="style-id"></span>) -->
            <div data-style-editor></div>
        </div>

        <div id="permissions-sidebar">
            Permission Editor (<span id="permission-type"></span>: <span id="permission-id"></span>)
        </div>
    </div>

</div>