Page Editor Toggler
This is edit mode action buttons (edit, save, cancel)
Edit: opens side bar PageEditorPluginSelector
<button>
    Save
</button>
<button>
    Cancel
</button>
@* <form>
    <input type="hidden" @bind="serialized value of the list of sections of plugin definitions" />
</form> *@
