<div class="f-plugin-container" data-id="@Plugin.Id">
    @if (ViewContext.Type == ViewType.PagePreview)
    {
        <PluginContainerActions />
    }
    <ErrorBoundary>
        <ChildContent>
            <div class="f-plugin-container-content">
                <DynamicComponent Type=@GetPluginType() Parameters=@Parameters />
            </div>
        </ChildContent>
        <ErrorContent>
            <div class="f-plugin-container-error">
                @context.Message
            </div>
        </ErrorContent>
    </ErrorBoundary>
</div>
