<div class="f-plugin-container-actions">
    <button data-action="delete">
        svg1
    </button>
    <button data-action="settings">
        svg2
    </button>
    @* <form method="post" action="">
        <input type="hidden" @bind="Plugin.Id" />
    </form> *@
</div>
