<div class="f-plugin-container">
    <PluginContainerActions Plugin="@Plugin" />
    
    <ErrorBoundary>
        <ChildContent>
            <div class="f-plugin-container-content" id="plugin-@Plugin.Id" style="STYLE">
                <DynamicComponent Type=@GetPluginType() Parameters=@Parameters />
            </div>
        </ChildContent>
        <ErrorContent>
            <div class="f-plugin-container-error">
                @context.Message
            </div>
        </ErrorContent>
    </ErrorBoundary>
</div>
