@if (Page?.Sections != null && Page.Sections.ContainsKey(Name))
{
    <div class="f-section">
        @foreach (var Plugin in Page.Sections[Name].OrderBy(p => p.Order))
        {
            <PluginContainer @key="@Plugin" Plugin=@Plugin SectionName=@Name />
        }
    </div>
}
