@if (ViewContext.Type == ViewType.Default || ViewContext.Type == ViewType.PagePreview)
{
    <div class="f-section" data-name="@Name">
        @if (ViewContext.Page.Sections != null && ViewContext.Page.Sections.ContainsKey(Name))
        {
            @foreach (var Plugin in ViewContext.Page.Sections[Name].OrderBy(p => p.Order))
            {
                <PluginContainer @key="@Plugin" Plugin=@Plugin SectionName=@Name />
            }
        }
    </div>
}

@if (ViewContext.Type == ViewType.PluginEdit && Name.ToLower() == "main")
{
    <div class="f-section" data-name="@Name">
        <PluginContainer Plugin=@ViewContext.Plugin SectionName=@Name />
    </div>
}
