@if (IsDesignMode)
{
    <div class="f-plugin-container-actions">
        <div class="f-plugin-toolbar-actions-title">
            @Plugin.Definition.Name
        </div>
        <div class="f-plugin-toolbar-actions">
            @* Items come from Plugin *@
        </div>
    </div>
}
