<div class="f-toolbar">
    <div class="f-toolbar-start">
        @if (ActionsStart != null)
        {
            @ActionsStart
        }
    </div>
    <div class="f-toolbar-center">
        @if (ActionsCenter != null)
        {
            @ActionsCenter
        }
    </div>
    <div class="f-toolbar-end">
        @if (ActionsEnd != null)
        {
            @ActionsEnd
        }
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ActionsStart { get; set; } = default!;

    [Parameter]
    public RenderFragment ActionsCenter { get; set; } = default!;

    [Parameter]
    public RenderFragment ActionsEnd { get; set; } = default!;
}