@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-gray-50;
}

body.f-theme-dark {
  @apply bg-gray-800;
  color-scheme: dark;
}

/* #region COMPONENTS */
.f-alert {
  @apply flex items-center p-4 text-sm rounded-lg w-full;
}
.f-alert-container {
  @apply fixed bottom-4 right-4 flex gap-4 w-full max-w-md;
}
.f-theme-dark .f-alert {
  @apply bg-gray-800;
}
.f-alert-close {
  @apply ms-auto -mx-1.5 -my-1.5 p-1.5 inline-flex items-center justify-center h-8 w-8 rounded-lg;
}
.f-alert-icon {
  @apply me-2;
}
.f-alert-type-info {
  @apply text-blue-800 bg-blue-100;
}
.f-alert-type-info .f-theme-dark {
  @apply text-blue-400;
}
.f-alert-type-info .f-alert-close {
  @apply bg-blue-100 text-blue-500 hover:bg-blue-200;
}
.f-alert-type-info .f-alert-close:hover {
  @apply ring-2 ring-blue-200;
}
.f-alert-type-info .f-alert-close:focus {
  @apply ring-2 ring-blue-400;
}
.f-theme-dark .f-alert-type-info .f-alert-close {
  @apply bg-gray-800 text-blue-400;
}
.f-theme-dark .f-alert-type-info .f-alert-close:hover {
  @apply bg-gray-700;
}
.f-alert-type-danger {
  @apply text-red-800 bg-red-100;
}
.f-alert-type-danger .f-theme-dark {
  @apply text-red-400;
}
.f-alert-type-danger .f-alert-close {
  @apply bg-red-100 text-red-500 hover:bg-red-200;
}
.f-alert-type-danger .f-alert-close:hover {
  @apply ring-2 ring-red-200;
}
.f-alert-type-danger .f-alert-close:focus {
  @apply ring-2 ring-red-400;
}
.f-theme-dark .f-alert-type-danger .f-alert-close {
  @apply bg-gray-800 text-red-400;
}
.f-theme-dark .f-alert-type-danger .f-alert-close:hover {
  @apply bg-gray-700;
}
.f-alert-type-warning {
  @apply text-yellow-800 bg-yellow-100;
}
.f-alert-type-warning .f-theme-dark {
  @apply text-yellow-400;
}
.f-alert-type-warning .f-alert-close {
  @apply bg-yellow-100 text-yellow-500 hover:bg-yellow-200;
}
.f-alert-type-warning .f-alert-close:hover {
  @apply ring-2 ring-yellow-200;
}
.f-alert-type-warning .f-alert-close:focus {
  @apply ring-2 ring-yellow-400;
}
.f-theme-dark .f-alert-type-warning .f-alert-close {
  @apply bg-gray-800 text-yellow-400;
}
.f-theme-dark .f-alert-type-warning .f-alert-close:hover {
  @apply bg-gray-700;
}
.f-alert-type-success {
  @apply text-green-800 bg-green-100;
}
.f-alert-type-success .f-theme-dark {
  @apply text-green-400;
}
.f-alert-type-success .f-alert-close {
  @apply bg-green-100 text-green-500 hover:bg-green-200;
}
.f-alert-type-success .f-alert-close:hover {
  @apply ring-2 ring-green-200;
}
.f-alert-type-success .f-alert-close:focus {
  @apply ring-2 ring-green-400;
}
.f-theme-dark .f-alert-type-success .f-alert-close {
  @apply bg-gray-800 text-green-400;
}
.f-theme-dark .f-alert-type-success .f-alert-close:hover {
  @apply bg-gray-700;
}
.f-alert-type-default {
  @apply text-gray-800 bg-gray-100;
}
.f-alert-type-default .f-theme-dark {
  @apply text-gray-400;
}
.f-alert-type-default .f-alert-close {
  @apply bg-gray-100 text-gray-500 hover:bg-gray-200;
}
.f-alert-type-default .f-alert-close:hover {
  @apply ring-2 ring-gray-200;
}
.f-alert-type-default .f-alert-close:focus {
  @apply ring-2 ring-gray-400;
}
.f-theme-dark .f-alert-type-default .f-alert-close {
  @apply bg-gray-800 text-gray-400;
}
.f-theme-dark .f-alert-type-default .f-alert-close:hover {
  @apply bg-gray-700;
}

.f-badge {
  @apply text-xs font-medium px-2.5 py-0.5 rounded;
}
.f-badge .f-badge-color-default {
  @apply bg-gray-100 text-gray-800;
}
.f-theme-dark .f-badge .f-badge-color-default {
  @apply text-gray-300 bg-gray-700;
}
.f-badge-color-primary {
  @apply bg-blue-100 text-blue-800;
}
.f-theme-dark .f-badge-color-primary {
  @apply bg-blue-900 text-blue-300;
}
.f-badge-color-success {
  @apply bg-green-100 text-green-800;
}
.f-theme-dark .f-badge-color-success {
  @apply bg-green-900 text-green-300;
}
.f-badge-color-info {
  @apply bg-cyan-100 text-cyan-800;
}
.f-theme-dark .f-badge-color-info {
  @apply bg-cyan-900 text-cyan-300;
}
.f-badge-color-danger {
  @apply bg-red-100 text-red-800;
}
.f-theme-dark .f-badge-color-danger {
  @apply bg-red-900 text-red-300;
}
.f-badge-color-warning {
  @apply bg-yellow-100 text-yellow-800;
}
.f-theme-dark .f-badge-color-warning {
  @apply bg-yellow-900 text-yellow-300;
}
.f-badge-color-secondary {
  @apply bg-gray-100 text-gray-800;
}
.f-theme-dark .f-badge-color-secondary {
  @apply bg-gray-900 text-gray-300;
}

.f-button {
  @apply font-medium rounded-lg relative;
}
.f-button > span {
  @apply items-center gap-2 text-center inline-flex;
}
.f-button-size-default {
  @apply px-5 py-2.5 text-sm;
}
.f-button-size-small {
  @apply px-3 py-2 text-xs;
}
.f-button-size-medium {
  @apply px-5 py-2.5 text-sm;
}
.f-button-size-large {
  @apply px-5 py-3 text-base;
}
.f-button-icon {
  @apply w-2.5 h-2.5 ml-2.5;
}
.f-button:focus {
  @apply z-10 outline-none;
}
.f-button .f-spinner {
  @apply absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 opacity-100;
}
.f-button-loading-true > * {
  @apply opacity-0;
}

.f-button-color-primary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply text-white bg-blue-700;
}
.f-button-color-primary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-blue-800;
}
.f-button-color-primary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-4 ring-blue-300;
}
.f-theme-dark .f-button-color-primary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply bg-blue-600;
}
.f-theme-dark .f-button-color-primary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-blue-700;
}
.f-theme-dark .f-button-color-primary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-blue-800;
}

.f-button-color-primary.f-button-disabled-true {
  @apply text-white bg-blue-400 cursor-not-allowed pointer-events-none;
}
.f-theme-dark .f-button-color-primary.f-button-disabled-true {
  @apply bg-blue-500;
}

.f-button-color-primary.f-button-outline-true.f-button-ghost-false {
  @apply text-blue-700 border border-blue-700;
}
.f-button-color-primary.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-blue-800;
}
.f-button-color-primary.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-4 ring-blue-300;
}
.f-theme-dark .f-button-color-primary.f-button-outline-true.f-button-ghost-false {
  @apply border-blue-500 text-blue-500;
}
.f-theme-dark .f-button-color-primary.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-blue-500;
}
.f-theme-dark .f-button-color-primary.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-blue-800;
}

.f-button-color-primary.f-button-ghost-true.f-button-outline-false {
  @apply text-blue-700;
}
.f-button-color-primary.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-blue-800;
}
.f-theme-dark .f-button-color-primary.f-button-ghost-true.f-button-outline-false {
  @apply text-blue-500;
}
.f-theme-dark .f-button-color-primary.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-blue-500;
}

.f-button-color-success.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply text-white bg-green-700;
}
.f-button-color-success.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-green-800;
}
.f-button-color-success.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-4 ring-green-300;
}
.f-theme-dark .f-button-color-success.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply bg-green-600;
}
.f-theme-dark .f-button-color-success.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-green-700;
}
.f-theme-dark .f-button-color-success.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-green-800;
}

.f-button-color-success.f-button-disabled-true {
  @apply text-white bg-green-400 cursor-not-allowed pointer-events-none;
}
.f-theme-dark .f-button-color-success.f-button-disabled-true {
  @apply bg-green-500;
}

.f-button-color-success.f-button-outline-true.f-button-ghost-false {
  @apply text-green-700 border border-green-700;
}
.f-button-color-success.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-green-800;
}
.f-button-color-success.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-4 ring-green-300;
}
.f-theme-dark .f-button-color-success.f-button-outline-true.f-button-ghost-false {
  @apply border-green-500 text-green-500;
}
.f-theme-dark .f-button-color-success.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-green-500;
}
.f-theme-dark .f-button-color-success.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-green-800;
}

.f-button-color-success.f-button-ghost-true.f-button-outline-false {
  @apply text-green-700;
}
.f-button-color-success.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-green-800;
}
.f-theme-dark .f-button-color-success.f-button-ghost-true.f-button-outline-false {
  @apply text-green-500;
}
.f-theme-dark .f-button-color-success.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-green-500;
}

.f-button-color-info.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply text-white bg-cyan-700;
}
.f-button-color-info.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-cyan-800;
}
.f-button-color-info.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-4 ring-cyan-300;
}
.f-theme-dark .f-button-color-info.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply bg-cyan-600;
}
.f-theme-dark .f-button-color-info.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-cyan-700;
}
.f-theme-dark .f-button-color-info.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-cyan-800;
}

.f-button-color-info.f-button-disabled-true {
  @apply text-white bg-cyan-400 cursor-not-allowed pointer-events-none;
}
.f-theme-dark .f-button-color-info.f-button-disabled-true {
  @apply bg-cyan-500;
}

.f-button-color-info.f-button-outline-true.f-button-ghost-false {
  @apply text-cyan-700 border border-cyan-700;
}
.f-button-color-info.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-cyan-800;
}
.f-button-color-info.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-4 ring-cyan-300;
}
.f-theme-dark .f-button-color-info.f-button-outline-true.f-button-ghost-false {
  @apply border-cyan-500 text-cyan-500;
}
.f-theme-dark .f-button-color-info.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-cyan-500;
}
.f-theme-dark .f-button-color-info.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-cyan-800;
}

.f-button-color-info.f-button-ghost-true.f-button-outline-false {
  @apply text-cyan-700;
}
.f-button-color-info.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-cyan-800;
}
.f-theme-dark .f-button-color-info.f-button-ghost-true.f-button-outline-false {
  @apply text-cyan-500;
}
.f-theme-dark .f-button-color-info.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-cyan-500;
}

.f-button-color-danger.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply text-white bg-red-700;
}
.f-button-color-danger.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-red-800;
}
.f-button-color-danger.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-4 ring-red-300;
}
.f-theme-dark .f-button-color-danger.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply bg-red-600;
}
.f-theme-dark .f-button-color-danger.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-red-700;
}
.f-theme-dark .f-button-color-danger.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-red-800;
}

.f-button-color-danger.f-button-disabled-true {
  @apply text-white bg-red-400 cursor-not-allowed pointer-events-none;
}
.f-theme-dark .f-button-color-danger.f-button-disabled-true {
  @apply bg-red-500;
}

.f-button-color-danger.f-button-outline-true.f-button-ghost-false {
  @apply text-red-700 border border-red-700;
}
.f-button-color-danger.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-red-800;
}
.f-button-color-danger.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-4 ring-red-300;
}
.f-theme-dark .f-button-color-danger.f-button-outline-true.f-button-ghost-false {
  @apply border-red-500 text-red-500;
}
.f-theme-dark .f-button-color-danger.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-red-500;
}
.f-theme-dark .f-button-color-danger.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-red-800;
}

.f-button-color-danger.f-button-ghost-true.f-button-outline-false {
  @apply text-red-700;
}
.f-button-color-danger.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-red-800;
}
.f-theme-dark .f-button-color-danger.f-button-ghost-true.f-button-outline-false {
  @apply text-red-500;
}
.f-theme-dark .f-button-color-danger.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-red-500;
}

.f-button-color-warning.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply text-white bg-yellow-700;
}
.f-button-color-warning.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-yellow-800;
}
.f-button-color-warning.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-4 ring-yellow-300;
}
.f-theme-dark .f-button-color-warning.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply bg-yellow-600;
}
.f-theme-dark .f-button-color-warning.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-yellow-700;
}
.f-theme-dark .f-button-color-warning.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-yellow-800;
}

.f-button-color-warning.f-button-disabled-true {
  @apply text-white bg-yellow-400 cursor-not-allowed pointer-events-none;
}
.f-theme-dark .f-button-color-warning.f-button-disabled-true {
  @apply bg-yellow-500;
}

.f-button-color-warning.f-button-outline-true.f-button-ghost-false {
  @apply text-yellow-700 border border-yellow-700;
}
.f-button-color-warning.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-yellow-800;
}
.f-button-color-warning.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-4 ring-yellow-300;
}
.f-theme-dark .f-button-color-warning.f-button-outline-true.f-button-ghost-false {
  @apply border-yellow-500 text-yellow-500;
}
.f-theme-dark .f-button-color-warning.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-yellow-500;
}
.f-theme-dark .f-button-color-warning.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-yellow-800;
}

.f-button-color-warning.f-button-ghost-true.f-button-outline-false {
  @apply text-yellow-700;
}
.f-button-color-warning.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-yellow-800;
}
.f-theme-dark .f-button-color-warning.f-button-ghost-true.f-button-outline-false {
  @apply text-yellow-500;
}
.f-theme-dark .f-button-color-warning.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-yellow-500;
}

.f-button-color-secondary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply text-white bg-gray-700;
}
.f-button-color-secondary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-gray-800;
}
.f-button-color-secondary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-4 ring-gray-300;
}
.f-theme-dark .f-button-color-secondary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply bg-gray-600;
}
.f-theme-dark .f-button-color-secondary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-gray-700;
}
.f-theme-dark .f-button-color-secondary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-gray-800;
}

.f-button-color-secondary.f-button-disabled-true {
  @apply text-white bg-gray-400 cursor-not-allowed pointer-events-none;
}
.f-theme-dark .f-button-color-secondary.f-button-disabled-true {
  @apply bg-gray-500;
}

.f-button-color-secondary.f-button-outline-true.f-button-ghost-false {
  @apply text-gray-700 border border-gray-700;
}
.f-button-color-secondary.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-gray-800;
}
.f-button-color-secondary.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-4 ring-gray-300;
}
.f-theme-dark .f-button-color-secondary.f-button-outline-true.f-button-ghost-false {
  @apply border-gray-500 text-gray-500;
}
.f-theme-dark .f-button-color-secondary.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-gray-500;
}
.f-theme-dark .f-button-color-secondary.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-gray-800;
}

.f-button-color-secondary.f-button-ghost-true.f-button-outline-false {
  @apply text-gray-700;
}
.f-button-color-secondary.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-gray-800;
}
.f-theme-dark .f-button-color-secondary.f-button-ghost-true.f-button-outline-false {
  @apply text-gray-500;
}
.f-theme-dark .f-button-color-secondary.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-gray-500;
}

.f-button-color-default {
  @apply text-gray-900 bg-white border border-gray-200;
}
.f-button-color-default.f-button-disabled-true {
  @apply opacity-50 cursor-not-allowed pointer-events-none;
}
.f-button-color-default:hover {
  @apply bg-gray-100 text-blue-700;
}
.f-button-color-default:focus {
  @apply ring-4 ring-gray-200;
}
.f-theme-dark .f-button-color-default {
  @apply bg-gray-600/10 text-gray-400 border-gray-600;
}
.f-theme-dark .f-button-color-default:hover {
  @apply text-white bg-gray-700;
}
.f-theme-dark .f-button-color-default:focus {
  @apply ring-gray-700;
}

.f-button-group {
  @apply flex justify-end gap-2;
}
.f-button-group.f-button-group-wrap-true {
  @apply flex-wrap;
}

.f-card {
  @apply bg-white border border-gray-200 rounded-lg shadow;
}
.f-card-title {
  @apply text-2xl font-bold text-gray-900;
}
.f-card-header {
  @apply rounded-t-lg bg-gray-50 p-4 border-b border-gray-200;
}
.f-card-footer {
  @apply text-gray-800 rounded-b-lg bg-gray-50 p-4 border-t border-gray-200;
}
.f-card-body {
  @apply p-4;
}
@screen sm {
  .f-card-body {
    @apply p-8;
  }
}
.f-card-width-sm {
  @apply w-full max-w-sm;
}
.f-card-width-md {
  @apply w-full max-w-md;
}
.f-card-width-lg {
  @apply w-full max-w-lg;
}
.f-card-width-xl {
  @apply w-full max-w-xl;
}
.f-theme-dark .f-card {
  @apply bg-gray-700/20 border-gray-700;
}
.f-theme-dark .f-card-header {
  @apply border-gray-700 bg-gray-800;
}
.f-theme-dark .f-card-footer {
  @apply border-gray-700 bg-gray-700/50;
}
.f-theme-dark .f-card-title {
  @apply text-white;
}

.f-checkbox {
  @apply w-4 h-4 border-gray-300 rounded bg-gray-50;
  border-radius: 4px !important;
}
.f-checkbox:disabled {
  @apply opacity-50;
}
.f-checkbox:focus {
  @apply ring-4 ring-blue-300;
}
.f-theme-dark .f-checkbox {
  @apply ring-offset-gray-800 bg-gray-700 border-gray-600;
}
.f-theme-dark .f-checkbox:focus {
  @apply ring-blue-600;
}

.f-dropdown {
  @apply relative;
}
.f-dropdown > .f-button > .f-icon {
  @apply flex items-center justify-center;
}
.f-dropdown > .f-button > .f-icon svg {
  @apply w-2.5 h-2.5;
}
.f-dropdown-auto-close-false.f-dropdown-open-false .f-dropdown-menu {
  @apply hidden;
}
.f-dropdown-auto-close-true:not(:focus-within) .f-dropdown-menu {
  @apply hidden;
}
.f-dropdown-item-link {
  @apply block px-4 py-2;
}
.f-dropdown-menu {
  @apply absolute z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44;
}
.f-dropdown-menu-placement-top {
  @apply bottom-full;
}
.f-dropdown-menu-placement-top-end {
  @apply bottom-full right-0;
}
.f-dropdown-menu-placement-top-start {
  @apply bottom-full left-0;
}
.f-dropdown-menu-placement-bottom {
  @apply top-full;
}
.f-dropdown-menu-placement-bottom-end {
  @apply top-full right-0;
}
.f-dropdown-menu-placement-bottom-start {
  @apply top-full left-0;
}
.f-dropdown-menu-placement-left {
  @apply right-full top-0;
}
.f-dropdown-menu-placement-left-start {
  @apply right-full top-0;
}
.f-dropdown-menu-placement-left-end {
  @apply right-full bottom-0;
}
.f-dropdown-menu-placement-right {
  @apply left-full top-0;
}
.f-dropdown-menu-placement-right-start {
  @apply left-full top-0;
}
.f-dropdown-menu-placement-right-end {
  @apply left-full bottom-0;
}
.f-dropdown-menu-body {
  @apply py-2 text-sm text-gray-700;
}
.f-theme-dark .f-dropdown-menu {
  @apply bg-gray-700;
}
.f-dropdown-item-link:hover {
  @apply bg-gray-100;
}
.f-theme-dark .f-dropdown-item-link:hover {
  @apply bg-gray-600 text-white;
}
.f-theme-dark .f-dropdown-menu-body {
  @apply text-gray-200;
}

.f-form-check {
  @apply ml-3 text-sm;
}
.f-form-check-text {
  @apply font-medium text-gray-900;
}
.f-theme-dark .f-form-check-text {
  @apply text-white;
}

.f-page h1 {
  @apply text-3xl text-gray-900 dark:text-gray-300;
}
.f-page .body {
  @apply flex flex-col md:flex-row md:items-center md:justify-between space-y-3 md:space-y-0 md:space-x-4 p-4 px-0;
}
.f-page .subtitle {
  @apply flex-1 flex items-center space-x-2;
}
.f-page .actions {
  @apply flex-shrink-0 flex flex-col items-start md:flex-row md:items-center lg:justify-end space-y-3 md:space-y-0 md:space-x-3;
}

.f-page-header {
  @apply border-gray-200 px-0 py-2.5 pt-2 text-gray-700;
}

.f-layout-center {
  @apply px-6 pt-8 mx-auto bg-gray-50;
}
@screen md {
  .f-layout-center {
    @apply h-screen mt-0;
  }
}
.f-theme-dark .f-layout-center {
  @apply bg-gray-900;
}

.f-content {
  @apply h-screen ml-0 text-gray-900 bg-gray-50;
}
@screen sm {
  .f-content {
    @apply ml-64;
  }
}
.f-theme-dark .f-content {
  @apply text-gray-200 bg-gray-800;
}

.f-form-field {
  @apply mb-6;
}

.f-label {
  @apply block mb-2 text-sm font-medium text-gray-900;
}
.f-label-required-true::after {
  content: "*";
  @apply ms-1 text-red-500;
}
.f-theme-dark .f-label {
  @apply text-white;
}

.f-input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5;
}
.f-input-has-icon-true {
  @apply ps-10;
}
.f-input-icon-wrapper {
  @apply absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none;
}
.f-input:focus {
  @apply ring-blue-500 border-blue-500;
}
.f-theme-dark .f-input {
  @apply bg-gray-700 border-gray-600 placeholder-gray-400 text-white;
}
.f-theme-dark .f-input:focus {
  @apply ring-blue-500 border-blue-500;
}
.f-input-group {
  @apply relative mb-6;
}

.f-icon {
  --f-icon-size: 1em;
  width: var(--f-icon-size);
  height: var(--f-icon-size);
  display: inline-block;
  vertical-align: bottom;
}
.f-icon-size-small {
  --f-icon-size: 0.875rem;
}
.f-icon-size-medium {
  --f-icon-size: 1rem;
}
.f-icon-size-large {
  --f-icon-size: 1.25rem;
}
.f-icon-color-primary {
  @apply text-blue-500;
}
.f-icon-color-success {
  @apply text-green-500;
}
.f-icon-color-info {
  @apply text-cyan-500;
}
.f-icon-color-danger {
  @apply text-red-500;
}
.f-icon-color-warning {
  @apply text-yellow-500;
}
.f-icon-color-secondary {
  @apply text-gray-500;
}
.f-icon * {
  stroke-width: 1.5px;
}

.f-table-parent {
  @apply relative overflow-x-auto shadow-md;
}
@screen sm {
  .f-table-parent {
    @apply rounded-lg;
  }
}

.f-table {
  @apply rounded shadow border border-gray-200 w-full text-sm text-left text-gray-500;
}
.f-theme-dark .f-table {
  @apply text-gray-400 border-gray-700;
}
.f-table-head {
  @apply text-xs text-gray-700 uppercase bg-gray-50;
}
.f-theme-dark .f-table-head {
  @apply bg-gray-700 text-gray-400;
}
.f-table-row {
  @apply bg-white border-b;
}
.f-theme-dark .f-table-row {
  @apply bg-gray-800 border-gray-700;
}
.f-table-cell {
  @apply px-6 py-3;
}
.f-theme-dark .f-table-foot {
  @apply bg-gray-800;
}
.f-table-foot-row {
  @apply font-semibold text-gray-900;
}
.f-theme-dark .f-table-foot-row {
  @apply text-white;
}

.f-tabs {
  @apply text-sm font-medium text-center text-gray-500 border-b border-gray-200;
}
.f-theme-dark .f-tabs {
  @apply text-gray-400 border-gray-700;
}

.f-logo {
  @apply flex items-center justify-center mb-8 text-2xl font-semibold;
}
@screen lg {
  .f-logo {
    @apply mb-10;
  }
}
.f-logo-image {
  @apply mr-4 h-11;
}
.f-theme-dark .f-logo {
  @apply text-white;
}

.f-sidebar {
  @apply h-screen transition-transform -translate-x-full border-r border-gray-200 dark:border-gray-700;
}
.f-sidebar .main {
  @apply overflow-y-auto py-5 px-3 h-full;
}
.f-sidebar .main > ul {
  @apply space-y-2;
}
.f-sidebar .main > ul > li > ul {
  @apply py-2 space-y-2;
}
.f-sidebar .f-sidebar-item > span {
  @apply text-xs py-3;
}
.f-sidebar .f-sidebar-item > a {
  @apply text-sm flex items-center font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700;
}
.f-sidebar-secondary-true .main {
  @apply pt-0;
}
.f-sidebar-secondary-true .f-sidebar-item > span {
  @apply text-gray-700 dark:text-gray-500;
}
.f-sidebar-secondary-true .f-sidebar-item > a {
  @apply py-1 px-2 text-base;
}
.f-sidebar-secondary-false {
  @apply fixed top-0 left-0 z-40 w-64 pt-14 lg:pt-0 bg-white dark:bg-gray-800;
}
.f-sidebar-secondary-false .main {
  @apply bg-white dark:bg-gray-800;
}
.f-sidebar-secondary-false .f-sidebar-item > span {
  @apply text-gray-900 dark:text-white ml-2;
}
.f-sidebar-secondary-false .f-sidebar-item > a {
  @apply p-2;
}
.f-sidebar-secondary-false .f-sidebar-item > a span {
  @apply ml-3;
}

.f-spinner svg {
  @apply w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-gray-400;
}
.f-spinner-color-primary svg {
  @apply fill-blue-600;
}
.f-spinner-color-success svg {
  @apply fill-green-600;
}
.f-spinner-color-info svg {
  @apply fill-cyan-600;
}
.f-spinner-color-danger svg {
  @apply fill-red-600;
}
.f-spinner-color-warning svg {
  @apply fill-yellow-600;
}
.f-spinner-color-secondary svg {
  @apply fill-gray-600;
}

.f-pagination ul {
  @apply h-10 text-base inline-flex -space-x-px;
}
.f-pagination ul li:not(:first-child):not(:last-child) button {
  @apply rounded-none;
}
.f-pagination ul li:first-child button {
  @apply ms-0 border-e-0 rounded-e-none;
}
.f-pagination ul li:last-child button {
  @apply me-0 rounded-s-none;
}

.f-pagination-item button {
  @apply relative px-4 h-10 flex items-center justify-center leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
}
.f-pagination-item-active-true button {
  @apply text-blue-600 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white;
}

.f-select {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

/* #endregion COMPONENTS */
.f-login-form {
  @apply mt-8;
}

.f-site-card-list {
  @apply grid grid-cols-1 gap-4;
}
@screen sm {
  .f-site-card-list {
    @apply grid-cols-2;
  }
}
@screen md {
  .f-site-card-list {
    @apply grid-cols-3;
  }
}
@screen lg {
  .f-site-card-list {
    @apply grid-cols-4;
  }
}

.f-site-card-pagination {
  @apply mt-8 flex justify-center gap-2;
}

.f-site-card-description {
  @apply mb-3 font-normal text-gray-700;
}
.f-theme-dark .f-site-card-description {
  @apply text-gray-400;
}

/*# sourceMappingURL=app.css.map */
