@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-gray-50;
}

body.f-theme-dark {
  @apply bg-gray-800;
}

/* #region COMPONENTS */
.f-alert {
  @apply flex items-center p-4 text-sm rounded-lg w-full;
}
.f-alert-container {
  @apply fixed bottom-4 right-4 flex gap-4 w-full max-w-md;
}
.f-theme-dark .f-alert {
  @apply bg-gray-800;
}
.f-alert-close {
  @apply ms-auto -mx-1.5 -my-1.5 p-1.5 inline-flex items-center justify-center h-8 w-8 rounded-lg;
}
.f-alert-icon {
  @apply me-2;
}
.f-alert-type-info {
  @apply text-blue-800 bg-blue-100;
}
.f-alert-type-info .f-theme-dark {
  @apply text-blue-400;
}
.f-alert-type-info .f-alert-close {
  @apply bg-blue-100 text-blue-500 hover:bg-blue-200;
}
.f-alert-type-info .f-alert-close:hover {
  @apply ring-2 ring-blue-200;
}
.f-alert-type-info .f-alert-close:focus {
  @apply ring-2 ring-blue-400;
}
.f-theme-dark .f-alert-type-info .f-alert-close {
  @apply bg-gray-800 text-blue-400;
}
.f-theme-dark .f-alert-type-info .f-alert-close:hover {
  @apply bg-gray-700;
}
.f-alert-type-danger {
  @apply text-red-800 bg-red-100;
}
.f-alert-type-danger .f-theme-dark {
  @apply text-red-400;
}
.f-alert-type-danger .f-alert-close {
  @apply bg-red-100 text-red-500 hover:bg-red-200;
}
.f-alert-type-danger .f-alert-close:hover {
  @apply ring-2 ring-red-200;
}
.f-alert-type-danger .f-alert-close:focus {
  @apply ring-2 ring-red-400;
}
.f-theme-dark .f-alert-type-danger .f-alert-close {
  @apply bg-gray-800 text-red-400;
}
.f-theme-dark .f-alert-type-danger .f-alert-close:hover {
  @apply bg-gray-700;
}
.f-alert-type-warning {
  @apply text-yellow-800 bg-yellow-100;
}
.f-alert-type-warning .f-theme-dark {
  @apply text-yellow-400;
}
.f-alert-type-warning .f-alert-close {
  @apply bg-yellow-100 text-yellow-500 hover:bg-yellow-200;
}
.f-alert-type-warning .f-alert-close:hover {
  @apply ring-2 ring-yellow-200;
}
.f-alert-type-warning .f-alert-close:focus {
  @apply ring-2 ring-yellow-400;
}
.f-theme-dark .f-alert-type-warning .f-alert-close {
  @apply bg-gray-800 text-yellow-400;
}
.f-theme-dark .f-alert-type-warning .f-alert-close:hover {
  @apply bg-gray-700;
}
.f-alert-type-success {
  @apply text-green-800 bg-green-100;
}
.f-alert-type-success .f-theme-dark {
  @apply text-green-400;
}
.f-alert-type-success .f-alert-close {
  @apply bg-green-100 text-green-500 hover:bg-green-200;
}
.f-alert-type-success .f-alert-close:hover {
  @apply ring-2 ring-green-200;
}
.f-alert-type-success .f-alert-close:focus {
  @apply ring-2 ring-green-400;
}
.f-theme-dark .f-alert-type-success .f-alert-close {
  @apply bg-gray-800 text-green-400;
}
.f-theme-dark .f-alert-type-success .f-alert-close:hover {
  @apply bg-gray-700;
}
.f-alert-type-default {
  @apply text-gray-800 bg-gray-100;
}
.f-alert-type-default .f-theme-dark {
  @apply text-gray-400;
}
.f-alert-type-default .f-alert-close {
  @apply bg-gray-100 text-gray-500 hover:bg-gray-200;
}
.f-alert-type-default .f-alert-close:hover {
  @apply ring-2 ring-gray-200;
}
.f-alert-type-default .f-alert-close:focus {
  @apply ring-2 ring-gray-400;
}
.f-theme-dark .f-alert-type-default .f-alert-close {
  @apply bg-gray-800 text-gray-400;
}
.f-theme-dark .f-alert-type-default .f-alert-close:hover {
  @apply bg-gray-700;
}

.f-button {
  @apply font-medium rounded-lg cursor-pointer text-sm px-5 py-2.5 gap-2 text-center inline-flex items-center;
}
.f-button-size-lg {
  @apply py-3;
}
.f-button-icon {
  @apply w-2.5 h-2.5 ml-2.5;
}
.f-button:focus {
  @apply z-10 ring-4 outline-none;
}
.f-button:disabled {
  @apply opacity-50;
}

.f-button-color-primary {
  @apply text-white bg-blue-700;
}
.f-button-color-primary:hover {
  @apply bg-blue-800;
}
.f-button-color-primary:focus {
  @apply ring-blue-300;
}
.f-theme-dark .f-button-color-primary {
  @apply bg-blue-600;
}
.f-theme-dark .f-button-color-primary:hover {
  @apply bg-blue-700;
}
.f-theme-dark .f-button-color-primary:focus {
  @apply ring-blue-800;
}

.f-button-color-success {
  @apply text-white bg-green-700;
}
.f-button-color-success:hover {
  @apply bg-green-800;
}
.f-button-color-success:focus {
  @apply ring-green-300;
}
.f-theme-dark .f-button-color-success {
  @apply bg-green-600;
}
.f-theme-dark .f-button-color-success:hover {
  @apply bg-green-700;
}
.f-theme-dark .f-button-color-success:focus {
  @apply ring-green-800;
}

.f-button-color-info {
  @apply text-white bg-cyan-700;
}
.f-button-color-info:hover {
  @apply bg-cyan-800;
}
.f-button-color-info:focus {
  @apply ring-cyan-300;
}
.f-theme-dark .f-button-color-info {
  @apply bg-cyan-600;
}
.f-theme-dark .f-button-color-info:hover {
  @apply bg-cyan-700;
}
.f-theme-dark .f-button-color-info:focus {
  @apply ring-cyan-800;
}

.f-button-color-danger {
  @apply text-white bg-red-700;
}
.f-button-color-danger:hover {
  @apply bg-red-800;
}
.f-button-color-danger:focus {
  @apply ring-red-300;
}
.f-theme-dark .f-button-color-danger {
  @apply bg-red-600;
}
.f-theme-dark .f-button-color-danger:hover {
  @apply bg-red-700;
}
.f-theme-dark .f-button-color-danger:focus {
  @apply ring-red-800;
}

.f-button-color-warning {
  @apply text-white bg-yellow-700;
}
.f-button-color-warning:hover {
  @apply bg-yellow-800;
}
.f-button-color-warning:focus {
  @apply ring-yellow-300;
}
.f-theme-dark .f-button-color-warning {
  @apply bg-yellow-600;
}
.f-theme-dark .f-button-color-warning:hover {
  @apply bg-yellow-700;
}
.f-theme-dark .f-button-color-warning:focus {
  @apply ring-yellow-800;
}

.f-button-color-secondary {
  @apply text-white bg-gray-700;
}
.f-button-color-secondary:hover {
  @apply bg-gray-800;
}
.f-button-color-secondary:focus {
  @apply ring-gray-300;
}
.f-theme-dark .f-button-color-secondary {
  @apply bg-gray-600;
}
.f-theme-dark .f-button-color-secondary:hover {
  @apply bg-gray-700;
}
.f-theme-dark .f-button-color-secondary:focus {
  @apply ring-gray-800;
}

.f-button-color-default {
  @apply text-gray-900 bg-white border border-gray-200;
}
.f-button-color-default:hover {
  @apply bg-gray-100 text-blue-700;
}
.f-button-color-default:focus {
  @apply ring-gray-200;
}
.f-theme-dark .f-button-color-default {
  @apply bg-gray-600/10 text-gray-400 border-gray-600;
}
.f-theme-dark .f-button-color-default:hover {
  @apply text-white bg-gray-700;
}
.f-theme-dark .f-button-color-default:focus {
  @apply ring-gray-700;
}

.f-button-group {
  @apply flex justify-end gap-2;
}
.f-button-group:not(.f-button-group-no-wrap) {
  @apply flex-wrap;
}

.f-card {
  @apply bg-white border border-gray-200 rounded-lg shadow;
}
.f-card-title {
  @apply text-2xl font-bold text-gray-900;
}
.f-card-header {
  @apply rounded-t-lg bg-gray-50 p-4 border-b border-gray-200;
}
.f-card-footer {
  @apply text-gray-800 rounded-b-lg bg-gray-50 p-4 border-t border-gray-200;
}
.f-card-body {
  @apply p-4;
}
@screen sm {
  .f-card-body {
    @apply p-8;
  }
}
.f-card-width-sm {
  @apply w-full max-w-sm;
}
.f-card-width-md {
  @apply w-full max-w-md;
}
.f-card-width-lg {
  @apply w-full max-w-lg;
}
.f-card-width-xl {
  @apply w-full max-w-xl;
}
.f-theme-dark .f-card {
  @apply bg-gray-700/20 border-gray-700;
}
.f-theme-dark .f-card-header {
  @apply border-gray-700 bg-gray-800;
}
.f-theme-dark .f-card-footer {
  @apply border-gray-700 bg-gray-700/50;
}
.f-theme-dark .f-card-title {
  @apply text-white;
}

.f-checkbox {
  @apply w-4 h-4 border-gray-300 rounded bg-gray-50;
  border-radius: 4px !important;
}
.f-checkbox:focus {
  @apply ring-4 ring-blue-300;
}
.f-theme-dark .f-checkbox {
  @apply ring-offset-gray-800 bg-gray-700 border-gray-600;
}
.f-theme-dark .f-checkbox:focus {
  @apply ring-blue-600;
}

.f-dropdown {
  @apply z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44;
}
.f-dropdown-item {
  @apply block px-4 py-2;
}
.f-dropdown-menu {
  @apply py-2 text-sm text-gray-700;
}
.f-dropdown-item:hover {
  @apply bg-gray-100;
}
.f-theme-dark .f-dropdown {
  @apply bg-gray-700;
}
.f-theme-dark .f-dropdown-item:hover {
  @apply bg-gray-600 text-white;
}
.f-theme-dark .f-dropdown-menu {
  @apply text-gray-200;
}

.f-form-check {
  @apply ml-3 text-sm;
}
.f-form-check-text {
  @apply font-medium text-gray-900;
}
.f-theme-dark .f-form-check-text {
  @apply text-white;
}

.f-page {
  @apply px-4 mx-auto max-w-7xl;
}
.f-page-header {
  @apply flex items-center justify-between py-4;
}
.f-page-title {
  @apply font-bold text-2xl text-gray-700;
}
.f-theme-dark .f-page-title {
  @apply text-gray-200;
}

.f-layout-center {
  @apply px-6 pt-8 mx-auto bg-gray-50;
}
@screen md {
  .f-layout-center {
    @apply h-screen mt-0;
  }
}
.f-theme-dark .f-layout-center {
  @apply bg-gray-900;
}

.f-content {
  @apply h-screen ml-0 text-gray-900 bg-gray-50;
}
@screen sm {
  .f-content {
    @apply ml-64;
  }
}
.f-theme-dark .f-content {
  @apply text-gray-200 bg-gray-800;
}

.f-form-field {
  @apply mb-6;
}

.f-label {
  @apply block mb-2 text-sm font-medium text-gray-900;
}
.f-theme-dark .f-label {
  @apply text-white;
}

.f-input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5;
}
.f-input:focus {
  @apply ring-blue-500 border-blue-500;
}
.f-theme-dark .f-input {
  @apply bg-gray-700 border-gray-600 placeholder-gray-400 text-white;
}
.f-theme-dark .f-input:focus {
  @apply ring-blue-500 border-blue-500;
}

.f-icon {
  --f-icon-size: 1rem;
  width: var(--f-icon-size);
  height: var(--f-icon-size);
  display: inline-block;
}
.f-icon-size-xs {
  --f-icon-size: 0.75rem;
}
.f-icon-size-sm {
  --f-icon-size: 0.875rem;
}
.f-icon-size-md {
  --f-icon-size: 1rem;
}
.f-icon-size-lg {
  --f-icon-size: 1.25rem;
}
.f-icon-size-xl {
  --f-icon-size: 1.5rem;
}
.f-icon-size-1x {
  --f-icon-size: 1rem;
}
.f-icon-size-2x {
  --f-icon-size: 2rem;
}
.f-icon-size-3x {
  --f-icon-size: 3rem;
}
.f-icon-size-4x {
  --f-icon-size: 4rem;
}
.f-icon-size-5x {
  --f-icon-size: 5rem;
}
.f-icon-size-6x {
  --f-icon-size: 6rem;
}
.f-icon-size-7x {
  --f-icon-size: 7rem;
}
.f-icon-size-8x {
  --f-icon-size: 8rem;
}
.f-icon-size-9x {
  --f-icon-size: 9rem;
}
.f-icon * {
  stroke-width: 1.5px;
}

.f-table-parent {
  @apply relative overflow-x-auto shadow-md;
}
@screen sm {
  .f-table-parent {
    @apply rounded-lg;
  }
}

.f-table {
  @apply w-full text-sm text-left text-gray-500;
}
.f-theme-dark .f-table {
  @apply text-gray-400;
}
.f-table-head {
  @apply text-xs text-gray-700 uppercase bg-gray-50;
}
.f-theme-dark .f-table-head {
  @apply bg-gray-700 text-gray-400;
}
.f-table-row {
  @apply bg-white border-b;
}
.f-table-row .f-theme-dark {
  @apply bg-gray-900 border-gray-700;
}
.f-table-cell {
  @apply px-6 py-3;
}
.f-table-cell-small {
  @apply w-0;
}

.f-tabs {
  @apply text-sm font-medium text-center text-gray-500 border-b border-gray-200;
}
.f-theme-dark .f-tabs {
  @apply text-gray-400 border-gray-700;
}

.f-logo {
  @apply flex items-center justify-center mb-8 text-2xl font-semibold;
}
@screen lg {
  .f-logo {
    @apply mb-10;
  }
}
.f-logo-image {
  @apply mr-4 h-11;
}
.f-theme-dark .f-logo {
  @apply text-white;
}

.f-sidebar {
  @apply fixed top-0 left-0 z-40 w-64 pt-16 h-screen transition-transform;
}
@screen sm {
  .f-sidebar {
    @apply translate-x-0;
  }
}
.f-sidebar li {
  list-style-type: none;
}
.f-sidebar-body {
  @apply h-full px-3 py-4 overflow-y-auto bg-white border-r border-gray-200;
}
.f-theme-dark .f-sidebar-body {
  @apply bg-gray-800 border-gray-700;
}

.f-sidebar-item {
  @apply flex items-center p-2 text-gray-900 rounded-lg;
}
.f-sidebar-item:hover {
  @apply bg-gray-100;
}
.f-theme-dark .f-sidebar-item {
  @apply text-white;
}
.f-theme-dark .f-sidebar-item:hover {
  @apply bg-gray-700;
}
.f-sidebar-item-text {
  @apply flex-1 ml-3 whitespace-nowrap;
}

/* #endregion COMPONENTS */
.f-login-form {
  @apply mt-8;
}

.f-site-card-list {
  @apply grid grid-cols-1 gap-4;
}
@screen sm {
  .f-site-card-list {
    @apply grid-cols-2;
  }
}
@screen md {
  .f-site-card-list {
    @apply grid-cols-3;
  }
}
@screen lg {
  .f-site-card-list {
    @apply grid-cols-4;
  }
}

.f-site-card-pagination {
  @apply mt-8 flex justify-center gap-2;
}

.f-site-card-description {
  @apply mb-3 font-normal text-gray-700;
}
.f-theme-dark .f-site-card-description {
  @apply text-gray-400;
}

/*# sourceMappingURL=app.css.map */
