@import './components/_autocomplete.scss.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-gray-50;
}

body.f-theme-dark {
  @apply bg-gray-800;
  color-scheme: dark;
}

/* #region COMPONENTS */
.f-alert {
  @apply flex items-center p-4 text-sm rounded-lg w-full;
}
.f-alert-container {
  @apply fixed bottom-4 right-4 flex gap-4 w-full max-w-md;
}
.f-alert-close {
  @apply ms-auto -mx-1.5 -my-1.5 p-1.5 inline-flex items-center justify-center h-8 w-8 rounded-lg;
}
.f-alert-icon {
  @apply me-2;
}
.f-alert-type-info {
  @apply text-blue-800 bg-blue-50;
}
.f-theme-dark .f-alert-type-info {
  @apply bg-gray-800 text-blue-400;
}
.f-alert-type-info .f-alert-close {
  @apply bg-blue-50 text-blue-500 hover:bg-blue-200;
}
.f-alert-type-info .f-alert-close:hover {
  @apply ring-2 ring-blue-200;
}
.f-alert-type-info .f-alert-close:focus {
  @apply ring-2 ring-blue-400;
}
.f-theme-dark .f-alert-type-info .f-alert-close {
  @apply bg-gray-800 text-blue-400;
}
.f-theme-dark .f-alert-type-info .f-alert-close:hover {
  @apply bg-gray-700;
}
.f-alert-type-danger {
  @apply text-red-800 bg-red-50;
}
.f-theme-dark .f-alert-type-danger {
  @apply bg-gray-800 text-red-400;
}
.f-alert-type-danger .f-alert-close {
  @apply bg-red-50 text-red-500 hover:bg-red-200;
}
.f-alert-type-danger .f-alert-close:hover {
  @apply ring-2 ring-red-200;
}
.f-alert-type-danger .f-alert-close:focus {
  @apply ring-2 ring-red-400;
}
.f-theme-dark .f-alert-type-danger .f-alert-close {
  @apply bg-gray-800 text-red-400;
}
.f-theme-dark .f-alert-type-danger .f-alert-close:hover {
  @apply bg-gray-700;
}
.f-alert-type-warning {
  @apply text-yellow-800 bg-yellow-50;
}
.f-theme-dark .f-alert-type-warning {
  @apply bg-gray-800 text-yellow-400;
}
.f-alert-type-warning .f-alert-close {
  @apply bg-yellow-50 text-yellow-500 hover:bg-yellow-200;
}
.f-alert-type-warning .f-alert-close:hover {
  @apply ring-2 ring-yellow-200;
}
.f-alert-type-warning .f-alert-close:focus {
  @apply ring-2 ring-yellow-400;
}
.f-theme-dark .f-alert-type-warning .f-alert-close {
  @apply bg-gray-800 text-yellow-400;
}
.f-theme-dark .f-alert-type-warning .f-alert-close:hover {
  @apply bg-gray-700;
}
.f-alert-type-success {
  @apply text-green-800 bg-green-50;
}
.f-theme-dark .f-alert-type-success {
  @apply bg-gray-800 text-green-400;
}
.f-alert-type-success .f-alert-close {
  @apply bg-green-50 text-green-500 hover:bg-green-200;
}
.f-alert-type-success .f-alert-close:hover {
  @apply ring-2 ring-green-200;
}
.f-alert-type-success .f-alert-close:focus {
  @apply ring-2 ring-green-400;
}
.f-theme-dark .f-alert-type-success .f-alert-close {
  @apply bg-gray-800 text-green-400;
}
.f-theme-dark .f-alert-type-success .f-alert-close:hover {
  @apply bg-gray-700;
}
.f-alert-type-default {
  @apply text-gray-800 bg-gray-50;
}
.f-theme-dark .f-alert-type-default {
  @apply bg-gray-800 text-gray-400;
}
.f-alert-type-default .f-alert-close {
  @apply bg-gray-50 text-gray-500 hover:bg-gray-200;
}
.f-alert-type-default .f-alert-close:hover {
  @apply ring-2 ring-gray-200;
}
.f-alert-type-default .f-alert-close:focus {
  @apply ring-2 ring-gray-400;
}
.f-theme-dark .f-alert-type-default .f-alert-close {
  @apply bg-gray-800 text-gray-400;
}
.f-theme-dark .f-alert-type-default .f-alert-close:hover {
  @apply bg-gray-700;
}

.f-autocomplete .ts-control,
.f-autocomplete .ts-wrapper.single.input-active .ts-control {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.f-autocomplete .ts-dropdown {
  @apply bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 border-none;
}
.f-autocomplete .ts-dropdown-content {
  @apply py-2 text-sm text-gray-700 dark:text-gray-200;
}
.f-autocomplete .ts-dropdown .option {
  @apply block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white;
}
.f-autocomplete .ts-dropdown .active,
.f-autocomplete .ts-dropdown .selected {
  @apply bg-gray-100 dark:bg-gray-600 dark:text-white;
}
.f-autocomplete .ts-wrapper.multi .ts-control > div {
  @apply bg-gray-100 dark:bg-gray-600 dark:text-white;
}
.f-autocomplete .ts-control input {
  @apply dark:caret-white;
}

.f-badge {
  @apply text-xs font-medium px-2.5 py-0.5 rounded;
}
.f-badge .f-badge-color-default {
  @apply bg-gray-100 text-gray-800;
}
.f-theme-dark .f-badge .f-badge-color-default {
  @apply text-gray-300 bg-gray-700;
}
.f-badge-color-primary {
  @apply bg-blue-100 text-blue-800;
}
.f-theme-dark .f-badge-color-primary {
  @apply bg-blue-900 text-blue-300;
}
.f-badge-color-success {
  @apply bg-green-100 text-green-800;
}
.f-theme-dark .f-badge-color-success {
  @apply bg-green-900 text-green-300;
}
.f-badge-color-info {
  @apply bg-cyan-100 text-cyan-800;
}
.f-theme-dark .f-badge-color-info {
  @apply bg-cyan-900 text-cyan-300;
}
.f-badge-color-danger {
  @apply bg-red-100 text-red-800;
}
.f-theme-dark .f-badge-color-danger {
  @apply bg-red-900 text-red-300;
}
.f-badge-color-warning {
  @apply bg-yellow-100 text-yellow-800;
}
.f-theme-dark .f-badge-color-warning {
  @apply bg-yellow-900 text-yellow-300;
}
.f-badge-color-secondary {
  @apply bg-gray-100 text-gray-800;
}
.f-theme-dark .f-badge-color-secondary {
  @apply bg-gray-900 text-gray-300;
}

.f-button {
  @apply font-medium rounded-lg relative;
}
.f-button > span {
  @apply items-center gap-2 text-center inline-flex;
}
.f-button-size-default {
  @apply px-5 py-2.5 text-sm;
}
.f-button-size-small {
  @apply px-3 py-2 text-xs;
}
.f-button-size-medium {
  @apply px-5 py-2.5 text-sm;
}
.f-button-size-large {
  @apply px-5 py-3 text-base;
}
.f-button-icon {
  @apply w-2.5 h-2.5 ml-2.5;
}
.f-button:focus {
  @apply z-10 outline-none;
}
.f-button .f-spinner {
  @apply absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 opacity-100;
}
.f-button-loading-true > * {
  @apply opacity-0;
}

.f-button-color-primary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply text-white bg-blue-700;
}
.f-button-color-primary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-blue-800;
}
.f-button-color-primary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-4 ring-blue-300;
}
.f-theme-dark .f-button-color-primary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply bg-blue-600;
}
.f-theme-dark .f-button-color-primary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-blue-700;
}
.f-theme-dark .f-button-color-primary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-blue-800;
}

.f-button-color-primary.f-button-disabled-true {
  @apply text-white bg-blue-400 cursor-not-allowed pointer-events-none;
}
.f-theme-dark .f-button-color-primary.f-button-disabled-true {
  @apply bg-blue-500;
}

.f-button-color-primary.f-button-outline-true.f-button-ghost-false {
  @apply text-blue-700 border border-blue-700;
}
.f-button-color-primary.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-blue-800;
}
.f-button-color-primary.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-4 ring-blue-300;
}
.f-theme-dark .f-button-color-primary.f-button-outline-true.f-button-ghost-false {
  @apply border-blue-500 text-blue-500;
}
.f-theme-dark .f-button-color-primary.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-blue-500;
}
.f-theme-dark .f-button-color-primary.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-blue-800;
}

.f-button-color-primary.f-button-ghost-true.f-button-outline-false {
  @apply text-blue-700;
}
.f-button-color-primary.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-blue-800;
}
.f-theme-dark .f-button-color-primary.f-button-ghost-true.f-button-outline-false {
  @apply text-blue-500;
}
.f-theme-dark .f-button-color-primary.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-blue-700;
}

.f-button-color-success.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply text-white bg-green-700;
}
.f-button-color-success.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-green-800;
}
.f-button-color-success.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-4 ring-green-300;
}
.f-theme-dark .f-button-color-success.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply bg-green-600;
}
.f-theme-dark .f-button-color-success.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-green-700;
}
.f-theme-dark .f-button-color-success.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-green-800;
}

.f-button-color-success.f-button-disabled-true {
  @apply text-white bg-green-400 cursor-not-allowed pointer-events-none;
}
.f-theme-dark .f-button-color-success.f-button-disabled-true {
  @apply bg-green-500;
}

.f-button-color-success.f-button-outline-true.f-button-ghost-false {
  @apply text-green-700 border border-green-700;
}
.f-button-color-success.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-green-800;
}
.f-button-color-success.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-4 ring-green-300;
}
.f-theme-dark .f-button-color-success.f-button-outline-true.f-button-ghost-false {
  @apply border-green-500 text-green-500;
}
.f-theme-dark .f-button-color-success.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-green-500;
}
.f-theme-dark .f-button-color-success.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-green-800;
}

.f-button-color-success.f-button-ghost-true.f-button-outline-false {
  @apply text-green-700;
}
.f-button-color-success.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-green-800;
}
.f-theme-dark .f-button-color-success.f-button-ghost-true.f-button-outline-false {
  @apply text-green-500;
}
.f-theme-dark .f-button-color-success.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-green-700;
}

.f-button-color-info.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply text-white bg-cyan-700;
}
.f-button-color-info.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-cyan-800;
}
.f-button-color-info.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-4 ring-cyan-300;
}
.f-theme-dark .f-button-color-info.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply bg-cyan-600;
}
.f-theme-dark .f-button-color-info.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-cyan-700;
}
.f-theme-dark .f-button-color-info.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-cyan-800;
}

.f-button-color-info.f-button-disabled-true {
  @apply text-white bg-cyan-400 cursor-not-allowed pointer-events-none;
}
.f-theme-dark .f-button-color-info.f-button-disabled-true {
  @apply bg-cyan-500;
}

.f-button-color-info.f-button-outline-true.f-button-ghost-false {
  @apply text-cyan-700 border border-cyan-700;
}
.f-button-color-info.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-cyan-800;
}
.f-button-color-info.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-4 ring-cyan-300;
}
.f-theme-dark .f-button-color-info.f-button-outline-true.f-button-ghost-false {
  @apply border-cyan-500 text-cyan-500;
}
.f-theme-dark .f-button-color-info.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-cyan-500;
}
.f-theme-dark .f-button-color-info.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-cyan-800;
}

.f-button-color-info.f-button-ghost-true.f-button-outline-false {
  @apply text-cyan-700;
}
.f-button-color-info.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-cyan-800;
}
.f-theme-dark .f-button-color-info.f-button-ghost-true.f-button-outline-false {
  @apply text-cyan-500;
}
.f-theme-dark .f-button-color-info.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-cyan-700;
}

.f-button-color-danger.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply text-white bg-red-700;
}
.f-button-color-danger.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-red-800;
}
.f-button-color-danger.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-4 ring-red-300;
}
.f-theme-dark .f-button-color-danger.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply bg-red-600;
}
.f-theme-dark .f-button-color-danger.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-red-700;
}
.f-theme-dark .f-button-color-danger.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-red-800;
}

.f-button-color-danger.f-button-disabled-true {
  @apply text-white bg-red-400 cursor-not-allowed pointer-events-none;
}
.f-theme-dark .f-button-color-danger.f-button-disabled-true {
  @apply bg-red-500;
}

.f-button-color-danger.f-button-outline-true.f-button-ghost-false {
  @apply text-red-700 border border-red-700;
}
.f-button-color-danger.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-red-800;
}
.f-button-color-danger.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-4 ring-red-300;
}
.f-theme-dark .f-button-color-danger.f-button-outline-true.f-button-ghost-false {
  @apply border-red-500 text-red-500;
}
.f-theme-dark .f-button-color-danger.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-red-500;
}
.f-theme-dark .f-button-color-danger.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-red-800;
}

.f-button-color-danger.f-button-ghost-true.f-button-outline-false {
  @apply text-red-700;
}
.f-button-color-danger.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-red-800;
}
.f-theme-dark .f-button-color-danger.f-button-ghost-true.f-button-outline-false {
  @apply text-red-500;
}
.f-theme-dark .f-button-color-danger.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-red-700;
}

.f-button-color-warning.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply text-white bg-yellow-700;
}
.f-button-color-warning.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-yellow-800;
}
.f-button-color-warning.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-4 ring-yellow-300;
}
.f-theme-dark .f-button-color-warning.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply bg-yellow-600;
}
.f-theme-dark .f-button-color-warning.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-yellow-700;
}
.f-theme-dark .f-button-color-warning.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-yellow-800;
}

.f-button-color-warning.f-button-disabled-true {
  @apply text-white bg-yellow-400 cursor-not-allowed pointer-events-none;
}
.f-theme-dark .f-button-color-warning.f-button-disabled-true {
  @apply bg-yellow-500;
}

.f-button-color-warning.f-button-outline-true.f-button-ghost-false {
  @apply text-yellow-700 border border-yellow-700;
}
.f-button-color-warning.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-yellow-800;
}
.f-button-color-warning.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-4 ring-yellow-300;
}
.f-theme-dark .f-button-color-warning.f-button-outline-true.f-button-ghost-false {
  @apply border-yellow-500 text-yellow-500;
}
.f-theme-dark .f-button-color-warning.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-yellow-500;
}
.f-theme-dark .f-button-color-warning.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-yellow-800;
}

.f-button-color-warning.f-button-ghost-true.f-button-outline-false {
  @apply text-yellow-700;
}
.f-button-color-warning.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-yellow-800;
}
.f-theme-dark .f-button-color-warning.f-button-ghost-true.f-button-outline-false {
  @apply text-yellow-500;
}
.f-theme-dark .f-button-color-warning.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-yellow-700;
}

.f-button-color-secondary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply text-white bg-gray-700;
}
.f-button-color-secondary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-gray-800;
}
.f-button-color-secondary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-4 ring-gray-300;
}
.f-theme-dark .f-button-color-secondary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false {
  @apply bg-gray-600;
}
.f-theme-dark .f-button-color-secondary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:hover {
  @apply bg-gray-700;
}
.f-theme-dark .f-button-color-secondary.f-button-outline-false.f-button-disabled-false.f-button-ghost-false:focus {
  @apply ring-gray-800;
}

.f-button-color-secondary.f-button-disabled-true {
  @apply text-white bg-gray-400 cursor-not-allowed pointer-events-none;
}
.f-theme-dark .f-button-color-secondary.f-button-disabled-true {
  @apply bg-gray-500;
}

.f-button-color-secondary.f-button-outline-true.f-button-ghost-false {
  @apply text-gray-700 border border-gray-700;
}
.f-button-color-secondary.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-gray-800;
}
.f-button-color-secondary.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-4 ring-gray-300;
}
.f-theme-dark .f-button-color-secondary.f-button-outline-true.f-button-ghost-false {
  @apply border-gray-500 text-gray-500;
}
.f-theme-dark .f-button-color-secondary.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-gray-500;
}
.f-theme-dark .f-button-color-secondary.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-gray-800;
}

.f-button-color-secondary.f-button-ghost-true.f-button-outline-false {
  @apply text-gray-700;
}
.f-button-color-secondary.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-gray-800;
}
.f-theme-dark .f-button-color-secondary.f-button-ghost-true.f-button-outline-false {
  @apply text-gray-500;
}
.f-theme-dark .f-button-color-secondary.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-gray-700;
}

.f-button-color-default.f-button-ghost-false.f-button-outline-false {
  @apply text-gray-900 bg-white border border-gray-200;
}
.f-button-color-default.f-button-ghost-false.f-button-outline-false.f-button-disabled-true {
  @apply opacity-50 cursor-not-allowed pointer-events-none;
}
.f-button-color-default.f-button-ghost-false.f-button-outline-false:hover {
  @apply bg-gray-100 text-blue-700;
}
.f-button-color-default.f-button-ghost-false.f-button-outline-false:focus {
  @apply ring-4 ring-gray-200;
}
.f-theme-dark .f-button-color-default.f-button-ghost-false.f-button-outline-false {
  @apply bg-gray-600/10 text-gray-400 border-gray-600;
}
.f-theme-dark .f-button-color-default.f-button-ghost-false.f-button-outline-false:hover {
  @apply text-white bg-gray-700;
}
.f-theme-dark .f-button-color-default.f-button-ghost-false.f-button-outline-false:focus {
  @apply ring-gray-700;
}

.f-button-color-default.f-button-ghost-true.f-button-outline-false {
  @apply text-gray-600;
}
.f-button-color-default.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-gray-800;
}
.f-theme-dark .f-button-color-default.f-button-ghost-true.f-button-outline-false {
  @apply text-gray-500;
}
.f-theme-dark .f-button-color-default.f-button-ghost-true.f-button-outline-false:hover {
  @apply text-gray-700;
}

.f-button-color-default.f-button-outline-true.f-button-ghost-false {
  @apply text-gray-700 border border-gray-700;
}
.f-button-color-default.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-gray-800;
}
.f-button-color-default.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-4 ring-gray-300;
}
.f-theme-dark .f-button-color-default.f-button-outline-true.f-button-ghost-false {
  @apply border-gray-500 text-gray-500;
}
.f-theme-dark .f-button-color-default.f-button-outline-true.f-button-ghost-false:hover {
  @apply text-white bg-gray-500;
}
.f-theme-dark .f-button-color-default.f-button-outline-true.f-button-ghost-false:focus {
  @apply ring-gray-800;
}

.f-button-group {
  @apply inline-flex justify-end gap-2;
}
.f-button-group.f-button-group-wrap-true {
  @apply flex-wrap;
}

.f-card {
  @apply bg-white border border-gray-200 rounded-lg shadow;
}
.f-card-title {
  @apply text-2xl font-bold text-gray-900;
}
.f-card-body {
  @apply p-6;
}
@screen sm {
  .f-card-body {
    @apply p-8;
  }
}
.f-card-width-small {
  @apply w-full max-w-sm;
}
.f-card-width-medium {
  @apply w-full max-w-md;
}
.f-card-width-large {
  @apply w-full max-w-lg;
}
.f-theme-dark .f-card {
  @apply bg-gray-700/20 border-gray-700;
}
.f-theme-dark .f-card-header {
  @apply border-gray-700 bg-gray-800;
}
.f-theme-dark .f-card-footer {
  @apply border-gray-700 bg-gray-700/50;
}
.f-theme-dark .f-card-title {
  @apply text-white;
}

.f-checkbox {
  @apply w-4 h-4 border-gray-300 rounded bg-gray-50;
  border-radius: 4px !important;
}
.f-checkbox:disabled {
  @apply opacity-50;
}
.f-checkbox:focus {
  @apply ring-4 ring-blue-300;
}
.f-checkbox-state-default {
  @apply bg-gray-50 border-gray-300 text-blue-600;
}
.f-checkbox-state-default:focus {
  @apply ring-blue-500 border-blue-500;
}
.f-theme-dark .f-checkbox-state-default {
  @apply bg-gray-700 ring-offset-gray-800 border-gray-600 placeholder-gray-400;
}
.f-theme-dark .f-checkbox-state-default:focus {
  @apply ring-blue-500 border-blue-500;
}
.f-checkbox-state-valid {
  @apply bg-green-50 border-green-500 text-green-900 placeholder-green-700;
}
.f-checkbox-state-valid:focus {
  @apply ring-green-500 border-green-500;
}
.f-theme-dark .f-checkbox-state-valid {
  @apply text-green-400 ring-offset-gray-800 bg-gray-700 border-green-500 placeholder-green-500;
}
.f-theme-dark .f-checkbox-state-valid:focus {
  @apply ring-green-500 border-green-500;
}
.f-checkbox-state-invalid {
  @apply bg-red-50 border-red-500 text-red-900 ring-offset-gray-800 placeholder-red-700;
}
.f-checkbox-state-invalid:focus {
  @apply ring-red-500 border-red-500;
}
.f-theme-dark .f-checkbox-state-invalid {
  @apply text-red-400 bg-gray-700 border-red-500 placeholder-red-500;
}
.f-theme-dark .f-checkbox-state-invalid:focus {
  @apply ring-red-500 border-red-500;
}

.f-close-button {
  @apply text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white;
}

.f-confirm {
  @apply hidden fixed left-0 right-0 top-0 z-50 max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0 justify-center items-center;
}
.f-confirm-open-true {
  @apply flex;
}

.f-confirm-body {
  @apply p-4 md:p-5 text-center;
}
.f-confirm-body > .f-icon {
  @apply block mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200;
}
.f-confirm-body > .f-button-group {
  /* TODO: Remove it after fix in ButtonGroup component */
  @apply inline-flex;
}

.f-confirm-content {
  @apply relative bg-white rounded-lg shadow dark:bg-gray-700;
}
.f-confirm-content > .f-close-button {
  @apply absolute top-3 end-2.5;
}

.f-confirm-wrapper {
  @apply relative p-4 w-full max-w-md max-h-full;
}

.f-dropdown {
  @apply relative;
}
.f-dropdown > .f-button > .f-icon {
  @apply flex items-center justify-center;
}
.f-dropdown > .f-button > .f-icon svg {
  @apply w-2.5 h-2.5;
}
.f-dropdown-auto-close-false.f-dropdown-open-false .f-dropdown-menu {
  @apply hidden;
}
.f-dropdown-auto-close-true:not(:focus-within) .f-dropdown-menu {
  @apply hidden;
}
.f-dropdown-item-link {
  @apply block ps-4 pe-8 whitespace-nowrap py-2;
}
.f-dropdown-menu {
  @apply absolute z-10 bg-white divide-y divide-gray-100 rounded-lg shadow;
}
.f-dropdown-menu-placement-top {
  @apply bottom-full;
}
.f-dropdown-menu-placement-top-end {
  @apply bottom-full right-0;
}
.f-dropdown-menu-placement-top-start {
  @apply bottom-full left-0;
}
.f-dropdown-menu-placement-bottom {
  @apply top-full;
}
.f-dropdown-menu-placement-bottom-end {
  @apply top-full right-0;
}
.f-dropdown-menu-placement-bottom-start {
  @apply top-full left-0;
}
.f-dropdown-menu-placement-left {
  @apply right-full top-0;
}
.f-dropdown-menu-placement-left-start {
  @apply right-full top-0;
}
.f-dropdown-menu-placement-left-end {
  @apply right-full bottom-0;
}
.f-dropdown-menu-placement-right {
  @apply left-full top-0;
}
.f-dropdown-menu-placement-right-start {
  @apply left-full top-0;
}
.f-dropdown-menu-placement-right-end {
  @apply left-full bottom-0;
}
.f-dropdown-menu-body {
  @apply py-2 text-sm text-gray-700;
}
.f-theme-dark .f-dropdown-menu {
  @apply bg-gray-700;
}
.f-dropdown-item-link:hover {
  @apply bg-gray-100;
}
.f-theme-dark .f-dropdown-item-link:hover {
  @apply bg-gray-600 text-white;
}
.f-theme-dark .f-dropdown-menu-body {
  @apply text-gray-200;
}

.f-form-check {
  @apply ml-3 text-sm;
}
.f-form-check-text {
  @apply font-medium text-gray-900;
}
.f-theme-dark .f-form-check-text {
  @apply text-white;
}

.f-page {
  @apply px-4;
}

.f-page-header {
  @apply border-gray-200 px-0 py-2.5 pt-2 text-gray-700;
}
.f-page-header .f-page-back-button {
  @apply p-0;
}
.f-page-header .f-page-back-button svg {
  @apply w-full h-full;
}
.f-page-header .body {
  @apply flex flex-col md:flex-row md:items-center md:justify-between space-y-3 md:space-y-0 md:space-x-4 p-4 px-0;
}
.f-page-header .subtitle {
  @apply flex-1 flex items-center space-x-2;
}
.f-page-header .actions {
  @apply flex-shrink-0 flex flex-col items-start md:flex-row md:items-center lg:justify-end space-y-3 md:space-y-0 md:space-x-3;
}
.f-page-header .title {
  @apply text-3xl text-gray-900 dark:text-gray-300;
}

.f-layout-center {
  @apply px-6 pt-8 mx-auto bg-gray-50;
}
@screen md {
  .f-layout-center {
    @apply h-screen mt-0;
  }
}
.f-theme-dark .f-layout-center {
  @apply bg-gray-900;
}

.f-content {
  @apply h-screen ml-0 text-gray-900 bg-gray-50;
}
@screen sm {
  .f-content {
    @apply ml-64;
  }
}
.f-theme-dark .f-content {
  @apply text-gray-200 bg-gray-800;
}

.f-form-field {
  @apply mb-6 relative inline-flex;
}
.f-form-field-inline-label-true {
  @apply flex flex-wrap items-center;
}
.f-form-field-inline-label-true .f-form-label {
  @apply order-1 ms-3 mb-0;
}
.f-form-field-inline-label-true .f-form-field-hint {
  @apply order-2 w-full;
}
.f-form-field-group {
  @apply relative;
}
.f-form-field-has-start-icon-true > .f-form-field-group > :not(.f-form-field-start-icon-wrapper):not(.f-form-field-end-icon-wrapper) {
  @apply ps-10;
}
.f-form-field-has-end-icon-true > .f-form-field-group > :not(.f-form-field-start-icon-wrapper):not(.f-form-field-end-icon-wrapper) {
  @apply pe-10;
}
.f-form-field-start-icon-wrapper {
  @apply absolute top-0 start-0 flex items-center py-3 ps-3.5 pointer-events-none;
}
.f-form-field-end-icon-wrapper {
  @apply absolute top-0 end-0 flex items-center py-3 pe-3.5 pointer-events-none;
}
.f-form-field-state-default .f-icon {
  @apply text-gray-500;
}
.f-form-field-state-valid .f-icon {
  @apply text-green-500;
}
.f-form-field-state-invalid .f-icon {
  @apply text-red-500;
}
.f-form-field-hint {
  @apply mt-2 text-sm;
}
.f-form-field-hint-state-default {
  @apply text-gray-500;
}
.f-theme-dark .f-form-field-hint-state-default {
  @apply text-gray-400;
}
.f-form-field-hint-state-default .f--icon {
  @apply text-gray-500;
}
.f-form-field-hint-state-valid {
  @apply text-green-600;
}
.f-theme-dark .f-form-field-hint-state-valid {
  @apply text-green-500;
}
.f-form-field-hint-state-valid .f--icon {
  @apply text-green-500;
}
.f-form-field-hint-state-invalid {
  @apply text-red-600;
}
.f-theme-dark .f-form-field-hint-state-invalid {
  @apply text-red-500;
}
.f-form-field-hint-state-invalid .f--icon {
  @apply text-red-500;
}

.f-form-label {
  @apply block mb-2 text-sm font-medium text-gray-900;
}
.f-form-label-state-default {
  @apply text-gray-900;
}
.f-theme-dark .f-form-label-state-default {
  @apply text-white;
}
.f-form-label-state-valid {
  @apply text-green-700;
}
.f-theme-dark .f-form-label-state-valid {
  @apply text-green-500;
}
.f-form-label-state-invalid {
  @apply text-red-700;
}
.f-theme-dark .f-form-label-state-invalid {
  @apply text-red-500;
}
.f-form-label-required-true::after {
  content: "*";
  @apply ms-1 text-red-500;
}

.f-input {
  @apply border text-sm rounded-lg block w-full p-2.5;
}
.f-input-state-default {
  @apply bg-gray-50 border-gray-300 text-gray-900;
}
.f-input-state-default:focus {
  @apply ring-blue-500 border-blue-500;
}
.f-theme-dark .f-input-state-default {
  @apply bg-gray-700 border-gray-600 placeholder-gray-400 text-white;
}
.f-theme-dark .f-input-state-default:focus {
  @apply ring-blue-500 border-blue-500;
}
.f-input-state-valid {
  @apply bg-green-50 border-green-500 text-green-900 placeholder-green-700;
}
.f-input-state-valid:focus {
  @apply ring-green-500 border-green-500;
}
.f-theme-dark .f-input-state-valid {
  @apply text-green-400 bg-gray-700 border-green-500 placeholder-green-500;
}
.f-theme-dark .f-input-state-valid:focus {
  @apply ring-green-500 border-green-500;
}
.f-input-state-invalid {
  @apply bg-red-50 border-red-500 text-red-900 placeholder-red-700;
}
.f-input-state-invalid:focus {
  @apply ring-red-500 border-red-500;
}
.f-theme-dark .f-input-state-invalid {
  @apply text-red-400 bg-gray-700 border-red-500 placeholder-red-500;
}
.f-theme-dark .f-input-state-invalid:focus {
  @apply ring-red-500 border-red-500;
}

.f-grid {
  --grid-gutter-x: 0;
  --grid-gutter-y: 0;
}
.f-grid-gutter-small {
  --grid-gutter-x: 0.25em;
}
.f-grid-gutter-small {
  --grid-gutter-y: 0.25em;
}
.f-grid-gutter-medium {
  --grid-gutter-x: 0.5em;
}
.f-grid-gutter-medium {
  --grid-gutter-y: 0.5em;
}
.f-grid-gutter-large {
  --grid-gutter-x: 1em;
}
.f-grid-gutter-large {
  --grid-gutter-y: 1em;
}
.f-grid-gutter-x-small {
  --grid-gutter-x: 0.25em;
}
.f-grid-gutter-y-small {
  --grid-gutter-y: 0.25em;
}
.f-grid-gutter-x-medium {
  --grid-gutter-x: 0.5em;
}
.f-grid-gutter-y-medium {
  --grid-gutter-y: 0.5em;
}
.f-grid-gutter-x-large {
  --grid-gutter-x: 1em;
}
.f-grid-gutter-y-large {
  --grid-gutter-y: 1em;
}
@media (min-width: 0) {
  .f-grid-items-small-start > div {
    @apply items-start;
  }
  .f-grid-items-small-end > div {
    @apply items-end;
  }
  .f-grid-items-small-center > div {
    @apply items-center;
  }
  .f-grid-items-small-baseline > div {
    @apply items-baseline;
  }
  .f-grid-items-small-stretch > div {
    @apply items-stretch;
  }
  .f-grid-justify-small-normal > div {
    @apply justify-normal;
  }
  .f-grid-justify-small-start > div {
    @apply justify-start;
  }
  .f-grid-justify-small-end > div {
    @apply justify-end;
  }
  .f-grid-justify-small-center > div {
    @apply justify-center;
  }
  .f-grid-justify-small-between > div {
    @apply justify-between;
  }
  .f-grid-justify-small-around > div {
    @apply justify-around;
  }
  .f-grid-justify-small-evenly > div {
    @apply justify-evenly;
  }
  .f-grid-justify-small-stretch > div {
    @apply justify-stretch;
  }
}
@media (min-width: 768px) {
  .f-grid-items-medium-start > div {
    @apply items-start;
  }
  .f-grid-items-medium-end > div {
    @apply items-end;
  }
  .f-grid-items-medium-center > div {
    @apply items-center;
  }
  .f-grid-items-medium-baseline > div {
    @apply items-baseline;
  }
  .f-grid-items-medium-stretch > div {
    @apply items-stretch;
  }
  .f-grid-justify-medium-normal > div {
    @apply justify-normal;
  }
  .f-grid-justify-medium-start > div {
    @apply justify-start;
  }
  .f-grid-justify-medium-end > div {
    @apply justify-end;
  }
  .f-grid-justify-medium-center > div {
    @apply justify-center;
  }
  .f-grid-justify-medium-between > div {
    @apply justify-between;
  }
  .f-grid-justify-medium-around > div {
    @apply justify-around;
  }
  .f-grid-justify-medium-evenly > div {
    @apply justify-evenly;
  }
  .f-grid-justify-medium-stretch > div {
    @apply justify-stretch;
  }
}
@media (min-width: 1200px) {
  .f-grid-items-large-start > div {
    @apply items-start;
  }
  .f-grid-items-large-end > div {
    @apply items-end;
  }
  .f-grid-items-large-center > div {
    @apply items-center;
  }
  .f-grid-items-large-baseline > div {
    @apply items-baseline;
  }
  .f-grid-items-large-stretch > div {
    @apply items-stretch;
  }
  .f-grid-justify-large-normal > div {
    @apply justify-normal;
  }
  .f-grid-justify-large-start > div {
    @apply justify-start;
  }
  .f-grid-justify-large-end > div {
    @apply justify-end;
  }
  .f-grid-justify-large-center > div {
    @apply justify-center;
  }
  .f-grid-justify-large-between > div {
    @apply justify-between;
  }
  .f-grid-justify-large-around > div {
    @apply justify-around;
  }
  .f-grid-justify-large-evenly > div {
    @apply justify-evenly;
  }
  .f-grid-justify-large-stretch > div {
    @apply justify-stretch;
  }
}
.f-grid > div {
  @apply flex flex-wrap h-full;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * -1);
}
.f-grid > div > .f-grid-item {
  @apply pt-[var(--grid-gutter-y)] ps-[var(--grid-gutter-x)];
}

.f-grid-item {
  @apply grow-0 basis-auto max-w-none box-border;
}
@media (min-width: 0) {
  .f-grid-item-small-auto {
    @apply basis-auto max-w-none;
  }
  .f-grid-item-small-grow {
    @apply grow basis-0 max-w-full;
  }
  .f-grid-item-small-one {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .f-grid-item-small-two {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .f-grid-item-small-three {
    flex-basis: 25%;
    max-width: 25%;
  }
  .f-grid-item-small-four {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .f-grid-item-small-five {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .f-grid-item-small-six {
    flex-basis: 50%;
    max-width: 50%;
  }
  .f-grid-item-small-seven {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .f-grid-item-small-eight {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .f-grid-item-small-nine {
    flex-basis: 75%;
    max-width: 75%;
  }
  .f-grid-item-small-ten {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .f-grid-item-small-eleven {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .f-grid-item-small-twelve {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .f-grid-item-medium-auto {
    @apply basis-auto max-w-none;
  }
  .f-grid-item-medium-grow {
    @apply grow basis-0 max-w-full;
  }
  .f-grid-item-medium-one {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .f-grid-item-medium-two {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .f-grid-item-medium-three {
    flex-basis: 25%;
    max-width: 25%;
  }
  .f-grid-item-medium-four {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .f-grid-item-medium-five {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .f-grid-item-medium-six {
    flex-basis: 50%;
    max-width: 50%;
  }
  .f-grid-item-medium-seven {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .f-grid-item-medium-eight {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .f-grid-item-medium-nine {
    flex-basis: 75%;
    max-width: 75%;
  }
  .f-grid-item-medium-ten {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .f-grid-item-medium-eleven {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .f-grid-item-medium-twelve {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .f-grid-item-large-auto {
    @apply basis-auto max-w-none;
  }
  .f-grid-item-large-grow {
    @apply grow basis-0 max-w-full;
  }
  .f-grid-item-large-one {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .f-grid-item-large-two {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .f-grid-item-large-three {
    flex-basis: 25%;
    max-width: 25%;
  }
  .f-grid-item-large-four {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .f-grid-item-large-five {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .f-grid-item-large-six {
    flex-basis: 50%;
    max-width: 50%;
  }
  .f-grid-item-large-seven {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .f-grid-item-large-eight {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .f-grid-item-large-nine {
    flex-basis: 75%;
    max-width: 75%;
  }
  .f-grid-item-large-ten {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .f-grid-item-large-eleven {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .f-grid-item-large-twelve {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.f-icon {
  --f-icon-size: 1em;
  width: var(--f-icon-size);
  height: var(--f-icon-size);
  display: inline-block;
  vertical-align: bottom;
}
.f-icon-size-small {
  --f-icon-size: 0.875rem;
}
.f-icon-size-medium {
  --f-icon-size: 1rem;
}
.f-icon-size-large {
  --f-icon-size: 1.25rem;
}
.f-icon-color-primary {
  @apply text-blue-500;
}
.f-icon-color-success {
  @apply text-green-500;
}
.f-icon-color-info {
  @apply text-cyan-500;
}
.f-icon-color-danger {
  @apply text-red-500;
}
.f-icon-color-warning {
  @apply text-yellow-500;
}
.f-icon-color-secondary {
  @apply text-gray-500;
}
.f-icon * {
  stroke-width: 1.5px;
}

.f-table-parent {
  @apply relative overflow-x-auto shadow-md;
}
@screen sm {
  .f-table-parent {
    @apply rounded-lg;
  }
}

.f-table {
  @apply rounded shadow border border-gray-200 w-full text-sm text-left text-gray-500;
}
.f-theme-dark .f-table {
  @apply text-gray-400 border-gray-700;
}
.f-table-head {
  @apply text-xs text-gray-700 uppercase bg-gray-50;
}
.f-theme-dark .f-table-head {
  @apply bg-gray-700 text-gray-400;
}
.f-table-row {
  @apply bg-white border-b;
}
.f-theme-dark .f-table-row {
  @apply bg-gray-800 border-gray-700;
}
.f-table-cell {
  @apply px-6 py-3;
}
.f-theme-dark .f-table-foot {
  @apply bg-gray-800;
}
.f-table-foot-row {
  @apply font-semibold text-gray-900;
}
.f-theme-dark .f-table-foot-row {
  @apply text-white;
}

.f-tab-item {
  @apply inline-block p-4 border-b-2 border-transparent rounded-t-lg;
}
.f-tab-item:hover {
  @apply text-gray-600 border-gray-300;
}
.f-tab-item-wrapper {
  @apply me-2;
}
.f-theme-dark .f-tab-item:hover {
  @apply text-gray-300;
}
.f-tab-item-active-true {
  @apply text-blue-600 border-blue-600;
}
.f-theme-dark .f-tab-item-active-true {
  @apply text-blue-500 border-blue-500;
}
.f-tab-item-disabled-true {
  @apply text-gray-400 border-b-0 cursor-not-allowed;
}
.f-theme-dark .f-tab-item-disabled-true {
  @apply text-gray-500;
}

.f-tab-list {
  @apply flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200;
}
.f-theme-dark .f-tab-list {
  @apply text-gray-400 border-gray-700;
}

.f-tab-panel {
  @apply hidden p-4;
}
.f-tab-panel-active-true {
  @apply block;
}

.f-logo {
  @apply flex items-center justify-center mb-8 text-2xl font-semibold;
}
@screen lg {
  .f-logo {
    @apply mb-10;
  }
}
.f-logo-image {
  @apply mr-4 h-11;
}
.f-theme-dark .f-logo {
  @apply text-white;
}

.f-sidebar {
  @apply h-screen transition-transform -translate-x-full border-r border-gray-200 dark:border-gray-700;
}
.f-sidebar .main {
  @apply overflow-y-auto py-5 px-3 h-full;
}
.f-sidebar .main > ul {
  @apply space-y-2;
}
.f-sidebar .main > ul > li > ul {
  @apply py-2 space-y-2;
}
.f-sidebar .f-sidebar-item > span {
  @apply text-xs py-3;
}
.f-sidebar .f-sidebar-item > a {
  @apply text-sm flex items-center font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700;
}
.f-sidebar-secondary-true .main {
  @apply pt-0;
}
.f-sidebar-secondary-true .f-sidebar-item > span {
  @apply text-gray-700 dark:text-gray-500;
}
.f-sidebar-secondary-true .f-sidebar-item > a {
  @apply py-1 px-2 text-base;
}
.f-sidebar-secondary-false {
  @apply fixed top-0 left-0 z-40 w-64 pt-14 lg:pt-0 bg-white dark:bg-gray-800;
}
.f-sidebar-secondary-false .main {
  @apply bg-white dark:bg-gray-800;
}
.f-sidebar-secondary-false .f-sidebar-item > span {
  @apply text-gray-900 dark:text-white ml-2;
}
.f-sidebar-secondary-false .f-sidebar-item > a {
  @apply p-2;
}
.f-sidebar-secondary-false .f-sidebar-item > a span {
  @apply ml-3;
}

.f-spinner svg {
  @apply w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-gray-400;
}
.f-spinner-color-primary svg {
  @apply fill-blue-600;
}
.f-spinner-color-success svg {
  @apply fill-green-600;
}
.f-spinner-color-info svg {
  @apply fill-cyan-600;
}
.f-spinner-color-danger svg {
  @apply fill-red-600;
}
.f-spinner-color-warning svg {
  @apply fill-yellow-600;
}
.f-spinner-color-secondary svg {
  @apply fill-gray-600;
}

.f-pagination ul {
  @apply h-10 text-base inline-flex -space-x-px;
}
.f-pagination ul li:not(:first-child):not(:last-child) button {
  @apply rounded-none;
}
.f-pagination ul li:first-child button {
  @apply ms-0 border-e-0 rounded-e-none;
}
.f-pagination ul li:last-child button {
  @apply me-0 rounded-s-none;
}

.f-pagination-item button {
  @apply relative px-4 h-10 flex items-center justify-center leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
}
.f-pagination-item-active-true button {
  @apply text-blue-600 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white;
}

.f-radio {
  @apply w-4 h-4 focus:ring-2;
}
.f-radio-state-default {
  @apply bg-gray-50 border-gray-300 text-blue-600;
}
.f-radio-state-default:focus {
  @apply ring-blue-500 border-blue-500;
}
.f-theme-dark .f-radio-state-default {
  @apply bg-gray-700 ring-offset-gray-800 border-gray-600 placeholder-gray-400;
}
.f-theme-dark .f-radio-state-default:focus {
  @apply ring-blue-500 border-blue-500;
}
.f-radio-state-valid {
  @apply bg-green-50 border-green-500 text-green-900 placeholder-green-700;
}
.f-radio-state-valid:focus {
  @apply ring-green-500 border-green-500;
}
.f-theme-dark .f-radio-state-valid {
  @apply text-green-400 ring-offset-gray-800 bg-gray-700 border-green-500 placeholder-green-500;
}
.f-theme-dark .f-radio-state-valid:focus {
  @apply ring-green-500 border-green-500;
}
.f-radio-state-invalid {
  @apply bg-red-50 border-red-500 text-red-900 ring-offset-gray-800 placeholder-red-700;
}
.f-radio-state-invalid:focus {
  @apply ring-red-500 border-red-500;
}
.f-theme-dark .f-radio-state-invalid {
  @apply text-red-400 bg-gray-700 border-red-500 placeholder-red-500;
}
.f-theme-dark .f-radio-state-invalid:focus {
  @apply ring-red-500 border-red-500;
}

.f-select {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.f-select-state-default {
  @apply bg-gray-50 border-gray-300 text-gray-900;
}
.f-select-state-default:focus {
  @apply ring-blue-500 border-blue-500;
}
.f-theme-dark .f-select-state-default {
  @apply bg-gray-700 border-gray-600 placeholder-gray-400 text-white;
}
.f-theme-dark .f-select-state-default:focus {
  @apply ring-blue-500 border-blue-500;
}
.f-select-state-valid {
  @apply bg-green-50 border-green-500 text-green-900 placeholder-green-700;
}
.f-select-state-valid:focus {
  @apply ring-green-500 border-green-500;
}
.f-theme-dark .f-select-state-valid {
  @apply text-green-400 bg-gray-700 border-green-500 placeholder-green-500;
}
.f-theme-dark .f-select-state-valid:focus {
  @apply ring-green-500 border-green-500;
}
.f-select-state-invalid {
  @apply bg-red-50 border-red-500 text-red-900 placeholder-red-700;
}
.f-select-state-invalid:focus {
  @apply ring-red-500 border-red-500;
}
.f-theme-dark .f-select-state-invalid {
  @apply text-red-400 bg-gray-700 border-red-500 placeholder-red-500;
}
.f-theme-dark .f-select-state-invalid:focus {
  @apply ring-red-500 border-red-500;
}

.f-switch {
  @apply sr-only;
}
.f-switch-inner {
  @apply w-11 h-6 bg-gray-200 rounded-full;
}
.f-theme-dark .f-switch-inner {
  @apply bg-gray-700 border-gray-600;
}
.f-switch-inner::after {
  @apply content-[""] absolute top-[2px] start-[2px] bg-white border-gray-300 border rounded-full h-5 w-5 transition-all;
}
.f-switch:focus + .f-switch-inner {
  @apply outline-none ring-4 ring-blue-300;
}
.f-switch:checked + .f-switch-inner {
  @apply bg-blue-600;
}
.f-switch:checked + .f-switch-inner::after {
  @apply translate-x-full border-white;
}
[dir=rtl] .f-switch:checked + .f-switch-inner::after {
  @apply -translate-x-full;
}
.f-theme-dark .f-switch:focus + .f-switch-inner {
  @apply ring-blue-800;
}

.f-textarea {
  @apply block p-2.5 w-full text-sm rounded-lg border;
}
.f-textarea-has-icon-true {
  @apply ps-10;
}
.f-textarea-state-default {
  @apply bg-gray-50 border-gray-300 text-gray-900;
}
.f-textarea-state-default:focus {
  @apply ring-blue-500 border-blue-500;
}
.f-theme-dark .f-textarea-state-default {
  @apply bg-gray-700 border-gray-600 placeholder-gray-400 text-white;
}
.f-theme-dark .f-textarea-state-default:focus {
  @apply ring-blue-500 border-blue-500;
}
.f-textarea-state-valid {
  @apply bg-green-50 border-green-500 text-green-900 placeholder-green-700;
}
.f-textarea-state-valid:focus {
  @apply ring-green-500 border-green-500;
}
.f-theme-dark .f-textarea-state-valid {
  @apply text-green-400 bg-gray-700 border-green-500 placeholder-green-500;
}
.f-theme-dark .f-textarea-state-valid:focus {
  @apply ring-green-500 border-green-500;
}
.f-textarea-state-invalid {
  @apply bg-red-50 border-red-500 text-red-900 placeholder-red-700;
}
.f-textarea-state-invalid:focus {
  @apply ring-red-500 border-red-500;
}
.f-theme-dark .f-textarea-state-invalid {
  @apply text-red-400 bg-gray-700 border-red-500 placeholder-red-500;
}
.f-theme-dark .f-textarea-state-invalid:focus {
  @apply ring-red-500 border-red-500;
}

.f-modal {
  @apply hidden fixed left-0 right-0 top-0 z-50 max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0 justify-center items-center;
}
.f-modal-open-true {
  @apply flex;
}
.f-modal > .f-modal-wrapper {
  @apply relative max-h-full w-full;
}
.f-modal-size-small > .f-modal-wrapper {
  @apply max-w-md;
}
.f-modal-size-medium > .f-modal-wrapper {
  @apply max-w-lg;
}
.f-modal-size-large > .f-modal-wrapper {
  @apply max-w-4xl;
}

.f-modal-body {
  @apply space-y-6 p-6;
}

.f-modal-content {
  @apply relative rounded-lg bg-white shadow dark:bg-gray-700;
}

.f-modal-footer {
  @apply flex items-center rounded-b border-t border-gray-200 p-6 dark:border-gray-600;
}

.f-modal-header {
  @apply flex items-start justify-between rounded-t border-b p-5 dark:border-gray-600;
}

.f-modal-title {
  @apply text-xl font-semibold text-gray-900 dark:text-white lg:text-2xl;
}

/* #endregion COMPONENTS */
.f-login-form {
  @apply mt-8;
}

.f-site-card-list {
  @apply grid grid-cols-1 gap-4;
}
@screen sm {
  .f-site-card-list {
    @apply grid-cols-2;
  }
}
@screen md {
  .f-site-card-list {
    @apply grid-cols-3;
  }
}
@screen lg {
  .f-site-card-list {
    @apply grid-cols-4;
  }
}

.f-site-card-pagination {
  @apply mt-8 flex justify-center gap-2;
}

.f-site-card-description {
  @apply mb-3 font-normal text-gray-700;
}
.f-theme-dark .f-site-card-description {
  @apply text-gray-400;
}

/*# sourceMappingURL=app.css.map */
