
// Default prefix for component's CSS classes
$prefix: 'f-';
$prefix-theme-dark: $prefix + 'theme-dark';

$colors: (
    "primary": "blue",
    "success": "green",
    "info": "cyan",
    "danger": "red",
    "warning": "yellow",
    "secondary": "gray",
);

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50;
}

body.#{$prefix-theme-dark} {
    @apply bg-gray-800;
}


/* #region COMPONENTS */
@import './components/alert';
@import './components/badge';
@import './components/button';
@import './components/card';
@import './components/checkbox';
@import './components/dropdown';
@import './components/form-check';
@import './components/page';
@import './components/layout';
@import './components/form';
@import './components/input';
@import './components/icon';
@import './components/table';
@import './components/tabs';
@import './components/logo';
@import './components/sidebar';
@import './components/pagination';

/* #endregion COMPONENTS */

//#region

@import "./pages/login";
@import "./pages/sites";

//#endregion
