@inject IJSRuntime JS
@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

<div @attributes="AdditionalAttributes"
     @ref="element"
     class="@this.GetClasses()"
     tabindex="-1">
    <div class="@this.ClassName("ModalWrapper")">
        <CascadingValue Value="this">
            <ModalContent>
                @ChildContent
            </ModalContent>
        </CascadingValue>
    </div>
</div>

@code {
    public ElementReference element;

    private IJSObjectReference module = default!;

    private bool open;

    [Parameter]
    [CssProperty]
    public bool Open
    {
        get
        {
            return open;
        }
        set
        {
            if (value == open) return;

            open = value;

            module.InvokeVoidAsync(open ? "open" : "close", DotNetObjectReference.Create(this), element);
        }
    }

    [Parameter]
    public EventCallback<bool> OpenChanged { get; set; }

    [Parameter]
    [CssProperty]
    public ModalSize Size { get; set; } = ModalSize.Medium;

    [JSInvokable]
    public async void Close()
    {
        await OpenChanged.InvokeAsync(Open = false);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        module = await JS.InvokeAsync<IJSObjectReference>("import", "/_content/FluentCMS.Web.UI.Components/Components/Modal/Modal.razor.js");

        await module.InvokeVoidAsync("initialize", DotNetObjectReference.Create(this), element);
    }
}
