@inherits BasePlugin
@namespace FluentCMS.Web.Plugins.IFrame

<div class="f-iframe-content" style="height: @(Height ?? "auto");">
    @if (IsUsingSrc)
    {    
        <iframe src="@Source"/>
    } 
    else
    {
        @((MarkupString)EmbedCode)
    }
</div>
