
@inherits BaseComponent

@namespace FluentCMS.Web.Plugins.Admin.FileManagement

@if (Visible)
{
    <Modal Size="ModalSize.Large">
        <ModalHeader Closable>
            <ModalTitle>
                Upload File
            </ModalTitle>
        </ModalHeader>
        <ModalBody>
            <Grid>
                <FormField Label="File">
                    @* TODO: Create FormFileInput component *@
                    <InputFile class="f-form-input" OnChange="OnFilesChanged" accept="AllowedExtensions" multiple Required />
                </FormField>
            </Grid>
        </ModalBody>
        <ModalFooter>
            <FormActions>
                <Button @onclick="HandleCancel">
                    Cancel
                </Button>
            </FormActions>
        </ModalFooter>
    </Modal>
}