@inherits BasePlugin
@namespace FluentCMS.Web.Plugins.Contents.ContactUs

<EditForm Model="@Model" OnSubmit="OnSubmit" FormName="@CONTENT_TYPE_NAME">
    <DataAnnotationsValidator />
    <Spacer />
    <Grid GutterX="GridGutter.Large">
        <FormInput Placeholder="Enter your email address" @bind-Value="@Model!.Email" Label="Email" />
        <FormInput Placeholder="Let us know how we can help you" @bind-Value="@Model!.Subject" Label="Subject" />
        <FormTextarea Placeholder="Leave a comment..." @bind-Value="@Model!.Message" Label="Message" />
        <GridItem Small="GridItemColumn.Twelve">
            <Stack>
                <Button Color="Color.Primary" Type="ButtonType.Submit">
                    Send Message
                </Button>
            </Stack>
        </GridItem>
    </Grid>
</EditForm>
