$prefix-form-textarea: $prefix + 'form-textarea';

.#{$prefix-form-textarea} {
    @apply block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;

    &-disabled-true {
        @apply cursor-not-allowed opacity-70;
    }
}