<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="AI based Headless CMS For Blazor community" />
<meta name="author" content="FluentCMS">
<title>Admin Panel - FluentCMS</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="stylesheet" href="/_content/FluentCMS.Web.UI.Components/css/app.min.css" />
<link rel="stylesheet" href="/css/app.css" />

<script src="/js/app.head.js"></script>
