<PanelLayout fluentcms>
    <SectionContent SectionName="sidebar" fluentcms>
        <Sidebar fluentcms>
            <Header fluentcms-slot>
                <a href="/" class="items-center pl-2.5 mb-5 hidden lg:flex">
                    <Logo fluentcms />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">FluentCMS</span>
                </a>
            </Header>
            <ChildContent>
                <SidebarItem fluentcms Href="/">
                    Home
                </SidebarItem>
                <ul class="pt-5 mt-5 space-y-2 border-t border-gray-200 dark:border-gray-700"></ul>
                <SidebarItem fluentcms Href="/admin/content">
                    Content Management
                </SidebarItem>
                <ul class="pt-5 mt-5 space-y-2 border-t border-gray-200 dark:border-gray-700"></ul>
                <SidebarItem fluentcms Href="/admin/apps">
                    Apps
                </SidebarItem>
                <SidebarItem fluentcms Href="/admin/content-types">
                    Content-Type Builder
                </SidebarItem>
                <SidebarItem fluentcms Href="/admin/users">
                    Users
                </SidebarItem>
                <ul class="pt-5 mt-5 space-y-2 border-t border-gray-200 dark:border-gray-700"></ul>
                <SidebarItem fluentcms Href="/api/doc/index.html">
                    Docs
                </SidebarItem>
            </ChildContent>
            <Footer fluentcms-slot>
                <ThemeSwitcher id="adminThemeButton" fluentcms />
                <Section Name="UserInfo" fluentcms />
            </Footer>
        </Sidebar>
    </SectionContent>
    <Section Name="Main" fluentcms />
</PanelLayout>

<script src="/js/flowbite.min.js"></script>
<script src="/js/admin-sidebar.js"></script>
