<section class="bg-white dark:bg-gray-900">
    <div class="grid h-screen lg:grid-cols-2">
        <div class="flex flex-col items-center justify-between px-4 py-6 sm:px-0">
            <p class="text-gray-500 dark:text-gray-400">

            </p>
            <form class="w-full max-w-md space-y-4 md:space-y-6 xl:max-w-xl" action="#">
                <Section Name="main" fluentcms />
            </form>
            <p class="text-gray-500 dark:text-gray-400">
                © 2023 FluentCMS, LLC. All rights reserved.
            </p>
        </div>
        <div class="flex items-center justify-center px-4 py-6 bg-primary-600 lg:py-0 sm:px-0 hidden lg:flex">
            <div class="max-w-md xl:max-w-xl">
                <a href="#" class="flex items-center mb-4 text-2xl font-semibold text-white">
                    <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/logo.svg" alt="logo">
                    FluentCMS
                </a>
                <h1 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-white xl:text-5xl">Explore the world’s leading design portfolios.</h1>
                <p class="mb-4 font-light text-primary-200 lg:mb-8">Millions of designers and agencies around the world showcase their portfolio work on Flowbite - the home to the world’s best design and creative professionals.</p>
                <div class="flex items-center divide-x divide-primary-500">
                    <div class="flex pr-3 -space-x-4 sm:pr-5">
                        <img class="w-10 h-10 border-2 border-white rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png" alt="bonnie avatar">
                        <img class="w-10 h-10 border-2 border-white rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png" alt="jese avatar">
                        <img class="w-10 h-10 border-2 border-white rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png" alt="roberta avatar">
                        <img class="w-10 h-10 border-2 border-white rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/thomas-lean.png" alt="thomas avatar">
                    </div>
                    <a href="#" class="pl-3 text-white sm:pl-5 dark:text-white">
                        <span class="text-sm text-primary-200">Over <span class="font-medium text-white">15.7k</span> Happy Customers</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/_content/FluentCMS.Web.UI.Components/js/flowbite.min.js"></script>
