@namespace FluentCMS.Web.UI.Plugins.Components

<GridItem Small="GridItemColumn.Twelve">
    <Stack>
        @ChildContent
        <Button Visible="Submit" Color="Color.Primary" Type="ButtonType.Submit">
            Submit
        </Button>
        <Button Visible="Cancel" Href="@GetBackUrl()">
            Cancel
        </Button>
    </Stack>
</GridItem>
