@inherits BaseComponent

<span class=@this.GetClasses() @attributes=AdditionalAttributes>
    Showing
    <span>@Current-@Size</span>
    of
    <span>@Total</span>
</span>

@code {
    [Parameter]
    public int Current { get; set; } = 0;

    [Parameter]
    public int Size { get; set; } = 10;

    [Parameter]
    public int Total { get; set; } = 0;
}
