@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

<div @attributes="AdditionalAttributes"
     class="@this.GetClasses()">
    @foreach (var toast in toasts)
    {
        <Toast Dismissible="true"
               Type="toast.Type">
            @toast.Message
        </Toast>
    }
</div>

@code
{
    [Inject]
    ToastService toastService { get; set; } = default!;

    List<ToastModel> toasts = new List<ToastModel>();

    public void Show(string message, ToastType? type)
    {
        var toast = new ToastModel()
            {
                Duration = 5000,
                Message = message,
                Type = type ?? ToastType.Default
            };

        toasts.Add(toast);

        InvokeAsync(StateHasChanged);

        Timer? timer = null;

        timer = new Timer((_) =>
        {
            timer?.Dispose();

            toasts.Remove(toast);

            InvokeAsync(StateHasChanged);
        }, null, toast.Duration, -1);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        toastService.ToastProvider = this;
    }
}
