$close-button: $prefix + "close-button";

.#{$close-button} {
    @apply text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white;

    .#{$prefix + "icon"} * {
        @apply stroke-2;
    }
}