$inline-editor: $prefix + 'inline-editor';

.#{$inline-editor} {
    a {
        pointer-events: none;
    }

    [data-inline-editable] {
        border: 1px dashed transparent;
        transition: all 0.3s ease;
    }

    [data-inline-editable]:hover {
        border: 1px dashed #154EF250;
    }
    
    [data-inline-editable]:focus {
        border: 1px dashed #154EF2;
        outline: none;
    }

    // Styles of backdrop
    .#{$inline-editor}-dirty &-content::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #00000020;
        transition: all 0.3s ease;

        opacity: 1;
        pointer-events: none;
    }

    &-actions {
        display: flex;
        gap: 4px;
        position: absolute;
        top: 2rem;
        right: 1rem;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
    }        
}

.#{$inline-editor}-content:hover::after {
    opacity: 0;
}

.#{$inline-editor}-dirty .#{$inline-editor}-actions {
    opacity: 1;
    pointer-events: all;
}
