@inherits BaseComponent

@if(Loaded) {
    @if(Collections.Count == 0)
    {
        <Page>
            <PageHeader Title="Content Management (Draft)">

            </PageHeader>
            <PageBody>
                <EmptyState Message="There is no Content-Type yet!">
                    @* TODO: Should navigate to create ContentType page instead of list page *@
                    <Button Color="Color.Primary"
                            Href="/admin/content-types"
                            id="contentCreateButton"
                            Size="ButtonSize.Small">
                        <Icon Name="IconName.Plus" />
                        Add New Content Type
                    </Button>
                </EmptyState>
            </PageBody>
        </Page>
    } else {
        <Grid>
            <GridItem HideSmall="true"
                    HideMedium="true"
                    Small="GridItemColumn.Auto">
                <Sidebar Title="Collections"
                        Secondary="true">
                    <ChildContent>
                        @foreach (var collection in Collections)
                        {
                            <SidebarItem Active="@(currentContentTypeSlug == collection.Slug)" 
                                         Href="@NavigationManager.Plugin("Content Management", "Content List", new { contentTypeSlug = collection.Slug })"
                                         id="@($"contentSidebar{@collection.Slug}Link")">
                                @collection.Title
                            </SidebarItem>
                        }
                    </ChildContent>
                </Sidebar>
            </GridItem>
            <GridItem Small="GridItemColumn.Grow">
                @ChildContent
            </GridItem>
        </Grid>
    }
}


@code {
    [Inject]
    ContentClient ContentClient { get; set; } = default!;

    [Inject]
    ContentTypeClient ContentTypeClient { get; set; } = default!;

    [Inject]
    NavigationManager NavigationManager { get; set; } = default!;

    List<ContentTypeDetailResponse> Collections { get; set; } = [];

    bool Loaded {get; set;} = false;

    string currentContentTypeSlug {get; set;}

    async Task Load()
    {
        var response = await ContentTypeClient.GetAllAsync();

        if (response?.Data == null) return;

        Collections = response.Data.ToList();
        Loaded = true;

        currentContentTypeSlug = NavigationManager.GetStringFromQuery("contentTypeSlug");

        if(string.IsNullOrEmpty(currentContentTypeSlug) && Collections.Count > 0) 
        {
            NavigationManager.NavigateTo(NavigationManager.Plugin("Content Management", "Content List", new { contentTypeSlug = Collections[0].Slug }));    
        }
    }

    async Task OnChangeApp()
    {
        await Load();
    }

    protected override async Task OnInitializedAsync()
    {
        await Load();
        StateHasChanged();
    }
}
