@page "/previews/native-dropdown"
@layout PanelLayout 

<BlazorComponent>
	<ButtonText>
		Click me!
	</ButtonText>
	<Options>
		<a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Option 1</a>
        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Option 2</a>
        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Option 3</a>
	</Options>
</BlazorComponent>
