@using Version = FluentCMS.Web.UI.Components.Version
@using System.Reflection
<Page>
    <PageHeader Title="Welcome" />
    <PageBody>
        <Typography Size="TextSize.Small">
            We hope you are making progress on your project! Feel free to read the latest news about FluentCMS. We are
            giving our best to improve the product based on your feedback.
        </Typography>

        <Spacer />
        <Grid Gutter="GridGutter.Large">
            <GridItem Small="GridItemColumn.Twelve" Medium="GridItemColumn.Eight">
                <a href="/api/doc"
                   target="_blank">

                    <Card>
                        <CardBody>
                            <Stack>
                                <Icon Color="Color.Primary" Name="IconName.Documentation" Size="IconSize.X2" />
                                <div>
                                    <Typography Size="TextSize.H5">Documentation</Typography>
                                    <Typography Size="TextSize.Small">
                                        Discover the essential concepts, guides and instructions.
                                    </Typography>
                                </div>
                            </Stack>
                        </CardBody>
                    </Card>
                </a>

                <Spacer Size="SpacerSize.Small" />
                <a href="https://github.com/fluentcms/FluentCMS/blob/dev/CHANGELOG.md"
                   target="_blank">

                    <Card>
                        <CardBody>
                            <Stack>
                                <Icon Color="Color.Success" Name="IconName.Clock" Size="IconSize.X2" />
                                <div>
                                    <Typography Size="TextSize.H5">Changelog</Typography>
                                    <Typography Size="TextSize.Small">
                                        See how FluentCMS is evolving over time.
                                    </Typography>

                                </div>
                            </Stack>
                        </CardBody>
                    </Card>
                </a>
                <Spacer Size="SpacerSize.Small" />
                <a href="https://github.com/fluentcms/FluentCMS"
                   target="_blank">
                    <Card>
                        <CardBody>
                            <Stack>
                                <Icon Color="Color.Warning" Name="IconName.Code" Size="IconSize.X2" />
                                <div>
                                    <Typography Size="TextSize.H5">Code Examples</Typography>
                                    <Typography Size="TextSize.Small">
                                        Learn by testing real projects developed the community.
                                    </Typography>
                                </div>
                            </Stack>
                        </CardBody>
                    </Card>
                </a>

                <Spacer Size="SpacerSize.Small" />
                <Version Assembly="Assembly.GetEntryAssembly()"></Version>

            </GridItem>
            <GridItem Small="GridItemColumn.Twelve" Medium="GridItemColumn.Four">

                <Card>
                    <CardBody>
                        <CardTitle>Join the community</CardTitle>
                        <Spacer />
                        <Typography Size="TextSize.Small">Discuss with team members, contributors
                            and developers on different channels.</Typography>
                        <Spacer />
                        <Card>
                            <Button Block="true" Color="Color.Primary" Ghost="true"
                                Href="https://github.com/fluentcms/FluentCMS"
                                target="_blank">
                                <Icon Name="IconName.Github" />
                                Github
                            </Button>
                        </Card>
                        <Spacer />
                        <Card>
                            <Button Block="true" Color="Color.Primary" Ghost="true"
                                Href="https://discord.gg/WyqYuC6YbY"
                                target="_blank">
                                <Icon Name="IconName.Discord" />
                                Discord
                            </Button>
                        </Card>
                    </CardBody>
                </Card>
            </GridItem>
        </Grid>
    </PageBody>
</Page>
