
<Page>
    <PageBody>
        <Typography Size="TextSize.H3">
            Welcome
        </Typography>
        <Spacer/>
        <Typography>
            We hope you are making progress on your project! Feel free to read the latest news about FluentCMS. We are giving our best to improve the product based on your feedback.
        </Typography>
        
        <Spacer Size="SpacerSize.Large"/>
        <Spacer/>
        <Grid Gutter="GridGutter.Large">
            <GridItem Small="GridItemColumn.Twelve"
                      Medium="GridItemColumn.Eight">
                <Card>
                    <CardBody>
                        <CardTitle>Documentation</CardTitle>
                        <Typography>
                            Discover the essential concepts, guides and instructions.
                        </Typography>
                    </CardBody>
                </Card>
                <Spacer Size="SpacerSize.Small"/>
                <Card>
                    <CardBody>
                        <CardTitle>Changelog</CardTitle>
                        <Typography>
                            See how FluentCMS is evolving over time.
                        </Typography>
                    </CardBody>
                </Card>
                <Spacer Size="SpacerSize.Small"/>
                <Card>
                    <CardBody>
                        <CardTitle>Code Examples</CardTitle>
                        <Typography>
                            Learn by testing real projects developed the community.
                        </Typography>
                    </CardBody>
                </Card>
            </GridItem>
            <GridItem Small="GridItemColumn.Twelve"
                      Medium="GridItemColumn.Four">
                
                <Card>
                    <CardBody>
                        <CardTitle>Join the community</CardTitle>
                        <Spacer/>
                        <Typography>Discuss with team members, contributors and developers on different channels.</Typography>
                        <Spacer/>
                        <Card>
                            <Button Block="true"
                                    Color="Color.Primary" 
                                    Ghost="true" 
                                    Href="https://github.com/fluentcms/FluentCMS">
                                <Icon Name="IconName.Github"/>
                                Github
                            </Button>
                        </Card>
                        <Spacer/>
                        <Card>
                            <Button Block="true"
                                    Color="Color.Primary" 
                                    Ghost="true" 
                                    Href="https://discord.gg/WyqYuC6YbY">
                                <Icon Name="IconName.Discord"/>
                                Discord
                            </Button>
                        </Card>
                    </CardBody>
                </Card>
            </GridItem>
        </Grid>
        <Typography>v0.0.1</Typography>
    </PageBody>
</Page>
