@using Version = FluentCMS.Web.UI.Components.Version
@using System.Reflection
<Page>
    <PageHeader Subtitle="We hope you are making progress on your project! Feel free to read the latest news about FluentCMS. We are
            giving our best to improve the product based on your feedback." 
            Title="Welcome" />
    <PageBody>
        <Grid Gutter="GridGutter.Large">
            <GridItem Small="GridItemColumn.Twelve" Medium="GridItemColumn.Eight">
                @if(showTour)
                {
                    <Card>
                        <CardBody>
                            <CardTitle id="homeTourTitle">There are a few steps to get started</CardTitle>
                            <Stack Vertical="true" Items="StackItems.Start">
                                <Spacer/>
                                <Stepper>
                                    <StepperItem Icon="IconName.TableColumn"
                                                id="homeTourCreateContentTypeStepper"
                                                Title="ContentType"
                                                Subtitle="First step is to create a content Type">
                                        <Button Color="Color.Primary"
                                                id="homeTourCreateContentTypeButton"
                                                Href="/admin/content-types">
                                            Create ContentType
                                        </Button>
                                    </StepperItem>
                                    <StepperItem Icon="IconName.PenNib"
                                                id="homeTourCreateContentStepper"
                                                Title="Content"
                                                Subtitle="Then you can create content">
                                        <Button Color="Color.Primary"
                                                id="homeTourCreateContentButton"
                                                Href="/admin/content">
                                            Create Content
                                        </Button>
                                    </StepperItem>
                                    <StepperItem Icon="IconName.ClipboardList"
                                                id="homeTourTestApiStepper"
                                                Title="Api"
                                                Subtitle="Finally you are able to use the API">
                                        <Button Color="Color.Primary"
                                                id="homeTourTestApiButton">
                                            Test API
                                        </Button>
                                    </StepperItem>
                                </Stepper>
                            </Stack>
                        </CardBody>
                        <CardActions>
                            <Button Color="Color.Primary" 
                                    id="homeTourSkipButton"
                                    Outline="true" 
                                    OnClick="() => showTour = false">
                                Skip the tour
                            </Button>
                        </CardActions>
                    </Card>
                } else {
                    <a href="/api/doc"
                       id="homeDocsLink"
                       target="_blank">
                        <Card>
                            <CardBody>
                                <Stack>
                                    <Icon Color="Color.Primary" Name="IconName.Documentation" Size="IconSize.X2" />
                                    <div>
                                        <Typography Size="TextSize.H5">Documentation</Typography>
                                        <Typography Size="TextSize.Small">
                                            Discover the essential concepts, guides and instructions.
                                        </Typography>
                                    </div>
                                </Stack>
                            </CardBody>
                        </Card>
                    </a>

                    <Spacer Size="SpacerSize.Small" />
                    <a href="https://github.com/fluentcms/FluentCMS/blob/dev/CHANGELOG.md"
                       id="homeChangelogLink"
                       target="_blank">
                        <Card>
                            <CardBody>
                                <Stack>
                                    <Icon Color="Color.Success" Name="IconName.Clock" Size="IconSize.X2" />
                                    <div>
                                        <Typography Size="TextSize.H5">Changelog</Typography>
                                        <Typography Size="TextSize.Small">
                                            See how FluentCMS is evolving over time.
                                        </Typography>
                                    </div>
                                </Stack>
                            </CardBody>
                        </Card>
                    </a>
                    <Spacer Size="SpacerSize.Small" />
                    <a href="https://github.com/fluentcms/FluentCMS"
                       id="homeExamplesLink"
                       target="_blank">
                        <Card>
                            <CardBody>
                                <Stack>
                                    <Icon Color="Color.Warning" Name="IconName.Code" Size="IconSize.X2" />
                                    <div>
                                        <Typography Size="TextSize.H5">Code Examples</Typography>
                                        <Typography Size="TextSize.Small">
                                            Learn by testing real projects developed by the community.
                                        </Typography>
                                    </div>
                                </Stack>
                            </CardBody>
                        </Card>
                    </a>
                }
                <Spacer Size="SpacerSize.Small" />
                <!-- TODO: Do not use tailwind classes -->
                <Version Class="hidden md:block" 
                         data-test="version" 
                         Assembly="Assembly.GetEntryAssembly()" />
            </GridItem>
            <GridItem Small="GridItemColumn.Twelve" Medium="GridItemColumn.Four">

                <Card>
                    <CardBody>
                        <Typography Size="TextSize.H5" Weight="TextWeight.Bold">
                            Join the community
                        </Typography>
                        <Spacer />
                        <Typography Size="TextSize.Small">
                            Discuss with team members, contributors
                            and developers on different channels.
                        </Typography>
                        <Spacer />
                        <Card>
                            <Button Block="true" 
                                    Color="Color.Primary" 
                                    Ghost="true"
                                    Href="https://github.com/fluentcms/FluentCMS"
                                    id="homeGithubLink"
                                    target="_blank">

                                <Icon Name="IconName.Github" />
                                Github
                            </Button>
                        </Card>
                        <Spacer />
                        <Card>
                            <Button Block="true" 
                                    Color="Color.Primary" 
                                    Ghost="true"
                                    Href="https://discord.gg/WyqYuC6YbY"
                                    id="homeDiscordLink"
                                    target="_blank">
                                <Icon Name="IconName.Discord" />
                                Discord
                            </Button>
                        </Card>
                    </CardBody>
                </Card>
                
                <!-- TODO: Do not use tailwind classes -->
                <Version Class="md:hidden" 
                         data-test="version" 
                         Assembly="Assembly.GetEntryAssembly()" />
            </GridItem>
        </Grid>
    </PageBody>
</Page>


@code {
    bool showTour = true;
}
