@using FluentCMS.Web.Plugins.Admin.ContentTypeManagement.Components.String

@namespace FluentCMS.Web.Plugins.Admin.ContentTypeManagement

@if (FieldType == null)
{
    <ContentTypeFieldSelector OnSubmit="(type) => OnTypeSelect(type)" OnCancel=OnCancel />
}
else
{
    <EditForm Model="@Model" OnSubmit="HandleSubmit" FormName="@FORM_NAME" Enhance>
        <Modal Size="ModalSize.Large">
            <ModalHeader Closable>
                <ModalTitle>Create New "@FieldType.Title" Field</ModalTitle>
            </ModalHeader>
            <ModalBody>
                <DataAnnotationsValidator />
                <StringFieldSettings Field="@Model" />
            </ModalBody>
            <ModalFooter>
                <FormActions Submit>
                    <Button @onclick="OnBack">
                        Back
                    </Button>
                </FormActions>
            </ModalFooter>
        </Modal>
    </EditForm>
}
