@inherits BaseContentTypeFieldComponent

@using FluentCMS.Web.Plugins.Admin.ContentTypeManagement.Components.String

@namespace FluentCMS.Web.Plugins.Admin.ContentTypeManagement

@if (Visible)
{
    @if (SelectedFieldType == null)
    {
        <ContentTypeFieldSelector OnSelect=OnTypeSelect OnCancel=OnComplete />
    }
    else
    {
        <EditForm Model="@Model" OnSubmit="OnFieldCreate" FormName="@FORM_NAME" Enhance>
            <Modal Size="ModalSize.Large">
                <ModalHeader Closable>
                    <ModalTitle>Create New @SelectedFieldType.Title Field</ModalTitle>
                </ModalHeader>
                <ModalBody>
                    <DataAnnotationsValidator />
                    <StringFieldSettings Field="@Model" />
                </ModalBody>
                <ModalFooter>
                    <FormActions Submit>
                        <Button @onclick="OnBackToTypeSelector">
                            Back
                        </Button>
                    </FormActions>
                </ModalFooter>
            </Modal>
        </EditForm>
    }
}
