@inherits BaseComponent

@namespace FluentCMS.Web.Plugins.Admin.ContentTypeManagement
@if (Model != null)
{
    <EditForm Model="@Model" OnSubmit="OnFormSubmit">
        <Modal Size="ModalSize.Large">
            <ModalHeader Closable>
                <ModalTitle Visible="@(CurrentState == FieldManagementState.Create)">
                    Create New Field@* New @FieldType?.Title Field *@
                </ModalTitle>
                <ModalTitle Visible="@(CurrentState == FieldManagementState.Edit)">
                    Update Field@* Update Field @Model.Name (@FieldType?.Title) *@
                </ModalTitle>
            </ModalHeader>
            <ModalBody>
                <DataAnnotationsValidator />
                @ChildContent
            </ModalBody>
            <ModalFooter>
                <FormActions>
                    <Button Color="Color.Primary" Type="ButtonType.Submit">
                        Submit
                    </Button>
                    <Button @onclick="OnCancel">
                        Cancel
                    </Button>
                </FormActions>
            </ModalFooter>
        </Modal>
    </EditForm>
}
