@page "/previews/components/autocomplete"
@rendermode InteractiveServer
@layout ComponentsLayout

<PageHeader HasBack Title="Autocomplete" />

<h2>Default</h2>
<div class="flex flex-col gap-4">
    <Autocomplete Options=Options />
</div>

<h2>Disabled</h2>
<div class="flex flex-col gap-4">
    <Autocomplete Options=Options Disabled />
</div>

<h2>Multiple</h2>
<div class="flex flex-col gap-4">
    <Autocomplete Options=Options Multiple />
</div>

<h2>Initialize</h2>
<div class="flex flex-col gap-4">
    <Autocomplete Options=Options @bind-Value=Value />
</div>

<h2>Value</h2>
<div class="flex flex-col gap-4">
    <Autocomplete Options=Options @bind-Value=Value Multiple />
    <div>
        @foreach (var item in Value)
        {
            <Badge @key=item Color=ColorEnum.Primary>
                @Options.FirstOrDefault(X => X.Id == item).Title
            </Badge>
            <span>&nbsp;</span>
        }
    </div>
</div>

@code {
    public bool Disabled { get; set; }

    public List<AutocompleteOptions> Options = new()
    {
        new AutocompleteOptions
        {
            Id = "1",
            Title = "Item A"
        },
        new AutocompleteOptions
        {
            Id = "2",
            Title = "Item B"
        },
        new AutocompleteOptions
        {
            Id = "3",
            Title = "Item C"
        },
        new AutocompleteOptions
        {
            Id = "4",
            Title = "Item D"
        },
        new AutocompleteOptions
        {
            Id = "5",
            Title = "Item E"
        }
    };

    public List<string> Value { get; set; } = ["3"];
}
