@page "/previews/components/autocomplete"
@rendermode InteractiveServer
@layout ComponentsLayout

<Page>
    <PageHeader HasBack Title="Autocomplete" />

    <PageBody>
        <Preview Title="Default">
            <ChildContent>
                <Autocomplete Options=Options />
            </ChildContent>
        </Preview>

        <Preview Title="Disabled">
            <ChildContent>
                <Autocomplete Options=Options Disabled />
            </ChildContent>
        </Preview>

        <Preview Title="Multiple">
            <ChildContent>
                <Autocomplete Options=Options Multiple />
            </ChildContent>
        </Preview>

        <Preview Title="Initialize">
            <ChildContent>
                <Autocomplete Options=Options @bind-Value=Value />
            </ChildContent>
        </Preview>

        <Preview Title="Value">
            <ChildContent>
                <Autocomplete Options=Options @bind-Value=Value Multiple />

                <div class="pb-12">
                    @foreach (var item in Value)
                    {
                        <Badge @key=item Color=ColorEnum.Primary>
                            @Options.FirstOrDefault(X => X.Id == item).Title
                        </Badge>
                        <span>&nbsp;</span>
                    }
                </div>
            </ChildContent>
        </Preview>
    </PageBody>
</Page>

@code {
    public bool Disabled { get; set; }

    public List<AutocompleteOptions> Options = new()
    {
        new AutocompleteOptions
        {
            Id = "1",
            Title = "Item A"
        },
        new AutocompleteOptions
        {
            Id = "2",
            Title = "Item B"
        },
        new AutocompleteOptions
        {
            Id = "3",
            Title = "Item C"
        },
        new AutocompleteOptions
        {
            Id = "4",
            Title = "Item D"
        },
        new AutocompleteOptions
        {
            Id = "5",
            Title = "Item E"
        }
    };

    public List<string> Value { get; set; } = ["3"];
}
