@page "/previews/components/badge"
@rendermode InteractiveServer
@layout ComponentsLayout

<Page>
    <PageHeader HasBack Title="Badges"/>

    <PageBody>
        <Preview Title="Default">
            <Description>
                Use the following badge elements to indicate counts or labels inside or outside components.
            </Description>
            <ChildContent>
                <div class="flex gap-4">
                    <Badge Color=@Colors.Default>Default</Badge>
                    <Badge Color=@Colors.Primary>Primary</Badge>
                    <Badge Color=@Colors.Secondary>Secondary</Badge>
                    <Badge Color=@Colors.Success>Success</Badge>
                    <Badge Color=@Colors.Danger>Danger</Badge>
                    <Badge Color=@Colors.Warning>Warning</Badge>
                    <Badge Color=@Colors.Info>Info</Badge>
                </div>
            </ChildContent>
        </Preview>
    </PageBody>
</Page>
