@page "/previews/components/badge"
@rendermode InteractiveServer
@layout ComponentsLayout

<PageHeader HasBack Title="Badges"/>

<h2>Default</h2>
<p>Use the following badge elements to indicate counts or labels inside or outside components.</p>

<div class="flex gap-4">
    <Badge Color=@ColorEnum.Default>Default</Badge>
    <Badge Color=@ColorEnum.Primary>Primary</Badge>
    <Badge Color=@ColorEnum.Secondary>Secondary</Badge>
    <Badge Color=@ColorEnum.Success>Success</Badge>
    <Badge Color=@ColorEnum.Danger>Danger</Badge>
    <Badge Color=@ColorEnum.Warning>Warning</Badge>
    <Badge Color=@ColorEnum.Info>Info</Badge>
</div>
