@page "/previews/components/dropdown"
@layout ComponentsLayout
@rendermode InteractiveServer

<Page>
    <PageHeader HasBack Title="Dropdown"/>

    <PageBody>
        <Preview Title="Default">
            <ChildContent>
                <Dropdown>
                   <DropdownButton Color="Colors.Primary">Default Dropdown</DropdownButton>
                   <DropdownMenu Placement="DropdownPlacements.Bottom">
                       <DropdownItem Href="/previews/content-manager">Content Manager</DropdownItem>
                       <DropdownItem Href="/previews/content-type-builder">Content Type Builder</DropdownItem>
                       <DropdownItem Href="/previews/components">Components</DropdownItem>
                       <DropdownItem OnClick="() => DropdownCounter += 1">Increment (@DropdownCounter)</DropdownItem>
                   </DropdownMenu>
               </Dropdown>
            </ChildContent>
        </Preview>

        <Preview Title="AutoClose">
            <Description>
                Closes Dropdown when clicked outside.
            </Description>
            <ChildContent>
                <Dropdown AutoClose>
                   <DropdownButton Color="Colors.Primary">AutoClose</DropdownButton>
                   <DropdownMenu Placement="DropdownPlacements.Bottom">
                       <DropdownItem Href="/previews/content-manager">Content Manager</DropdownItem>
                       <DropdownItem Href="/previews/content-type-builder">Content Type Builder</DropdownItem>
                       <DropdownItem Href="/previews/components">Components</DropdownItem>
                       <DropdownItem OnClick="() => DropdownCounter += 1">Increment (@DropdownCounter)</DropdownItem>
                   </DropdownMenu>
               </Dropdown>
            </ChildContent>
        </Preview>

        <Preview Title="Placement">
            <Description>
                Dropdown placement supports various directions
            </Description>
            <ChildContent>
                <div class="flex flex-wrap gap-4">
                    <Dropdown AutoClose>
                        <DropdownButton>Bottom</DropdownButton>
                        <DropdownMenu Placement="DropdownPlacements.Bottom">
                            <DropdownItem Href="/previews/content-manager">Content Manager</DropdownItem>
                            <DropdownItem Href="/previews/content-type-builder">Content Type Builder</DropdownItem>
                            <DropdownItem Href="/previews/components">Components</DropdownItem>
                            <DropdownItem OnClick="() => DropdownCounter += 1">Increment (@DropdownCounter)</DropdownItem>
                        </DropdownMenu>
                    </Dropdown>

                    <Dropdown AutoClose>
                        <DropdownButton>BottomEnd</DropdownButton>
                        <DropdownMenu Placement="DropdownPlacements.BottomEnd">
                            <DropdownItem Href="/previews/content-manager">Content Manager</DropdownItem>
                            <DropdownItem Href="/previews/content-type-builder">Content Type Builder</DropdownItem>
                            <DropdownItem Href="/previews/components">Components</DropdownItem>
                            <DropdownItem OnClick="() => DropdownCounter += 1">Increment (@DropdownCounter)</DropdownItem>
                        </DropdownMenu>
                    </Dropdown>

                    <Dropdown AutoClose>
                        <DropdownButton>Top</DropdownButton>
                        <DropdownMenu Placement="DropdownPlacements.Top">
                            <DropdownItem Href="/previews/content-manager">Content Manager</DropdownItem>
                            <DropdownItem Href="/previews/content-type-builder">Content Type Builder</DropdownItem>
                            <DropdownItem Href="/previews/components">Components</DropdownItem>
                            <DropdownItem OnClick="() => DropdownCounter += 1">Increment (@DropdownCounter)</DropdownItem>
                        </DropdownMenu>
                    </Dropdown>

                    <Dropdown AutoClose>
                       <DropdownButton>TopEnd</DropdownButton>
                       <DropdownMenu Placement="DropdownPlacements.TopEnd">
                           <DropdownItem Href="/previews/content-manager">Content Manager</DropdownItem>
                           <DropdownItem Href="/previews/content-type-builder">Content Type Builder</DropdownItem>
                           <DropdownItem Href="/previews/components">Components</DropdownItem>
                           <DropdownItem OnClick="() => DropdownCounter += 1">Increment (@DropdownCounter)</DropdownItem>
                       </DropdownMenu>
                   </Dropdown>

                   <Dropdown AutoClose>
                       <DropdownButton>Left</DropdownButton>
                       <DropdownMenu Placement="DropdownPlacements.Left">
                           <DropdownItem Href="/previews/content-manager">Content Manager</DropdownItem>
                           <DropdownItem Href="/previews/content-type-builder">Content Type Builder</DropdownItem>
                           <DropdownItem Href="/previews/components">Components</DropdownItem>
                           <DropdownItem OnClick="() => DropdownCounter += 1">Increment (@DropdownCounter)</DropdownItem>
                       </DropdownMenu>
                   </Dropdown>

                   <Dropdown AutoClose>
                       <DropdownButton>LeftEnd</DropdownButton>
                       <DropdownMenu Placement="DropdownPlacements.LeftEnd">
                           <DropdownItem Href="/previews/content-manager">Content Manager</DropdownItem>
                           <DropdownItem Href="/previews/content-type-builder">Content Type Builder</DropdownItem>
                           <DropdownItem Href="/previews/components">Components</DropdownItem>
                           <DropdownItem OnClick="() => DropdownCounter += 1">Increment (@DropdownCounter)</DropdownItem>
                       </DropdownMenu>
                   </Dropdown>

                   <Dropdown AutoClose>
                       <DropdownButton>Right</DropdownButton>
                       <DropdownMenu Placement="DropdownPlacements.Right">
                           <DropdownItem Href="/previews/content-manager">Content Manager</DropdownItem>
                           <DropdownItem Href="/previews/content-type-builder">Content Type Builder</DropdownItem>
                           <DropdownItem Href="/previews/components">Components</DropdownItem>
                           <DropdownItem OnClick="() => DropdownCounter += 1">Increment (@DropdownCounter)</DropdownItem>
                       </DropdownMenu>
                   </Dropdown>

                   <Dropdown AutoClose>
                       <DropdownButton>RightEnd</DropdownButton>
                       <DropdownMenu Placement="DropdownPlacements.RightEnd">
                           <DropdownItem Href="/previews/content-manager">Content Manager</DropdownItem>
                           <DropdownItem Href="/previews/content-type-builder">Content Type Builder</DropdownItem>
                           <DropdownItem Href="/previews/components">Components</DropdownItem>
                           <DropdownItem OnClick="() => DropdownCounter += 1">Increment (@DropdownCounter)</DropdownItem>
                       </DropdownMenu>
                   </Dropdown>
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Custom Content">
            <ChildContent>
               <Dropdown AutoClose>
                   <DropdownButton Color="Colors.Warning">Filters</DropdownButton>
                   <DropdownMenu Placement="DropdownPlacements.TopStart" Class="custom-dropdown-menu">
                       <div class="p-4 flex flex-col gap-4">
                           <Input placeholder="Search..." Icon=IconNames.Search/>
                           <ButtonGroup>
                               <Button Outline Color="Colors.Primary">First</Button>
                               <Button Outline Color="Colors.Primary">Second</Button>
                               <Button Outline Color="Colors.Primary">Third</Button>
                               <Button Color="Colors.Primary">Search</Button>
                           </ButtonGroup>
                       </div>
                   </DropdownMenu>
               </Dropdown>
            </ChildContent>
        </Preview>
    </PageBody>
</Page>

@code {
    private int DropdownCounter { get; set; } = 0;
}

