@page "/previews/components/grid"
@rendermode InteractiveServer
@layout ComponentsLayout

<Page>
    <PageHeader HasBack Title="Grids" />

    <PageBody>
        <Preview Title="Default">
            <Description></Description>
            <ChildContent>
                <div>
                    <Grid>
                        <GridItem Small=GridItemColumns.Twelve Medium=GridItemColumns.Six Large=GridItemColumns.Three>
                            <Card><CardBody>Small=12 Medium=6 Large=3</CardBody></Card>
                        </GridItem>
                        <GridItem Small=GridItemColumns.Twelve Medium=GridItemColumns.Six Large=GridItemColumns.Three>
                            <Card><CardBody>Small=12 Medium=6 Large=3</CardBody></Card>
                        </GridItem>
                        <GridItem Small=GridItemColumns.Twelve Medium=GridItemColumns.Six Large=GridItemColumns.Three>
                            <Card><CardBody>Small=12 Medium=6 Large=3</CardBody></Card>
                        </GridItem>
                        <GridItem Small=GridItemColumns.Twelve Medium=GridItemColumns.Six Large=GridItemColumns.Three>
                            <Card><CardBody>Small=12 Medium=6 Large=3</CardBody></Card>
                        </GridItem>
                    </Grid>
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Auto Sizing">
            <Description></Description>
            <ChildContent>
                <div>
                    <Grid>
                        <GridItem Small=GridItemColumns.Auto Large=GridItemColumns.Two>
                            <Card><CardBody>Small=Auto Large=2</CardBody></Card>
                        </GridItem>
                        <GridItem Small=GridItemColumns.Grow>
                            <Card><CardBody>Small=Grow</CardBody></Card>
                        </GridItem>
                        <GridItem Small=GridItemColumns.Twelve Large=GridItemColumns.Two>
                            <Card><CardBody>Small=12 Large=2</CardBody></Card>
                        </GridItem>
                    </Grid>
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Gutter">
            <Description></Description>
            <ChildContent>
                <div>
                    <Grid Gutter=GridGutters.Large>
                        <GridItem Small=GridItemColumns.Twelve Medium=GridItemColumns.Six Large=GridItemColumns.Five>
                            <Card><CardBody>Small=12 Medium=6 Large=5</CardBody></Card>
                        </GridItem>
                        <GridItem Small=GridItemColumns.Twelve Medium=GridItemColumns.Six Large=GridItemColumns.Four>
                            <Card><CardBody>Small=12 Medium=6 Large=4</CardBody></Card>
                        </GridItem>
                        <GridItem Small=GridItemColumns.Twelve Medium=GridItemColumns.Seven Large=GridItemColumns.Three>
                            <Card><CardBody>Small=12 Medium=7 Large=3</CardBody></Card>
                        </GridItem>
                        <GridItem Small=GridItemColumns.Twelve Medium=GridItemColumns.Five Large=GridItemColumns.Three>
                            <Card><CardBody>Small=12 Medium=5 Large=3</CardBody></Card>
                        </GridItem>
                        <GridItem Small=GridItemColumns.Twelve Medium=GridItemColumns.Five Large=GridItemColumns.Four>
                            <Card><CardBody>Small=12 Medium=5 Large=4</CardBody></Card>
                        </GridItem>
                        <GridItem Small=GridItemColumns.Twelve Medium=GridItemColumns.Seven Large=GridItemColumns.Five>
                            <Card><CardBody>Small=12 Medium=7 Large=5</CardBody></Card>
                        </GridItem>
                    </Grid>
                 </div>
            </ChildContent>
        </Preview>

        <Preview Title="Align Items">
            <Description></Description>
            <ChildContent>
                <div>
                    <Grid ItemsSmall=GridItems.Center style="height: 20rem;">
                        <GridItem Small=GridItemColumns.Six>
                            <Card><CardBody>Item</CardBody></Card>
                        </GridItem>
                        <GridItem Small=GridItemColumns.Three>
                            <Card><CardBody>Item</CardBody></Card>
                        </GridItem>
                        <GridItem Small=GridItemColumns.Three>
                            <Card><CardBody>Item</CardBody></Card>
                        </GridItem>
                        <GridItem Small=GridItemColumns.Three>
                            <Card><CardBody>Item</CardBody></Card>
                        </GridItem>
                        <GridItem Small=GridItemColumns.Three>
                            <Card><CardBody>Item</CardBody></Card>
                        </GridItem>
                        <GridItem Small=GridItemColumns.Grow>
                            <Card><CardBody>Item</CardBody></Card>
                        </GridItem>
                    </Grid>
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Justify">
            <Description></Description>
            <ChildContent>
                <div>
                    <Grid JustifySmall=GridJustifies.Center>
                        <GridItem Small=GridItemColumns.Two>
                            <Card><CardBody>Item</CardBody></Card>
                        </GridItem>
                        <GridItem Small=GridItemColumns.Two>
                            <Card><CardBody>Item</CardBody></Card>
                        </GridItem>
                        <GridItem Small=GridItemColumns.Two>
                            <Card><CardBody>Item</CardBody></Card>
                        </GridItem>
                    </Grid>
                </div>
            </ChildContent>
        </Preview>
    </PageBody>
</Page>
