@page "/previews/components/icon"
@layout ComponentsLayout
@rendermode InteractiveServer

<Page>
    <PageHeader HasBack Title="Icons"/>

    <PageBody>
        <Preview Title="Default">
            <ChildContent>
                <div class="flex gap-4">
                    <Icon Name="IconNameEnum.InformationFilled" />
                    <Icon Name="IconNameEnum.Plus" />
                    <Icon Name="IconNameEnum.Delete" />
                    <Icon Name="IconNameEnum.Search" />
                    <Icon Name="IconNameEnum.Next" />
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Color">
            <ChildContent>
                <div class="flex gap-4">
                    <Icon Name="IconNameEnum.InformationFilled" />
                    <Icon Color="ColorEnum.Primary" Name="IconNameEnum.InformationFilled" />
                    <Icon Color="ColorEnum.Secondary" Name="IconNameEnum.InformationFilled" />
                    <Icon Color="ColorEnum.Success" Name="IconNameEnum.InformationFilled" />
                    <Icon Color="ColorEnum.Danger" Name="IconNameEnum.InformationFilled" />
                    <Icon Color="ColorEnum.Info" Name="IconNameEnum.InformationFilled" />
                    <Icon Color="ColorEnum.Warning" Name="IconNameEnum.InformationFilled" />
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Size">
            <ChildContent>
                <div class="flex gap-4">
                    <Icon Size="SizeEnum.Small" Name="IconNameEnum.InformationFilled" />
                    <Icon Size="SizeEnum.Medium" Name="IconNameEnum.InformationFilled" />
                    <Icon Size="SizeEnum.Large" Name="IconNameEnum.InformationFilled" />
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Size Based on text size">
            <ChildContent>
                <div class="flex flex-col gap-4">
                    <h1 class="text-4xl">
                        <Icon Name="IconNameEnum.InformationFilled" />
                        Heading 1
                    </h1>
                    <h2 class="text-3xl">
                        <Icon Name="IconNameEnum.InformationFilled" />
                        Heading 2
                    </h2>
                    <h3 class="text-2xl">
                        <Icon Name="IconNameEnum.InformationFilled" />
                        Heading 3
                    </h3>
                    <h4 class="text-xl">
                        <Icon Name="IconNameEnum.InformationFilled" />
                        Heading 4
                    </h4>
                    <p>
                        <Icon Name="IconNameEnum.InformationFilled" />
                        Paragraph
                    </p>
                </div>
            </ChildContent>
        </Preview>
    </PageBody>
</Page>
