@page "/previews/components/icon"
@layout ComponentsLayout
@rendermode InteractiveServer

<Page>
    <PageHeader HasBack Title="Icons"/>

    <PageBody>
        <Preview Title="Default">
            <ChildContent>
                <div class="flex gap-4">
                    <Icon Name="IconNames.InformationFilled" />
                    <Icon Name="IconNames.Plus" />
                    <Icon Name="IconNames.Delete" />
                    <Icon Name="IconNames.Search" />
                    <Icon Name="IconNames.Next" />
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Color">
            <ChildContent>
                <div class="flex gap-4">
                    <Icon Name="IconNames.InformationFilled" />
                    <Icon Color="Colors.Primary" Name="IconNames.InformationFilled" />
                    <Icon Color="Colors.Secondary" Name="IconNames.InformationFilled" />
                    <Icon Color="Colors.Success" Name="IconNames.InformationFilled" />
                    <Icon Color="Colors.Danger" Name="IconNames.InformationFilled" />
                    <Icon Color="Colors.Info" Name="IconNames.InformationFilled" />
                    <Icon Color="Colors.Warning" Name="IconNames.InformationFilled" />
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Size">
            <ChildContent>
                <div class="flex gap-4">
                    <Icon Size="Sizes.Small" Name="IconNames.InformationFilled" />
                    <Icon Size="Sizes.Medium" Name="IconNames.InformationFilled" />
                    <Icon Size="Sizes.Large" Name="IconNames.InformationFilled" />
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Size Based on text size">
            <ChildContent>
                <div class="flex flex-col gap-4">
                    <h1 class="text-4xl">
                        <Icon Name="IconNames.InformationFilled" />
                        Heading 1
                    </h1>
                    <h2 class="text-3xl">
                        <Icon Name="IconNames.InformationFilled" />
                        Heading 2
                    </h2>
                    <h3 class="text-2xl">
                        <Icon Name="IconNames.InformationFilled" />
                        Heading 3
                    </h3>
                    <h4 class="text-xl">
                        <Icon Name="IconNames.InformationFilled" />
                        Heading 4
                    </h4>
                    <p>
                        <Icon Name="IconNames.InformationFilled" />
                        Paragraph
                    </p>
                </div>
            </ChildContent>
        </Preview>
    </PageBody>
</Page>
