@page "/previews/components/input"
@layout ComponentsLayout;
@rendermode InteractiveServer

<Page>
    <PageHeader HasBack Title="Input" />

    <PageBody>
        <Preview Title="Default">
            <ChildContent>
                <Input />
            </ChildContent>
        </Preview>

        <Preview Title="Label">
            <ChildContent>
                <Input Label="Input"/>
            </ChildContent>
        </Preview>

        <Preview Title="Disabled">
            <ChildContent>
                <Input Label="Disabled Input" Disabled/>
            </ChildContent>
        </Preview>

        <Preview Title="Required">
            <ChildContent>
                <Input Label="Required Input" Required/>
            </ChildContent>
        </Preview>

        <Preview Title="Readonly">
            <ChildContent>
                <Input Label="Readonly Input" Readonly Value="Value"/>
            </ChildContent>
        </Preview>

        <Preview Title="Placeholder">
            <ChildContent>
                <Input Label="Placeholder Input" Placeholder="Type something..."/>
            </ChildContent>
        </Preview>

        <Preview Title="Icons">
            <ChildContent>
                <div class="flex flex-col">
                    <Input IconStart=@IconNames.InformationFilled Label="Start Icon" Placeholder="Type something..."/>
                    <Input IconEnd=@IconNames.Search  Label="End Icon" Placeholder="Type something..."/>
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Hint">
            <ChildContent>
                <div class="flex flex-col">
                    <Input Hint="This is info message" Label="Username" Placeholder="Type something..."/>
                    <Input Hint="This field is required!" State=FormFieldStates.Invalid Label="Email" Placeholder="Type something..."/>
                    <Input Hint="This field is okay!" State=FormFieldStates.Valid Label="Name" Placeholder="Type something..."/>
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Initial Value">
            <ChildContent>
                <div class="flex flex-col">
                    <Input @bind-Value=@Input1Value Label="Input 1"/>

                    <div class="w-full mx-auto">
                        <Badge Color="Colors.Primary">@Input1Value</Badge>
                    </div>
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Value Binding">
            <ChildContent>
                <div class="flex flex-col">
                    <Input @bind-Value=@InputValue Label="Input 1"/>
                    <Input @bind-Value=@InputValue Label="Input 2"/>
                </div>
            </ChildContent>
        </Preview>
    </PageBody>
</Page>

@code {
    private string Input1Value = "Initial";
    private string InputValue;

}
