@page "/previews/components/modal"
@layout ComponentsLayout
@rendermode InteractiveServer

<PageHeader HasBack Title="Modal"/>

<Preview Title="Default">
    <Description></Description>
    <ChildContent>
        <Grid ItemsSmall=GridItemsEnum.Center JustifySmall=GridJustifyEnum.Center>
            <GridItem>
                 <Button OnClick="() => Open1 = !Open1">
                    Open
                </Button>
                <Modal @bind-Open=@Open1>
                    <ModalHeader Title="Terms of Service" Closable=false />
                    <ModalBody>
                         With less than a month to go before the European Union enacts new consumer privacy laws for its
                         citizens, companies around the world are updating their terms of service agreements to comply.
                    </ModalBody>
                    <ModalFooter>
                        <ButtonGroup>
                            <Button Color=@ColorEnum.Primary>
                                I accept
                            </Button>
                            <Button>
                                Decline
                            </Button>
                        </ButtonGroup>
                    </ModalFooter>
                </Modal>
            </GridItem>
        </Grid>
    </ChildContent>
</Preview>

<Preview Title="Closable">
    <Description></Description>
    <ChildContent>
        <Grid ItemsSmall=GridItemsEnum.Center JustifySmall=GridJustifyEnum.Center>
            <GridItem>
                <Button OnClick="() => Open2 = !Open2">
                    Open
                </Button>
                <Modal @bind-Open=@Open2>
                    <ModalHeader Title="Terms of Service" Closable=true />
                    <ModalBody>
                         With less than a month to go before the European Union enacts new consumer privacy laws for its
                         citizens, companies around the world are updating their terms of service agreements to comply.
                    </ModalBody>
                    <ModalFooter>
                        <ButtonGroup>
                            <Button Color=@ColorEnum.Primary>
                                I accept
                            </Button>
                            <Button>
                                Decline
                            </Button>
                        </ButtonGroup>
                    </ModalFooter>
                </Modal>
            </GridItem>
        </Grid>
    </ChildContent>
</Preview>

<Preview Title="Size">
    <Description></Description>
    <ChildContent>
        <Grid ItemsSmall=GridItemsEnum.Center JustifySmall=GridJustifyEnum.Center>
            <GridItem>
                <Button OnClick="() => Open3 = !Open3">
                    Open
                </Button>
                <Modal @bind-Open=@Open3 Size=SizeEnum.Large>
                    <ModalHeader Title="Terms of Service" Closable=false />
                    <ModalBody>
                        With less than a month to go before the European Union enacts new consumer privacy laws for its
                        citizens, companies around the world are updating their terms of service agreements to comply.
                    </ModalBody>
                    <ModalFooter>
                        <ButtonGroup>
                            <Button Color=@ColorEnum.Primary>
                                I accept
                            </Button>
                            <Button>
                                Decline
                            </Button>
                        </ButtonGroup>
                    </ModalFooter>
                </Modal>
            </GridItem>
        </Grid>
    </ChildContent>
</Preview>

@code {
    private bool Open1 { get; set; }

    private bool Open2 { get; set; }

    private bool Open3 { get; set; }
}
