@page "/previews/components/modal"
@layout ComponentsLayout
@rendermode InteractiveServer

<PageHeader HasBack Title="Modal"/>
<div class="py-4 flex flex-col gap-4">
    <Button OnClick="() => ModalOpen = !ModalOpen">
        Open Modal
    </Button>
    <Modal @bind-Open=@ModalOpen>
        <ModalHeader Title="Terms of Service" Closable />
        <ModalBody>
            <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                With less than a month to go before the European Union enacts new consumer privacy laws for its
                citizens, companies around the world are updating their terms of service agreements to comply.
            </p>
        </ModalBody>
        <ModalFooter>
            <ButtonGroup>
                <Button Color=@ColorEnum.Primary>
                    I accept
                </Button>
                <Button>
                    Decline
                </Button>
            </ButtonGroup>
        </ModalFooter>
    </Modal>
</div>

@code {
    private bool ModalOpen { get; set; }
}
