@page "/previews/components/page-header"
@layout ComponentsLayout
@rendermode InteractiveServer

<Page>
    <PageHeader HasBack Title="PageHeader"/>

    <PageBody>
        <Preview Title="Default">
            <ChildContent> <PageHeader Title="Page Title"/>
            </ChildContent>
        </Preview>

        <Preview Title="Back button">
            <ChildContent>
                <PageHeader HasBack Title="Page Title"/>
            </ChildContent>
        </Preview>

        <Preview Title="Subtitle">
            <ChildContent>
                <div>
                    <PageHeader SubTitle="This is subtitle" Title="With SubTitle"/>


                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Actions">
            <ChildContent>
                <div>
                    <PageHeader SubTitle="This is subtitle" Title="With Actions">
                    <PageHeaderActions>
                        <Button Color="Colors.Primary">Create New Item</Button>
                    </PageHeaderActions>
                </PageHeader>
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Subtitle Slot">
            <ChildContent>
                <PageHeader Title="Subtitle slot">
                    <PageHeaderActions>
                        <Button Color="Colors.Primary">Create New Item</Button>
                    </PageHeaderActions>
                    <PageHeaderSubtitle>
                        This is subtitle&nbsp;<Icon Name="IconNames.InformationFilled"/>
                        <Tooltip Placement=TooltipPlacements.Bottom>This is some help text</Tooltip>
                    </PageHeaderSubtitle>
                </PageHeader>
            </ChildContent>
        </Preview>
    </PageBody>
</Page>
