@page "/previews/components/pagination"
@layout ComponentsLayout
@rendermode InteractiveServer

<PageHeader HasBack Title="Pagination"/>

<div class="py-4 flex flex-col gap-4">
    <Pagination Total="10" Current="5"></Pagination>
    <Pagination Total="10" Current="5" ShowIcons></Pagination>
</div>

