@page "/previews/components/radio"
@layout ComponentsLayout
@rendermode InteractiveServer

<PageHeader HasBack Title="Radio"/>
<div>
    <Radio />
    <div class="h-10"></div>
    <Radio Value/>
    <div class="h-10"></div>
    <Radio Label="Label"/>
    <div class="h-10"></div>
    <Radio Label="Description" Hint="This is description"/>
    <div class="h-10"></div>
    <Radio Label="Invalid" Hint="This is required" State="FormFieldStateEnum.Invalid"/>
    <div class="h-10"></div>
    <Radio Label="Valid" Hint="This is okay" State="FormFieldStateEnum.Valid"/>

    <div class="h-10"></div>
    add example for Binding value

</div>
