@page "/previews/components/select"
@layout ComponentsLayout;
@rendermode InteractiveServer

<Page>
    <PageHeader HasBack Title="Select"/>

    <PageBody>
        <Preview Title="Default">
            <ChildContent>
                <Select>
                    <Option>One</Option>
                    <Option>Two</Option>
                    <Option>Three</Option>
                </Select>
            </ChildContent>
        </Preview>

        <Preview Title="Label">
            <ChildContent>
                <Select Label="Select">
                    <Option>One</Option>
                    <Option>Two</Option>
                    <Option>Three</Option>
                </Select>
            </ChildContent>
        </Preview>

        <Preview Title="Disabled">
            <ChildContent>
                <Select Disabled Label="Disabled" Value="2">
                    <Option Value="1">One</Option>
                    <Option Value="2">Two</Option>
                    <Option Value="3">Three</Option>
                </Select>
            </ChildContent>
        </Preview>

        <Preview Title="Required">
            <ChildContent>
                <Select Required Label="Required">
                    <Option>One</Option>
                    <Option>Two</Option>
                    <Option>Three</Option>
                </Select>
            </ChildContent>
        </Preview>

        <Preview Title="Readonly">
            <ChildContent>
                <Select Readonly Label="Readonly" Value="2">
                    <Option Value="1">One</Option>
                    <Option Value="2">Two</Option>
                    <Option Value="3">Three</Option>
                </Select>
            </ChildContent>
        </Preview>

        <Preview Title="Placeholder">
            <ChildContent>
                <Select Label="Placeholder" Placeholder="Choose an option" Value="2">
                    <Option Value="1">One</Option>
                    <Option Value="2">Two</Option>
                    <Option Value="3">Three</Option>
                </Select>
            </ChildContent>
        </Preview>

        <Preview Title="Icon">
            <ChildContent>
                <div class="flex flex-col">
                    <Select IconStart="IconNames.Search" Label="Select Icon Start">
                        <Option>One</Option>
                        <Option>Two</Option>
                        <Option>Three</Option>
                    </Select>
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Hint">
            <ChildContent>
                <div class="flex flex-col">
                    <Select Label="Hint" Hint="Some description here...">
                        <Option>One</Option>
                        <Option>Two</Option>
                        <Option>Three</Option>
                    </Select>

                    <Select State="FormFieldStates.Invalid" Label="Invalid" Hint="Something went wrong...">
                        <Option>One</Option>
                        <Option>Two</Option>
                        <Option>Three</Option>
                    </Select>

                    <Select State="FormFieldStates.Valid" Label="Valid" Hint="Everything is okay!">
                        <Option>One</Option>
                        <Option>Two</Option>
                        <Option>Three</Option>
                    </Select>
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Initial Value">
            <ChildContent>
                <div class="flex flex-col">
                    <Select @bind-Value=@Select1Value Label="Select">
                        <Option Value="1">One</Option>
                        <Option Value="2">Two</Option>
                        <Option Value="3">Three</Option>
                    </Select>

                    <div class="w-full mx-auto">
                        <Badge Color="Colors.Primary">@Select1Value</Badge>
                    </div>
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Value Binding">
            <ChildContent>
                <div class="flex flex-col">
                    <Select @bind-Value=@SelectValue Label="Select 1">
                        <Option Value="1">One</Option>
                        <Option Value="2">Two</Option>
                        <Option Value="3">Three</Option>
                    </Select>

                    <Select @bind-Value=@SelectValue Label="Select 2">
                        <Option Value="1">One</Option>
                        <Option Value="2">Two</Option>
                        <Option Value="3">Three</Option>
                    </Select>
                </div>
            </ChildContent>
        </Preview>
    </PageBody>
</Page>

@code {
    private string Select1Value = "2";
    private string SelectValue;
}
