@page "/previews/components/switch"
@layout ComponentsLayout
@rendermode InteractiveServer

<Page>
    <PageHeader HasBack Title="Switch"/>

    <PageBody>
        <Preview Title="Default">
            <ChildContent>
                <Switch />
            </ChildContent>
        </Preview>

        <Preview Title="Label">
            <ChildContent>
                <Switch Label="Switch"/>
            </ChildContent>
        </Preview>

        <Preview Title="Checked">
            <Description>
                When Value is true, checkbox is in checked state.
            </Description>
            <ChildContent>
                <Switch Value Label="Checked"/>
            </ChildContent>
        </Preview>

        <Preview Title="Dense">
            <Description>
                Removes space from bottom of element
            </Description>
            <ChildContent>
                <div class="flex flex-col">
                    <Switch Dense Label="Unchecked"/>
                    <Switch Dense Value Label="Checked"/>
                </div>
            </ChildContent>
        </Preview>
        <Preview Title="Disabled">
            <ChildContent>
                <div class="flex flex-col">
                    <Switch Disabled Label="Unchecked"/>
                    <Switch Disabled Value Label="Checked"/>
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Inline">
            <ChildContent>
                <div>
                    <Switch Label="Unchecked"/>
                    <Switch Value Label="Checked"/>
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Description">
            <ChildContent>
                <div>
                    <Switch Label="Description" Hint="This is description"/>
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Validation">
            <ChildContent>
                <div>
                    <Switch Label="Invalid" Hint="This is required" State="FormFieldStates.Invalid"/>
                    <Switch Label="Valid" Hint="This is okay" State="FormFieldStates.Valid"/>
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Initial">
            <ChildContent>
                <div>
                    <Switch Label="Initial Value" @bind-Value=@Switch1Value />
                    <div>
                        <Badge Color=@(Switch1Value ? Colors.Success : Colors.Danger)>@Switch1Value</Badge>
                    </div>
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Bind Value">
            <ChildContent>
                <div>
                    <Switch Label="Switch 1" @bind-Value=@Switch2Value />
                    <Switch Label="Switch 2" @bind-Value=@Switch2Value />
                </div>
            </ChildContent>
        </Preview>
    </PageBody>
</Page>

@code {
    private bool Switch1Value;
    private bool Switch2Value;
}
