@page "/previews/components/textarea"
@layout ComponentsLayout;
@rendermode InteractiveServer

<Page>
    <PageHeader HasBack Title="Textarea"/>

    <PageBody>
        <Preview Title="Default">
            <ChildContent>
                <Textarea />
            </ChildContent>
        </Preview>

        <Preview Title="Label">
            <ChildContent>
                <Textarea Label="Textarea"/>
            </ChildContent>
        </Preview>

        <Preview Title="Disabled">
            <ChildContent>
                <Textarea Label="Disabled Textarea" Disabled/>
            </ChildContent>
        </Preview>

        <Preview Title="Required">
            <ChildContent>
                <Textarea Label="Required Textarea" Required/>
            </ChildContent>
        </Preview>

        <Preview Title="Readonly">
            <ChildContent>
                <Textarea Label="Readonly Textarea" Readonly Value="Value"/>
            </ChildContent>
        </Preview>

        <Preview Title="Placeholder">
            <ChildContent>
                <Textarea Label="Placeholder Textarea" Placeholder="Type something..."/>
            </ChildContent>
        </Preview>

        <Preview Title="Icons">
            <ChildContent>
                <div class="flex flex-col">
                    <Textarea IconStart=@IconNameEnum.InformationFilled Label="Start Icon" Placeholder="Type something..."/>
                    <Textarea IconEnd=@IconNameEnum.Search  Label="End Icon" Placeholder="Type something..."/>
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Rows">
            <ChildContent>
                <div class="flex flex-col">
                    <Textarea Label="Textarea Rows" Rows=20/>
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Hint">
            <ChildContent>
                <div class="flex flex-col">
                    <Textarea Hint="This is info message" Label="Username" Placeholder="Type something..."/>
                    <Textarea Hint="This field is required!" State=FormFieldStateEnum.Invalid Label="Email" Placeholder="Type something..."/>
                    <Textarea Hint="This field is okay!" State=FormFieldStateEnum.Valid Label="Name" Placeholder="Type something..."/>
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Initial Value">
            <ChildContent>
                <div class="flex flex-col">
                    <Textarea @bind-Value=@Textarea1Value Label="Textarea"/>

                    <div class="w-full mx-auto">
                        <Badge Color="ColorEnum.Primary">@Textarea1Value</Badge>
                    </div>
                </div>
            </ChildContent>
        </Preview>

        <Preview Title="Value Binding">
            <ChildContent>
                <div class="flex flex-col">
                    <Textarea @bind-Value=@TextareaValue Label="Textarea 1"/>
                    <Textarea @bind-Value=@TextareaValue Label="Textarea 2"/>
                </div>
            </ChildContent>
        </Preview>
    </PageBody>
</Page>

@code {
    private string Textarea1Value = "Initial";
    private string TextareaValue;
}

