@page "/previews/components/tooltip"
@layout ComponentsLayout
@rendermode InteractiveServer

<Page>
    <PageHeader HasBack Title="Tooltip"/>

    <PageBody>
        <Preview Title="Default">
            <ChildContent>
                <Grid Class="p-16" ItemsSmall="GridItems.Center" JustifySmall="GridJustifies.Center">
                    <GridItem>
                        <Button Color=Colors.Danger>
                            <Icon Name="IconNames.Delete"/>
                        </Button>
                        <Tooltip Placement=TooltipPlacements.Top>
                            Delete current Item
                        </Tooltip>
                    </GridItem>
                </Grid>
            </ChildContent>
        </Preview>

        <Preview Title="Placements - Top">
            <ChildContent>
                <Grid Class="p-16" Gutter=GridGutters.Large ItemsSmall="GridItems.Center" JustifySmall="GridJustifies.Center">
                    <GridItem>
                        <Button>Tooltip Top</Button>
                        <Tooltip Placement="TooltipPlacements.Top">
                            Tooltip Content
                        </Tooltip>
                    </GridItem>
                    <GridItem>
                        <Button>Tooltip TopStart</Button>
                        <Tooltip Placement="TooltipPlacements.TopStart">
                            Tooltip Content
                        </Tooltip>
                    </GridItem>
                    <GridItem>
                        <Button>Tooltip TopEnd</Button>
                        <Tooltip Placement="TooltipPlacements.TopEnd">
                            Tooltip Content
                        </Tooltip>
                    </GridItem>
                </Grid>
            </ChildContent>
        </Preview>

        <Preview Title="Placements - Left">
            <ChildContent>
                <Grid Class="p-16" Gutter=GridGutters.Large ItemsSmall="GridItems.Center" JustifySmall="GridJustifies.Center">
                    <GridItem>
                        <Button>Tooltip Left</Button>
                        <Tooltip Placement="TooltipPlacements.Left">
                            Tooltip Content
                        </Tooltip>
                    </GridItem>
                    <GridItem>
                        <Button>Tooltip LeftStart</Button>
                        <Tooltip Placement="TooltipPlacements.LeftStart">
                            Tooltip Content
                        </Tooltip>
                    </GridItem>
                    <GridItem>
                        <Button>Tooltip LeftEnd</Button>
                        <Tooltip Placement="TooltipPlacements.LeftEnd">
                            Tooltip Content
                        </Tooltip>
                    </GridItem>
                </Grid>
            </ChildContent>
        </Preview>

        <Preview Title="Placements - Bottom">
            <ChildContent>
                <Grid Class="p-16" Gutter=GridGutters.Large ItemsSmall="GridItems.Center" JustifySmall="GridJustifies.Center">
                    <GridItem>
                        <Button>Tooltip Bottom</Button>
                        <Tooltip Placement="TooltipPlacements.Bottom">
                            Tooltip Content
                        </Tooltip>
                    </GridItem>
                    <GridItem>
                        <Button>Tooltip BottomStart</Button>
                        <Tooltip Placement="TooltipPlacements.BottomStart">
                            Tooltip Content
                        </Tooltip>
                    </GridItem>
                    <GridItem>
                        <Button>Tooltip BottomEnd</Button>
                        <Tooltip Placement="TooltipPlacements.BottomEnd">
                            Tooltip Content
                        </Tooltip>
                    </GridItem>
                </Grid>
            </ChildContent>
        </Preview>

        <Preview Title="Placements - Right">
            <ChildContent>
                <Grid Class="p-16" Gutter=GridGutters.Large ItemsSmall="GridItems.Center" JustifySmall="GridJustifies.Center">
                    <GridItem>
                        <Button>Tooltip Right</Button>
                        <Tooltip Placement="TooltipPlacements.Right">
                            Tooltip Content
                        </Tooltip>
                    </GridItem>
                    <GridItem>
                        <Button>Tooltip RightStart</Button>
                        <Tooltip Placement="TooltipPlacements.RightStart">
                            Tooltip Content
                        </Tooltip>
                    </GridItem>
                    <GridItem>
                        <Button>Tooltip RightEnd</Button>
                        <Tooltip Placement="TooltipPlacements.RightEnd">
                            Tooltip Content
                        </Tooltip>
                    </GridItem>
                </Grid>
            </ChildContent>
        </Preview>
    </PageBody>
</Page>
