@page "/previews/components/tooltip"
@layout ComponentsLayout
@rendermode InteractiveServer

<PageHeader HasBack Title="Tooltip"/>

<div class="flex">
    <div class="p-12">
        <Button>Tooltip Top</Button>
        <Tooltip Placement="TooltipPlacementEnum.Top">
            Tooltip Content
        </Tooltip>
    </div>

    <div class="p-12">
        <Button>Tooltip TopStart</Button>
        <Tooltip Placement="TooltipPlacementEnum.TopStart">
            Tooltip Content
        </Tooltip>
    </div>

    <div class="p-12">
        <Button>Tooltip TopEnd</Button>
        <Tooltip Placement="TooltipPlacementEnum.TopEnd">
            Tooltip Content
        </Tooltip>
    </div>
</div>

<div class="flex">
    <div class="p-12">
        <Button>Tooltip Bottom</Button>
        <Tooltip Placement="TooltipPlacementEnum.Bottom">
            Tooltip Content
        </Tooltip>
    </div>

    <div class="p-12">
        <Button>Tooltip BottomStart</Button>
        <Tooltip Placement="TooltipPlacementEnum.BottomStart">
            Tooltip Content
        </Tooltip>
    </div>

    <div class="p-12">
        <Button>Tooltip BottomEnd</Button>
        <Tooltip Placement="TooltipPlacementEnum.BottomEnd">
            Tooltip Content
        </Tooltip>
    </div>
</div>

<div class="flex">
    <div class="p-12">
        <Button>Tooltip Left</Button>
        <Tooltip Placement="TooltipPlacementEnum.Left">
            Tooltip Content
        </Tooltip>
    </div>

    <div class="p-12">
        <Button>Tooltip LeftStart</Button>
        <Tooltip Placement="TooltipPlacementEnum.LeftStart">
            Tooltip Content
        </Tooltip>
    </div>

    <div class="p-12">
        <Button>Tooltip LeftEnd</Button>
        <Tooltip Placement="TooltipPlacementEnum.LeftEnd">
            Tooltip Content
        </Tooltip>
    </div>
</div>

<div class="flex">
    <div class="p-12">
        <Button>Tooltip Right</Button>
        <Tooltip Placement="TooltipPlacementEnum.Right">
            Tooltip Content
        </Tooltip>
    </div>

    <div class="p-12">
        <Button>Tooltip RightStart</Button>
        <Tooltip Placement="TooltipPlacementEnum.RightStart">
            Tooltip Content
        </Tooltip>
    </div>

    <div class="p-12">
        <Button>Tooltip RightEnd</Button>
        <Tooltip Placement="TooltipPlacementEnum.RightEnd">
            Tooltip Content
        </Tooltip>
    </div>
</div>
