@page "/previews/components/tooltip"
@layout ComponentsLayout
@rendermode InteractiveServer

<PageHeader HasBack Title="Tooltip"/>

<Preview Title="Default">
    <ChildContent>
        <div class="flex items-center justify-center gap-12 p-16">
            <Button Color=ColorEnum.Danger>
                <Icon Name="IconNameEnum.Delete"/>
            </Button>
            <Tooltip Placement=TooltipPlacementEnum.Top>
                Delete current Item
            </Tooltip>
        </div>
    </ChildContent>
</Preview>

<Preview Title="Placements - Top">
    <ChildContent>
        <div class="flex gap-12 p-16">
            <Button>Tooltip Top</Button>
            <Tooltip Placement="TooltipPlacementEnum.Top">
                Tooltip Content
            </Tooltip>

            <Button>Tooltip TopStart</Button>
            <Tooltip Placement="TooltipPlacementEnum.TopStart">
                Tooltip Content
            </Tooltip>

            <Button>Tooltip TopEnd</Button>
            <Tooltip Placement="TooltipPlacementEnum.TopEnd">
                Tooltip Content
            </Tooltip>
        </div>
    </ChildContent>
</Preview>

<Preview Title="Placements - Left">
    <ChildContent>
        <div class="flex flex-col items-end gap-12 p-16">
            <Button>Tooltip Left</Button>
            <Tooltip Placement="TooltipPlacementEnum.Left">
                Tooltip Content
            </Tooltip>

            <Button>Tooltip LeftStart</Button>
            <Tooltip Placement="TooltipPlacementEnum.LeftStart">
                Tooltip Content
            </Tooltip>

            <Button>Tooltip LeftEnd</Button>
            <Tooltip Placement="TooltipPlacementEnum.LeftEnd">
                Tooltip Content
            </Tooltip>
        </div>
    </ChildContent>
</Preview>

<Preview Title="Placements - Bottom">
    <ChildContent>
        <div class="flex gap-12 p-16">
            <Button>Tooltip Bottom</Button>
            <Tooltip Placement="TooltipPlacementEnum.Bottom">
                Tooltip Content
            </Tooltip>

            <Button>Tooltip BottomStart</Button>
            <Tooltip Placement="TooltipPlacementEnum.BottomStart">
                Tooltip Content
            </Tooltip>

            <Button>Tooltip BottomEnd</Button>
            <Tooltip Placement="TooltipPlacementEnum.BottomEnd">
                Tooltip Content
            </Tooltip>
        </div>
    </ChildContent>
</Preview>

<Preview Title="Placements - Right">
    <ChildContent>
        <div class="flex flex-col items-start gap-12 p-16">
            <Button>Tooltip Right</Button>
            <Tooltip Placement="TooltipPlacementEnum.Right">
                Tooltip Content
            </Tooltip>

            <Button>Tooltip RightStart</Button>
            <Tooltip Placement="TooltipPlacementEnum.RightStart">
                Tooltip Content
            </Tooltip>

            <Button>Tooltip RightEnd</Button>
            <Tooltip Placement="TooltipPlacementEnum.RightEnd">
                Tooltip Content
            </Tooltip>
        </div>
    </ChildContent>
</Preview>
