@inject IJSRuntime JS
@inherits BaseComponent
@implements IDisposable

<div @ref="element"
     class="@this.GetClasses()"
     role="tooltip">
    @ChildContent
    <div class="@this.ClassName("TooltipArrow")"></div>
</div>

@code {
    public ElementReference element;

    private IJSObjectReference module = default!;

    [Parameter]
    public ElementReference target { get; set; }

    [Parameter]
    public TooltipPlacementEnum Placement { get; set; } = TooltipPlacementEnum.Default;

    public void Dispose()
    {
        module.InvokeVoidAsync("dispose", DotNetObjectReference.Create(this), element);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        module = await JS.InvokeAsync<IJSObjectReference>("import", "./Components/Core/Tooltip/Tooltip.razor.js");

        await module.InvokeVoidAsync("initialize", DotNetObjectReference.Create(this), target, element, new { Placement = Placement.ToString().FromPascalCaseToKebabCase() });
    }
}
