@using FluentCMS.Shared
@using System.Text.Json
@namespace FluentCMS.Web.UI.Plugins.ContentTypeManagement.ContentTypeFields

<Grid GutterX="GridGutter.Large">
    <GridItem Small="GridItemColumn.Twelve"
              Medium="GridItemColumn.Six">
        <FieldName />
    </GridItem>
    <GridItem Small="GridItemColumn.Twelve"
              Medium="GridItemColumn.Six">
        <Select Label="Type"
                Placeholder="Choose Boolean type..."
                Value="@(Model.GetValue<int>("Type"))"
                ValueChanged="@((int value) => Model.SetValue<int>("Type", value))">
            <Option Value="0">
                Checkbox
            </Option>
            <Option Value="1">
                Switch
            </Option>
        </Select>
    </GridItem>
</Grid>

@code {
    [CascadingParameter]
    public ContentTypeFieldResponse Model { get; set; }

}
