@namespace FluentCMS.Web.UI.Plugins.ContentTypeManagement.ContentTypeFields

<Grid GutterX="GridGutter.Large">
    <GridItem Small="GridItemColumn.Twelve"
              Medium="GridItemColumn.Six">
        <FieldName />
    </GridItem>
    <GridItem Small="GridItemColumn.Twelve"
              Medium="GridItemColumn.Six">
        <Select Label="Type"
                Name="TODO"
                Value="@("")">
            <Option>
                Checkbox
            </Option>
            <Option>
                Switch
            </Option>
        </Select>
    </GridItem>
</Grid>

@code {
    [CascadingParameter]
    public ContentTypeField Model { get; set; }
}
