@namespace FluentCMS.Web.UI.Plugins.ContentTypeManagement.ContentTypeFields

<Grid GutterX="GridGutter.Large">
    <GridItem Small="GridItemColumn.Twelve"
              Medium="GridItemColumn.Six">
        <Select Label="Default Value"
                Name="DefaultValue"
                Value="@((Decimal?)Model.DefaultValue)"
                ValueChanged="@((Decimal? value) => Model.DefaultValue = value)">
            <Option Value="0">
                null
            </Option>
            <Option Value="1">
                false
            </Option>
            <Option Value="2">
                true
            </Option>
        </Select>
    </GridItem>
</Grid>

<FieldAdvancedSettings Range="false"
                       Unique="false" />

@code {
    [CascadingParameter]
    public ContentTypeFieldResponse Model { get; set; }
}
