$prefix-checkbox: $prefix + "checkbox";

.#{$prefix-checkbox} {
    @apply w-4 h-4 border-gray-300 rounded bg-gray-50;
    border-radius: 4px !important;

    &:disabled {
        @apply opacity-50;
    }
    &:focus {
        @apply ring-4 ring-blue-300;
    }

	&-state-default {
		@apply bg-gray-50 border-gray-300 text-blue-600;

		&:focus {
			@apply ring-blue-500 border-blue-500;
		}

		.#{$prefix-theme-dark} & {
			@apply bg-gray-700 ring-offset-gray-800 border-gray-600 placeholder-gray-400;
		}

		.#{$prefix-theme-dark} &:focus {
			@apply ring-blue-500 border-blue-500;
		}
	}

	&-state-valid {
		@apply bg-green-50 border-green-500 text-green-900 placeholder-green-700;

		&:focus {
			@apply ring-green-500 border-green-500;
		}

		.#{$prefix-theme-dark} & {
			@apply text-green-400 ring-offset-gray-800 bg-gray-700 border-green-500 placeholder-green-500;
		}

		.#{$prefix-theme-dark} &:focus {
			@apply ring-green-500 border-green-500;
		}

	}

	&-state-invalid {
		@apply bg-red-50 border-red-500 text-red-900 ring-offset-gray-800 placeholder-red-700;

		&:focus {
			@apply ring-red-500 border-red-500;
		}

		.#{$prefix-theme-dark} & {
			@apply text-red-400 bg-gray-700 border-red-500 placeholder-red-500;
		}

		.#{$prefix-theme-dark} &:focus {
			@apply ring-red-500 border-red-500;
		}
	}
}
