$prefix-label: $prefix + 'form-label';
$prefix-form-field: $prefix + 'form-field';

.#{$prefix-form-field} {
    @apply mb-6;

    &-group {
        @apply relative;
    }

    &-has-icon-true {
        @apply ps-10;
    }

    &-icon-wrapper {
        @apply absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none;
    }

	&-hint {
		@apply mt-2 text-sm;

		&-state-default {
			@apply text-gray-500;
			.#{$prefix-theme-dark} & {
				@apply text-gray-400;
			}
		}

		&-state-valid {
			@apply text-green-600;
			.#{$prefix-theme-dark} & {
				@apply text-green-500;
			}
		}

		&-state-invalid {
			@apply text-red-600;
			.#{$prefix-theme-dark} & {
				@apply text-red-500;
			}
		}
	}
}

.#{$prefix-label} {
    @apply block mb-2 text-sm font-medium text-gray-900;

	&-state-default {
		@apply text-gray-900;
		.#{$prefix-theme-dark} & {
			@apply text-white;
		}
	}

	&-state-valid {
		@apply text-green-700;
		.#{$prefix-theme-dark} & {
			@apply text-green-500;
		}
	}

	&-state-invalid {
		@apply text-red-700;
		.#{$prefix-theme-dark} & {
			@apply text-red-500;
		}
	}
	&-required-true::after {
		content: "*";
		@apply ms-1 text-red-500;
	}
}
