$prefix-label: $prefix + 'form-label';
$prefix-form-field: $prefix + 'form-field';

.#{$prefix-form-field} {
    @apply mb-6;

    &-group {
        @apply relative;
    }

    &-has-icon-true {
        @apply ps-10;
    }

    &-icon-wrapper {
        @apply absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none;
    }

}

.#{$prefix-label} {
    @apply block mb-2 text-sm font-medium text-gray-900;

	&-required-true::after {
		content: "*";
		@apply ms-1 text-red-500;


	}
    .#{$prefix-theme-dark} & {
        @apply text-white;
    }
}
