@use "sass:math";

$prefix-grid: $prefix + "grid";
$prefix-grid-item: $prefix + "grid-item";

$grid-column-width: math.div(100%, 12);

$grid-breakpoint: ( small: 0, medium: 768px, large: 1200px );

$grid-items: ( start, end, center, baseline, stretch);

$grid-gutter: ( small: 0.25em, medium: 0.5em, large: 1em );

$grid-justify: ( normal, start, end, center, between, around, evenly, stretch);

$grid-item-column: ( one: 1, two: 2, three: 3, four: 4, five: 5, six: 6, seven: 7, eight: 8, nine: 9, ten: 10, eleven: 11, twelve: 12 );

.#{$prefix-grid} {
    --grid-gutter-x: 0;
    --grid-gutter-y: 0;

    @each $gutter, $value in $grid-gutter {
        @each $key in (x, y) {
            &-gutter-#{$gutter} {
                --grid-gutter-#{$key}: #{$value};
            }
        }
    }

    @each $gutter, $value in $grid-gutter {
        @each $key in (x, y) {
            &-gutter-#{$key}-#{$gutter} {
                --grid-gutter-#{$key}: #{$value};
            }
        }
    }

    & > div {
        @apply flex flex-wrap h-full -mt-[var(--grid-gutter-y)] -ms-[var(--grid-gutter-x)];

        & > .#{$prefix-grid-item} {
            @apply pt-[var(--grid-gutter-y)] ps-[var(--grid-gutter-x)];
        }


    }
}

@each $breakpoint, $value in $grid-breakpoint {
    @media (min-width: $value) {
        @each $key in $grid-items {
            .#{$prefix-grid}-items-#{$breakpoint}-#{$key} > div {
                @apply items-#{$key};
            }
        }

        @each $key in $grid-justify {
            .#{$prefix-grid}-justify-#{$breakpoint}-#{$key} > div {
                @apply justify-#{$key};
            }
        }
    }
}

.#{$prefix-grid-item} {
    @apply grow-0 basis-auto max-w-none box-border;

    @each $breakpoint, $value in $grid-breakpoint {
        @media (min-width: $value) {
            &-#{$breakpoint}-auto {
                flex-basis: auto;
                max-width: none;
            }

            &-#{$breakpoint}-grow {
                flex-grow: 1;
                flex-basis: 0;
                max-width: 100%;
            }

            @each $key, $value in $grid-item-column {
                &-#{$breakpoint}-#{$key} {
                    flex-basis: $value * $grid-column-width;
                    max-width: $value * $grid-column-width;
                }
            }
        }
    }
}
