$prefix-layout: $prefix + 'layout';
$prefix-content: $prefix + 'content';


.#{$prefix-layout}-center {
    @apply flex flex-col items-center justify-center px-6 pt-8 mx-auto bg-gray-50;
    @screen md {
        @apply h-screen mt-0;
    }

    .#{$prefix-theme-dark} & {
        @apply bg-gray-900;
    }
}

.#{$prefix-content} {
    @apply h-screen ml-0 pt-16 text-gray-900 bg-gray-50;

    @screen sm {
        @apply ml-64;
    }

    .#{$prefix-theme-dark} & {
        @apply text-gray-200 bg-gray-800;
    }

    // &-wrapper {
    //     @apply;
    // }
    // &-header {
    //     @apply;

    // }
}
