$prefix-modal: $prefix + "modal";
$prefix-modal-body: $prefix + "modal-body";
$prefix-modal-content: $prefix + "modal-content";
$prefix-modal-footer: $prefix + "modal-footer";
$prefix-modal-header: $prefix + "modal-header";
$prefix-modal-title: $prefix + "modal-title";
$prefix-modal-wrapper: $prefix + "modal-wrapper";

.#{$prefix-modal} {
    @apply hidden fixed left-0 right-0 top-0 z-50 max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0 justify-center items-center;

    &-open-true {
        @apply flex;
    }

    & > .#{$prefix-modal-wrapper} {
        @apply relative max-h-full w-full;
    }

    &-size-small > .#{$prefix-modal-wrapper} {
        @apply max-w-md;
    }

    &-size-medium > .#{$prefix-modal-wrapper} {
        @apply max-w-lg;
    }

    &-size-large > .#{$prefix-modal-wrapper} {
        @apply max-w-4xl;
    }
}

.#{$prefix-modal-body} {
    @apply space-y-6 p-6;
}

.#{$prefix-modal-content} {
    @apply relative rounded-lg bg-white shadow dark:bg-gray-700;
}

.#{$prefix-modal-footer} {
    @apply flex items-center rounded-b border-t border-gray-200 p-6 dark:border-gray-600;
}

.#{$prefix-modal-header} {
    @apply flex items-start justify-between rounded-t border-b p-5 dark:border-gray-600;
}

.#{$prefix-modal-title} {
    @apply text-xl font-semibold text-gray-900 dark:text-white lg:text-2xl;
}
