$prefix-pagination-item: $prefix + "pagination-item";

.#{$prefix-pagination-item} {
    a {
        @apply flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white
    }

    &-active a {
        @apply text-blue-600 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white
    }

    /*
        TODO
        li:first-child a {
            @apply ms-0 border-e-0 rounded-s-lg
        }

        li:last-child a {
            @apply rounded-e-lg
        }
    */
}
