@layout EmptyLayout
@page "/site-selection"
@using Microsoft.AspNetCore.WebUtilities

<Page>
	<PageHeader Title="Site Selection">
		<PageActions>
			<NavigationButton To="/admin/sites/create" color="primary">Add Site</NavigationButton>
		</PageActions>
	</PageHeader>

	<div class="f-site-card-list">
    	@foreach (var site in Response.Data ?? [])
    	{
        	<SiteCard Name=@site.Name Description=@site.Description Id=@site.Id/>
    	}
	</div>

	@* Pagination *@
	<div class="f-site-card-pagination">
    	@foreach (var page in Enumerable.Range(0, Response.TotalPages))
    	{
        	<Button @onclick="()=>GoToPage(page)">@(page + 1)</Button>
    	}
	</div>
</Page>
