@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

<div @attributes="AdditionalAttributes"
     class="@this.GetClasses()">
    @ChildContent
</div>

@code {
    // TODO
    // [Parameter]
    // [CssProperty]
    // public SizeEnum Width { get; set; } = SizeEnum.Default;
}
