@inherits BasePlugin
@namespace FluentCMS.Web.Plugins.TextHTML

@if (Item != null)
{
    @if(ViewState.Page.HasAdminAccess && ViewState.Type == ViewStateType.PagePreview)
    {
        <InlineEditor Value="@Item.Content" OnCancel="OnCancel" OnSave="UpdateContent"/>
    }
    else
    {
        <div class="f-html-content">
            @((MarkupString)Item.Content)
        </div>
    }
}
