@inherits BaseComponent

@* TODO *@
<div style="padding-bottom: 1.5rem;">
    <h2 style="padding: 0.5rem 0; font-size: 1.5rem; line-height: 2rem; font-weight: 700;">
        @Title
    </h2>
    <p style="margin-bottom: 0.5rem;">@Description</p>
    <div style="padding: 1.5rem;" class="dark:bg-gray-800 dark:bg-opacity-50 shadow">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public RenderFragment? Description { get; set; }
}
