@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

@if(Visible)
{
    @if(ChildContent != null)
    {
        <span @attributes="AdditionalAttributes" class="@($"{this.GetClasses()} {this.ClassName("IndicatorWrapper")}")">
            <span class="@this.ClassName("IndicatorDot")"></span>
            @ChildContent
        </span>
    }
    else
    {
        <span @attributes="AdditionalAttributes" class="@($"{this.GetClasses()} {this.ClassName("IndicatorDot")}")"></span>
    }
}
