$autocomplete: $prefix + "form-autocomplete";

.#{$autocomplete} {
    @apply relative;
    &.ts-hidden-accessible {
        display: none;
    }

    .ts-control {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;

        input {
            display: none;
        }
    }
    .ts-dropdown {
        @apply absolute py-2 text-sm border border-gray-200 dark:border-gray-700 text-gray-700 dark:text-gray-200 z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-full dark:bg-gray-700;

        .option {
            @apply cursor-pointer block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white;
        }
    }

    &-disabled-true .ts-control {
        @apply cursor-not-allowed opacity-70;
    }
}
