$autocomplete: $prefix + "form-autocomplete";

.#{$autocomplete} {
    @apply relative;
    &.ts-hidden-accessible {
        display: none;
    }

    .ts-control {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;

        input {
            display: none;
        }
    }
    .ts-dropdown {
        @apply absolute py-2 text-sm border border-gray-200 dark:border-gray-700 text-gray-700 dark:text-gray-200 z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-full dark:bg-gray-700;

        .option {
            @apply cursor-pointer block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white;
        }
    }

//         <div id="dropdown" class="">
//     <ul class="" aria-labelledby="dropdownDefaultButton">
//       <li>
//         <a href="#" class="">Dashboard</a>
//       </li>
//       <li>
//         <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
//       </li>
//       <li>
//         <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
//       </li>
//       <li>
//         <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
//       </li>
//     </ul>
// </div>

    &-disabled-true .ts-control {
        @apply cursor-not-allowed opacity-70;
    }
    // .ts-wrapper.single.input-active .ts-control {
    //     @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    // }

    // .ts-dropdown {
    //     @apply bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 border-none;
    // }

    // .ts-dropdown-content {
    //     @apply py-2 text-sm text-gray-700 dark:text-gray-200;
    // }

    // .ts-dropdown .option {
    //     @apply block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white;
    // }

    // .ts-dropdown .active,
    // .ts-dropdown .selected {
    //     @apply bg-gray-100 dark:bg-gray-600 dark:text-white;
    // }

    // .ts-wrapper.multi .ts-control > div {
    //     @apply bg-gray-100 dark:bg-gray-600 dark:text-white;
    // }

    // .ts-control input {
    //     @apply dark:caret-white;
    // }
}
