@page "/previews/form-components"
@layout PanelLayout;
@rendermode InteractiveServer

<Page>
	<PageHeader Title="Form Components">

	</PageHeader>

	<div class="m-4 bg-white border border-gray-200 dark:border-gray-700 p-4 shadow dark:bg-gray-800">
		<Input Label="Default Input"/>
		<Input Required Label="Required Input"/>
		<Input Disabled Label="Disabled Input"/>
		<Input Readonly Label="Readonly Input" Value="Value"/>
		<Input Placeholder="This is Placeholder" Label="Placeholder"/>


	</div>

</Page>
