@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

<li @attributes="AdditionalAttributes"
    class="@this.GetClasses()">
    <button type="button" 
            @onclick="() => Parent?.Activate(Name)">
        @ChildContent
    </button>
</li>

@code {
    [CSSProperty]
    public bool Active => Name == Parent?.Value;

    [Parameter]
    public string Name { get; set; } = default!;

    [CascadingParameter]
    public Tabs? Parent { get; set; }
}

