@page "/"
@layout RootLayout
@using System.ComponentModel.DataAnnotations

<Form Model="@model"
      OnSubmit="Submit">
    <Input @bind-Value="model.Title"
            Required="true"
            ValidationFor="() => model.Title" />
    <Button Type="ButtonType.Submit">
        Submit
    </Button>
    <br />
    @(model.Title)
    <br />
</Form>

@code {
    [SupplyParameterFromForm]
    public TestModel model { get; set; } = new();

    void Submit()
    {
    }

    public class TestModel
    {
        [Required]
        [StringLength(10)]
        public string? Title { get; set; }
    }
}
