@inherits BaseComponent
@using System.Resources;

@namespace FluentCMS.Web.UI.Components

@if(Visible)
{
    <span @attributes="AdditionalAttributes"
          class="@this.GetClasses()">
        @Content
    </span>
}