@tailwind base;
@tailwind components;
@tailwind utilities;

$prefix: "f-";
$colors: ( "primary": "blue", "success": "green", "info": "cyan", "danger": "red", "warning": "yellow", "secondary": "gray" );

// BODY

body {
    @apply bg-gray-50;
}

body.dark {
    @apply bg-gray-800;
    color-scheme: dark;
}

.hidden {
    display: none;
}

// COMPONENTS

@import '../Components/Alert/Alert';
@import '../Components/Autocomplete/Autocomplete.Core';
@import '../Components/Autocomplete/Autocomplete';
@import '../Components/Badge/Badge';
@import '../Components/Button/Button';
@import '../Components/Card/Card';
@import '../Components/CloseButton/CloseButton';
@import '../Components/Confirm/Confirm';
@import '../Components/Dropdown/Dropdown';
@import '../Components/Form/Checkbox';
@import '../Components/Form/Form';
@import '../Components/Form/FormField';
@import '../Components/Form/Input';
@import '../Components/Form/Option';
@import '../Components/Form/Radio';
@import '../Components/Form/Select';
@import '../Components/Form/Switch';
@import '../Components/Form/Textarea';
@import '../Components/Grid/Grid';
@import '../Components/Icon/Icon';
@import '../Components/Modal/Modal';
@import '../Components/Page/Page';
@import '../Components/Pagination/Pagination';
@import '../Components/Sidebar//Sidebar';
@import '../Components/Spacer/Spacer';
@import '../Components/Spinner/Spinner';
@import '../Components/Stack/Stack';
@import '../Components/Table/Table';
@import '../Components/Tabs/Tabs';
@import '../Components/ThemeSwitcher/ThemeSwitcher';
@import '../Components/Toast/Toast';
@import '../Components/Tooltip/Tooltip';
@import '../Components/Typography/Typography';
