@inherits BasePlugin

<PluginForm Model="@Model" Name="@FORM_NAME" Title="Update Layout" OnSubmit="@OnSubmit">
    <FormInput @bind-Value="Model!.Name" Label="Name" Placeholder="Enter layout name" Required />
    <FormTextarea @bind-Value="Model!.Head" Rows="15" Label="Layout Head" Placeholder="Enter layout head section" Required />
    <GridItem Small="GridItemColumn.Twelve">
        <Alert Type="AlertType.Info">
            For templating Guide you can refer to <a style="font-weight: bold; text-decoration: underline;" href="https://github.com/scriban/scriban/blob/master/doc/language.md">Scriban's Documentation</a>
        </Alert>
        <Spacer/>
    </GridItem>
    <FormTextarea @bind-Value="Model!.Body" Rows="25" Label="Layout Body" Placeholder="Enter layout body section" Required />
    <GridItem Small="GridItemColumn.Twelve">
        <Alert Type="AlertType.Warning">
            You can use <b class="font-bold">@("<PluginsSection fluentcms Name=\"...\" />")</b> anywhere to allow dropping plugins there.
        </Alert>
        <Spacer/>
    </GridItem>
    <FormActions Cancel Submit />
</PluginForm>
