﻿@if (!Initialized)
{
    <EditForm Model="@Model" OnSubmit="HandleSubmit" FormName="SetupForm">
        <Typography Size="TextSize.H5">
            Welcome To FluentCMS @Model.Username
        </Typography>
        <Spacer />
        <InputText @bind-Value="Model.Username" Placeholder="Enter your username" Required="true" />
        <InputText @bind-Value="Model.Email" Placeholder="Enter your email" Required="true" />
        <InputText @bind-Value="Model.Password" Placeholder="Enter your password" Required="true" type="password" />
                
        <InputText @bind-Value="Model.AppTemplateName" Required="true" />
        <InputText @bind-Value="Model.SiteTemplateName" Required="true" />
        <InputText @bind-Value="Model.AdminDomain" Required="true" />

        <Spacer />
        <Button Block="true" Color="Color.Primary" Type="ButtonType.Submit">
            Setup
        </Button>
        @if (!string.IsNullOrEmpty(Message))
        {
            <Spacer />
            <Alert Type="AlertType.Success">
                <b>@Message</b>
            </Alert>
        }
        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <Spacer />
            <Alert Type="AlertType.Danger">
                <b>@ErrorMessage</b>
            </Alert>
        }
    </EditForm>
}
else
{
    <Typography Size="TextSize.H5">
        Setup is already done!
    </Typography>
    <Button Block="true" Color="Color.Primary" Type="ButtonType.Button" Href="/">
        Setup
    </Button>
}
