@inherits BasePlugin

@if (!Initialized)
{
    @* TODO: remove div and card border *@
    <div class="w-full max-w-md space-y-4 md:space-y-6 xl:max-w-xl">
        <PluginForm Model="@Model" OnSubmit="OnSubmit" Name="@FORM_NAME" Title="@($"Welcome To FluentCMS {Model.Username}")">
            <PluginFormTextInput @bind-Value="Model.Username" Placeholder="Enter your username" />
            <PluginFormTextInput @bind-Value="Model.Email" Placeholder="Enter your email" />
            <PluginFormTextInput @bind-Value="Model.Password" Placeholder="Enter your password" Type="TextInputType.Password" />
            <PluginFormTextInput @bind-Value="Model.AppTemplateName" Cols="6" />
            <PluginFormTextInput @bind-Value="Model.SiteTemplateName" Cols="6" />
            <PluginFormTextInput @bind-Value="Model.AdminDomain" />
            <PluginFormActions>
                <Button Block="true" Color="Color.Primary" Type="ButtonType.Submit">
                    Setup
                </Button>
            </PluginFormActions>
        </PluginForm>
    </div>
}
else
{
    <Typography Size="TextSize.H5">
        Setup completed successfully!
    </Typography>
    <Button Block="true" Color="Color.Primary" Href="/">
        Continue...
    </Button>
}
