@using Microsoft.AspNetCore.Http
@if (!Initialized)
{
    <Form Model="@Model"
          OnSubmit="OnSubmit">
        <Typography Size="TextSize.H5">
            Welcome To FluentCMS
        </Typography>
        <Spacer />
        <Input @bind-Value="Model.Username"
               autofocus="true"
               Id="setupUsernameInput"
               Label="Username"
               Name="Username"
               Placeholder="Enter your username"
               Required="true" />
        <Input @bind-Value="Model.Email"
               Id="setupEmailInput"
               Label="Email"
               Name="Email"
               Placeholder="Enter your email"
               Required="true" />
        <Input @bind-Value="Model.Password"
               Id="setupPasswordInput"
               Label="Password"
               Name="Password"
               Placeholder="Enter your password"
               Required="true"
               Type="InputType.Password" />
        <Spacer />
        <Button Block="true"
                Color="Color.Primary"
                id="setupSubmitButton"
                Type="ButtonType.Submit">
            Setup
        </Button>
    </Form>
}
else
{
    <Typography>
        Setup is already done!
    </Typography>
}

@code {
    [Inject]
    SetupManager SetupManager { get; set; } = default!;

    [Inject]
    NavigationManager NavigationManager { get; set; } = default!;

    [Inject]
    AuthStateProvider AuthStateProvider { get; set; } = default!;

    [CascadingParameter]
    public HttpContext HttpContext { get; set; }

    bool Initialized { get; set; }

    SetupRequest Model { get; set; } = new SetupRequest
        {
            Username = "admin",
            Email = "admin@example.com",
            Password = "Passw0rd!",
            AppTemplateName = "Blank",
            SiteTemplateName = "Blank"
        };

    protected override async Task OnInitializedAsync()
    {
        Initialized = await SetupManager.IsInitialized();
        Model.AdminDomain = new Uri(NavigationManager.BaseUri).Authority;

        // if is prerendering and Previous cookie exists, clean up & refresh
        if (HttpContext != null && HttpContext.Request.Cookies.Any(x => x.Key == nameof(UserLoginResponse)))
        {
            HttpContext.Response.Cookies.Delete(nameof(UserLoginResponse));
            NavigationManager.Refresh(true);
        }
    }

    private async Task OnSubmit()
    {
        if (await SetupManager.Start(Model))
            NavigationManager.NavigateTo("/", true);
    }
}
