@inherits BasePlugin

<FluentCMS.Web.UI.Plugins.Auth.AuthPluginForm Model="@Model" Name="@FORM_NAME" Title="Setup Admin Account" OnSubmit="@OnSubmit">
    <PluginFormTextInput @bind-Value="Model!.Username" Label="Username" Placeholder="Enter your username" Required />
    <PluginFormHiddenInput @bind-Value="Model!.AdminDomain" />
    <PluginFormTextInput @bind-Value="Model!.Email" Label="Email" Placeholder="Enter your email" Required />
    <PluginFormTextInput @bind-Value="Model!.Password" Label="Password" Placeholder="Enter your password" Required type="password" />
    <PluginFormActions>
        <Button Block Color="Color.Primary" Type="ButtonType.Submit">
            Setup
        </Button>
    </PluginFormActions>
</FluentCMS.Web.UI.Plugins.Auth.AuthPluginForm>        
