@inherits BasePlugin

@if (!Initialized)
{
    <EditForm Model="@Model" OnValidSubmit="OnSubmit" FormName="SetupForm" Enhance>
        <Typography Size="TextSize.H5">
            Welcome To FluentCMS @Model.Username
        </Typography>
        <Spacer />
        <InputText @bind-Value="Model.Username" Placeholder="Enter your username" />
        <InputText @bind-Value="Model.Email" Placeholder="Enter your email" />
        <InputText @bind-Value="Model.Password" Placeholder="Enter your password" type="password" />
        <InputText @bind-Value="Model.AppTemplateName" />
        <InputText @bind-Value="Model.SiteTemplateName" />
        <InputText @bind-Value="Model.AdminDomain" />
        <Spacer />
        <Button Block="true" Color="Color.Primary" Type="ButtonType.Submit">
            Setup
        </Button>
        @if (!string.IsNullOrEmpty(Message))
        {
            <Spacer />
            <Alert Type="AlertType.Success">
                <b>@Message</b>
            </Alert>
        }
        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <Spacer />
            <Alert Type="AlertType.Danger">
                <b>@ErrorMessage</b>
            </Alert>
        }
        <DataAnnotationsValidator />
        <ValidationSummary />
    </EditForm>
}
else
{
    <Typography Size="TextSize.H5">
        Setup is already done!
    </Typography>
    <Button Block="true" Color="Color.Primary" Type="ButtonType.Button" Href="/">
        Setup
    </Button>
}
