@inherits BasePlugin

@if (!Initialized)
{
    <PluginForm Model="@Model" OnSubmit="OnSubmit" Name="@FORM_NAME" Title="@($"Welcome To FluentCMS {Model.Username}")">
        <InputText @bind-Value="Model.Username" Placeholder="Enter your username" />
        <InputText @bind-Value="Model.Email" Placeholder="Enter your email" />
        <InputText @bind-Value="Model.Password" Placeholder="Enter your password" type="password" />
        <InputText @bind-Value="Model.AppTemplateName" />
        <InputText @bind-Value="Model.SiteTemplateName" />
        <InputText @bind-Value="Model.AdminDomain" />
        <PluginFormActions>
            <Button Block="true"  Color="Color.Primary" Type="ButtonType.Submit">
                Setup
            </Button>
        </PluginFormActions>
    </PluginForm>
}
else
{
    <Typography Size="TextSize.H5">
        Setup completed successfully!
    </Typography>
    <Button Block="true" Color="Color.Primary" Href="/admin">
        Continue...
    </Button>
}
