@typeparam TItem
@namespace FluentCMS.Web.UI.Components

@if (Header)
{
    <th class="@this.ClassName("DataTableCell")">
        @(Label ?? string.Empty)
    </th>
}
else
{
    <td class="@this.ClassName("DataTableCell")">
        @ChildContent(Item)
    </td>
}
