<div class="f-plugin-container">
    @if (string.IsNullOrEmpty(AppState?.ViewMode) && !string.IsNullOrEmpty(Plugin.Definition.EditType))
    {
        <div class="f-plugin-container-header">
            <a href="@EditUrl">Edit</a>
        </div>
    }
    <div class="f-plugin">
        @ChildContent
    </div>
</div>

@code {
    [CascadingParameter(Name = "Plugin")]
    public PluginResponse Plugin { get; set; } = default!;

    [CascadingParameter]
    public AppState AppState { get; set; } = default!;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string? EditUrl => $"{AppState?.Page?.Path}?pluginId={Plugin.Id}&viewMode=edit";
}
