@inherits BasePluginComponent

<div class="f-plugin-container">
    @if (ShouldRenderEdit())
    {
        <div class="f-plugin-container-header">
            <a href="@EditUrl">Edit</a>
        </div>
    }
    <div class="f-plugin">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private bool ShouldRenderEdit()
    {
        return (string.IsNullOrEmpty(AppState.ViewMode) || AppState.ViewMode == "View")
            && !string.IsNullOrEmpty(Plugin.Definition?.EditType);
    }

    private string? EditUrl => $"{AppState?.Page?.Path}?pluginId={Plugin.Id}&viewMode=edit";
}
