<div class="f-section f-section-@Name">
    @if (AppState?.Page?.Plugins != null)
    {
        @foreach (var plugin in Plugins)
        {
            <CascadingValue Value="@plugin" Name="Plugin">
                <PluginContainer>
                    <DynamicComponent Type=@GetType(plugin) />
                </PluginContainer>
            </CascadingValue>
        }
    }
</div>
