<Page>
    <PageHeader HasBack="true"
                Title="Update User">
    </PageHeader>
    <PageBody>
        <Grid Gutter="GridGutter.Medium">
            <GridItem Small="GridItemColumn.Twelve">
                <Form OnSubmit="OnSubmit">
                    <Card>
                        <CardBody>
                            <Input Value="@View.Username"
                                   Label="Username"
                                   Placeholder="username"
                                   Readonly="true"
                                   Required="true"/>
                            <Input @bind-Value="Model.Email"
                                   Label="Email"
                                   Placeholder="name@example.com"
                                   Required="true"
                                   Type="InputType.Email" />
                      
                            <Spacer/>
                            @if(!string.IsNullOrEmpty(Message)) 
                            {
                                <Typography>
                                    @Message
                                </Typography>
                                <Spacer/>                            
                            }
                            <ButtonGroup>
                                <Button Color="Color.Primary"
                                        Type="ButtonType.Submit" >
                                    Submit
                                </Button>
                            </ButtonGroup>
                        </CardBody>
                    </Card>
                </Form>
            </GridItem>
        </Grid>
    </PageBody>
</Page>

@code {
    [Inject]
    public NavigationManager NavigationManager { set; get; } = default!;

    [Inject]
    UserClient UserClient { get; set; } = default!;

    Guid? Id { get; set; }

    string Message { get; set; } = string.Empty;

    UserUpdateRequest Model { get; set; } = new();

    UserDetailResponse View { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {

        var userId = NavigationManager.GetIdFromQuery();
        if (userId != null)
            try
            {
                View = (await UserClient.GetAsync(userId.Value)).Data;
                Model.Id = userId.Value;
                Model.Email = View.Email;
            }
            catch (Exception)
            {
                Message = "An error occured!";
            }
    }

    async Task OnSubmit()
    {
        await UserClient.UpdateAsync(Model);
        Message = "Done!";
    }
}
