@inherits BasePlugin
<Page>
    <PageHeader HasBack="true"
                Title="Update User">
    </PageHeader>
    <PageBody>
        <Grid Gutter="GridGutter.Medium">
            <GridItem Small="GridItemColumn.Twelve">
                <MyForm Model="@Model"
                        Name="UserUpdateForm"
                        OnSubmit="OnSubmit">
                    <Card>
                        <CardBody>
                            <input name="Model.Id" value="@(Model.Id.ToString("D"))" Required="true" />
                            <input value="@(View.Username)" disabled />
                            <InputText @bind-Value="Model.Email" Placeholder="name@example.com" Required="true" />
                            <ValidationMessage For="()=>Model.Email" />
                            <Spacer />
                            @if (!string.IsNullOrEmpty(Message))
                            {
                                <Typography>
                                    @Message
                                </Typography>
                                <Spacer />
                            }
                            <ButtonGroup>
                                <Button Href="@BackUrl">
                                    Cancel
                                </Button>
                                <Button Color="Color.Primary"
                                        Type="ButtonType.Submit">
                                    Submit
                                </Button>
                            </ButtonGroup>
                        </CardBody>
                    </Card>
                </MyForm>
            </GridItem>
        </Grid>
    </PageBody>
</Page>


