@inherits BasePlugin

<PluginForm Model="@Model" Name="@FORM_NAME" OnSubmit="OnSubmit">
    <input type="hidden" name="Model.Id" value="@(Model.Id.ToString("D"))" />
    <InputText @bind-Value="User.Username" Placeholder="name@example.com" />
    <InputText @bind-Value="Model.Email" Placeholder="name@example.com" />
    <ValidationMessage For="()=>Model.Email" />
    <PluginFormActions>
        <Button Color="Color.Primary" Type="ButtonType.Submit">
            Submit
        </Button>
    </PluginFormActions>
</PluginForm>
