<Page>
    <PageHeader HasBack="false" Title="Users List">
        <PageHeaderActions>
            <ButtonGroup>
                <Button autofocus="true"
                        Color="Color.Primary" 
                        Href="?PluginDef=User Management&typeName=Create User"
                        Size="ButtonSize.Small">
                    <Icon Name="IconName.Plus" />
                    Add User
                </Button>
            </ButtonGroup>
        </PageHeaderActions>
    </PageHeader>
    <PageBody>
        <Card>
            <Table>
                <TableHead>
                    <TableCell>Username</TableCell>
                    <TableCell>Email</TableCell>
                    <TableCell Width="TableColumnWidth.Small"></TableCell>
                </TableHead>
                <TableBody>
                    @foreach (var user in Users)
                    {
                        <TableRow>
                            <TableCell> @user.Username </TableCell>
                            <TableCell> @user.Email </TableCell>
                            <TableCell>
                                <ButtonGroup>
                                    <Button Ghost="true"
                                        Href="@($"?PluginDef=User Management&typeName=User Detail&id={user.Id}")"
                                        Size="ButtonSize.Small">
                                        <Icon Name="IconName.Eye" />
                                    </Button>
                                    <Tooltip Placement="TooltipPlacement.Top">Preview</Tooltip>

                                    <Button data-test="edit-btn"
                                        Ghost="true"
                                        Href="@($"?PluginDef=User Management&typeName=Update User&id={user.Id}")"
                                        Size="ButtonSize.Small">
                                        <Icon Name="IconName.Edit" />
                                    </Button>
                                    <Tooltip Placement="TooltipPlacement.Top">Edit</Tooltip>
                                </ButtonGroup>
                            </TableCell>
                        </TableRow>
                    }
                </TableBody>
            </Table>
            @if (Users.Count == 0)
            {
                <EmptyTable Message="No Users Found!">
                    <Button autofocus="true"
                            Color="Color.Primary" 
                            Href="?PluginDef=User Management&typeName=Create User"
                            Size="ButtonSize.Small">
                        <Icon Name="IconName.Plus" />
                        Add User
                    </Button>
                </EmptyTable>
            }
        </Card>
    </PageBody>
</Page>

@code {
    [Inject]
    UserClient? UserClient { get; set; }

    [Inject]
    ConfirmService Confirm { get; set; }

    List<UserDetailResponse> Users { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        var response = await UserClient!.GetAllAsync();

        if (response?.Data != null)
        {
            Users = response.Data.ToList();
        }
    }
}
