@inherits BasePlugin

<PluginForm Model="@Model" OnSubmit="OnSubmit" Name="@FORM_NAME" Error="@Error">
    <InputText @bind-Value="Model.FirstName" Placeholder="Enter FirstName..." />
    <InputText @bind-Value="Model.LastName" Placeholder="Enter LastName..." />
    <InputText @bind-Value="Model.PhoneNumber" placeholder="Enter Phone Number..." />
    <InputText @bind-Value="Model.Username" placeholder="Enter Username..." />
    <InputText @bind-Value="Model.Email" Placeholder="Enter Email..." />
    <InputText @bind-Value="Model.Password" Placeholder="Enter Password..." />
    <PluginFormActions>
        <Button Color="Color.Primary" Type="ButtonType.Submit">
            Save
        </Button>
    </PluginFormActions>
</PluginForm>

