@inherits BasePlugin

<PluginForm Model="@Model" OnSubmit="OnSubmit" Name="@FORM_NAME">
    <PluginFormInput @bind-Value="Model.FirstName" Placeholder="Enter FirstName..." Col="PluginFormFieldColumn.Six" />
    <PluginFormInput @bind-Value="Model.LastName" Placeholder="Enter LastName..." Col="PluginFormFieldColumn.Six" />
    <PluginFormInput @bind-Value="Model.PhoneNumber" Placeholder="Enter Phone Number..." />
    <PluginFormInput @bind-Value="Model.Username" Placeholder="Enter Username..." />
    <PluginFormInput @bind-Value="Model.Email" Placeholder="Enter Email..." />
    <PluginFormInput @bind-Value="Model.Password" Placeholder="Enter Password..." />
    <PluginFormActions>
        <Button Color="Color.Primary" Type="ButtonType.Submit">
            Save
        </Button>
    </PluginFormActions>
</PluginForm>

