@inherits BasePlugin

<PluginForm Model="@Model" Title="Update User" OnSubmit="OnSubmit">
    <PluginFormCheckbox @bind-Value="Model.Enabled" Label="Enabled" />
    <PluginFormInput @bind-Value="Model.FirstName" Placeholder="Enter FirstName..." />
    <PluginFormInput @bind-Value="Model.LastName" Placeholder="Enter LastName..." />
    <PluginFormInput @bind-Value="Model.PhoneNumber" placeholder="Enter Phone Number..." />
    <PluginFormInput @bind-Value="User.Username" Placeholder="Enter Username..." />
    <PluginFormInput @bind-Value="Model.Email" Placeholder="name@example.com" />
    <ValidationMessage For="() => Model.Email" />
    <PluginFormActions>
        <Button Color="Color.Primary" Type="ButtonType.Submit">
            Submit
        </Button>
    </PluginFormActions>
</PluginForm>
