<Page>
    <PageHeader HasBack="true"
                Title="Create User"
                Subtitle="Create User form">
        <PageHeaderActions>
            <ButtonGroup>
                <Button Color="Color.Primary">
                    <Icon Name="IconName.Rocket" />
                    Save
                </Button>
            </ButtonGroup>
        </PageHeaderActions>
    </PageHeader>
    <PageBody>
        <Grid Gutter="GridGutter.Medium">
            <GridItem Small="GridItemColumn.Twelve" Medium="GridItemColumn.Nine">
                <form @onsubmit="OnSubmit" @onsubmit:preventDefault="true">
                    <Card>
                        <CardBody>
                            <Input @bind-Value="Model.Username"
                                   Label="Username"
                                   Placeholder="username"
                                   Required="true"/>
                            <Input @bind-Value="Model.Email"
                                   Label="Email"
                                   Placeholder="name@example.com"
                                   Required="true"
                                   Type="InputType.Email" />
                            <Input @bind-Value="Model.Password"
                                   Placeholder="••••••••••"
                                   Label="Password"
                                   Type="InputType.Password"/>
                            <ButtonGroup>
                                <Button Color="Color.Primary">
                                    <Icon Name="IconName.Rocket" />
                                    Save
                                </Button>
                            </ButtonGroup>
                        </CardBody>
                    </Card>
                </form>
            </GridItem>
            <GridItem Small="GridItemColumn.Twelve"
                      Medium="GridItemColumn.Three">
                <Card>
                    <CardBody>
                        <Switch Label="Published"/>
                        <Spacer />
                        Information
                    </CardBody>
                </Card>
                <Spacer />
                <Grid GutterY="GridGutter.Medium">
                    <GridItem Small="GridItemColumn.Twelve">
                        <Button Block
                                Color="Color.Primary"
                                Outline>
                            <Icon Name="IconName.Edit"/>
                            Edit the Model
                        </Button>
                    </GridItem>
                    <GridItem Small="GridItemColumn.Twelve">
                        <Button Block
                                Color="Color.Primary"
                                Outline>
                            <Icon Name="IconName.Settings"/>
                            Configure the View
                        </Button>
                    </GridItem>
                </Grid>
            </GridItem>
        </Grid>
    </PageBody>
</Page>

@code {
    [Inject]
    private UserClient UserClient { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { set; get; } = default!;

    private UserCreateRequest Model { get; set; } = new();
    private string Message { get; set; } = string.Empty;

    private async Task OnSubmit()
    {
        try
        {
            var newUser = await UserClient.CreateAsync(Model);
            Message = "Done!";
        }
        catch (Exception ex)
        {
            Message = ex.ToString();
        }
    }
}
