<Page>
    <PageHeader HasBack="true"
                Title="Create User">
    </PageHeader>
    <PageBody>
        <Grid Gutter="GridGutter.Medium">
            <GridItem Small="GridItemColumn.Twelve">
                <Form OnSubmit="OnSubmit">
                    <Card>
                        <CardBody>
                            <Input @bind-Value="Model.Username"
                                   Label="Username"
                                   Placeholder="username"
                                   Required="true"/>
                            <Input @bind-Value="Model.Email"
                                   Label="Email"
                                   Placeholder="name@example.com"
                                   Required="true"
                                   Type="InputType.Email" />
                            <Input @bind-Value="Model.Password"
                                   Placeholder="••••••••••"
                                   Label="Password"
                                   Type="InputType.Password"/>
                            <Spacer/>
                            <Text>@Message</Text>
                            <Spacer/>
                            <ButtonGroup>
                                <Button Type="ButtonType.Submit" Color="Color.Primary">
                                    Save
                                </Button>
                            </ButtonGroup>
                        </CardBody>
                    </Card>
                </Form>
            </GridItem>
        </Grid>
    </PageBody>
</Page>

@code {
    [Inject]
    private UserClient UserClient { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { set; get; } = default!;

    private UserCreateRequest Model { get; set; } = new();
    private string Message { get; set; } = string.Empty;

    private async Task OnSubmit()
    {
        try
        {
            var newUser = await UserClient.CreateAsync(Model);
            Message = "Done!";
        }
        catch (Exception ex)
        {
            Message = ex.ToString();
        }
    }
}
