@inherits BasePluginComponent
@rendermode InteractiveServer

<div style="background-color:lightpink;">
    <h1>Counter Plugin id: @Plugin?.Id</h1>
    <Button @onclick="IncrementCount">Click me</Button>
    <p role="status">Current count: @currentCount</p>
</div>

@code {
    private int currentCount = 0;
    private void IncrementCount()
    {
        currentCount++;
    }
}
