@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

<div @attributes="AdditionalAttributes"
    class="@this.GetClasses()">
</div>

@code {
    [Parameter]
    [CssProperty]
    public SpacerSize Height {get; set;}
}