@namespace FluentCMS.Web.UI.Plugins.ContentTypeManagement.ContentTypeFields

<Grid GutterX="GridGutter.Large">
    <GridItem Small="GridItemColumn.Twelve"
              Medium="GridItemColumn.Six">
        <FieldName />
    </GridItem>
    <GridItem Small="GridItemColumn.Twelve"
              Medium="GridItemColumn.Six">
        <Select Label="Type"
                Placeholder="Choose Date type..."
                Value="@("")">
            <Option>
                Date (ex: 01/01/2024)
            </Option>
            <Option>
                DateTime (ex: 01/01/2024 00:00 AM)
            </Option>
            <Option>
                Time (ex: 00:00 AM)
            </Option>
        </Select>
    </GridItem>
</Grid>


@code {
    [CascadingParameter]
    public ContentTypeField Model { get; set; }
}
