@namespace FluentCMS.Web.UI.Plugins.ContentTypeManagement.ContentTypeFields

<Grid GutterX="GridGutter.Large">
    <GridItem Small="GridItemColumn.Twelve"
              Medium="GridItemColumn.Six">
        <FieldName />
    </GridItem>
    <GridItem Small="GridItemColumn.Twelve"
              Medium="GridItemColumn.Six">
        <Select @bind-Value="type"
                Label="Type">
            <Option Value="0">
                Date (ex: 01/01/2024)
            </Option>
            <Option Value="1">
                DateTime (ex: 01/01/2024 00:00 AM)
            </Option>
            <Option Value="2">
                Time (ex: 00:00 AM)
            </Option>
        </Select>
    </GridItem>
</Grid>


@code {
    [CascadingParameter]
    public ContentTypeFieldResponse Model { get; set; }

    Decimal type
    {
        get
        {
            return Model.GetValue<Decimal>("Type");
        }
        set
        {
            Model.SetValue("Type", value);
        }
    }
}
