<div id="loading-bar" class="fixed start-0 transition-transform bg-gray-100 dark:bg-gray-800 w-full overflow-hidden top-0">
    <div class="loading-bar-animate w-full h-full bg-blue-500"></div>
</div>
<section class="bg-white dark:bg-gray-900">
    <div class="grid lg:h-screen lg:grid-cols-2">
        <div class="flex justify-center items-center py-6 px-4 lg:py-0 sm:px-0">
            <div class="w-full max-w-md space-y-4 md:space-y-6 xl:max-w-xl">
                <PluginsSection Name="Main" fluentcms />
            </div>
        </div>
        <div class="flex justify-center items-center py-6 px-4 2xl:px-24 bg-primary-600 lg:py-0 sm:px-0">
            <div class="max-w-md xl:max-w-xl 2xl:max-w-4xl">
                <a href="#" class="flex items-center mb-4 text-2xl font-semibold text-white">
                    <img src="/files/images/logo-dark.svg" class="h-10" alt="FluentCMS Logo">
                </a>
                <h1 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-white xl:text-5xl">
                    Welcome to FluentCMS
                </h1>
                <p class="mb-4 font-light text-primary-200 lg:mb-8">
                    Building and managing content has never been easier. Experience the power of AI with FluentCMS.
                </p>
            </div>
        </div>
    </div>
</section>

<script src="/files/js/flowbite.min.js"></script>
<script src="/files/js/app.js"></script>
<script src="/files/js/loadingbar.js"></script>
