<h1>Create User</h1>
<div class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    <EditForm Model="@Model" OnValidSubmit="Submit" class="space-y-6">
        <div>
            <label for="username">Username</label>
            <InputText @bind-Value=Model.Username name="username" id="username" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" />
        </div>
        <div>
            <label for="email">Email</label>
            <InputText @bind-Value=Model.Email type="email" name="email" id="email" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" />
        </div>
        <div>
            <label for="password">Password</label>
            <InputText @bind-Value=Model.Password name="password" id="password" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" />
        </div>
        <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </EditForm>
    Message: @Message
</div>

@code {
    [Inject]
    private UserClient UserClient { get; set; } = default!;

    [Inject]
    public NavigationManager NavigationManager { set; get; } = default!;

    private UserCreateRequest Model { get; set; } = new();
    private string Message { get; set; } = string.Empty;

    private async Task Submit()
    {
        try
        {
            var newUser = await UserClient.CreateAsync(Model);
            Message = "Done!";
        }
        catch (Exception)
        {

            Message = "An error occured!";
        }
    }
}
