<div style="background-color:lightblue;">
    <h1>TextHtml Plugin id: @Plugin?.Id</h1>
    <p>TextHtml will be here</p>
</div>

@code {
    [CascadingParameter(Name = "Plugin")]
    public UI.PluginResponse? Plugin { get; set; }
}
