@using System.Text.Json
@using System.Text
@using FluentCMS.Api.Controllers
@using System.Web
@inject HttpClient http

<div style="background-color:lightblue;">
    @((MarkupString)textHtmlContent)
</div>

@code {
    [CascadingParameter(Name = "Plugin")]
    public PluginResponse? Plugin { get; set; }

    [CascadingParameter]
    public AppState AppState { get; set; } = default!;

    private string textHtmlContent = string.Empty;

    override protected async Task OnInitializedAsync()
    {
        var query = HttpUtility.ParseQueryString(string.Empty);
        query["siteId"] = AppState?.Site?.Id.ToString();
        query["pluginId"] = Plugin?.Id.ToString();

        // var resContent = await http.GetFromJsonAsync<ApiPagingResult<PluginContent>>($"PluginContent/TextHtml/GetByPluginId?{query}");
        // var pluginContent = resContent?.Data?.FirstOrDefault();
        // textHtmlContent = pluginContent?["Content"]?.ToString() ?? string.Empty;

        await base.OnInitializedAsync();
    }
}
