@using System.Text.Json
@using System.Text
@using FluentCMS.Api.Controllers
@using System.Web
@inject HttpClient http

<div style="background-color:lightblue;">
    @((MarkupString)textHtmlContent)
</div>

@code {
    [CascadingParameter(Name = "Plugin")]
    public PluginResponse? Plugin { get; set; }

    [CascadingParameter]
    public AppState AppState { get; set; } = default!;

    private string textHtmlContent => PluginContent?["Content"]?.ToString()??"";
    public PluginContent? PluginContent { get; set; }

    override protected async Task OnInitializedAsync()
    {

        var resContent = await http.GetFromJsonAsync<ApiPagingResult<PluginContent>>($"PluginContent/TextHtml/GetByPluginId/{AppState?.Site?.Id:D}/{Plugin?.Id:D}");
        PluginContent = resContent?.Data?.FirstOrDefault();

        await base.OnInitializedAsync();
    }
}
