@rendermode InteractiveServer
@inherits BasePluginComponent
@inject ContentClient contentClient

<InputTextArea @bind-Value="Model.Content" Required rows="5" placeholder="Enter you Text/Html content here"></InputTextArea>
<br />
<Button>Update</Button>

@code {
    public HelloWorldContent Model { get; set; } = new();
}
