@rendermode InteractiveServer
@inherits BasePluginComponent
@inject ContentClient contentClient

<InputTextArea @bind-Value="Model.Content" Required rows="5" placeholder="Enter you Text/Html content here"></InputTextArea>
<br />
<Button>Update</Button>

@code {
    public HelloWorldContent Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var response = await contentClient.GetAllAsync("HelloWorld", AppState.Site.Id);
        var content = response?.Data?.FirstOrDefault() ??
             new Dictionary<string, object>
                            {
                { "PluginId" , Plugin.Id },
                { "SiteId" , AppState.Site.Id }
                            };
        Model = new HelloWorldContent();
    }
}
