@typeparam TValue

@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

@if(Visible)
{
    <option @attributes="AdditionalAttributes"
            class="@this.GetClasses()"
            selected="@this.Selected"
            value="@this.Value">
        @ChildContent
    </option>
}

@code {
    [Parameter]
    public bool Selected { get; set; }

    [Parameter]
    public TValue? Value { get; set; }
}
