<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="_content/FluentCMS.Web.UI.Components/css/app.min.css" />
    <HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body class="dark">
    <Routes @rendermode="@InteractiveServer" />
    @* TODO *@
    @* <ConfirmProvider /> *@
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
