@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

@if(Visible)
{
    <div @attributes="AdditionalAttributes" class="@this.GetClasses()">
        @if (!string.IsNullOrEmpty(Title))
        {
            <CardTitle>
                @Title
            </CardTitle>
        }
        @ChildContent
    </div>
}