@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

@if(Visible)
{
    <nav @attributes="AdditionalAttributes"
         class="@this.GetClasses()">
        <ul>
            <PaginationItem Disabled="!this.CanPrevious()"
                            OnClick="Previous">
                @if (ShowIcons)
                {
                    <Icon Name="IconName.Previous" />
                }
                else
                {
                    <text>Previous</text>
                }
            </PaginationItem>
            @foreach (var Page in this.Pages())
            {
                <PaginationItem @key="Page"
                                Active="Page == Current"
                                OnClick="() => GoTo(Page)">
                    @(Page == 0 ? "..." : Page)
                </PaginationItem>
            }
            <PaginationItem Disabled="!this.CanNext()"
                            OnClick="Next">
                @if (ShowIcons)
                {
                    <Icon Name=IconName.Next />
                }
                else
                {
                    <text>Next</text>
                }
            </PaginationItem>
        </ul>
    </nav>
}
