@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

@if(Visible)
{
    <li @attributes="AdditionalAttributes"
        class="@this.GetClasses()">
        <Button Disabled="Disabled"
                OnClick="OnClick">
            @ChildContent
        </Button>
    </li>
}

@code {
    [Parameter]
    [CSSProperty]
    public bool Active { get; set; }

    [Parameter]
    [CSSProperty]
    public bool Disabled { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
}
