@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

@if(Visible)
{
    <li @attributes="AdditionalAttributes"
        class="@this.GetClasses()">
        <Button Disabled="Disabled"
                @onclick="OnClick">
            @ChildContent
        </Button>
    </li>
}