@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

<span @attributes="AdditionalAttributes"
      class="@this.GetClasses()">
    Showing
    <span>@Current-@Size</span>
    of
    <span>@Total</span>
</span>

@code {
    [Parameter]
    public long Current { get; set; }

    [Parameter]
    public long Size { get; set; } = 10;

    [Parameter]
    public long Total { get; set; }
}
