@inherits BaseComponent

<CascadingValue Value="this">

    <div class=@this.GetClasses() @attributes="AdditionalAttributes">


        <TabList>
            @foreach (int index in Enumerable.Range(0, TabItems.Count))
            {
                <TabItem Active=@(index == ActiveTabIndex) Index="@index">@TabItems[index]</TabItem>
            }
        </TabList>


        <div class="f-tab-content">
            @ChildContent
        </div>
    </div>
</CascadingValue>

@code {
    private List<string> TabItems = new List<string>();
    public int ActiveTabIndex { get; set; } = 0;

    public void ActiveTab(int index)
    {
        ActiveTabIndex = index;
        StateHasChanged();
    }

    public int AddTab(string name)
    {
        TabItems.Add(name);

        StateHasChanged();
        return TabItems.Count - 1;
    }
}
