@inherits BaseComponent

<div @attributes="AdditionalAttributes"
     class="@this.GetClasses()">
    <div>
        @ChildContent
    </div>
</div>

@code {
    #region Items

    [Parameter]
    [CssProperty]
    public GridItems? ItemsSmall { get; set; }

    [Parameter]
    [CssProperty]
    public GridItems? ItemsMedium { get; set; }

    [Parameter]
    [CssProperty]
    public GridItems? ItemsLarge { get; set; }

    #endregion

    #region Gutter

    [Parameter]
    [CssProperty]
    public GridGutters? Gutter { get; set; }

    [Parameter]
    [CssProperty]
    public GridGutters? GutterX { get; set; }

    [Parameter]
    [CssProperty]
    public GridGutters? GutterY { get; set; }

    #endregion

    #region Justify

    [Parameter]
    [CssProperty]
    public GridJustifies? JustifySmall { get; set; }

    [Parameter]
    [CssProperty]
    public GridJustifies? JustifyMedium { get; set; }

    [Parameter]
    [CssProperty]
    public GridJustifies? JustifyLarge { get; set; }

    #endregion
}
