@inherits BaseComponent

<div @attributes="AdditionalAttributes"
     class="@this.GetClasses()">
    @ChildContent
</div>

@code {
    #region Column

    [Parameter]
    [CssProperty]
    public GridItemColumns? Small { get; set; }

    [Parameter]
    [CssProperty]
    public GridItemColumns? Medium { get; set; }

    [Parameter]
    [CssProperty]
    public GridItemColumns? Large { get; set; }

    #endregion
}
