@if (Show && Visible)
{
    <div @attributes="AdditionalAttributes"
         class="@this.GetClasses()">
        <div>
            @ChildContent
        </div>
        @if (Dismissible)
        {
            <CloseButton class="@this.ClassName("AlertClose")"
                         OnClick="Close" />
        }
    </div>
}
