@namespace FluentCMS.Web.UI.Plugins.ContentTypeManagement.ContentTypeFields

<Grid GutterX="GridGutter.Large">
    <GridItem Small="GridItemColumn.Twelve"
              Medium="GridItemColumn.Six">
        <FieldName />
    </GridItem>
    <GridItem Small="GridItemColumn.Twelve"
              Medium="GridItemColumn.Six">
        <Select @bind-Value="type"
                Label="Type">
            <Option Value="0">
                Single
            </Option>
            <Option Value="1">
                Multiple
            </Option>
        </Select>
    </GridItem>
</Grid>

@code {
    [CascadingParameter]
    public ContentTypeField Model { get; set; }

    Decimal type { get; set; }
}
