@namespace FluentCMS.Web.UI.Plugins.ContentTypeManagement.ContentTypeFields

<Grid GutterX="GridGutter.Large">
    <GridItem Small="GridItemColumn.Twelve"
              Medium="GridItemColumn.Six">
        @* TODO *@
        <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
            Select allowed types of media
        </label>
        <Autocomplete @bind-Value="accept"
                      Options="options"
                      Multiple="true" />
        <Spacer />
    </GridItem>
</Grid>

<FieldAdvancedSettings Range="false"
                       Unique="false" />

@code {
    [CascadingParameter(Name = "EditingMode")]
    public bool Eediting { get; set; }

    [CascadingParameter]
    public ContentTypeFieldResponse Model { get; set; }

    List<string> accept
    {
        get
        {
            return Model.GetValueArray<string>("Accept").ToList() ?? new();
        }
        set
        {
            Model.SetValue<List<string>>("Accept", value);
        }
    }

    List<AutocompleteOptions> options = new()
    {
        new AutocompleteOptions
        {
            Id = "audios",
            Title = "Audios"
        },
        new AutocompleteOptions
        {
            Id = "files",
            Title = "Files"
        },
        new AutocompleteOptions
        {
            Id = "images",
            Title = "Images"
        },
        new AutocompleteOptions
        {
            Id = "videos",
            Title = "Videos"
        }
    };

    protected override void OnInitialized()
    {
        if (Eediting) return;

        Model.SetValue<List<string>>("Accept", options.Select((option) => option.Id).ToList());
    }
}
