$page-editor: $prefix + 'page-editor';
$iframe: $prefix + 'page-editor-iframe';
$iframe-wrapper: $prefix + 'page-editor-iframe-wrapper';

.#{$page-editor} {
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

.#{$iframe} {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;

    &-wrapper {
        background-color: #EBEBEB;
        position: relative;
        height: calc(100% - 46px);
        transition: all 0.3s ease;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-resizer {
        border-radius: 2px;
        box-shadow: 0 0 8px -4px rgb(129, 129, 129);
        display: none;
        background-color: #cfcfcf;
        height: 64px;
        width: 12px;
        position: absolute;
        right: 2px;
        top: 50%;
        bottom: 50%;
        cursor: grab;
    }

    &-resizer:hover {
        background-color: #d4d4d4;
        height: 64px;
        width: 12px;
        position: absolute;
        right: 2px;
        top: 50%;
        bottom: 50%;
        cursor: grab;
    }

    &-resizer::before,
    &-resizer::after {
        content: '';
        background-color: #aaaaaa;
        position: absolute;
        height: 48px;
        width: 2px;
        top: 8px;
        bottom: 8px;
    }

    &-resizer:hover::after,
    &-resizer:hover::before {
        background-color: #c0c0c0;
    }

    &-resizer::before {
        left: 3px;
    }

    &-resizer::after {
        right: 3px;
    }

    [data-responsive-mode] & {
        left: auto;
        right: auto;
        top: 1rem;
        bottom: 1rem;

        height: calc(100% - 2rem);
        max-width: calc(100% - 2rem);
    }

    [data-responsive-mode] &-resizer {
        display: flex;
    }
}