@page "/components/icon"
@layout ComponentsLayout

<Page>
    <PageHeader Title="Icons" />
    <PageBody>
        <ComponentPreview Title="Default">
            <Stack>
                <Icon Name="IconName.InformationFilled" />
                <Icon Name="IconName.Plus" />
                <Icon Name="IconName.Delete" />
                <Icon Name="IconName.Search" />
                <Icon Name="IconName.Next" />
            </Stack>
        </ComponentPreview>

        <ComponentPreview Title="Color">
            <Stack>
                <Icon Name="IconName.InformationFilled" />
                <Icon Color="Color.Primary"
                      Name="IconName.InformationFilled" />
                <Icon Color="Color.Secondary"
                      Name="IconName.InformationFilled" />
                <Icon Color="Color.Success"
                      Name="IconName.InformationFilled" />
                <Icon Color="Color.Danger"
                      Name="IconName.InformationFilled" />
                <Icon Color="Color.Info"
                      Name="IconName.InformationFilled" />
                <Icon Color="Color.Warning"
                      Name="IconName.InformationFilled" />
            </Stack>
        </ComponentPreview>

        <ComponentPreview Title="Size">
            <Stack>
                <Icon Size="IconSize.Small"
                      Name="IconName.InformationFilled" />
                <Icon Size="IconSize.Medium"
                      Name="IconName.InformationFilled" />
                <Icon Size="IconSize.Large"
                      Name="IconName.InformationFilled" />
            </Stack>
        </ComponentPreview>

        @* TODO: remove h* classes *@
        <ComponentPreview Title="Size Based on text size">
            <h1 class="text-4xl">
                <Icon Name="IconName.InformationFilled" />
                Heading 1
            </h1>
            <Spacer />
            <h2 class="text-3xl">
                <Icon Name="IconName.InformationFilled" />
                Heading 2
            </h2>
            <Spacer />
            <h3 class="text-2xl">
                <Icon Name="IconName.InformationFilled" />
                Heading 3
            </h3>
            <Spacer />
            <h4 class="text-xl">
                <Icon Name="IconName.InformationFilled" />
                Heading 4
            </h4>
            <Spacer />
            <p>
                <Icon Name="IconName.InformationFilled" />
                Paragraph
            </p>
        </ComponentPreview>
    </PageBody>
</Page>
