@page "/components/modal"
@layout ComponentsLayout

<Page>
    <PageHeader Title="Modals" />

    <ComponentPreview Title="Default">
        <Grid ItemsSmall="GridItems.Center"
              JustifySmall="GridJustify.Center">
            <GridItem>
                <Button OnClick="() => Open1 = !Open1">
                    Open
                </Button>
                <Modal @bind-Open=@Open1>
                    <ModalHeader Closable="false"
                                 Title="Terms of Service" />
                    <ModalBody>
                        With less than a month to go before the European Union enacts new consumer privacy laws for its
                        citizens, companies around the world are updating their terms of service agreements to comply.
                    </ModalBody>
                    <ModalFooter>
                        <ButtonGroup>
                            <Button Color="Color.Primary">
                                I accept
                            </Button>
                            <Button>
                                Decline
                            </Button>
                        </ButtonGroup>
                    </ModalFooter>
                </Modal>
            </GridItem>
        </Grid>
    </ComponentPreview>

    <ComponentPreview Title="Closable">
        <Grid ItemsSmall="GridItems.Center"
              JustifySmall="GridJustify.Center">
            <GridItem>
                <Button OnClick="() => Open2 = !Open2">
                    Open
                </Button>
                <Modal @bind-Open=@Open2>
                    <ModalHeader Closable="true"
                                 Title="Terms of Service" />
                    <ModalBody>
                        With less than a month to go before the European Union enacts new consumer privacy laws for its
                        citizens, companies around the world are updating their terms of service agreements to comply.
                    </ModalBody>
                    <ModalFooter>
                        <ButtonGroup>
                            <Button Color="Color.Primary">
                                I accept
                            </Button>
                            <Button>
                                Decline
                            </Button>
                        </ButtonGroup>
                    </ModalFooter>
                </Modal>
            </GridItem>
        </Grid>
    </ComponentPreview>

    <ComponentPreview Title="Size">
        <Grid ItemsSmall="GridItems.Center"
              JustifySmall="GridJustify.Center">
            <GridItem>
                <Button OnClick="() => Open3 = !Open3">
                    Open
                </Button>
                <Modal @bind-Open=@Open3
                       Size="ModalSize.Large">
                    <ModalHeader Closable="false"
                                 Title="Terms of Service" />
                    <ModalBody>
                        With less than a month to go before the European Union enacts new consumer privacy laws for its
                        citizens, companies around the world are updating their terms of service agreements to comply.
                    </ModalBody>
                    <ModalFooter>
                        <ButtonGroup>
                            <Button Color="Color.Primary">
                                I accept
                            </Button>
                            <Button>
                                Decline
                            </Button>
                        </ButtonGroup>
                    </ModalFooter>
                </Modal>
            </GridItem>
        </Grid>
    </ComponentPreview>

</Page>

@code {
    private bool Open1 { get; set; }

    private bool Open2 { get; set; }

    private bool Open3 { get; set; }
}
