@tailwind base;
@tailwind components;
@tailwind utilities;

$prefix: "f-";
$prefix-theme-dark: $prefix + "theme-dark";
$colors: ( "primary": "blue", "success": "green", "info": "cyan", "danger": "red", "warning": "yellow", "secondary": "gray" );

// BODY

body {
    @apply bg-gray-50;
}

body.#{$prefix-theme-dark} {
    @apply bg-gray-800;
    color-scheme: dark;
}

// COMPONENTS

@import './components/alert';
@import './components/close-button';
@import './components/grid';
@import './components/page';
@import './components/spacer';
