@inherits BaseComponent

<li class="@this.ClassName("TabItemWrapper")"
    role="presentation">
    <a aria-controls="panel-@Index"
       aria-current="@AriaCurrent"
       aria-selected="@AriaSelected"
       class="@this.GetClasses()"
       id="tab-@Index"
       type="button"
       role="tab"
       @onclick="() => Parent?.ActivateTab(Index)">
        @ChildContent
    </a>
</li>

@code {
    [Parameter]
    [CssProperty]
    public bool Active { get; set; } = false;

    [Parameter]
    [CssProperty]
    public bool Disabled { get; set; } = false;

    [Parameter]
    public int Index { get; set; } = default!;

    [CascadingParameter]
    protected Tabs? Parent { get; set; }

    private string AriaSelected => Active ? "true" : "false";

    private string? AriaCurrent => Active ? "page" : null;
}

