@inherits BaseComponent

<div @attributes="AdditionalAttributes"
     aria-labelledby="tab-@Index"
     class=@this.GetClasses()
     role="tabpanel">
    @ChildContent
</div>

@code {
    [CssProperty]
    public bool Active => Index == Parent.ActiveTabIndex;

    [Parameter]
    public string Name { get; set; }

    [CascadingParameter]
    public Tabs Parent { get; set; } = default!;

    private int Index = 0;

    protected override void OnInitialized()
    {
        Index = Parent.RegisterTab(Name);
    }
}

