<PluginView Title="@Title">
    <EditForm Model="@Model" OnSubmit="HandleSubmit" FormName="@Name" Enhance>
        <DataAnnotationsValidator />
        <Spacer />
        @ChildContent
        <Spacer />
        @if (Errors.Count > 0)
        {
            <Alert Type="AlertType.Danger">
                @foreach (var error in Errors)
                {
                    <p>@error</p>
                }
            </Alert>
        }
    </EditForm>
</PluginView>
