<Alert Type="AlertType.Danger">
    <Typography Align="TextAlign.Center">
        @(Message ?? "An error has occurred.")
    </Typography>
    <Button OnClick="Retry">
        Retry
    </Button>
</Alert>
