<Card>
    @if (!string.IsNullOrEmpty(Title))
    {
        <CardTitle>@Title</CardTitle>
    }
    @if (ChildContent != null)
    {
        <CardBody>
            @ChildContent
        </CardBody>
    }
    @if (!string.IsNullOrEmpty(ErrorContext?.LastError))
    {
        <CardBody>
            <Alert Type="AlertType.Danger">
                @foreach (var error in ErrorContext.LastError.Split("\n"))
                {
                    <div>@error</div>
                }
            </Alert>
        </CardBody>
    }
</Card>
