@* TODO *@

@inherits LayoutComponentBase
@layout FluentCMS.Web.UI.Components.Layouts.PanelLayout

<PanelLayoutSidebar>
    <Sidebar>
        <Header>
            <a href="/" class="items-center pl-2.5 mb-5 hidden lg:flex">
                <img src="https://flowbite.s3.amazonaws.com/logo.svg" class="h-8 mr-3" alt="FluentCMS Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">FluentCMS</span>
            </a>
        </Header>
        <ChildContent>
            @*
            <SidebarItem Href="/content-manager" Icon=@IconName.Edit>
            Content Manager
            </SidebarItem>
            <SidebarItem>Plugins</SidebarItem>
            <SidebarItem Href="/content-type-builder" Icon=@IconName.Clipboard>
            Content-Type Builder
            </SidebarItem>
            <SidebarItem Href="/media-library" Icon=@IconName.Image>
            Media Library
            </SidebarItem>
            <SidebarItem Href="/documentation" Icon=@IconName.InfoCircle>
            Documentation
            </SidebarItem>
            <SidebarItem>
            General
            </SidebarItem>
            <SidebarItem Href="/settings" Icon=@IconName.Cog>
            Settings
            </SidebarItem>
            <SidebarItem Href="/examples"
                         Icon="IconName.Rocket">
            Examples
            </SidebarItem>
            *@
            <SidebarItem Href="/components"
                         Icon="IconName.Rocket">
                Components
            </SidebarItem>
            <SidebarItem Href="/examples"
                         Icon="IconName.Squares">
            Examples
            </SidebarItem>
            @*
            <SidebarItem>
            <ul class="py-2 border-t border-gray-200 dark:border-gray-700"></ul>
            </SidebarItem>
            <SidebarItem Href="/" Icon=@IconName.Home>
            Home
            </SidebarItem>
            <SidebarItem Href="/" Icon=@IconName.ClipboardList>
            Docs
            </SidebarItem>
            *@
        </ChildContent>
        <Footer></Footer>
    </Sidebar>
</PanelLayoutSidebar>

@Body
