@inherits BaseComponent
@inject IJSRuntime JS

@namespace FluentCMS.Web.UI.Components


<div id="@Id" class="group hidden" aria-labelledby="accordion-collapse-heading-1">
    <div class="group-last:border-b-xl p-5 border border-t-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public string Id {get; set;}
}