@inherits BaseComponent
@inject IJSRuntime JS

@namespace FluentCMS.Web.UI.Components

<div class="bg-white dark:bg-gray-700/20" id="accordion-collapse" data-accordion="collapse">
    @ChildContent
</div>