$file-upload: $prefix + "form-file-upload";

.#{$file-upload} {
    @apply flex items-center justify-center w-full text-gray-500 dark:text-gray-400;

    &-label {
        @apply flex flex-col gap-2 pt-5 pb-6 items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600;
    }

    &-text {
        @apply text-sm;

        &-bold {
            @apply font-semibold;
        }
    }

    input {
        @apply hidden;
    }
}