$form-field: $prefix + "form-field";

.#{$form-field} {
    &-label {
        @apply mt-2 text-sm text-gray-500 dark:text-gray-400;
    }

    &-hint {
        @apply mt-2 text-sm text-gray-500 dark:text-gray-400;
    }
}