@namespace FluentCMS.Web.UI.Plugins.ContentTypeManagement.ContentTypeFields

<Grid GutterX="GridGutter.Large">
    <GridItem Small="GridItemColumn.Twelve"
              Medium="GridItemColumn.Six">
        <Select Id="contentTypeFieldModalDefaultValueInput"
                Label="Default Value"
                Name="DefaultValue"
                Placeholder="Choose Default Value..."
                Value="@((string?)Model.DefaultValue)"
                ValueChanged="@((string? value) => Model.DefaultValue = value)">
            @foreach (var option in Options)
            {
                <Option Value="option">@option</Option>
            }
        </Select>

    </GridItem>
</Grid>

<FieldAdvancedSettings Localization="false"
                       Range="false"
                       Unique="false" />

@code {
    [CascadingParameter]
    public ContentTypeFieldResponse Model { get; set; }

    List<string> Options = [];

    protected override void OnParametersSet()
    {
        var values = Model?.GetValue<string?>("Values");

        if (!string.IsNullOrEmpty(values))
        {
            Options = values.Split('\n').ToList();
        }
    }
}
