@namespace FluentCMS.Web.UI.Plugins.ContentTypeManagement.ContentTypeFields

<Grid GutterX="GridGutter.Large">
    <GridItem Small="GridItemColumn.Twelve"
              Medium="GridItemColumn.Six">
        <Select @bind-Value="value"
                Id="contentTypeFieldModalDefaultValueInput"
                Label="Default Value"
                Name="DefaultValue"
                Placeholder="Choose Default Value...">
            @foreach (var option in Options)
            {
                <Option Value="option">@option</Option>
            }
        </Select>

    </GridItem>
</Grid>

<FieldAdvancedSettings Localization="false"
                       Range="false"
                       Unique="false" />

@code {
    [CascadingParameter]
    public ContentTypeFieldResponse Model { get; set; }

    List<string> Options
    {
        get
        {
            var values = Model?.GetValue<string?>("Values");

            if (string.IsNullOrEmpty(values)) return new();

            return values.Split('\n').ToList();
        }
    }

    string? value
    {
        get
        {
            return (string?)Model.DefaultValue;
        }
        set
        {
            Model.DefaultValue = value;
        }
    }
}
