@namespace FluentCMS.Web.UI.Plugins.ContentTypeManagement.ContentTypeFields

<Grid GutterX="GridGutter.Large">
    <GridItem Small="GridItemColumn.Twelve"
              Medium="GridItemColumn.Six">
        <Select @bind-Value="Model.DefaultValue"
                Id="contentTypeFieldModalDefaultValueInput"
                Label="Default Value"
                Name="DefaultValue"
                Placeholder="Choose Default Value...">
            @foreach (var option in Options)
            {
                <Option Value="option">@option</Option>
            }
        </Select>

    </GridItem>
</Grid>

<FieldAdvancedSettings Localization="false"
                       Range="false"
                       Unique="false" />

@code {
    [CascadingParameter]
    public ContentTypeFieldResponse Model { get; set; }

    List<string> Options = [];

    protected override void OnParametersSet()
    {
        if (Model.GetValue<string>("Values") != null)
        {
            Options = Model.GetValue<string>("Values").Split('\n').ToList();
        }
    }
}
