@namespace FluentCMS.Web.Plugins.Contents.TextHTML
@rendermode InteractiveServer

<div class="m-4">
    <Typography Size="TextSize.H5">Edit TextHTML Content</Typography>            
    <Spacer />
    <Card>
        <CardBody>
            @if (Model != null)
            {
                <EditForm Model="@Model" OnSubmit="OnSubmit" FormName="@CONTENT_TYPE_NAME" Enhance>
                    <DataAnnotationsValidator />
                    <Spacer />
                    <Grid GutterX="GridGutter.Large">
                        <FormTextarea Placeholder="Enter HTML Content" Rows="20" @bind-Value="@Model!.Content" Label="Content" />
                        <GridItem Small="GridItemColumn.Twelve">
                            <Stack>
                                <Button Color="Color.Primary" Type="ButtonType.Submit">
                                    Submit
                                </Button>
                                <Button Href="@GetBackUrl()">
                                    Cancel
                                </Button>
                            </Stack>
                        </GridItem>
                    </Grid>
                </EditForm>
            }
        </CardBody>
    </Card>
</div>
