@inherits BaseComponent
@namespace FluentCMS.Web.UI.Components

<div class="@this.GetClasses()">
    <div class="@this.ClassName("InlineEditorContent")" @ref="Element">
        @Value
    </div>

    <Button Size="ButtonSize.Small" @onclick="ToggleIsEditing">ToggleIsEditing</Button>

    @if (IsEditing)
    {
        <div class="@this.ClassName("InlineEditorActions")">
            <Button Size="ButtonSize.Small" @onclick="HandleCancel">Cancel</Button>
            <Button Size="ButtonSize.Small" @onclick="HandleSave" Color="Color.Primary">Save</Button>
        </div>
    }
</div>