@inherits BaseComponent

<div @attributes="AdditionalAttributes"
     class="@this.GetClasses()">
    @if (!string.IsNullOrEmpty(Title))
    {
        <CardTitle>
            @Title
        </CardTitle>
    }
    @ChildContent
</div>

@code {
    [Parameter]
    public string? Title { get; set; }
}
