@inherits BaseComponent

<div @attributes="AdditionalAttributes"
     class="@this.GetClasses()">
    @ChildContent
</div>

@code {
    [Parameter]
    [CssProperty]
    public Sizes Width { get; set; } = Sizes.Default;
}
