@namespace FluentCMS.Web.UI.Plugins.Components

@* TODO: change class to f-plugin-body *@
<div class="m-4">
    <Grid Visible="!string.IsNullOrEmpty(Title)" ItemsSmall="GridItems.Center" JustifySmall="GridJustify.Between">
        <GridItem>
            <Typography Size="TextSize.H5">@Title</Typography>
        </GridItem>
        <GridItem>
            @ActionsFragment
        </GridItem>
    </Grid>
    <Spacer Visible="!string.IsNullOrEmpty(Title)" />
    <Card Visible="ChildContent != null">
        @ChildContent
    </Card>
</div>
