@namespace FluentCMS.Web.UI.Plugins.Components

<PluginBody Title="@Title">
    <EditForm Model="@Model" OnSubmit="HandleSubmit" FormName="@Name" Enhance>
        <DataAnnotationsValidator />
        <Spacer />
        <Grid GutterX="GridGutter.Large">
            @ChildContent
        </Grid>
        <Spacer />
        @if (Errors.Count > 0)
        {
            <Alert Type="AlertType.Danger">
                @foreach (var error in Errors)
                {
                    <p>@error</p>
                }
            </Alert>
        }
    </EditForm>
</PluginBody>
