@namespace FluentCMS.Web.UI.Plugins.Components

<GridItem>
    <ButtonGroup>
        <Button Href="@GetBackUrl()">
            Cancel
        </Button>
        @ChildContent
    </ButtonGroup>
</GridItem>
