@namespace FluentCMS.Web.UI.Plugins.Components

<GridItem>
    <ButtonGroup>
        @if (Cancel ?? false)
        {
            <Button Href="@GetBackUrl()">
                Cancel
            </Button>
        }
        @if (Submit ?? false)
        {
            <Button Color="Color.Primary" Type="ButtonType.Submit">
                Submit
            </Button>
        }
        @ChildContent
    </ButtonGroup>
</GridItem>
