@inherits BaseComponent

@namespace FluentCMS.Web.UI.Plugins.Components

@if (Policies != null && Policies.Count > 0 && Visible)
{
    <PluginFormField Label="@Label">
        @{ var index = 0; }
        @foreach(var policy in Value) {
            var i = index++;
            <div>
                <Divider>@Policies[i].Area</Divider>
                <PluginFormCheckboxGroup @bind-Value="policy.Actions" Data="@Policies[i].Actions" @key="@Policies[i]" />
            </div>
        }
    </PluginFormField>
}
