@inherits BasePlugin

@if (Plugin != null)
{
    <table style="border: 1px solid black;border-collapse: collapse;" width="100%">
        <tr>
            <th width="100%" colspan="2">News List</th>
            <th style="white-space:nowrap">
                <a href="@NavigationManager.Uri?viewName=Edit News&pluginId=@Plugin.Id">Add News</a>
            </th>
        </tr>
        @foreach (var item in Contents ?? [])
        {
            <tr>
                <td><b>@item.Title</b></td>
                <td>@item.Content</td>
                <td>
                    <a href="@NavigationManager.Uri?viewName=Edit News&pluginId=@Plugin.Id&id=@item.Id">Edit</a>
                </td>
            </tr>
        }
    </table>
}
