@* TODO *@

@inherits LayoutComponentBase

@namespace FluentCMS.Web.UI.Components

<section class="bg-white dark:bg-gray-900">
    <div class="grid lg:h-screen lg:grid-cols-2">
        <div class="flex items-center justify-center px-4 py-6 lg:py-0 sm:px-0">
            @Body
        </div>
        <div class="flex items-center justify-center px-4 py-6 bg-primary-600 lg:py-0 sm:px-0">
            <div class="max-w-md xl:max-w-xl">
                <a href="#" class="flex items-center mb-4 text-2xl font-semibold text-white">
                    <Logo />
                    FluentCMS
                </a>
                <h1 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-white xl:text-5xl">
                    Explore the world’s leading design portfolios.
                </h1>
                <p class="mb-4 font-light text-primary-200 lg:mb-8">
                    Millions of designers and agencies around the world showcase their portfolio work on FluentCMS - the home to the world’s best design and creative professionals.
                </p>
            </div>
        </div>
    </div>
</section>

<script src="/_content/FluentCMS.Web.UI.Components/js/flowbite.min.js"></script>
