@* TODO *@

@inherits LayoutComponentBase

@namespace FluentCMS.Web.UI.Components

<main class="flex items-center justify-center h-screen">
    @Body
</main>

<script src="/_content/FluentCMS.Web.UI.Components/js/flowbite.min.js"></script>
