<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<PageHead fluentcms />
<meta name="author" content="FluentCMS">
<meta name="apple-mobile-web-app-title" content="FluentCMS">
<meta name="application-name" content="FluentCMS">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#2d3250">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet">
<link rel="stylesheet" href="/_content/FluentCMS.Web.UI.Components/css/app.min.css" />
<link rel="stylesheet" href="/files/css/app.css" />
<link rel="apple-touch-icon" sizes="180x180" href="/files/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/files/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="/files/images/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/files/images/favicon-16x16.png">
<link rel="mask-icon" href="/files/images/safari-pinned-tab.svg" color="#2d3250">

<script src="/files/js/app.head.js"></script>
<TailwindStyles fluentcms />
