@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

@* TODO: remove extra class *@
<aside @attributes="AdditionalAttributes"
       class="@this.GetClasses() -translate-x-full lg:!translate-x-0">
    <div class="@this.ClassName("SidebarMain")">
        @if (!string.IsNullOrEmpty(Title))
        {
            <h4 class="@this.ClassName("SidebarTitle")">
                @Title
            </h4>
        }
        @Header
        <ul>
            <li>
                <ul>
                    @ChildContent
                </ul>
            </li>
        </ul>
    </div>
    @Footer
</aside>

@code {
    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public RenderFragment? Footer { get; set; }

    [Parameter]
    [CssProperty]
    public bool Secondary { get; set; }

    [Parameter]
    public string? Title { get; set; }
}
