@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

<li @attributes="AdditionalAttributes"
    class="@this.GetClasses()">
    @if (string.IsNullOrEmpty(Href))
    {
        <span>
            @ChildContent
        </span>
    }
    else
    {
        @* TODO: checked the usage of class *@
        <a class="group"
           href="@Href"
           target="@Target">
            @if (this.Icon != IconName.Default)
            {
                <Icon Name="Icon" />
            }
            <span>
                @ChildContent
            </span>
        </a>
    }
</li>

@code {
    [Parameter]
    public string? Href { get; set; }

    [Parameter]
    public IconName Icon { get; set; }

    [Parameter]
    public string? Target { get; set; }
}
