@namespace FluentCMS.Web.Plugins.Contents.Block

<div @ref="Element" class="f-block">
    @((MarkupString)Content)
</div>

@if (IsEditing)
{
    <div class="f-block-actions">
        <Button Size="ButtonSize.Small" @onclick="OnCancel">Cancel</Button>
        <Button Size="ButtonSize.Small" @onclick="OnSave" Color="Color.Primary">Save</Button>
    </div>
}
