@inherits BaseComponent
@namespace FluentCMS.Web.Plugins.Contents.Block

<div class="f-block-modal-preview-item" @attributes="AdditionalAttributes">
    <div class="f-block-modal-preview-title">
        @Block.Category - @Block.Name
    </div>
    <div class="f-block-modal-preview-content">
        @((MarkupString)Block.Content!)
    </div>
</div>