@ChildContent


<div class="f-actions f-actions-no-bg f-plugin-actions">
<div class="f-actions-start"> </div>
    <div class="f-actions-end" data-plugin-id="@Plugin.Id" data-plugin-items-root>
        @ActionsEnd
    </div>
</div>

@code {
    [Parameter]
    public PluginViewState Plugin { get; set; } = default!;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter]
    public RenderFragment ActionsEnd { get; set; } = default!;

    [Parameter]
    public RenderFragment ActionsStart { get; set; } = default!;
}