@tailwind base;
@tailwind components;
@tailwind utilities;

$prefix: "f-";
$colors: ( "primary": "blue", "success": "green", "info": "cyan", "danger": "red", "warning": "yellow", "secondary": "gray" );

// BODY

body {
    @apply bg-gray-50;
}

body.dark {
    @apply bg-gray-800;
    color-scheme: dark;
}

// COMPONENTS

@import './components/alert';
@import './components/autocomplete';
@import './components/badge';
@import './components/button';
@import './components/card';
@import './components/checkbox';
@import './components/close-button';
@import './components/confirm';
@import './components/dropdown';
@import './components/form';
@import './components/form-field';
@import './components/grid';
@import './components/icon';
@import './components/input';
@import './components/modal';
@import './components/page';
@import './components/pagination';
@import './components/radio';
@import './components/select';
@import './components/sidebar';
@import './components/spacer';
@import './components/spinner';
@import './components/stack';
@import './components/switch';
@import './components/table';
@import './components/tabs';
@import './components/typography';
@import './components/textarea';
@import './components/tooltip';
