@tailwind base;
@tailwind components;
@tailwind utilities;

$prefix: "f-";
$colors: (
    "primary": "blue",
    "success": "green",
    "info": "cyan",
    "danger": "red",
    "warning": "yellow",
    "secondary": "gray",
);

html {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

// BODY

body {
    @apply bg-gray-50;
}

.dark body {
    @apply bg-gray-800;
    color-scheme: dark;
}

.hidden {
    display: none;
}

// COMPONENTS
@import "./Components/Accordion";
@import './Components/Alert';
@import './Components/Avatar';
@import './Components/Badge';
@import './Components/Breadcrumb';
@import './Components/Button';
@import './Components/Card';
@import './Components/CloseButton';
@import './Components/Confirm';
@import './Components/DataTable';
@import './Components/Divider';
@import './Components/Dropdown';
@import './Components/Form/FormAutocomplete.core';
@import './Components/Form/FormAutocomplete';
@import './Components/Form/FormCheckbox';
@import './Components/Form/FormCheckboxGroup';
@import './Components/Form/FormDateInput';
@import './Components/Form/FormField';
@import './Components/Form/FormFileUpload';
@import './Components/Form/FormInput';
@import './Components/Form/FormLabel';
@import './Components/Form/FormMarkdownEditor.core';
@import './Components/Form/FormMarkdownEditor';
@import './Components/Form/FormNumberInput';
@import './Components/Form/FormTreeSelector';
@import './Components/Form/FormRichTextEditor.core';
@import './Components/Form/FormRichTextEditor';
@import './Components/Form/FormRadioGroup';
@import './Components/Form/FormSelect';
@import './Components/Form/FormSwitch';
@import './Components/Form/FormTextarea';
@import './Components/Grid';
@import './Components/Icon';
@import './Components/Indicator';
@import './Components/InlineEditor';
@import './Components/Modal';
@import './Components/Pagination';
@import './Components/Spacer';
@import './Components/Spinner';
@import './Components/Stack';
@import './Components/Stepper';
@import './Components/Tabs';
@import './Components/Toast';
@import './Components/Tooltip';
@import './Components/Typography';


@import './Plugins/Block';
@import './Plugins/IFrame';