@if (ErrorContext?.Errors.Any() ?? false)
{
    <CardBody>
        <Alert Type="AlertType.Danger">
            @foreach (var error in ErrorContext.Errors)
            {
                <div>@error</div>
            }
        </Alert>
    </CardBody>
}
