@if (!string.IsNullOrEmpty(ErrorContext?.LastError))
{
    <CardBody>
        <Alert Type="AlertType.Danger">
            @foreach (var error in ErrorContext.LastError.Split("\n"))
            {
                <div>@error</div>
            }
        </Alert>
    </CardBody>
}
