<div class="f-plugin-container">
    <div class="f-plugin">
        <ErrorBoundary @ref="ErrorBoundaryRef">
            <ChildContent>
                @ChildContent
            </ChildContent>
            <ErrorContent>
                <PluginError Message="@context.Message" ErrorBoundaryRef="@ErrorBoundaryRef"/>
            </ErrorContent>
        </ErrorBoundary>
    </div>
</div>
