@* TODO: move css class names *@
<div class="f-plugin-container">
    <ErrorBoundary>
        <ChildContent>
            <div class="f-plugin">
                @ChildContent
            </div>
        </ChildContent>
        <ErrorContent>
            <Alert Type="AlertType.Danger">
                @context.Message
            </Alert>
        </ErrorContent>
    </ErrorBoundary>
</div>
