<ErrorBoundary @ref="ErrorBoundaryRef">
    <ChildContent>
        <div class="f-plugin-container">
            <div class="f-plugin">
                @ChildContent
            </div>
        </div>
    </ChildContent>
    <ErrorContent>
        <PluginError Message="@context.Message" ErrorBoundaryRef="@ErrorBoundaryRef"/>
    </ErrorContent>
</ErrorBoundary>
