@namespace FluentCMS.Web.UI.Plugins.Components

<div class="f-plugin-container">
    <ErrorBoundary>
        <ChildContent>
            <div class="f-plugin-container-content">
                @ChildContent
            </div>
        </ChildContent>
        <ErrorContent>
            <div class="f-plugin-container-error">
                @context.Message
            </div>
        </ErrorContent>
    </ErrorBoundary>
</div>
