<ErrorBoundary @ref="ErrorBoundaryRef">
    <ChildContent>
        <div class="f-plugin-container">
            <div class="f-plugin">
                @ChildContent
            </div>
        </div>
    </ChildContent>
    <ErrorContent>
        <div>@context.Message</div>
        <Button OnClick="Recover">
            Recover
        </Button>
    </ErrorContent>
</ErrorBoundary>
