@namespace FluentCMS.Web.UI.Plugins.Components

@if (Page?.Sections != null && Page.Sections.ContainsKey(Name))
{
    <div class="f-section f-section-@Name.FromPascalCaseToKebabCase()">
        @foreach (var Plugin in Page.Sections[Name].OrderBy(p => p.Order))
        {
            <CascadingValue Value="@Plugin">
                <PluginContainer @key="@Plugin">
                    <DynamicComponent Type=@GetType(Plugin) />
                </PluginContainer>
            </CascadingValue>
        }
    </div>
}
