@inherits BaseComponent

@namespace FluentCMS.Web.UI.ComponentsDocs.Components

@if(Visible)
{
    <li @attributes="AdditionalAttributes">
        @if(!string.IsNullOrEmpty(Href))
        {
            <a href="@Href" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                @if (this.Icon != IconName.Default)
                {
                    <Icon class="w-auto h-auto" Name="Icon" />
                }
               <span class="ms-3">@ChildContent</span>
            </a>
        }
        else 
        {
            <h5 class="mb-2 text-sm font-semibold tracking-wide text-gray-900 uppercase lg:text-xs dark:text-white">@ChildContent</h5>
        }
    </li>
}
