@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

@if(Visible)
{
    <div @attributes="AdditionalAttributes"
         class="@this.GetClasses()">
        @foreach (var toast in toasts)
        {
            <Toast Dismissible="true"
                   Type="toast.Type">
                @toast.Message
            </Toast>
        }
    </div>
}