@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

@if (Show && Visible)
{
    <div @attributes="AdditionalAttributes"
         class="@this.GetClasses()"
         role="alert">
        <div>
            @ChildContent
        </div>
        @if (Dismissible)
        {
            <CloseButton class="@this.ClassName("ToastClose")"
                         @onclick="Close" />
        }
    </div>
}
