@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

@if(Visible)
{
    <div @attributes="AdditionalAttributes"
         @ref="element"
         class="@this.GetClasses()"
         tabindex="-1">
        <div class="@this.ClassName("ModalWrapper")">
            <CascadingValue Value="this">
                <ModalContent>
                    @ChildContent
                </ModalContent>
            </CascadingValue>
        </div>
    </div>
}