@inherits BaseContentPlugin
@rendermode InteractiveServer

@* @if (ContentType != null)
{
    @for (int i = 0; i < Fields.Count; i++)
    {
        var field = Fields[i];
        @if (field.Type == FieldTypes.STRING)
        {
            var stringField = (StringFieldModel)field;
            <StringFieldFormText Model="stringField" />
        }
    }
    <Button @onclick="OnSubmit">Submit</Button>

} *@
