@inherits BaseContentPlugin
@rendermode InteractiveServer

@if (Fields != null)
{
    @foreach (var field in Fields)
    {
        <DynamicComponent Type="GetFormFieldType(field)" Parameters="GetFormFieldParameters(field)" />
    }
    <Button @onclick="OnSubmit">Submit</Button>
}
