<Page>
    <PageHeader HasBack="true"
                Title="Create ContentType">
    </PageHeader>
    <PageBody>
        <Grid Gutter="GridGutter.Medium">
            <GridItem Small="GridItemColumn.Twelve">
                <Form Model="@model"
                      OnSubmit="OnSubmit">
                    <Card>
                        <CardBody>
                            <Input @bind-Value="model.Slug"
                                   Id="contentTypeCreateSlugInput"
                                   Label="Slug"
                                   Name="Slug"
                                   Placeholder="Enter Slug..." />
                            <Input @bind-Value="model.Title"
                                   Id="contentTypeCreateTitleInput"
                                   Label="Title"
                                   Name="Title"
                                   Placeholder="Enter Title..."
                                   Required="true" />
                            <Textarea @bind-Value="model.Description"
                                      Id="contentTypeCreateDescriptionInput"
                                      Label="Description"
                                      Name="Description"
                                      Placeholder="Enter Description..." />
                            <Spacer />
                            @if (!string.IsNullOrEmpty(message))
                            {
                                <Typography>
                                    @message
                                </Typography>
                                <Spacer />
                            }
                            <ButtonGroup>
                                <Button id="contentTypeCreateCancelButton"
                                        OnClick="GoBack">
                                    Cancel
                                </Button>
                                <Button id="contentTypeCreateSubmitButton"
                                        Color="Color.Primary"
                                        Type="ButtonType.Submit">
                                    Save
                                </Button>
                            </ButtonGroup>
                        </CardBody>
                    </Card>
                </Form>
            </GridItem>
        </Grid>
    </PageBody>
</Page>

@code {
    [Inject]
    ContentTypeClient ContentTypeClient { get; set; } = default!;

    [Inject]
    IJSRuntime JsRuntime { set; get; } = default!;

    [Inject]
    NavigationManager NavigationManager { set; get; } = default!;

    string? message { get; set; }

    ContentTypeCreateRequest model { get; set; } = new();

    void GoBack()
    {
        NavigationManager.NavigateTo(NavigationManager.Plugin("ContentType Management", "ContentTypes List"));
    }

    async Task OnSubmit()
    {
        try
        {
            var contentType = await ContentTypeClient.CreateAsync(model);

            message = "Done!";

            if (contentType?.Data?.Id == null) return;

            NavigationManager.NavigateTo(NavigationManager.Plugin("ContentType Management", "Update ContentType", new { id = contentType?.Data?.Id! }));
        }
        catch (Exception ex)
        {
            message = ex.ToString();
        }
    }
}
