@inherits BasePlugin
@rendermode InteractiveServer

@if (CurrentState == State.List)
{
    <PluginBody Title="Content Type Fields" Visible="ContentType?.Fields != null">
        <ActionsFragment>
            <Button Color="Color.Primary" @onclick=OnCreateFieldClick>
                <Icon Name="IconName.Plus" />Add Field
            </Button>
        </ActionsFragment>
        <ChildContent>
            <ContentTypeFieldsList ContentType=ContentType OnEdit="(x)=> OnEditFieldClick(x)" OnDelete="(x)=> OnDeleteFieldClick(x)" />
        </ChildContent>
    </PluginBody>
}
@if (CurrentState == State.Create)
{
    <ContentTypeFieldCreate Model=SelectedField OnSubmit=@OnFieldUpdate OnCancel=OnCancel />
}
@if (CurrentState == State.Edit)
{
    <ContentTypeFieldUpdate Model=SelectedField OnSubmit=@OnFieldUpdate OnCancel=OnCancel />
}
