@using System.Reflection
<Modal @bind-Open="Open"
       Size="ModalSize.Large">
    <div class="dark:bg-gray-800">
        <ModalHeader>
            <ModalTitle id="contentTypeFieldModalTitle">@Title</ModalTitle>
        </ModalHeader>
        <ModalBody>
            <Form Model="@Model"
                  OnSubmit="OnFormSubmit">
                <Tabs @bind-Value="ActiveTab">
                    <TabsList>
                        <TabsTab id="contentTypeFieldModalGeneralTab" 
                                 Name="tab-general">
                            General
                        </TabsTab>
                        <TabsTab id="contentTypeFieldModalAdvancedTab" 
                                 Name="tab-advanced">
                            Advanced
                        </TabsTab>
                    </TabsList>
                    <TabsPanels>
                        <TabsPanel Name="tab-general">
                            <Grid GutterX="GridGutter.Large">
                                <GridItem Small="GridItemColumn.Twelve" Medium="GridItemColumn.Six">
                                    <Input @bind-Value="Model.Slug"
                                           autofocus="true"
                                           Id="contentTypeFieldModalSlugInput" 
                                           Label="Slug"
                                           Name="Slug"
                                           Placeholder="Enter Slug..."
                                           Required="true"/>
                                </GridItem>
                                <GridItem Small="GridItemColumn.Twelve" Medium="GridItemColumn.Six">
                                    <Input @bind-Value="Model.Title"
                                           Id="contentTypeFieldModalTitleInput"
                                           Label="Title"
                                           Name="Title"
                                           Placeholder="Enter Title..."
                                           Required="true"/>
                                </GridItem>
                            </Grid>
                            <Textarea @bind-Value="Model.Description"
                                      Id="contentTypeFieldModalDescriptionInput"
                                      Label="Description"
                                      Name="Description"
                                      Placeholder="Enter Description..."
                                      Required="true" />
                        </TabsPanel>
                        <TabsPanel Name="tab-advanced">
                            <Input @bind-Value="Model.Label"
                                   Id="contentTypeFieldModalLabelInput"
                                   Label="Label"
                                   Name="Label"
                                   Placeholder="Enter Label..."
                                   Required="true"/>
                            <Switch @bind-Value="Model.IsRequired"
                                    Id="contentTypeFieldModalRequiredInput"
                                    Label="Is Required?"
                                    Name="IsRequired" />
                            <Input @bind-Value="Model.Placeholder"
                                   Id="contentTypeFieldModalPlaceholderInput"
                                   Label="Placeholder"
                                   Name="Placeholder"
                                   Placeholder="Enter Placeholder..."/>
                            <Input @bind-Value="Model.Hint"
                                   Id="contentTypeFieldModalHintInput"
                                   Label="Hint"
                                   Name="Hint"
                                   Placeholder="Enter Hint..."/>

                            <Input @bind-Value="Model.DefaultValue"
                                   Id="contentTypeFieldModalDefaultValueInput"
                                   Label="Default Value"
                                   Name="DefaultValue"
                                   Placeholder="Enter Default Value..."/>
                        </TabsPanel>
                    </TabsPanels>
                </Tabs>

                <ButtonGroup>
                    <Button id="contentTypeFieldModalCancelButton"
                            OnClick="() => OnCancel.InvokeAsync()">
                        Cancel
                    </Button>
                    <Button Color="Color.Primary"
                            id="contentTypeFieldModalSubmitButton"
                            Type="ButtonType.Submit">
                        Submit
                    </Button>
                </ButtonGroup>
            </Form>
        </ModalBody>
    </div>
</Modal>

    @code {
    [Parameter]
    public string ActiveTab {get; set; } = "tab-general";

    [Parameter]
    public ContentTypeField Model {get; set;} = new();

    [Parameter]
    public bool Open {get; set;} = false;

    [Parameter]
    public EventCallback<bool> OnCancel {get; set;}

    [Parameter]
    public EventCallback<ContentTypeField> OnSubmit {get; set;}

    [Parameter]
    public string Title {get; set; }

    void OnFormSubmit()
    {
        OnSubmit.InvokeAsync(Model);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        var assemblies = AppDomain.CurrentDomain.GetAssemblies();

        var components = assemblies
            .SelectMany(a => a.GetTypes())
            .Where(t => typeof(FluentCMS.Web.UI.Plugins.ContentTypeManagement.ContentTypeFields.Base).IsAssignableFrom(t) && !t.IsAbstract );

        var props = components.Select(x => x.GetField("Description").GetValue(x));
        //.Where(t => t.Namespace == "FluentCMS.Web.UI.Plugins.ContentTypeManagement.ContentTypeFields" && typeof(ComponentBase).IsAssignableFrom(t));

    }
}
