@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

<div class="@this.GetClasses()">
    <hr class="@this.ClassName("DividerLine")">
    <span class="@this.ClassName("DividerText")">
        @ChildContent
    </span>
</div>
