<Typography Size="TextSize.H5">@Title</Typography>
@if (Model != null)
{
    <EditForm Model="@Model" OnSubmit="HandleSubmit" FormName="@Name">
        <DataAnnotationsValidator />
        <Spacer />
        @if(!string.IsNullOrEmpty(Description))
        {
            <Typography>
                @Description
            </Typography>
        }
        <Grid GutterX="GridGutter.Large">
            @ChildContent
        </Grid>
        <Spacer />
        <Alert Visible="Errors.Count > 0" Type="AlertType.Danger">
            @foreach (var error in Errors)
            {
                <p>@error</p>
            }
        </Alert>
    </EditForm>
}                 
