@inherits BasePlugin

@if (IsPosted)
{
    <div class="flex items-center justify-start">
        <div>
            <Typography Weight="TextWeight.Bold">Email sent!</Typography>
            <Typography>Please check your inbox and continue.</Typography>
        </div>
    </div>
}
else
{
    <PluginForm Model="@Model" Name="@FORM_NAME" Title="Forgot Password" Description="We'll email you instructions to reset your password." OnSubmit="@OnSubmit">
        <FormInput @bind-Value="Model!.Email" Label="Email" Placeholder="Enter your email" Required />
        <FormField Dense>
            <Button Block Color="Color.Primary" Type="ButtonType.Submit">Submit</Button>
        </FormField>
    </PluginForm>
}
