@inherits BasePlugin

<PluginForm Model="@Model" Name="@FORM_NAME" Title="Welcome back" OnSubmit="@OnSubmit">
    <FormInput @bind-Value="Model!.Username" Label="Username" Placeholder="Enter your username" Required />
    <FormInput @bind-Value="Model!.Password" Label="Password" Placeholder="Enter your password" Required type="password" />
    <FormField Dense>
        <Grid ItemsSmall="GridItems.Center" JustifySmall="GridJustify.Between">
            <FormCheckbox @bind-Value="Model!.RememberMe" Cols="6" Dense Text="Remember Me" />
            <GridItem>
                <Button Color="Color.Primary" Href="/auth/forgot-password" Link>Forgot Password?</Button>
            </GridItem>
        </Grid>
        <Spacer />
        <Button Block Color="Color.Primary" Type="ButtonType.Submit">Sign in to your account</Button>
        <Spacer />
    </FormField>
    <FormField Dense>
        <Typography>
            Don't have an account?
            <Button Color="Color.Primary" Href="/auth/register" Link>Sign up</Button>
        </Typography>
    </FormField>
</PluginForm>
