@inherits BasePlugin

<PluginForm Model="@Model" Name="@FORM_NAME" Title="Reset your Password" Description="Your new password must be different from previous used passwords." OnSubmit="@OnSubmit">
    <FormHiddenInput @bind-Value="Model!.Token" />
    <FormHiddenInput @bind-Value="Model!.Email" />
    <FormInput @bind-Value="Model!.NewPassword" Label="New Password" Placeholder="Enter your new password" Required type="password" />
    <FormInput @bind-Value="Model!.NewPasswordConfirm" Label="Confirm New Password" Placeholder="Enter your new password" Required type="password" />
    <FormField Dense>
        <Button Block Color="Color.Primary" Type="ButtonType.Submit">Submit</Button>
    </FormField>
</PluginForm>
