@inject SetupManager SetupManager
@inject NavigationManager NavigationManager

<PageTitle>Setup</PageTitle>

@if (!Initialized)
{
    <EditForm Model="@SetupModel" OnValidSubmit="SetupStart">
        <div>
            <div>
                <label for="username">Username</label>
                <InputText @bind-Value=SetupModel.Username class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="Enter admin's username" required="" />
            </div>
            <div>
                <label for="email">Email</label>
                <InputText @bind-Value=SetupModel.Email type="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="Enter admin's email address" required="" />
            </div>
            <div>
                <label for="email">Password</label>
                <InputText @bind-Value=SetupModel.Password name="password" type="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="Enter admin's password" required="" />
            </div>
            <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Start setup</button>
        </div>
    </EditForm>
}
else
{
    <div>
        <p>Setup is already done!</p>
    </div>
}
@code {
    public bool Initialized { get; set; } = false;

    public SetupRequest SetupModel { get; set; } = new SetupRequest
        {
            Username = "admin",
            Email = "admin@example.com",
            Password = "Passw0rd!",
            AppTemplateName = "Blank",
            SiteTemplateName = "Blank"
        };

    protected override async Task OnInitializedAsync()
    {
        Initialized = await SetupManager.IsInitialized();
        SetupModel.AdminDomain = new Uri(NavigationManager.BaseUri).Authority;
    }

    private async Task SetupStart()
    {
        if (await SetupManager.Start(SetupModel))
            NavigationManager.NavigateTo("/", true);
    }
}
