@inherits BaseComponent

@if (Visible && Model != null)
{
    <EditForm Model="@Model" OnSubmit="HandleSubmit">
        <Modal Size="ModalSize.Large" OnClose="HandleCancel">
            <ModalHeader Closable>
             <ModalTitle>
                 Assign Role To User
             </ModalTitle>
         </ModalHeader>
         <ModalBody>
             <DataAnnotationsValidator />
             <FormCheckboxGroup @bind-Value="@SelectedRoleIds" Data="Roles" Label="Roles" TextField="RoleName" ValueField="RoleId" />
             </ModalBody>
             <ModalFooter>
                 <FormActions Submit>
                 <Button @onclick="HandleCancel">
                     Cancel
                 </Button>
             </FormActions>
         </ModalFooter>
     </Modal>
 </EditForm>
}


