@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

<button @attributes="AdditionalAttributes"
        class="@this.GetClasses()"
        type="button"
        @onclick="OnClick">
    <Icon Name="IconName.Close"
          Size="IconSize.Large" />
</button>
