@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

@if(Visible)
{
    <div @attributes="AdditionalAttributes" class="@this.GetClasses()" tabindex="-1">
        <div class="@this.ClassName("ModalWrapper")">
            <div class="@this.ClassName("ModalContent")">
                <CascadingValue Value="this">
                    @ChildContent
                </CascadingValue>
            </div>
        </div>
    </div>
    <div class="@this.ClassName("ModalBackdrop")"></div>
}