@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

@if(Visible)
{
    <Button autofocus="true"
            class="@this.GetClasses()"
            Link="true"
            tabindex="0"
            OnClick="() => GoBack()">
        <Icon Name="@IconName.Previous" />
        Back
    </Button>
}

