@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

<Button class="@this.GetClasses()"
        Link="true"
        OnClick="() => GoBack()">
    <Icon Name="@IconName.Previous" />
    Back
</Button>

@code {
    [Inject]
    IJSRuntime JsRuntime { get; set; }

    public async Task GoBack()
    {
        await JsRuntime.InvokeAsync<object>("history.back");
    }
}

