@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

<Button autofocus="true"
        class="@this.GetClasses()"
        Link="true"
        tabindex="0"
        OnClick="() => GoBack()">
    <Icon Name="@IconName.Previous" />
    <span class="@this.ClassName("PageBackButtonText")">Back</span>
</Button>

@code {
    [Inject]
    IJSRuntime JsRuntime { get; set; }

    public async Task GoBack()
    {
        await JsRuntime.InvokeAsync<object>("history.back");
    }
}

