@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

@if(Visible)
{
    <section @attributes="AdditionalAttributes"
            class="@this.GetClasses()">
        @ChildContent
    </section>
}