<!DOCTYPE html>
<html lang="en">
<head>
    @* These lines should be here to avoid ui flickering *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="AI based Headless CMS For Blazor community" />
    <link rel="stylesheet" href="/_content/FluentCMS.Web.UI.Components/css/app.min.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <base href="/" />

    <HeadOutlet @rendermode="@RenderModeForPage" />
</head>
<body>
    <Routes @rendermode="@RenderModeForPage" />
    <script src="_framework/blazor.web.js"></script>

    <script src="/js/app.bundle.js"></script>
    <script src="/js/flowbite.min.js"></script>
</body>
</html>
@code{

    // app is static (NoneInteractive) only so we don't need to null check out HTTP Context
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; } = default!;

    public string[] staticRoutePrefixes = ["/auth/login", "/"];

    // determine render mode based on url
    private IComponentRenderMode? RenderModeForPage => staticRoutePrefixes.Any(x => HttpContext.Request.Path.Equals(x))
        ? null // null is NoneInteractive
        : InteractiveServer;
}
