<!DOCTYPE html>
<html lang="en">
<head>
    <HeadOutlet />
</head>
<body>
    <Router AppAssembly="@this.GetType().Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
    </Router>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
