@page "/{*Route:nonfile}"

<PageTitle>Page Title</PageTitle>
<HeadContent>

</HeadContent>

This is @Route route!

<a href="api/doc"  target="_blank">Swagger</a>

@code {
    [Parameter]
    public string? Route { get; set; }
}
