@page "/{*Route:nonfile}"

@inject ISiteState SiteState
@inject NavigationManager NavigationManager

<PageTitle>Page Title</PageTitle>

<h1>This is: @Route!</h1>
<a href="/setup">Setup</a>
<br />
<a href="/counter">Counter</a>
<br />
<a href="/admin?plugin=setup">Setup</a>
<br />
<a href="/x/y/z/a?plugin=test">XYZ</a>
<br />
<a href="api/doc" target="_blank">Swagger</a>
<br />
@code {
    [Parameter]
    public string? Route { get; set; }

    protected override void OnInitialized()
    {

        // // check for initialization
        // if (!SiteState.Initialized)
        //     NavigationManager.NavigateTo("/setup");
    }

}
