@page "/{*Route:nonfile}"

@inject SetupManager SetupManager
@inject NavigationManager NavigationManager

<PageTitle>Page Title</PageTitle>

<h1>This is: @Route!</h1>
<a href="/setup">Setup</a>
<br />
<a href="/counter">Counter</a>
<br />
<a href="/auth/login">Login</a>
<br />
<a href="/auth/register">Register</a>
<br />
<a href="api/doc" target="_blank">Swagger</a>
<br />
@code {
    [Parameter]
    public string? Route { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!await SetupManager.IsInitialized())
            NavigationManager.NavigateTo("/setup", true);

        await base.OnInitializedAsync();
    }
}
