@page "/{*Route:nonfile}"

@inject SetupManager SetupManager

<PageTitle>Page Title</PageTitle>

<h1>This is: @Route! Setup status: @_isInitialized</h1>
<a href="/setup">Setup</a>
<br />
<a href="/counter">Counter</a>
<br />
<a href="/auth/login">Login</a>
<br />
<a href="/auth/register">Register</a>
<br />
<a href="api/doc" target="_blank">Swagger</a>
<br />
@code {
    [Parameter]
    public string? Route { get; set; }

    private bool _isInitialized = false;

    protected override async Task OnInitializedAsync()
    {
        _isInitialized = await SetupManager.IsInitialized();
        if (!_isInitialized)
            SetupManager.NavigateToSetupRoute();
    }
}
