@implements IAsyncDisposable
@inherits BaseComponent
@inject IJSRuntime JS

@namespace FluentCMS.Web.UI.Components

@if(Visible)
{
    <button @attributes="AdditionalAttributes"
            class="@this.GetClasses()"
            @onclick="OnClick">
        @if (IsLight)
        {
            <Icon Name="IconName.Moon" />
        }
        else
        {
            <Icon Name="IconName.Sun" />
        }
    </button>
}