$stack: $prefix + 'stack';

$stack-items: ( start, end, center, baseline, stretch);

$stack-justify: ( normal, start, end, center, between, around, evenly, stretch);

.#{$stack} {
    @apply flex gap-4 items-center;

    &-vertical-true {
        @apply flex-col;
    }

    @each $key in $stack-items {
        &-items-#{$key} {
            @apply items-#{$key};
        }
    }

    @each $key in $stack-justify {
        &-justify-#{$key} {
            @apply justify-#{$key};
        }
    }
}
