$number-input: $prefix + 'number-input';

.#{$number-input} {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;

    &-disabled-true {
        @apply cursor-not-allowed opacity-70;
    }

    &-size-small {
        @apply py-2 text-xs;
    }

    &-size-medium,
    &-size-default {
        @apply py-2.5 text-sm;
    }

    &-size-large {
        @apply py-3 text-base;
    }
}
