@inherits BaseComponent

@namespace FluentCMS.Web.UI.Plugins.Components

<Label Visible="!string.IsNullOrEmpty(Label)">
    @Label
</Label>
@* TODO: Should remove Alert when Checkbox Group component added *@
<Spacer/>
<Alert Type="AlertType.Info">Permissions doesn't work yet!</Alert>
<Spacer/>
<div>
    @foreach(var policy in Policies)
    {
        <Divider>@policy.Area</Divider>
        <div class="flex items-center gap-4">
            @* TODO: When Checkbox group component added, Disabled should be equal to @Disabled *@
            @foreach(var action in policy.Actions)
            {                        
                <Checkbox Dense="true" Disabled="true" Label="@action"/>
            }
        </div>
    }
</div>
<Spacer Size="SpacerSize.Large" />
