@inherits BaseComponent

@namespace FluentCMS.Web.UI.Plugins.RoleManagement

@if (Policies != null && Visible)
{
    <PluginFormField>
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" Visible="!string.IsNullOrEmpty(Label)">
            @Label
        </label>
        @for (var i = 0; i < Policies.Count; i++)
        {
            int index = i;
            var policy = Policies[index];
            <div>
                <Divider>@policy.Area</Divider>
                <PluginFormCheckboxGroup @bind-Value="Value[index].Actions" Data="policy.Actions" @key="@policy" />
            </div>
        }
    </PluginFormField>
}
