@inherits BaseComponent

@namespace FluentCMS.Web.UI.Plugins.RoleManagement

<PluginFormField>    
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" Visible="!string.IsNullOrEmpty(Label)">
        @Label
    </label>
    <Card>
        <CardBody>
            @for(var index = 0; index < Policies.Count - 1; index++)
            {
                <span>@Policies[index].Area</span>
                <PluginFormCheckboxGroup @bind-Value="_value[index].Actions" Data="Policies[index].Actions" />
            }
        </CardBody>
    </Card>
    <Spacer Size="SpacerSize.Large" />
</PluginFormField>
