@inherits BaseComponent

@namespace FluentCMS.Web.UI.Plugins.RoleManagement

@if (Policies != null && Visible)
{
    <PluginFormField>
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" Visible="!string.IsNullOrEmpty(Label)">
            @Label
        </label>
        @foreach (var policy in Policies)
        {
            <div>
                <Divider>@policy.Area</Divider>
                <PluginFormCheckboxGroup @bind-Value="Value" Data="policy.Actions" @key="@policy" @onchange="OnChange(policy)" />
            </div>
        }
    </PluginFormField>
}
