<Page>
    <PageHeader HasBack="true"
                Title="Update Role">
    </PageHeader>
    <PageBody>
        <Grid Gutter="GridGutter.Medium">
            <GridItem Small="GridItemColumn.Twelve">
                <Form Model="@Model"
                      OnSubmit="OnSubmit">
                    <Card>
                        <CardBody>
                            <Input @bind-Value="Model.Name"
                                   Id="roleUpdateNameInput"
                                   Label="Name"
                                   Name="Name"
                                   Placeholder="Enter Role Name..."
                                   Required="true"/>
                            <Textarea @bind-Value="Model.Description"
                                   Id="roleUpdateDescriptionInput"
                                   Label="Description"
                                   Name="Description"
                                   Placeholder="Enter Role Description..." />
                            <Spacer/>
                            @if(!string.IsNullOrEmpty(Message))
                            {
                                <Typography>
                                    @Message
                                </Typography>
                                <Spacer/>
                            }
                            <ButtonGroup>
                                <Button id="roleUpdateCancelButton" 
                                        OnClick="GoBack">
                                    Cancel
                                </Button>
                                <Button Color="Color.Primary"
                                        id="roleUpdateSubmitButton"
                                        Type="ButtonType.Submit" >
                                    Submit
                                </Button>
                            </ButtonGroup>
                        </CardBody>
                    </Card>
                </Form>
            </GridItem>
        </Grid>
    </PageBody>
</Page>

@code {
    [Inject]
    IJSRuntime JsRuntime { set; get; } = default!;

    [Inject]
    NavigationManager NavigationManager { set; get; } = default!;

    [Inject]
    RoleClient RoleClient { get; set; } = default!;

    string Message { get; set; } = string.Empty;

    RoleUpdateRequest Model { get; set; } = new();

    RoleDetailResponse View { get; set; } = new();

    async Task GoBack()
    {
        await JsRuntime.InvokeAsync<object>("history.back");
    }

    protected override async Task OnInitializedAsync()
    {

        try
        {
            var id = NavigationManager.GetIdFromQuery();
            View = (await RoleClient.GetAllAsync()).Data.ToList().Find(x => x.Id == id);


            Model.Id = View.Id;
            Model.Name = View.Name;
            Model.Description = View.Description;
        }
        catch (Exception)
        {
            Message = "An error occured!";
        }
    }

    async Task OnSubmit()
    {
        try
        {
            await RoleClient.UpdateAsync(Model);
            Message = "Done!";
            GoBack();
        }
        catch (Exception exception)
        {
            Message = exception.ToString();
        }

    }
}
