<Page>
    <PageHeader HasBack="true"
                Title="Update Role">
    </PageHeader>
    <PageBody>
        <Grid Gutter="GridGutter.Medium">
            <GridItem Small="GridItemColumn.Twelve">
                <Form Model="@Model"
                      OnSubmit="OnSubmit">
                    <Card>
                        <CardBody>
                            <Input @bind-Value="Model.Name"
                                   Id="roleUpdateNameInput"
                                   Label="Name"
                                   Name="Name"
                                   Placeholder="Enter Role Name..."
                                   Required="true"/>
                            <Textarea @bind-Value="Model.Description"
                                   Id="roleUpdateDescriptionInput"
                                   Label="Description"
                                   Name="Description"
                                   Placeholder="Enter Role Description..." />
                            <div>
                                <Typography Size="TextSize.Small"
                                            Weight="TextWeight.Medium">
                                    Permissions
                                </Typography>
                                <Spacer Size="SpacerSize.Small"/>
                                <Card>
                                    <Table>
                                        <TableHead>
                                            <TableCell>Content Type</TableCell>
                                            <TableCell Width="TableColumnWidth.Small">Create</TableCell>
                                            <TableCell Width="TableColumnWidth.Small">Read</TableCell>
                                            <TableCell Width="TableColumnWidth.Small">Update</TableCell>
                                            <TableCell Width="TableColumnWidth.Small">Delete</TableCell>
                                            <TableCell Width="TableColumnWidth.Small">Publish</TableCell>
                                        </TableHead>
                                        <TableBody>
                                            @foreach (var contentType in ContentTypes)
                                            {
                                                <TableRow>
                                                    <TableCell>
                                                        @contentType.Title
                                                    </TableCell>
                                                    <TableCell>
                                                        <Switch @bind-Value="Permissions[contentType.Slug].Create"
                                                                Dense="true"/>
                                                    </TableCell>
                                                    <TableCell>
                                                        <Switch @bind-Value="Permissions[contentType.Slug].Read"
                                                                Dense="true"/>
                                                    </TableCell>
                                                    <TableCell>
                                                        <Switch @bind-Value="Permissions[contentType.Slug].Update"
                                                                Dense="true"/>
                                                    </TableCell>
                                                    <TableCell>
                                                    <Switch @bind-Value="Permissions[contentType.Slug].Delete"
                                                                Dense="true"/>
                                                    </TableCell>
                                                    <TableCell>
                                                    <Switch @bind-Value="Permissions[contentType.Slug].Publish"
                                                                Dense="true"/>
                                                    </TableCell>
                                                </TableRow>
                                            }
                                        </TableBody>
                                    </Table>
                                </Card>
                                <Spacer />
                            </div>
                            <Spacer/>
                            @if(!string.IsNullOrEmpty(Message))
                            {
                                <Typography>
                                    @Message
                                </Typography>
                                <Spacer/>
                            }
                            <ButtonGroup>
                                <Button id="roleUpdateCancelButton" 
                                        OnClick="GoBack">
                                    Cancel
                                </Button>
                                <Button Color="Color.Primary"
                                        id="roleUpdateSubmitButton"
                                        Type="ButtonType.Submit" >
                                    Submit
                                </Button>
                            </ButtonGroup>
                        </CardBody>
                    </Card>
                </Form>
            </GridItem>
        </Grid>
    </PageBody>
</Page>

@code {
    [Inject]
    IJSRuntime JsRuntime { set; get; } = default!;

    [Inject]
    NavigationManager NavigationManager { set; get; } = default!;

    [Inject]
    RoleClient RoleClient { get; set; } = default!;

    [Inject]
    ContentTypeClient ContentTypeClient { get; set; } = default!;

    string? Message { get; set; }

    List<ContentTypeDetailResponse> ContentTypes {get; set;} = [];

    Dictionary<string, Permission> Permissions = new();

    RoleUpdateRequest Model { get; set; } = new();

    RoleDetailResponse View { get; set; } = new();

    public class Permission
    {
        public bool Create { get; set; }
        public bool Read { get; set; }
        public bool Update { get; set; }
        public bool Delete { get; set; }
        public bool Publish { get; set; }
    }


    async Task GoBack()
    {
        await JsRuntime.InvokeAsync<object>("history.back");
    }

    protected override async Task OnInitializedAsync()
    {

        try
        {
            var id = NavigationManager.GetIdFromQuery();
            View = (await RoleClient.GetAllAsync()).Data.ToList().Find(x => x.Id == id);


            Model.Id = View.Id;
            Model.Name = View.Name;
            Model.Description = View.Description;

            var result = await ContentTypeClient.GetAllAsync();
            if(result?.Data != null) 
            {
                ContentTypes = result.Data.ToList();

                foreach(var contentType in ContentTypes)
                {
                    Permissions[contentType.Slug] = new Permission 
                    {
                        Create = false, 
                        Read = true,
                        Update = false,
                        Delete = true,
                        Publish = false,
                    };
                }
            }
        }
        catch (Exception)
        {
            Message = "An error occured!";
        }
    }

    async Task OnSubmit()
    {
        try
        {
            await RoleClient.UpdateAsync(Model);
            Message = "Done!";
            GoBack();
        }
        catch (Exception exception)
        {
            Message = exception.ToString();
        }

    }
}
