<div class="container py-5">
  <div class="row align-items-center g-5 mb-5">
    <div class="col-12 text-center mb-4 mb-lg-0">
      <a href="https://github.com/fluentcms/FluentCMS"
        class="d-inline-flex align-items-center text-sm text-content-accent bg-surface-accent rounded-pill px-3 py-1 mb-4 hover-underline"
        role="alert">
        <span class="badge rounded-pill bg-primary me-2" data-inline-editable>New</span>
        <span class="fw-medium" data-inline-editable>See our latest progress</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="ms-2" viewBox="0 0 20 20">
          <path fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path>
        </svg>
      </a>
      <h1 class="fw-bold display-5 text-content-accent my-4" data-inline-editable>
        Welcome to FluentCMS
        <div class="mt-3 fs-5" data-inline-editable>
          AI Driven ASP.NET Core Blazor Content Management System (CMS)
        </div>
      </h1>
      <p class="text-center mx-auto mb-4 fw-light text-content-muted fs-5" style="max-width: 720px;" data-inline-editable>
        Building and managing content has never been easier. Experience the power of AI with FluentCMS.
      </p>
      <div class="d-flex justify-content-center gap-3">
        <img src="https://img.shields.io/github/issues/fluentcms/FluentCMS" alt="Issue count">
        <img class="d-none" src="https://img.shields.io/nuget/v/FluentCMS" alt="Version">
        <img src="https://img.shields.io/badge/version-1.2.3-primary" alt="Version">
      </div>
      <div class="pt-4">
        <a href="/admin"
          class="btn btn-primary px-4 py-2" data-inline-editable>
          Open Administration
        </a>
      </div>
    </div>
  </div>
</div>
