<div class="mb-8 lg:mb-0">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-content-accent" data-inline-editable>
        AI-Powered Content Management
    </h2>
    <p class="mb-4 text-content-muted sm:text-xl" data-inline-editable>
        Effortlessly create, manage, and deliver content with our AI-driven platform
    </p>
    <a href="#"
        class="hidden items-center text-lg font-medium text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-700">
        <span data-inline-editable>
            Learn more
        </span>
        <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"></path>
        </svg>
    </a>
</div>