<div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
    <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white" data-inline-editable>
            Modern CMS Needed: AI-Powered, Headless, and Flexible
        </h2>
        <p class="mb-4" data-inline-editable>
            Traditional CMS platforms limit customization, integration, and personalization. This restricts
            developers and marketers from creating engaging user experiences.
        </p>
        <a href="#"
            class="inline-flex hidden items-center font-medium text-blue-600 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">
            <span data-inline-editable>
                Learn more
            </span>
            <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"></path>
            </svg>
        </a>
    </div>
    <div class="mt-4 font-light text-gray-500 sm:text-lg lg:mt-0 dark:text-gray-400">
        <p class="mb-4" data-inline-editable>
            Currently, no suitable dotnet blazor open source CMS options exist, leaving a gap in the market.
            <br />
            The ideal solution would be a modern, headless CMS that leverages AI for streamlined content
            creation and management, with a site builder for easy page creation. This would provide developers
            and marketers with the tools they need to create personalized, engaging experiences for their users,
            while also being flexible and customizable.
        </p>
    </div>
</div>