@inherits BasePlugin
@namespace FluentCMS.Web.Plugins.Contents.Block

@if(Item != null)
{
    @if (ViewState.HasPageContributorAccess())
    {
        <BlockInlineEditable Plugin="@Plugin" Item="@Item"/>
    }
    else
    {
        <div class="f-block">
            @((MarkupString)Item.Content)
        </div>
    }
}
else if(ViewState.HasPageContributorAccess())
{
    <BlockEmptyView OnBlockSelected="@SaveBlockContent" />
}
