@inherits BasePlugin
@namespace FluentCMS.Web.Plugins.Contents.Block

@if(Item != null)
{
    <div data-id="@Item.Id" class="f-block">
        @((MarkupString)Item.Content)
    </div>
}
else if(ViewState.Type == ViewStateType.Default || ViewState.Type == ViewStateType.PagePreview)
{
    <BlockEmptyView PluginId="@Plugin.Id"/>
}