@namespace FluentCMS.Web.UI.Plugins.ContentTypeManagement.ContentTypeFields

<Grid GutterX="GridGutter.Large">
    <GridItem Small="GridItemColumn.Twelve"
              Medium="GridItemColumn.Six">
        <FieldName />
    </GridItem>
    <GridItem Small="GridItemColumn.Twelve"
              Medium="GridItemColumn.Six">
        <Select Label="Number format"
                Value="@(Model.GetValue<Decimal>("Format"))"
                ValueChanged="@((Decimal value) => Model.SetValue<Decimal>("Format", value))">
            <Option Value="0">
                integer (ex: 10)
            </Option>
            <Option Value="1">
                big integer (ex: 123456789)
            </Option>
            <Option Value="2">
                decimal (ex: 2.22)
            </Option>
            <Option Value="3">
                float (ex: 3.33333333)
            </Option>
        </Select>
    </GridItem>
</Grid>

@code {
    [CascadingParameter]
    public ContentTypeFieldResponse Model { get; set; }
}
