@inherits BasePlugin
@namespace FluentCMS.Web.Plugins.Contents.Iframe

<div class="f-iframe-content" style="height: @(Height ?? "auto");">
    @if (!string.IsNullOrEmpty(EmbedCode))
    {    
        @((MarkupString)EmbedCode)
    } 
    else if(!string.IsNullOrEmpty(Source))
    {
        <iframe src="@Source"/>
    }
    else
    {
        <div>
            <span>This plugin is Empty, <br>please update plugin and set one of "Source" or "Embed Code" properties.</span>
        </div>
    }    
</div>
