@inherits FormElements

@namespace FluentCMS.Web.UI.Components

@if(Visible)
{
    <FormField Appearance="FormFieldAppearance.Textarea"
               Field="this">
        <div class="@this.GetClasses()">
            <textarea @attributes="AdditionalAttributes"
                    @ref="element" 
                    placeholder="@Placeholder"
                    readonly="@Readonly">
                @Value
            </textarea>
        </div>
    </FormField>
}