@using System.Text.Json
@using System.Text
@inherits BasePluginComponent
@inject PluginContentClient pluginContentClient
@rendermode InteractiveServer
<InputTextArea @bind-Value="Model.Content" Required rows="5" placeholder="Enter you Text/Html content here"></InputTextArea>
<br />
<Button Type="submit" @onclick="Submit">Update</Button>

@code {
    public TextHtmlContent Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var response = await pluginContentClient.GetByPluginId("TextHtml", AppState.Site.Id, Plugin.Id);
        var pluginContent = response?.Data?.FirstOrDefault() ??
            new PluginContent { PluginId = Plugin.Id, SiteId = AppState.Site.Id };
        Model = new TextHtmlContent(pluginContent);
    }

    private async Task Submit()
    {
        if (Model.Id == Guid.Empty)
        {
            var x = Model.ToPluginContent();
            var pluginContent = await pluginContentClient.Create(Model.ToPluginContent(), CancellationToken);
            Model = new TextHtmlContent(pluginContent);
        }
        else
        {
            var pluginContent = await pluginContentClient.Update(Model.ToPluginContent(), CancellationToken);
            Model = new TextHtmlContent(pluginContent);
        }

    }
}
