@inherits BasePluginComponent
@inject PluginContentClient pluginContentClient
@rendermode InteractiveServer

<InputTextArea @bind-Value="Model.Content" Required rows="5" placeholder="Enter you Text/Html content here"></InputTextArea>
<br />
<Button Type="ButtonTypeEnum.Submit" @onclick="Submit">Update</Button>

@code {
    public TextHtmlContent Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var response = await pluginContentClient.GetByPluginIdAsync("TextHtml", AppState.Site.Id, Plugin.Id);
        var pluginContent = response?.Data?.FirstOrDefault() ??
            new Dictionary<string, object>
                    {
                { "PluginId" , Plugin.Id },
                { "SiteId" , AppState.Site.Id }
                    };
        Model = new TextHtmlContent();
    }

    private async Task Submit()
    {
        if (Model.Id == Guid.Empty)
            await pluginContentClient.CreateAsync("TextHtml", Model.ToPluginContent(), CancellationToken);
        else
            await pluginContentClient.UpdateAsync("TextHtml", Model.ToPluginContent(), CancellationToken);
    }
}
