<Form Model="@Model"
      OnSubmit="OnSubmit">
    <Typography Size="TextSize.H5">
        Change your Password
    </Typography>
    <Typography Color="Color.Secondary">
        Update your password securely by providing your current and new passwords.
    </Typography>
    <Spacer />
    <Input @bind-Value="Model.OldPassword" 
           autofocus="true"
           Id="changePasswordOldInput"
           Label="Old Password"
           Name="oldPassword"
           Placeholder="Enter your old password..."
           Required="true"
           Type="InputType.Password"/>
    <Input @bind-Value="Model.NewPassword" 
           autofocus="true"
           Id="changePasswordNewInput"
           Label="New Password"
           Name="newPassword"
           Placeholder="Enter new password..."
           Required="true"
           Type="InputType.Password"/>
    <Button Block="true"
            Color="Color.Primary"
            id="changePasswordSubmitButton"
            Type="ButtonType.Submit">
        Change password
    </Button>
</Form>

@code
{
    [Inject]
    AccountClient AccountClient {get; set;}

    [Inject]
    NavigationManager NavigationManager {get; set;}
    UserChangePasswordRequest Model { get; set; } = new();

    protected override async Task OnInitializedAsync() 
    {
        var result = await AccountClient.GetUserDetailAsync();

        if(result?.Data != null) 
        {
            Model.UserId = result.Data.Id;
        }
    }
    
    private async Task OnSubmit()
    {
        await AccountClient.ChangePasswordAsync(Model);
        NavigationManager.NavigateTo("/auth/login");
    }
}