<Form Model="@Model"
      OnSubmit="OnSubmit">
    <Typography Size="TextSize.H5">
        Change your Password
    </Typography>
    <Typography Color="Color.Secondary">
        Update your password securely by providing your current and new passwords.
    </Typography>
    <Spacer />
    <Input autofocus="true"
           Id="changePasswordOldInput"
           Label="Email"
           Name="Email"
           Placeholder="Enter your email"
           Required="true"
           Value="@("")"  />
    <Input autofocus="true"
           Id="changePasswordNewInput"
           Label="Email"
           Name="Email"
           Placeholder="Enter your email"
           Required="true"
           Value="@("")"  />
    <Button Block="true"
            Color="Color.Primary"
            id="changePasswordSubmitButton"
            Type="ButtonType.Submit">
        Change password
    </Button>
</Form>

@code
{
    object Model { get; set; } = new();

    private async Task OnSubmit()
    {
    }
}