@inherits BasePlugin

<PluginForm Model="@Model" Title="Change Password" OnSubmit="@OnSubmit">
    <InputText @bind-Value="Model.OldPassword" placeholder="Enter your old password..." />
    <InputText @bind-Value="Model.NewPassword" placeholder="Enter new password..." />

    <PluginFormActions>
        <Button Color="@Color.Primary" Type="@ButtonType.Submit">
            Change Password
        </Button>
    </PluginFormActions>
</PluginForm>
