@inherits BasePlugin

<PluginForm Model="@Model" Title="Change Password" OnSubmit="OnSumbit">
    <InputText @bind-Value="Model.OldPassword" placeholder="Enter your old password..." type="password" />
    <InputText @bind-Value="Model.NewPassword" placeholder="Enter new password..." type="password" />
    <PluginFormActions>
        <Button Color="Color.Primary" Type="ButtonType.Submit">Submit</Button>
    </PluginFormActions>
</PluginForm>
