@inherits BasePlugin

<PluginForm Model="@Model" OnSubmit="@OnSubmit">
    <Input @bind-Value="Model.Email" placeholder="Enter your email"/>
    <ButtonGroup>
        <Button Block="true" Color="Color.Primary" Type="@ButtonType.Submit"> Reset password </Button>
    </ButtonGroup>
</PluginForm>
