@inherits BasePlugin;

<PluginForm Model="@Model" OnSubmit="@OnSubmit">
    <InputText @bind-Value="Model.Email" placeholder="Enter your email"/>

    <PluginFormActions>
        <Button Block="true" Color="Color.Primary" Type="@ButtonType.Submit">
            Reset password
        </Button>
    </PluginFormActions>
</PluginForm>
