@inherits BasePlugin

<PluginForm Model="@Model" Name="" Title="Login" OnSubmit="OnSubmit">
    <InputText @bind-Value="Model.Username" Placeholder="Enter your username" />
    <InputText @bind-Value="Model.Password" Placeholder="Enter your password" type="password" />

    <Typography Color="Color.Secondary">
        Don't have an account?
        <Button Color="Color.Primary" Href="/auth/register" Link="true">
            Sign up
        </Button>
    </Typography>

    <PluginFormActions HasCancel="false">
        <Button Color="Color.Primary"
                Href="/auth/forgot-password"
                Link="true">
            Forgot Password?
        </Button>
        <Button Block="true" Color="Color.Primary" Type="ButtonType.Submit">
            Sign In
        </Button>
    </PluginFormActions>
</PluginForm>
