<Text Size="TextSize.H5">
    Welcome back
</Text>
<Spacer />
<Input Label="Email"
       Placeholder="Enter your email"
       Required="true"
       Type="InputType.Email" />
<Input Label="Password"
       Placeholder="Enter your password"
       Required="true"
       Type="InputType.Password" />
<Grid ItemsSmall="GridItems.Center"
      JustifySmall="GridJustify.Between">
    <GridItem>
        <Checkbox Dense="true"
                  Label="Remember Me" />
    </GridItem>
    <GridItem>
        <Button Color="Color.Primary"
                Href="@Routes.AuthForgotPassword()"
                Link="true">
            Forgot Password?
        </Button>
    </GridItem>
</Grid>
<Spacer />
<Button Block="true"
        Color="Color.Primary">
    Sign In
</Button>
<Spacer />
<Text Color="Color.Secondary">
    Don't have an account?
    <Button Color="Color.Primary"
            Href="@Routes.AuthRegister()"
            Link="true">
        Sign up
    </Button>
</Text>
