<Form Model="@Model"
      OnSubmit="OnSubmit">
    <Typography Id="loginTitleLabel"
                Size="TextSize.H5">
        Welcome back
    </Typography>
    <Spacer />
    <Input @bind-Value="Model.Username"
           Id="loginUsernameInput"
           Label="Username"
           Name="Username"
           Placeholder="Enter your username"
           Required="true" />
    <Input @bind-Value="Model.Password"
           Id="loginPasswordInput"
           Label="Password"
           Name="Password"
           Placeholder="Enter your password"
           Required="true"
           Type="InputType.Password" />
    <Grid ItemsSmall="GridItems.Center"
          JustifySmall="GridJustify.Between">
        @* <GridItem> *@
        @*     <Checkbox Dense="true" *@
        @*               Label="Remember Me"/> *@
        @* </GridItem> *@
        <GridItem>
            <Button Color="Color.Primary"
                    Href="/auth/forgot-password"
                    Link="true">
                Forgot Password?
            </Button>
        </GridItem>
    </Grid>
    <Spacer />
    <Button Block="true"
            Color="Color.Primary"
            Id="loginSubmitButton"
            Type="ButtonType.Submit">
        Sign In
    </Button>
    <Spacer />
    <Typography Color="Color.Secondary">
        Don't have an account?
        <Button Color="Color.Primary"
                Href="/auth/register"
                Link="true">
            Sign up
        </Button>
    </Typography>
</Form>

@code
{
    [Inject]
    AccountClient AccountClient { get; set; } = default!;

    [Inject]
    NavigationManager NavigationManager { get; set; } = default!;

    UserLoginRequest Model { get; set; } = new();

    private async Task OnSubmit()
    {
        var result = await AccountClient.AuthenticateAsync(Model);
        if (result.Errors!.Count == 0)
        {
            NavigationManager.NavigateTo("/");
        }
    }
}
