@inherits BasePlugin

<PluginForm Model="@Model" Name="@FORM_NAME" Title="Login" OnSubmit="OnSubmit">
    <InputText @bind-Value="Model.Username" placeholder="Enter your username" />
    <InputText @bind-Value="Model.Password" placeholder="Enter your password" />
    <InputCheckbox @bind-Value="Model.Presist"></InputCheckbox> <label>Remember</label>

    <PluginFormActions HasCancel="false">
        <Button Color="Color.Primary" Href="/auth/register" Link="true">
            Sign up
        </Button>
        <Button Color="Color.Primary"
                Href="/auth/forgot-password"
                Link="true">
            Forgot Password?
        </Button>
        <Button Block="true" Color="Color.Primary" Type="@ButtonType.Submit">
            Sign In
        </Button>
    </PluginFormActions>
</PluginForm>
