
<Page>
    <PageBody>
        <Grid class="h-screen"
              ItemsSmall="GridItems.Center"
              JustifySmall="GridJustify.Center">
            <GridItem Small="GridItemColumn.Twelve"
                      Medium="GridItemColumn.Six"
                      Large="GridItemColumn.Four">
                <Card>
                    <CardBody>
                        <CardTitle>Sign in to platform</CardTitle>
                        <Spacer/>
                        <Form OnSubmit="OnSubmit">
                            <Input Label="Email"
                                Placeholder="Enter your email" />
                            <Input Label="Password"
                                Placeholder="Enter your password"
                                Type="InputType.Password" />
                            <Grid ItemsSmall="GridItems.Center"
                                JustifySmall="GridJustify.Between">
                                <GridItem>
                                    <Checkbox Dense="true"
                                            Id="remember-me"
                                            Label="Remember Me" />
                                </GridItem>
                                <GridItem>
                                    @* TODO: Link *@
                                    <Button Color="Color.Primary"
                                            Href="/auth/forgot-password"
                                            >
                                        Forgot Password?
                                    </Button>
                                </GridItem>
                            </Grid>
                            <Spacer />
                            <Button Block="true"
                                    Color="Color.Primary"
                                    Type="ButtonType.Submit">
                                Sign in to your account
                            </Button>
                            <Spacer />
                            <Spacer />
                            @* TODO: Add typography component *@
                            <span class="text-white">
                                Don't have an account?
                                @* TODO: link *@
                                <Button Color="Color.Primary"
                                        Href="/auth/register">
                                    Sign up
                                </Button>
                            </span>
                        </Form>
                    </CardBody>
                </Card>
            </GridItem>
        </Grid>
    </PageBody>
</Page>

@code {
    private void OnSubmit() {
        Console.WriteLine("Form Submitted");
    }
}