@inject AccountClient AccountClient
@inject NavigationManager NavigationManager
<EditForm Model="Model" OnValidSubmit="Login" FormName="LoginForm">
    <Text Size="TextSize.H5">
        Welcome back
    </Text>
    <Spacer/>
    <Input Label="Email"
           Placeholder="Enter your email"
           Required="true"
           Type="InputType.Text"
           @bind-Value="Model.Username"/>
    <Input Label="Password"
           Placeholder="Enter your password"
           Required="true"
           Type="InputType.Password"
           @bind-Value="Model.Password"/>
    <Grid ItemsSmall="GridItems.Center"
          JustifySmall="GridJustify.Between">
        @* <GridItem> *@
        @*     <Checkbox Dense="true" *@
        @*               Label="Remember Me"/> *@
        @* </GridItem> *@
        <GridItem>
            <Button Color="Color.Primary"
                    Link="true" Href="/auth/forgot-password">
                Forgot Password?
            </Button>
        </GridItem>
    </Grid>
    <Spacer/>
    <Button Block="true"
            Color="Color.Primary"
            Type="ButtonType.Submit">
        Sign In
    </Button>
    <Spacer/>
    <Text Color="Color.Secondary">
        Don't have an account?
        <Button Color="Color.Primary"
                Link="true"
                Href="/auth/register">
            Sign up
        </Button>
    </Text>
</EditForm>

@code
{
    public UserLoginRequest Model { get; set; } = new();

    private async Task Login()
    {
        var result = await AccountClient.AuthenticateAsync(Model);
        if (result.Errors!.Count == 0)
        {
            NavigationManager.NavigateTo("/");
        }
    }
}
