@inherits BasePlugin

<PluginForm Model="@Model" OnSubmit="OnSubmit" Title="Update Profile">
    <InputText @bind-Value="Model.FirstName" placeholder="Enter FirstName..." />
    <InputText @bind-Value="Model.LastName" placeholder="Enter LastName..." />
    <InputText @bind-Value="Model.Email" placeholder="Enter Profile Email..." />
    <InputText @bind-Value="Model.PhoneNumber" placeholder="Enter Profile PhoneNumber..." />
    <PluginFormActions>
        <Button Color="Color.Primary" Type="ButtonType.Submit">Submit</Button>
    </PluginFormActions>
</PluginForm>
