@inherits BasePlugin

<PluginForm Model="@Model" OnSubmit="OnSubmit">
    <InputText @bind-Value="Model.Username" placeholder="Enter your name"/>
    <InputText @bind-Value="Model.Email" placeholder="Enter your email"/>
    <InputText @bind-Value="Model.Password" placeholder="Enter your password"/>
    <InputText @bind-Value="Model.ConfirmPassword" placeholder="Enter your password again"/>

    <PluginFormActions>
        <Button Color="@Color.Primary" Type="@ButtonType.Submit"> Sign Up </Button>
        <Button Color="@Color.Primary" Href="/auth/login" Link="true"> Login here </Button>
    </PluginFormActions>
</PluginForm>
