<Text Size="TextSize.H5">
    Your Best Work Starts Here
</Text>
<Spacer />
<Input Label="What should we call you?"
       Placeholder="Enter your name"
       Required="true" />
<Input Label="Email"
       Placeholder="Enter your email"
       Required="true"
       Type="InputType.Email" />
<Input Label="Password"
       Placeholder="Enter your password"
       Type="InputType.Password"
       Required="true" />
<Checkbox>
    <LabelFragment>
        By signing up, you are creating a Sendinblue account, and you agree to FluentCMS’s
        <Button Color="Color.Primary"
                Href="@Routes.TermsOfUse()"
                Link="true">
            Terms of Use
        </Button>
        and
        <Button Color="Color.Primary"
                Href="@Routes.PrivacyPolicy()"
                Link="true">
            Privacy Policy
        </Button>.
    </LabelFragment>
</Checkbox>
<Checkbox Label="Email me about product updates and resources." />
<Button Block="true"
        Color="Color.Primary"
        Type="ButtonType.Submit">
    Sign Up
</Button>
<Spacer />
<Text Color="Color.Secondary">
    Already have an account?
    <Button Color="Color.Primary"
            Href="@Routes.AuthLogin()"
            Link="true">
        Login here
    </Button>
</Text>
