@inject AccountClient AccountClient
@inject NavigationManager NavigationManager
<EditForm Model="Model" OnValidSubmit="Register">
    <Text Size="TextSize.H5">
        Your Best Work Starts Here
    </Text>
    <Spacer/>
    <Input @bind-Value="Model.Username"
           Label="What should we call you?"
           Placeholder="Enter your username"
           Required="true"/>
    <Input @bind-Value="Model.Email"
           Label="Email"
           Placeholder="Enter your email"
           Required="true"
           Type="InputType.Email"/>
    <Input @bind-Value="Model.Password"
           Label="Password"
           Placeholder="Enter your password"
           Required="true"
           Type="InputType.Password"/>
    <Checkbox Label="By signing up, you are creating a Sendinblue account, and you agree to FluentCMS’s Terms of Use and Privacy Policy."/>
    <Checkbox Label="Email me about product updates and resources."/>
    <Button Block="true"
            Color="Color.Primary"
            Type="ButtonType.Submit">
        Sign Up
    </Button>
    <Spacer/>
    <Text Color="Color.Secondary">
        Already have an account?
        <Button Color="Color.Primary"
                Link="true" Href="/auth/login">
            Login here
        </Button>
    </Text>
</EditForm>

@code{

    public UserRegisterRequest Model { get; set; } = new();

    private async Task Register()
    {
        var result = await AccountClient.RegisterAsync(Model);
        if (result.Errors.Count == 0)
        {
            NavigationManager.NavigateTo("/");
        }
    }

}
