
<Page>
    <PageBody>
        <Grid class="h-screen"
              ItemsSmall="GridItems.Center"
              JustifySmall="GridJustify.Center">
            <GridItem Small="GridItemColumn.Twelve"
                      Medium="GridItemColumn.Six"
                      Large="GridItemColumn.Four">
                <Card>
                    <CardBody>
                        <CardTitle>Create an Account</CardTitle>
                        <Spacer/>
                        <Form OnSubmit="OnSubmit">
                            <Input Label="Email"
                                  Placeholder="Enter your email" />
                            <Input Label="Username"
                                  Placeholder="Enter a username" />
                            <Input Label="Password"
                                  Placeholder="12345678"
                                  Type="InputType.Password" />
                            <Input Label="Confirm Password"
                                  Placeholder="12345678"
                                  Type="InputType.Password" />
                            <Grid ItemsSmall="GridItems.Center"
                                  JustifySmall="GridJustify.Between">
                                <GridItem>
                                    <Checkbox Dense="true"
                                              Id="terms"
                                              Label="I accept the Terms and conditions -> link" />                                
                                </GridItem>
                            </Grid>
                            <Spacer />
                            <Button Color="Color.Primary"
                                    Type="ButtonType.Submit">
                                Create account
                            </Button>
                            <Spacer />
                            <Spacer />
                            @* TODO: Add typography component *@
                            <span class="text-white">
                                Already have an account?
                                @* TODO: Link *@
                                <Button Color="Color.Primary"
                                        Href="/auth/login">
                                    Login here
                                </Button>
                            </span>
                        </Form>
                    </CardBody>
                </Card>
            </GridItem>
        </Grid>
    </PageBody>
</Page>

@code {
    private void OnSubmit() {
        Console.WriteLine("Form Submitted");
    }
}