@inherits BasePlugin

<AuthPluginForm Model="@Model" Name="@FORM_NAME" Title="Reset your Password" OnSubmit="@OnSubmit">
    <PluginFormField>
        <Typography>
            Your new password must be different from previous used passwords.
        </Typography>
        <Spacer />
    </PluginFormField>
    <PluginFormTextInput @bind-Value="Model!.Email" Label="Email" Placeholder="Enter your email" Required Readonly />
    <PluginFormTextInput @bind-Value="Model!.Token" Label="Token" Placeholder="Enter your token" Required />
    <PluginFormTextInput @bind-Value="Model!.NewPassword" Label="New Password" Placeholder="Enter your new password" Required type="password" />
    <PluginFormField>
        <Button Block Color="Color.Primary" Type="ButtonType.Submit">Submit</Button>
    </PluginFormField>
</AuthPluginForm>
