
<Page>
    <PageBody>
        <Grid class="h-screen"
              ItemsSmall="GridItems.Center"
              JustifySmall="GridJustify.Center">
            <GridItem Small="GridItemColumn.Twelve"
                      Medium="GridItemColumn.Six"
                      Large="GridItemColumn.Four">
                <Card>
                    <CardBody>
                        <Form OnSubmit="OnSubmit">
                            <CardTitle>Reset your password</CardTitle>
                            <span class="font-light text-gray-500 dark:text-gray-400">Your new password must be different from previous used passwords.</span>
                            <Spacer/>
                            <Spacer/>
                            <Input Label="Email"
                                Placeholder="Enter your email" />
                            <Input Label="New Password"
                                Placeholder="12345678"
                                Type="InputType.Password" />
                            <Input Label="Confirm Password"
                                Placeholder="12345678"
                                Type="InputType.Password" />
                            <Grid ItemsSmall="GridItems.Center"
                                JustifySmall="GridJustify.Between">
                                <GridItem>
                                    <Checkbox Dense="true"
                                            Id="terms"
                                            Label="I agree to FluentCMS’s Terms of Use and Privacy Policy." />                                
                                </GridItem>
                            </Grid>
                            <Spacer />
                            <Button Color="Color.Primary">
                                Reset Password
                            </Button>
                        </Form>
                    </CardBody>
                </Card>
            </GridItem>
        </Grid>
    </PageBody>
</Page>

@code {
    private void OnSubmit() {
        Console.WriteLine("Form Submitted");
    }
}