<Form Model="@Model"
      OnSubmit="OnSubmit">
    <Typography Size="TextSize.H5">
        Reset your Password
    </Typography>
    <Typography Color="Color.Secondary">
        Your new password must be different from previous used passwords.
    </Typography>
    <Spacer />
    <Input @bind-Value="Model.Email"
           autofocus="true"
           Label="Email"
           Name="Email"
           Placeholder="Enter your email"
           Required="true" />
    <Input @bind-Value="Model.Token"
           Label="Token"
           Name="Token"
           Placeholder="Enter the token"
           Required="true" />
    <Input @bind-Value="Model.NewPassword"
           Label="New Password"
           Name="NewPassword"
           Placeholder="Enter the new password"
           Required="true"
           Type="InputType.Password" />
    <Button Block="true"
            Color="Color.Primary"
            Type="ButtonType.Submit">
        Submit
    </Button>
</Form>

@code
{
    [Inject]
    AccountClient AccountClient { get; set; } = default!;

    [Inject]
    NavigationManager NavigationManager { get; set; } = default!;

    UserValidatePasswordResetTokenRequest Model { get; set; } = new();

    private async Task OnSubmit()
    {
        await AccountClient.ValidatePasswordResetTokenAsync(Model);

        NavigationManager.NavigateTo("/auth/login");
    }

    protected override void OnInitialized()
    {
        var uri = new Uri(NavigationManager.Uri);

        var query = HttpUtility.ParseQueryString(uri.Query);

        Model.Email = query.Get("email");
    }
}
