@inherits BasePlugin

<PluginForm Model="@Model" OnSubmit="OnSubmit">
    <InputText @bind-Value="Model.Email" placeholder="Enter your email"/>
    <InputText @bind-Value="Model.Token" placeholder="Enter the token"/>
    <InputText @bind-Value="Model.NewPassword" placeholder="Enter the new password"/>

    <PluginFormActions>
        <Button Block="true" Color="Color.Primary" Type="@ButtonType.Submit">
            Submit
        </Button>
    </PluginFormActions>
</PluginForm>
