<Form Model="@Model"
      OnSubmit="OnSubmit">
    <Typography Size="TextSize.H5">
        Reset you Password
    </Typography>
    <Typography Color="Color.Secondary">
        We’ll email you instructions to reset your password. If you don’t have access to your email anymore, you can try account recovery.
    </Typography>
    <Spacer />
    <Input Id="resetPasswordUsernameInput"
           Label="Email"
           Name="Email"
           Placeholder="Enter your email"
           Required="true"
           Type="InputType.Email" />
    <Checkbox>
        <LabelFragment>
            I’am agree to FluentCMS’s
            <Button Color="Color.Primary"
                    Href="/"
                    Link="true">
                Terms of Use
            </Button>
            and
            <Button Color="Color.Primary"
                    Href="/"
                    Link="true">
                Privacy Policy
            </Button>.
        </LabelFragment>
    </Checkbox>
    <Button Block="true"
            Color="Color.Primary"
            id="resetPasswordSubmitButton"
            Type="ButtonType.Submit">
        Reset password
    </Button>
    <Spacer />
    <Button Color="Color.Primary"
            Link="true">
        I can’t recover my account using this page
    </Button>
</Form>

@code
{
    object Model { get; set; } = new();

    private async Task OnSubmit()
    {
    }
}
