@inherits BasePlugin
<PluginForm Model="@Model" OnSubmit="@OnSubmit">
    <Input @bind-Value="Model.Email" Placeholder="Enter your email"/>
    <Input @bind-Value="Model.Token" Placeholder="Enter the token"/>
    <Input @bind-Value="Model.NewPassword" Placeholder="Enter the new password"/>
    <ButtonGroup>
        <Button Block="true" Color="Color.Primary" Type="@ButtonType.Submit"> Submit </Button>
    </ButtonGroup>
</PluginForm>
