@using Microsoft.AspNetCore.Components.Authorization;

<AuthorizeView>
    <Authorized>
        @* TODO: remove classes *@
        <a href="/auth/profile"
           class="px-5 py-3 border-t border-gray-200 dark:border-gray-700">
            <Grid ItemsSmall="GridItems.Center"
                  GutterX="GridGutter.Large">
                <GridItem>
                    <Avatar>
                        @context.User.Identity?.Name?.First()
                    </Avatar>
                </GridItem>
                <GridItem>
                    <Typography Weight="TextWeight.SemiBold">
                        @context.User.Identity?.Name.ToUpper()
                    </Typography>
                </GridItem>
                <GridItem>
                    <a href="/auth/logout">
                        <Typography Weight="TextWeight.SemiBold">
                            Logout
                        </Typography>
                    </a>
                </GridItem>
            </Grid>
        </a>
    </Authorized>
    <Authorizing>
        Authorizing...
    </Authorizing>
    <NotAuthorized>
        <RedirectToLogin></RedirectToLogin>
    </NotAuthorized>
</AuthorizeView>
