@page "/previews/examples/crud/create"
@layout ExamplesLayout

<Page>
    <PageHeader HasBack="true"
                Title="CURD Create"
                Subtitle="Simple CRUD page for a entity">
        <PageHeaderActions>
            <ButtonGroup>
                <Button Color="ColorEnum.Primary">
                    <Icon Name="IconNameEnum.CheckCircle" />
                    Save
                </Button>
            </ButtonGroup>
        </PageHeaderActions>
    </PageHeader>
    <PageBody> 
    </PageBody>
</Page>
