@inherits BasePlugin
@rendermode InteractiveServer

<PluginForm Model="@Model" Name="@FORM_NAME" Title="Update Site" OnSubmit="OnSubmit">
    <FormInput @bind-Value="Model.Name" Label="Name" Placeholder="Enter Name" Required />
    <FormInput @bind-Value="Urls" Cols="6" Label="Urls" Placeholder="Enter each url in new line" />
    <FormSelect @bind-Value="Model.LayoutId" Cols="6" Label="Default Layout" Placeholder="Choose Layout">
        @foreach (var item in Layouts)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </FormSelect>
    <FormTextarea @bind-Value="Model.Description" Label="Description" Placeholder="Enter Description" />
    <FormActions Cancel Submit />
</PluginForm>
