@inherits BaseComponent

<p @attributes="AdditionalAttributes"
   class="@this.GetClasses()">
    @ChildContent
</p>

@code {
    [Parameter]
    [CssProperty]
    public FormFieldStates State { get; set; } = FormFieldStates.Default;
}
