@inherits BaseComponent

<p @attributes="AdditionalAttributes"
   class="@this.GetClasses()">
    @ChildContent
</p>

@code {
    [Parameter]
    [CssProperty]
    public FormFieldStateEnum State { get; set; } = FormFieldStateEnum.Default;
}
