@inherits BaseComponent

<div class=@this.GetClasses() @attributes=@AdditionalAttributes>
    @if(Label != String.Empty) {
        <Label State=@State Required=@Required For="@Id">@Label</Label>
    }
    @ChildContent
	@if(!string.IsNullOrEmpty(Hint)) {
		<FormFieldHint State=@State>@Hint</FormFieldHint>
	}
</div>

@code {
    [Parameter]
    public string Id {get; set;}

    [Parameter]
    public string Hint {get; set;} = String.Empty;

    [Parameter]
    public string Label {get; set;} = String.Empty;

    [Parameter]
    public bool Required {get; set;} = false;

	[Parameter]
	public FormFieldStateEnum State {get;set;} = FormFieldStateEnum.Default;
}
