@inherits BaseComponent

<div class=@this.GetClasses() @attributes=@AdditionalAttributes>
    @if(Label != String.Empty) {
        <Label Required=@Required For="@Id">@Label</Label>
    }
    @ChildContent
</div>

@code {
    [Parameter]
    public string Id {get; set;}

    [Parameter]
    public string Label {get; set;} = String.Empty;

    [Parameter]
    public bool Required {get; set;} = false;
}
