@inherits BaseComponent

@if (IsSpan)
{
    <span @attributes="AdditionalAttributes"
          class="@this.GetClasses()">
        @ChildContent
    </span>
}
else
{
    <label @attributes="AdditionalAttributes"
           class="@this.GetClasses()"
           for="@For">
        @ChildContent
    </label>
}


@code {
    [Parameter]
    public string For { get; set; } = String.Empty;

    [Parameter]
    public bool IsSpan { get; set; } = false;

    [Parameter]
    [CssProperty]
    public bool Required { get; set; } = false;

    [Parameter]
    [CssProperty]
    public FormFieldStateEnum State { get; set; } = FormFieldStateEnum.Default;
}
