<div class="f-form-check">
    @* ml-3 text-sm *@
    @* font-medium text-gray-900 dark:text-white *@
    
    <label for="@Id" class="f-form-check-text">
        @ChildContent
    </label>
</div>


@code {
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }


}
