@inherits BaseComponent

<label for=@For class=@this.GetClasses()>
	@ChildContent
</label>


@code {
    [Parameter]
    public string For {get; set;} = String.Empty;

    [Parameter]
	[CssProperty]
    public bool Required {get; set;} = false;
}
