@inherits InputBaseComponent<string>

<FormField
	Id=@Id
    Required=@Required
    Label=@Label
	Hint=@Hint
    State=@State
    IconStart=@IconStart>
    <select class=@this.GetClasses()
		disabled=@Disabled
		id="@Id"
		name=@Name
		multiple=@Multiple
		required=@Required
		@bind=Value
		@attributes="@AdditionalAttributes">
            @if (this.Placeholder != string.Empty)
            {
                <Option Selected>@Placeholder</Option>
            }
            @ChildContent
        </select>

	</FormField>

@code {
    [Parameter]
    public IconNameEnum IconStart { get; set; }

	@* TODO: Add IconEnd *@

    [Parameter]
    public string Hint { get; set; }

    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public bool Multiple { get; set; }

    [Parameter]
    public string? Placeholder { get; set; }
}
