@inject IJSRuntime JSRuntime

<HeadContent>
    <link rel="stylesheet" href="/css/quill.snow.css">
    <script src="/js/quill.min.js"></script>
    <script src="/js/quill.blazor.js"></script>

@* Remove below lines *@
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" />
    <link rel="stylesheet" href="/css/app.min.css">
    <link rel="icon" type="image/png" href="favicon.png" />
</HeadContent>

<div class="f-text-editor-wrapper">
<div class="f-text-editor" @ref="Element">
    @* *@
</div>
</div>

@code {
    [Parameter]
    public ElementReference Element { get; set; }

    class QuillOptions
    {
        public string Placeholder { get; set; }
        public bool ReadOnly { get; set; }

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeAsync<string>(
            "QuillFunctions.createQuill", Element, new QuillOptions() { Placeholder = Placeholder, ReadOnly = Readonly});
    }
    }

    async Task GetEditorContent()
    {
    Value = await JSRuntime.InvokeAsync<string>(
    "QuillFunctions.getQuillContent", Element);
    }

    [Parameter]
    public string Placeholder { get; set; }

    [Parameter]
    public bool Readonly { get; set; } = false;

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }
}