<Page>
    <PageHeader Title="Settings (Draft)"/>
    <PageBody>
        <Grid Gutter="GridGutter.Medium">
            <GridItem Small="GridItemColumn.Twelve">
                <Form Model="@Model" OnSubmit="OnSubmit">
                    <Card>
                        <CardBody>
                            <Select @bind-Value="SuperUser" Id="settingsSuperUsers" Label="SuperUsers" Multiple="true" Name="SuperUsers" Placeholder="Choose Super Users..." Required="true">
                                <Option Value="1">Test1</Option>
                                <Option Value="2">Test2</Option>
                                <Option Value="3">Test3</Option>
                            </Select>

                            <Spacer />
                            @if (!string.IsNullOrEmpty(Message))
                            {
                                <Typography>
                                    @Message
                                </Typography>
                                <Spacer />
                            }
                            <ButtonGroup>
                                <Button id="settingsCancelButton" Href="/">
                                    Cancel
                                </Button>
                                <Button id="settingsSubmitButton" Color="Color.Primary" Type="ButtonType.Submit">
                                    Save
                                </Button>
                            </ButtonGroup>
                        </CardBody>
                    </Card>
                </Form>
            </GridItem>
        </Grid>
    </PageBody>
</Page>


