@inherits BaseComponent
@inject IJSRuntime JS

@namespace FluentCMS.Web.UI.Components

@if(Visible)
{
    <div @attributes="AdditionalAttributes"
         @ref="Element"
         class="@this.GetClasses()">
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    </div>
}
