@inherits BaseComponent

<div class=@this.GetClasses() @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {

    [Parameter]
    [CssProperty]
    public bool Wrap {get; set;} = true;
}