<Page>
    <PageHeader Title="File Management">
        <PageHeaderActions>
            <ButtonGroup>
                <Button Color="Color.Primary"
                        OnClick="OnOpenBrowseModal"
                        Size="ButtonSize.Small">
                    <Icon Name="IconName.Plus" />
                    Add New Files
                </Button>
            </ButtonGroup>
        </PageHeaderActions>
    </PageHeader>
    <PageBody>
        <Typography Size="TextSize.H4">
            Files (@files.Length)
        </Typography>
        <Spacer />
        <Grid Gutter="GridGutter.Large">
            @foreach (var file in files)
            {
                <GridItem @key="file.Id"
                          Small="GridItemColumn.Twelve"
                          Medium="GridItemColumn.Four"
                          Large="GridItemColumn.Three">
                    <FileManagementTile Value="file"
                                        OnDelete="() => Delete(file)" />
                </GridItem>
            }
        </Grid>
    </PageBody>
</Page>

<FileManagementUploadModal Open="openBrowseModal"
                           OnCancel="OnCloseBrowseModal" />

@code {
    [Inject]
    ConfirmService Confirm { get; set; } = default!;

    FileDTO[] files { get; set; } = { };

    bool openBrowseModal = false;

    async Task Delete(FileDTO file)
    {
        var result = await Confirm.Show("Are you sure to remove this file?");

        if (!result) return;

        // TODO
    }

    void OnCloseBrowseModal()
    {
        openBrowseModal = false;
    }

    void OnOpenBrowseModal()
    {
        openBrowseModal = true;
    }

    protected override Task OnInitializedAsync()
    {
        // TODO
        files = new FileDTO[]
        {
            new FileDTO()
                {
                    Id = Guid.NewGuid(),
                    Name = "test",
                    Url = "https://flowbite.s3.amazonaws.com/blocks/application-ui/products/imac-front-image.png",
                    Extension = "png",
                    MimeType = "image/png",
                    Size = 123
                },
            new FileDTO()
                {
                    Id = Guid.NewGuid(),
                    Name = "test",
                    Extension = "png",
                    MimeType = "app/json",
                    Size = 123
                },
            new FileDTO()
                {
                    Id = Guid.NewGuid(),
                    Name = "test",
                    Url = "https://flowbite.s3.amazonaws.com/blocks/application-ui/products/imac-front-image.png",
                    Extension = "png",
                    MimeType = "image/png",
                    Size = 123
                }
        };

        return base.OnInitializedAsync();
    }
}
