@inherits BaseComponent
@namespace FluentCMS.Web.UI

@if (Model is not null)
{
    <PluginForm Model="@Model" Name="@FORM_NAME" Title="Setup Admin Account" OnSubmit="@OnSubmit">
        <FormInput @bind-Value="Model!.Username" Label="Username" Placeholder="Enter your username" Required />
        <FormHiddenInput @bind-Value="Model!.Url" />
        <FormInput @bind-Value="Model!.Email" Label="Email" Placeholder="Enter your email" Required />
        <FormInput @bind-Value="Model!.Password" Label="Password" Placeholder="Enter your password" Required type="password" />
        <FormSelect @bind-Value="Model!.Template" Data="Templates" Label="Template" />
        <FormActions>
            <Button Block Color="Color.Primary" Type="ButtonType.Submit">
                Setup
            </Button>
        </FormActions>
    </PluginForm>        
}
