@typeparam TItem
@namespace FluentCMS.Web.Plugins

@if (Header)
{
    <th class="@this.ClassName("DataTableCell")">
        @(Label ?? string.Empty)
    </th>
}
else
{
    <td class="@this.ClassName("DataTableCell")">
        <CascadingValue Value="TableAction">
            <Stack Justify="StackJustify.End" class="!gap-0">
                @ChildContent(Item)
            </Stack>
        </CascadingValue>
    </td>
}
