$card: $prefix + 'card';

.#{$card} {
    @apply bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-700/20 dark:border-gray-700;

    &-clickable-true {
        @apply cursor-pointer;
    }

    &-body {
        @apply p-3;

        @screen sm {
            @apply p-4;
        }
    }

    &-title {
        @apply text-2xl font-bold text-gray-900 dark:text-white;
    }

    &-actions {
        @apply p-3 flex gap-2 items-center justify-end;

        @screen sm {
            @apply p-4;
        }
    }
}
