@inherits BaseComponent;

@namespace FluentCMS.Web.UI.Components

@if(Visible)
{
    <li @attributes="AdditionalAttributes"
        class="@this.GetClasses()">
        <span class="@this.ClassName("StepperItemIcon")">
            @if (Icon != IconName.Default)
            {
                <Icon Name="Icon"
                    Color="Color" />
            }
        </span>
        <h3 class="@this.ClassName("StepperItemTitle")">
            @Title
        </h3>
        @if (!string.IsNullOrEmpty(Subtitle))
        {
            <p class="@this.ClassName("StepperItemSubtitle")">
                @Subtitle
            </p>
        }
        @if (ChildContent != null)
        {
            <Spacer />
            @ChildContent
        }
    </li>
}