<Modal @bind-Open="Open"
       Size="ModalSize.Large">
    <ModalHeader>
        <ModalTitle>Upload File</ModalTitle>
    </ModalHeader>
    <ModalBody>
        <Form Model="@model">
            <Grid>
                <GridItem Small="GridItemColumn.Twelve">
                    <Card>
                        <CardBody>
                            <Grid ItemsSmall="GridItems.Center"
                                  JustifySmall="GridJustify.Center">
                                <GridItem>
                                    <Typography>
                                        Drag files Here or Click below button to upload files.
                                    </Typography>
                                </GridItem>
                                <GridItem Small="GridItemColumn.Twelve">
                                    <Spacer/>
                                </GridItem>
                                <GridItem>
                                    <Button Color="Color.Primary"
                                            Disabled="true">
                                         Upload
                                     </Button>
                                </GridItem>
                            </Grid>
                        </CardBody>
                    </Card>
                </GridItem>
            </Grid>
            <Spacer/>
            <ButtonGroup>
                <Button OnClick="() => OnCancel.InvokeAsync()">
                    Cancel
                </Button>
                <Button Color="Color.Primary"
                        Type="ButtonType.Submit">
                    Submit
                </Button>
            </ButtonGroup>
        </Form>
    </ModalBody>
</Modal>

@code {
    [Parameter]
    public bool EditMode {get; set;}

    [Parameter]
    public bool Open {get; set;}

    [Parameter]
    public EventCallback<bool> OnCancel {get; set;}

    [Parameter]
    public EventCallback<string> OnSubmit {get; set;}

    [Parameter]
    public string Title {get; set; }

    object model {get; set;} = new();

    void OnFormSubmit()
    {
        OnSubmit.InvokeAsync("value");
    }
}

