@implements IAsyncDisposable
@inherits BaseComponent
@inject IJSRuntime JS

@namespace FluentCMS.Web.UI.Components

@if(Visible)
{
    <div @attributes="AdditionalAttributes"
         @ref="element"
         class="@this.GetClasses()">
        @ChildContent
    </div>
}