@inherits LayoutComponentBase

<div class="f-layout">
    <Navigations />
    <Navbar/>
    <main class="f-content">
        @Body
    </main>
</div>


<AlertContainer>
    <Alert id="blazor-error-ui" Dismissible>
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
    </Alert>
</AlertContainer>
