@inherits LayoutComponentBase

<div class="f-layout">
    <Navigations />
    <Navbar/>
    <main class="f-content">
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@* @inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 bg-body-tertiary p-0">
            <Sidebar />
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            @Body
        </main>
    </div>
</div> *@
