<ul class="nav flex-column">
    <li class="nav-item">
        <NavLink class="nav-link d-flex align-items-center gap-2" href="" Match="NavLinkMatch.All">
            Dashboard
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link d-flex align-items-center gap-2" href="counter">
            Counter
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link d-flex align-items-center gap-2" href="sites">
            Manage Sites
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link d-flex align-items-center gap-2" href="users">
            Manage Users
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link d-flex align-items-center gap-2" href="roles">
            Manage Roles
        </NavLink>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="doc" target="_blank">
            Swagger Documentation
        </a>
    </li>
</ul>

@code {

}
