@namespace FluentCMS.Web.UI

<div class="f-toolbar">
    <div class="f-toolbar-container">
        <div class="f-toolbar-start">
            @if (Start != null)
            {
                @Start
            }
        </div>
        <div class="f-toolbar-center">
            @if (Center != null)
            {
                @Center
            }
        </div>
        <div class="f-toolbar-end">
            @if (End != null)
            {
                @End
            }
        </div>
    </div>
</div>

