@namespace FluentCMS.Web.UI

<div class="f-page-editor-forms">
    <EditForm Model="DeletePluginModel" FormName="DeletePluginForm" OnSubmit="OnDeletePluginSubmit">
        <input type="submit" value="Submit"/>
    </EditForm>

    <EditForm Model="UpdatePluginModel" FormName="UpdatePluginForm" OnSubmit="OnUpdatePluginSubmit">
        <input type="submit" value="Submit"/>
    </EditForm>

    <EditForm Model="UpdatePluginOrdersModel" FormName="UpdatePluginOrdersForm" OnSubmit="OnUpdatePluginOrdersSubmit">
        <input type="submit" value="Submit"/>
    </EditForm>

    <EditForm Model="CreatePluginModel" FormName="CreatePluginForm" OnSubmit="OnCreatePluginSubmit">
        <input type="submit" value="Submit"/>
    </EditForm>
</div>