@namespace FluentCMS.Web.UI

<div class="f-page-editor-forms">
    <EditForm Model="DeletePluginModel" FormName="DeletePluginForm" OnSubmit="OnDeletePluginSubmit">
        <input type="submit" value="Submit"/>
    </EditForm>

    <EditForm Model="UpdatePluginsModel" FormName="UpdatePluginsForm" OnSubmit="OnUpdatePluginsSubmit">
        <input type="submit" value="Submit"/>
    </EditForm>

    <EditForm Model="CreatePluginModel" FormName="CreatePluginForm" OnSubmit="OnCreatePluginSubmit">
        <input type="submit" value="Submit"/>
    </EditForm>
</div>