@namespace FluentCMS.Web.UI
@rendermode RenderMode.InteractiveServer

<HeadContent>
    <link rel="stylesheet" href="/_content/FluentCMS.Web.UI.Components/css/editor.css">
</HeadContent>

<div class="f-page-editor f-page-editor-sidebar-open f-page-editor-loading">
    <div class="f-toolbar">
        <div class="f-toolbar-container">
            <div class="f-toolbar-start">
                <a href="/admin">
                    <img src="/_content/FluentCMS.Web.UI/images/logo.svg" />
                </a>
            </div>
            <div class="f-toolbar-center">
                <div class="f-toolbar-responsive-buttons">
                    <button data-action="responsive-default" class="f-toolbar-responsive-button f-toolbar-responsive-button-active">
                        <svg width="16" height="16" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.9" d="M7 17H10M10 17H13M10 17V14M10 14H17C17.5304 14 18.0391 13.7893 18.4142 13.4142C18.7893 13.0391 19 12.5304 19 12V3C19 2.46957 18.7893 1.96086 18.4142 1.58579C18.0391 1.21071 17.5304 1 17 1H3C2.46957 1 1.96086 1.21071 1.58579 1.58579C1.21071 1.96086 1 2.46957 1 3V12C1 12.5304 1.21071 13.0391 1.58579 13.4142C1.96086 13.7893 2.46957 14 3 14H10Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <button data-action="responsive-desktop" class="f-toolbar-responsive-button">
                        <svg width="16" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.4273 11.7073H19.4727V2.14634C19.4727 1.5771 19.2515 1.03117 18.8577 0.628649C18.4638 0.226132 17.9297 0 17.3727 0H3.62727C3.07032 0 2.53617 0.226132 2.14235 0.628649C1.74852 1.03117 1.52727 1.5771 1.52727 2.14634V11.7073H0.572727C0.420831 11.7073 0.275155 11.769 0.167748 11.8788C0.0603407 11.9885 0 12.1374 0 12.2927V13.8537C0 14.4229 0.221249 14.9688 0.615076 15.3714C1.0089 15.7739 1.54305 16 2.1 16H18.9C19.457 16 19.9911 15.7739 20.3849 15.3714C20.7787 14.9688 21 14.4229 21 13.8537V12.2927C21 12.1374 20.9397 11.9885 20.8323 11.8788C20.7248 11.769 20.5792 11.7073 20.4273 11.7073ZM2.67273 2.14634C2.67273 1.88759 2.7733 1.63944 2.95231 1.45648C3.13132 1.27352 3.37411 1.17073 3.62727 1.17073H17.3727C17.6259 1.17073 17.8687 1.27352 18.0477 1.45648C18.2267 1.63944 18.3273 1.88759 18.3273 2.14634V11.7073H2.67273V2.14634ZM19.8545 13.8537C19.8545 14.1124 19.754 14.3606 19.575 14.5435C19.396 14.7265 19.1532 14.8293 18.9 14.8293H2.1C1.84684 14.8293 1.60405 14.7265 1.42503 14.5435C1.24602 14.3606 1.14545 14.1124 1.14545 13.8537V12.878H19.8545V13.8537ZM12.6 3.70732C12.6 3.86257 12.5397 4.01146 12.4323 4.12123C12.3248 4.23101 12.1792 4.29268 12.0273 4.29268H8.97273C8.82083 4.29268 8.67516 4.23101 8.56775 4.12123C8.46034 4.01146 8.4 3.86257 8.4 3.70732C8.4 3.55207 8.46034 3.40318 8.56775 3.2934C8.67516 3.18362 8.82083 3.12195 8.97273 3.12195H12.0273C12.1792 3.12195 12.3248 3.18362 12.4323 3.2934C12.5397 3.40318 12.6 3.55207 12.6 3.70732Z" fill="currentColor" />
                        </svg>
                    </button>
                    <button class="f-toolbar-responsive-button">
                        <svg data-action="responsive-tablet" width="16" height="16" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.5263 1H3.10526C1.94256 1 1 1.94256 1 3.10526V14.8947C1 16.0574 1.94256 17 3.10526 17H11.5263C12.689 17 13.6316 16.0574 13.6316 14.8947V3.10526C13.6316 1.94256 12.689 1 11.5263 1Z" stroke="currentColor" />
                            <path d="M9.84169 14.0527H4.78906" stroke="currentColor" />
                        </svg>
                    </button>
                    <button data-action="responsive-mobile" class="f-toolbar-responsive-button">
                        <svg width="16" height="16" viewBox="0 0 13 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.50014 14.3172C6.93601 14.3172 7.28935 13.9638 7.28935 13.528C7.28935 13.0921 6.93601 12.7388 6.50014 12.7388C6.06428 12.7388 5.71094 13.0921 5.71094 13.528C5.71094 13.9638 6.06428 14.3172 6.50014 14.3172Z" fill="currentColor" />
                            <path d="M10.9089 18H2.09114C1.50598 17.9661 0.95827 17.7092 0.567182 17.2851C0.176094 16.8611 -0.0267315 16.3043 0.0028322 15.7357V2.26427C-0.0267315 1.69575 0.176094 1.13889 0.567182 0.714855C0.95827 0.290815 1.50598 0.0338981 2.09114 0H10.9089C11.494 0.0338981 12.0417 0.290815 12.4328 0.714855C12.8239 1.13889 13.0267 1.69575 12.9972 2.26427V15.7357C13.0267 16.3043 12.8239 16.8611 12.4328 17.2851C12.0417 17.7092 11.494 17.9661 10.9089 18ZM2.09114 0.905706C1.75377 0.94031 1.44381 1.10195 1.22777 1.35593C1.01172 1.60992 0.906806 1.93602 0.935529 2.26427V15.7357C0.906806 16.064 1.01172 16.3901 1.22777 16.6441C1.44381 16.8981 1.75377 17.0597 2.09114 17.0943H10.9089C11.2462 17.0597 11.5562 16.8981 11.7722 16.6441C11.9883 16.3901 12.0932 16.064 12.0645 15.7357V2.26427C12.0932 1.93602 11.9883 1.60992 11.7722 1.35593C11.5562 1.10195 11.2462 0.94031 10.9089 0.905706H2.09114Z" fill="currentColor" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="f-toolbar-end">

                <button data-action="exit-design" class="f-toolbar-button f-toolbar-button-outline">
                    Exit Design mode
                </button>

                <button data-action="toggle-add-plugin" class="f-toolbar-button f-toolbar-button-outline f-toolbar-button-icon">
                    <svg width="16" height="16" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.32711 0C3.5 0 2.80921 4.11743e-08 2.26211 0.0736843C1.68368 0.151053 1.16145 0.322368 0.742368 0.741447C0.322368 1.16145 0.151053 1.68368 0.0736843 2.26118C4.11743e-08 2.80921 0 3.5 0 4.32711V4.42289C0 5.25 4.11743e-08 5.94079 0.0736843 6.48789C0.151053 7.06632 0.322368 7.58855 0.741447 8.00763C1.16145 8.42763 1.68368 8.59895 2.26118 8.67632C2.80921 8.75 3.5 8.75 4.32711 8.75H4.42289C5.25 8.75 5.94079 8.75 6.48789 8.67632C7.06632 8.59895 7.58855 8.42763 8.00763 8.00763C8.42763 7.58855 8.59895 7.06632 8.67632 6.48789C8.75 5.94079 8.75 5.25 8.75 4.42289V4.32711C8.75 3.5 8.75 2.80921 8.67632 2.26211C8.59895 1.68368 8.42763 1.16145 8.00763 0.742368C7.58855 0.322368 7.06632 0.151053 6.48789 0.0736843C5.94079 4.11743e-08 5.25 0 4.42289 0H4.32711ZM1.71868 1.71868C1.83842 1.59895 2.02079 1.50039 2.44632 1.44237C2.89026 1.38342 3.48711 1.38158 4.375 1.38158C5.26289 1.38158 5.85974 1.38342 6.30461 1.44329C6.72921 1.50039 6.91158 1.59895 7.03132 1.71961C7.15105 1.83934 7.24961 2.02079 7.30763 2.44539C7.36658 2.89026 7.36842 3.48711 7.36842 4.375C7.36842 5.26289 7.36658 5.85974 7.30671 6.30461C7.2496 6.72921 7.15105 6.91158 7.0304 7.03132C6.91066 7.15105 6.72921 7.24961 6.30461 7.30763C5.85974 7.36658 5.26289 7.36842 4.375 7.36842C3.48711 7.36842 2.89026 7.36658 2.44539 7.30671C2.02079 7.2496 1.83842 7.15105 1.71868 7.0304C1.59895 6.91066 1.50039 6.72921 1.44237 6.30461C1.38342 5.85974 1.38158 5.26289 1.38158 4.375C1.38158 3.48711 1.38342 2.89026 1.44329 2.44539C1.50039 2.02079 1.59895 1.83842 1.71961 1.71868" fill="currentColor" />
                        <path d="M16.5 0.875C16.5 0.642936 16.4078 0.420376 16.2437 0.256281C16.0796 0.0921871 15.8571 0 15.625 0C15.3929 0 15.1704 0.0921871 15.0063 0.256281C14.8422 0.420376 14.75 0.642936 14.75 0.875V3.5H12.125C11.8929 3.5 11.6704 3.59219 11.5063 3.75628C11.3422 3.92038 11.25 4.14294 11.25 4.375C11.25 4.60706 11.3422 4.82962 11.5063 4.99372C11.6704 5.15781 11.8929 5.25 12.125 5.25H14.75V7.875C14.75 8.10706 14.8422 8.32962 15.0063 8.49372C15.1704 8.65781 15.3929 8.75 15.625 8.75C15.8571 8.75 16.0796 8.65781 16.2437 8.49372C16.4078 8.32962 16.5 8.10706 16.5 7.875V5.25H19.125C19.3571 5.25 19.5796 5.15781 19.7437 4.99372C19.9078 4.82962 20 4.60706 20 4.375C20 4.14294 19.9078 3.92038 19.7437 3.75628C19.5796 3.59219 19.3571 3.5 19.125 3.5H16.5V0.875Z" fill="currentColor" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.3151 10H15.4166C16.2937 10 17.0244 10 17.6039 10.0737C18.2166 10.1511 18.7698 10.3224 19.2137 10.7424C19.6585 11.1614 19.84 11.6837 19.922 12.2621C20 12.8092 20 13.4991 20 14.3271V14.4229C20 15.2509 20 15.9408 19.922 16.4879C19.84 17.0663 19.6585 17.5886 19.2137 18.0076C18.7698 18.4276 18.2166 18.5989 17.6039 18.6763C17.0244 18.75 16.2937 18.75 15.4166 18.75H15.3151C14.439 18.75 13.7073 18.75 13.1278 18.6763C12.5151 18.5989 11.962 18.4276 11.518 18.0076C11.0732 17.5886 10.8917 17.0663 10.8098 16.4879C10.7317 15.9408 10.7317 15.2509 10.7317 14.4229V14.3271C10.7317 13.4991 10.7317 12.8092 10.8098 12.2621C10.8917 11.6837 11.0732 11.1614 11.518 10.7424C11.962 10.3224 12.5151 10.1511 13.1278 10.0737C13.7073 10 14.438 10 15.3151 10ZM13.322 11.4424C12.8722 11.5004 12.679 11.5989 12.5522 11.7187C12.4254 11.8384 12.321 12.0208 12.2595 12.4463C12.1971 12.8903 12.1951 13.4871 12.1951 14.375C12.1951 15.2629 12.1971 15.8597 12.2595 16.3046C12.321 16.7292 12.4254 16.9116 12.5522 17.0313C12.679 17.1511 12.8722 17.2496 13.3229 17.3076C13.7932 17.3666 14.4254 17.3684 15.3659 17.3684C16.3063 17.3684 16.9385 17.3666 17.4098 17.3067C17.8595 17.2496 18.0527 17.1511 18.1795 17.0304C18.3063 16.9107 18.4107 16.7292 18.4722 16.3046C18.5346 15.8597 18.5366 15.2629 18.5366 14.375C18.5366 13.4871 18.5346 12.8903 18.4712 12.4454C18.4107 12.0208 18.3063 11.8384 18.1785 11.7187C18.0517 11.5989 17.8595 11.5004 17.4098 11.4424C16.9385 11.3834 16.3063 11.3816 15.3659 11.3816C14.4254 11.3816 13.7932 11.3834 13.322 11.4424ZM4.58341 10C3.70732 10 2.97561 10 2.3961 10.0737C1.78341 10.1511 1.23024 10.3224 0.786342 10.7424C0.341463 11.1614 0.16 11.6837 0.0780488 12.2621C4.19095e-08 12.8092 0 13.4991 0 14.3271V14.4229C0 15.2509 4.19095e-08 15.9408 0.0780488 16.4879C0.16 17.0663 0.341464 17.5886 0.785366 18.0076C1.23024 18.4276 1.78341 18.5989 2.39512 18.6763C2.97561 18.75 3.70732 18.75 4.58341 18.75H4.68488C5.56098 18.75 6.29268 18.75 6.8722 18.6763C7.48488 18.5989 8.03805 18.4276 8.48195 18.0076C8.92683 17.5886 9.10829 17.0663 9.19024 16.4879C9.26829 15.9408 9.26829 15.2509 9.26829 14.4229V14.3271C9.26829 13.4991 9.26829 12.8092 9.19024 12.2621C9.10829 11.6837 8.92683 11.1614 8.48195 10.7424C8.03805 10.3224 7.48488 10.1511 6.8722 10.0737C6.29268 10 5.56098 10 4.68488 10H4.58341ZM1.82049 11.7187C1.94732 11.5989 2.14049 11.5004 2.59122 11.4424C3.06146 11.3834 3.69366 11.3816 4.63415 11.3816C5.57463 11.3816 6.20683 11.3834 6.67805 11.4424C7.12781 11.5004 7.32098 11.5989 7.4478 11.7187C7.57463 11.8384 7.67902 12.0208 7.74049 12.4463C7.80293 12.8903 7.80488 13.4871 7.80488 14.375C7.80488 15.2629 7.80293 15.8597 7.73951 16.3046C7.67902 16.7292 7.57463 16.9116 7.44683 17.0313C7.32 17.1511 7.12781 17.2496 6.67805 17.3076C6.20683 17.3666 5.57463 17.3684 4.63415 17.3684C3.69366 17.3684 3.06146 17.3666 2.59024 17.3067C2.14049 17.2496 1.94732 17.1511 1.82049 17.0304C1.69366 16.9107 1.58927 16.7292 1.5278 16.3046C1.46537 15.8597 1.46341 15.2629 1.46341 14.375C1.46341 13.4871 1.46537 12.8903 1.52878 12.4454C1.58927 12.0208 1.69268 11.8384 1.82049 11.7187Z" fill="currentColor" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="f-page-editor-iframe-wrapper">
        <div class="f-page-editor-iframe-resizer" />
        <iframe class="f-page-editor-iframe" src="@(NavigationManager.Uri.Replace("pageEdit", "pagePreview"))">
        </iframe>
    </div>
</div>
