@namespace FluentCMS.Web.UI

<span class="f-toolbar-dropdown">
    <img id="dropdown-toggler" src="/files/images/"blocks/jese-leos.png" class="f-toolbar-avatar" />
    <div id="dropdown-menu" class="f-toolbar-dropdown-menu">
        <a href="/admin" data-enhance-nav="disabled" class="f-toolbar-dropdown-item">
            <svg class="f-toolbar-dropdown-item-icon" width="17" height="18" viewBox="0 0 17 18" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M8.18182 18C3.63518 16.9895 0 12.6998 0 8.18182V3.27273L8.18182 0L16.3636 3.27273V8.18182C16.3636 12.7015 12.7285 16.9895 8.18182 18ZM1.63636 4.09091V8.18182C1.68312 10.0736 2.34848 11.8979 3.5306 13.3755C4.71272 14.8532 6.34648 15.9028 8.18182 16.3636C10.0172 15.9028 11.6509 14.8532 12.833 13.3755C14.0152 11.8979 14.6805 10.0736 14.7273 8.18182V4.09091L8.18182 1.63636L1.63636 4.09091Z"
                    fill="#154EF2" />
                <path
                    d="M8.18217 8.18173C9.31185 8.18173 10.2276 7.26595 10.2276 6.13627C10.2276 5.0066 9.31185 4.09082 8.18217 4.09082C7.0525 4.09082 6.13672 5.0066 6.13672 6.13627C6.13672 7.26595 7.0525 8.18173 8.18217 8.18173Z"
                    fill="#154EF2" />
                <path
                    d="M4.0918 11.4545C4.49494 12.1895 5.08621 12.8042 5.80505 13.2355C6.52389 13.6668 7.34446 13.8993 8.18271 13.9091C9.02095 13.8993 9.84152 13.6668 10.5604 13.2355C11.2792 12.8042 11.8705 12.1895 12.2736 11.4545C12.2532 9.90327 9.53925 9 8.18271 9C6.8188 9 4.11225 9.90327 4.0918 11.4545Z"
                    fill="#154EF2" />
            </svg>
            <span class="f-toolbar-dropdown-item-text">Admin Panel</span>
        </a>
        <a data-enhance-nav="disabled" class="f-toolbar-dropdown-item" href="/auth/profile">
            <svg class="f-toolbar-dropdown-item-icon" width="17" height="17" viewBox="0 0 17 17" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M7.71053 4.55263H12.4474M4.55263 4.55263H5.34211M4.55263 8.5H5.34211M4.55263 12.4474H5.34211M7.71053 8.5H12.4474M7.71053 12.4474H12.4474M1 8.5C1 4.96474 1 3.19632 2.09816 2.09816C3.19632 1 4.96395 1 8.5 1C12.0353 1 13.8037 1 14.9018 2.09816C16 3.19632 16 4.96395 16 8.5C16 12.0353 16 13.8037 14.9018 14.9018C13.8037 16 12.0361 16 8.5 16C4.96474 16 3.19632 16 2.09816 14.9018C1 13.8037 1 12.0361 1 8.5Z"
                    stroke="#154EF2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <span class="f-toolbar-dropdown-item-text">Profile</span>
        </a>
        <div class="f-toolbar-dropdown-separator"></div>
        <a data-enhance-nav="disabled" class="f-toolbar-dropdown-item f-toolbar-dropdown-item-danger"
            href="/auth/logout">
            <svg class="f-toolbar-dropdown-item-icon" width="14" height="14" viewBox="0 0 14 14" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_929_6412)">
                    <path
                        d="M13.9337 6.66575C13.8891 6.55813 13.8252 6.46187 13.7438 6.3805L10.2444 2.88138C9.90227 2.53925 9.34923 2.53925 9.00708 2.88138C8.66493 3.2235 8.66493 3.7765 9.00708 4.11862L11.0136 6.125H3.50027C3.01636 6.125 2.62521 6.517 2.62521 7C2.62521 7.483 3.01636 7.875 3.50027 7.875H11.0136L9.00708 9.88138C8.66493 10.2235 8.66493 10.7765 9.00708 11.1186C9.17772 11.2893 9.40173 11.375 9.62575 11.375C9.84977 11.375 10.0738 11.2893 10.2444 11.1186L13.7438 7.6195C13.8252 7.539 13.8891 7.44187 13.9337 7.33425C14.0221 7.12075 14.0221 6.87925 13.9337 6.66575Z"
                        fill="#E02424" />
                    <path
                        d="M5.25041 12.25H2.62521C2.14217 12.25 1.75014 11.8571 1.75014 11.375V2.625C1.75014 2.14287 2.14217 1.75 2.62521 1.75H5.25041C5.73432 1.75 6.12548 1.358 6.12548 0.875C6.12548 0.392 5.73432 0 5.25041 0H2.62521C1.17784 0 0 1.17775 0 2.625V11.375C0 12.8223 1.17784 14 2.62521 14H5.25041C5.73432 14 6.12548 13.608 6.12548 13.125C6.12548 12.642 5.73432 12.25 5.25041 12.25Z"
                        fill="#E02424" />
                </g>
                <defs>
                    <clipPath id="clip0_929_6412">
                        <rect width="14" height="14" fill="white" />
                    </clipPath>
                </defs>
            </svg>

            <span class="f-toolbar-dropdown-item-text">Sign Out</span>
        </a>
    </div>
</span>