@namespace FluentCMS.Web.UI

<div class="f-page-editor-forms">
    <EditForm id="f-page-editor-form" Model="Model" FormName="UpdatePluginForm" OnSubmit="OnUpdateSubmit">
        <input type="submit" value="Submit"/>
    </EditForm>
    <EditForm Model="CreatePluginModel" FormName="CreatePluginForm" OnSubmit="OnCreatePluginSubmit">
        <input type="submit" value="Submit"/>
    </EditForm>
</div>