@inherits BaseComponent

<div @attributes="AdditionalAttributes"
     class="@this.GetClasses()">
    @if (ChildContent == null)
    {
        @if (!string.IsNullOrEmpty(Title))
        {
            <ModalTitle>
                @Title
            </ModalTitle>
        }
        @if (Closable)
        {
            <CloseButton OnClick="Modal.Close" />
        }
    }
    else
    {
        @ChildContent
    }
</div>

@code {
    [Parameter]
    public bool Closable { get; set; } = true;

    [CascadingParameter]
    public Modal Modal { get; set; } = default!;

    [Parameter]
    public string? Title { get; set; }
}
