@inherits BaseComponent

<div class=@this.GetClasses() @attributes=@AdditionalAttributes tabindex="-1">

    @* TODO: It is removed after enabling the JS invoker *@
    @if (Open)
    {
        <div onclick=@Close class="bg-gray-900/50 dark:bg-gray-900/80 fixed inset-0"></div>
    }

    <div class="wrapper">
        <CascadingValue Value="this">
            <ModalContent>
                @ChildContent
            </ModalContent>
        </CascadingValue>
    </div>
</div>

@code {
    [Parameter]
    [CssProperty]
    public SizeEnum Size { get; set; } = SizeEnum.Medium;

    [Parameter]
    [CssProperty]
    public bool Open { get; set; }

    [Parameter]
    public EventCallback<bool> OpenChanged { get; set; }

    [Parameter]
    [CssProperty]
    public bool Static { get; set; }

    public async void Close()
    {
        if (!Static)
        {
            await OpenChanged.InvokeAsync(Open = false);
        }
    }
}
