@rendermode InteractiveServer
<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<Counter @onclick="IncrementCount">Click me</Counter>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
