<h1>Counter</h1>
<h1>Plugin id: @Plugin?.Id</h1>
<hr />
<p role="status">Current count: @currentCount</p>
<Counter @onclick="IncrementCount">Click me</Counter>

@code {
    private int currentCount = 0;

    [CascadingParameter(Name="Plugin")]
    public PluginResponse Plugin { get; set; } = default!;

    private void IncrementCount()
    {
        currentCount++;
    }
}
