.f-actions {
    line-height: 11px;
    display: none;
    align-items: start;
    justify-content: space-between;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 4;
    pointer-events: none;
}

.f-edit-content .f-actions {
    display: flex;
}

.f-actions-start, .f-actions-end  {
    pointer-events: all;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: start;
}

.f-action-text span {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}

.f-actions-center {
    pointer-events: all;
    display: flex;
    background-color: var(--f-primary);
    width: max-content;
    position: absolute;
    top: -16px;
    left: 50%;
    right: 50%;
    padding: 4px 12px;
    border-radius: 24px;
    transform: translate(-50%, 0%);
    overflow: hidden;
}
.f-actions-center .f-action-icon {
    border-radius: 4px;
}

.f-actions-end {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.f-actions-no-bg {
    background-color: transparent;
    border-bottom-color: transparent;
}

.f-action-draggable {
    cursor: grab;
}
.f-action-text {
    display: flex;
    align-items: center;
    color: white;
    padding-right: 8px;
    gap: 4px;
    font-weight: bold;
}

.f-action-icon {
    padding: 4px;
    color: white;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.f-action-primary {
    background-color: var(--f-primary);
}

.f-action-primary:hover {
    background-color: var(--f-primary-hover);
}

.f-action-secondary {
    background-color: var(--f-secondary);
}

.f-action-secondary:hover {
    background-color: var(--f-secondary-hover);
}

.f-actions-secondary {
    background-color: var(--f-secondary);
}

.f-action-danger {
    background-color: var(--f-danger);
}
.f-action-danger:hover {
    background-color: var(--f-danger-hover);
}

.f-edit-content .f-plugin-container {
    position: relative;
    box-shadow: inset 0 0 0 1px var(--f-gray-200);
}

.f-plugin-item-container {
    /* padding: 0.5rem; */
    position: relative;
    /* border: 1px solid var(--f-gray-200); */
    /* box-shadow: inset 0 0 1px 1px var(--f-gray-200); */

}
.f-edit-content .f-plugin-container-content {
    position: relative;
    /* padding-top: 24px; */
    min-height: 100px;

}

/* .f-edit-content .f-plugin-item-container:hover, */
.f-edit-content .f-plugin-container:hover {
    box-shadow: inset 0 0 0 1px var(--f-primary);
}

.f-section:hover > .f-actions {
    opacity: 1;
}

.f-column:hover > .f-actions {
    opacity: 1;
}

.f-plugin-container:hover > .f-actions {
    opacity: 1;
}

.f-plugin-item-container:hover > .f-actions {
    opacity: 1;
}

.f-plugin-container-content:hover > .f-actions {
    opacity: 1;
}

.f-action-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-action-item {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    color: white;
    padding-right: 16px;
    width: 100%;
}

.f-action-toggler svg {
    width: 16px;
}

.f-actions-dropdown {
    position: relative;
}
.f-action-menu {
    position: absolute;
    left: 0;
    background-color: var(--f-secondary);
}
.f-actions-dropdown-end .f-action-menu {
    left: unset;
    right: 0;
}

.f-actions-dropdown .f-action-menu {
    display: none;

}
.f-actions-dropdown:has(.f-action-toggler:hover) .f-action-menu, .f-actions-dropdown:has(.f-action-menu:hover) .f-action-menu {
    display: flex;
    flex-direction: column;

}