.f-row {
    position: relative;
}

.f-row.dragging * {
    user-select: none;
}

.f-row.active .line {
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #c9c9c921;
    opacity: 0;
    pointer-events: none;
}

.f-row.dragging .line {
    opacity: 1;
}
.f-row.active [data-cols] {
    transition: all 0.3s ease;
    position: relative;
}  

.f-row.active .resizer-handle {
    position: absolute;
    z-index: 1;
    top: 1.5rem;
    bottom: 1.5rem;
    right: -22px;
    width: 48px;
    cursor:col-resize;
}

.f-row.active .resizer-handle::before {
    content: '';
    position:absolute;
    transition: all 0.3s ease;
    border-radius: 50px;
    opacity: 0;
    display: block;
    right: 19px;
    top: 0rem;
    bottom: 0rem;
    width: 8px;
    background-color: var(--f-gray-200);
    cursor: col-resize;
}

.f-row.active .resizer-handle::after {
    content: '';
    position:absolute;
    transition: all 0.3s ease;
    opacity: 0;
    display: block;
    right: 19px;
    top: 50%;
    transform: translate(-50%, -50%);
    bottom: 50%;
    height: clamp(40px, 25%, 100px);
    width: 4px;
    background-color: #8a8a8a86;
    cursor: col-resize;
}

.f-row.active .dragging {
    cursor: col-resize;
}

.f-row.active .resizer-handle.dragging::before, 
.f-row.active .resizer-handle.dragging::after,
.f-row.active .resizer-handle:hover::before, 
.f-row.active .resizer-handle:hover::after {
    opacity: 1;
}
