
.f-plugin-container {
    position: relative;
    transition: all 0.3s ease;
}

.f-plugin-container-content {
    border: 1px dashed #00549038;
    position: relative;
    overflow: hidden;
    min-height: 75px;
    transition: all 0.3s ease;
}

.f-plugin-container:hover .f-plugin-container-content {
    border: 1px dashed #005590;
}

.f-plugin-toolbar-actions-title {
    padding-left: 1rem;
}

.f-plugin-toolbar-actions {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 12px;
    align-items: center;
    justify-content: end;
}

.f-plugin-toolbar-action {
    border: none;
    background-color: transparent;
    color: black;
}
.f-plugin-toolbar-action:hover {
    color: #005590;
}

.f-plugin-container-actions {
    background-color: white;
    color: black;
    z-index: 4;
    height: 40px;
    border: 1px dashed #005590;
    position: absolute;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: all 0.2s ease;
    /* overflow: hidden; */
    justify-content: space-between;
    left: 0;
    right: 0;
}

.f-plugin-container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    pointer-events: none;
}

.f-plugin-container:hover .f-plugin-container-actions {
    opacity: 1;
}

[data-responsive-mode] .f-plugin-container {
    border: none;
}
[data-responsive-mode] .f-plugin-container-actions {
    display: none;
}
[data-responsive-mode] .f-page-editor-sidebar {
    display: none;
}


