[data-plugin-items] {
    display: none;
}

.f-edit-content [data-plugin-items] {
    display: none;
}

[data-plugin-items-root] {
    display: none;
}
.f-edit-content [data-plugin-items-root] {
    display: flex;
}
.f-edit-content [data-plugin-item-id] {
    position: relative;
}


.f-edit-content [data-plugin-item-id]:hover {
    box-shadow: 0 0 1px #7a7a7a;
}


.f-edit-content [data-plugin-item-id] [data-plugin-items] {
    position: absolute;
    display: flex;
    opacity: 0;
    transition: all 0.2s ease;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden;
    justify-content: flex-start;
    right: 0rem;
    top: 0;
}
.f-edit-content [data-plugin-item-id]:hover [data-plugin-items] {
    opacity: 1;
}

.f-edit-content .f-plugin-container [data-plugin-items-root] {
    position: absolute;
    display: flex;
    opacity: 0;
    transition: all 0.2s ease;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    justify-content: flex-start;
    right: 0rem;
    bottom: calc(100% - 2rem);
}

.f-edit-content .f-plugin-container:hover [data-plugin-items-root] {
    bottom: 100%;
    opacity: 1;
}

.f-edit-content [data-plugin-item-action] {
    background-color: rgba(62, 62, 209, 0.9);
    padding: 6px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.f-edit-content [data-plugin-item-action] .icon {
    fill: white;
    color: white;
    width: 20px;
    height: 20px;
}
