.f-only-edit .f-section {
    min-width: 100px;
    min-height: 100px;
}

.f-page-editor-sidebar .f-plugin-definition-list {
    overflow: scroll;
    height: 100%;
    display: flex;
    padding: 0.25rem;
    flex-direction: column;
    gap: 0.25rem;
    overflow: scroll;
    width: 100%;
}

.f-page-editor-sidebar .f-plugin-definition-item {
    padding: 0.25rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    border: 1px solid #f0f0f0;
    background-color: white;
    border-radius: 4px;
}

.f-page-editor-sidebar .f-plugin-definition-item:hover {
    /* box-shadow: 0 0px 8px -4px black; */
    background-color: #f0f0f0;
    border-color: #d0d0d0;
    cursor: grab;
}

.f-page-editor-sidebar .f-plugin-definition-item .f-name {
    font-weight: bold;
    font-size: 12px;
}

.f-page-editor-sidebar .f-plugin-definition-item .f-description {
    opacity: 0.7;
    font-size: 10px;
}

.f-page-editor-sidebar {
    width: 200px;
    background-color: #ffffff;
    border-left: 1px solid #dfdfdf;
    box-shadow: 1px 0 8px -4px black;
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -200px;
    padding-top: 3rem;
    z-index: 100;
    opacity: 0;
}

.f-page-editor-sidebar-open .f-page-editor-sidebar {
    right: 0;
}

.f-edit-mode .f-page-editor-sidebar {
    opacity: 1;
}

.f-page-editor-toggler {
    position: fixed;
    transition: all 0.3s ease;
    top: 0.5rem;
    right: 0;
    z-index: 10;
    display: flex;
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
    gap: 0.25rem;
    padding: 0.125rem;
    background-color: white;
    border: 1px solid #dfdfdf;
    border-right: none;
    z-index: 100;
}

.f-page-editor-toggler .f-page-editor-toggler-button {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #f0f0f0;
    border: none;
    border-radius: 20px;
}

.f-page-editor-sidebar-open .f-page-editor-toggler {
    right: 200px;
    margin-right: -1px;
}

.f-page-editor-toggler .f-page-editor-toggler-button:hover {
    background-color: #dbdbdb;
}

.f-page-editor-toggler .f-page-editor-toggler-button-primary {
    color: white;
    background-color: #2558a5;
    border: none;
}

.f-page-editor-toggler .f-page-editor-toggler-button-primary:hover {
    background-color: #2c6bc9;
}

.f-edit-mode .f-plugin-container {
    position: relative;
}

.f-plugin-container-actions {
    display: none;
}

.f-edit-mode .f-plugin-container:hover .f-plugin-container-actions {
    display: flex;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}

.f-plugin-container-actions button {
    background-color: rgba(62, 62, 209, 0.9);
    padding: 4px;
    width: 24px;
    height: 24px;
}

.f-plugin-container-actions button .icon {
    fill: white;
    color: white;
    width: 16px;
    height: 16px;
}

.f-plugin-container-action-drag {
    cursor: grab;
}

.f-plugin-container-moving {
    opacity: 0.5;
}

.f-edit-mode .f-plugin-container {
    border: 1px dashed #dddddd;
}

.f-edit-mode .f-plugin-container:hover {
    border: 1px solid #3979da;
}

.f-edit-mode .f-section {
    border: 1px dashed #7a7a7a;
}

.f-page-editor-forms {
    display: none;
}

.f-edit-mode.f-page-editor-sidebar-open .f-only-sidebar-opened {
    display: inherit;
}

.f-edit-mode.f-page-editor-sidebar-open .f-only-sidebar-closed {
    display: none;
}

.f-edit-mode.f-page-editor-sidebar-close .f-only-sidebar-opened {
    display: none;
}

.f-edit-mode.f-page-editor-sidebar-close .f-only-sidebar-closed {
    display: inherit;
}

.f-view-mode .f-only-sidebar-opened {
    display: none;
}

.f-view-mode .f-only-sidebar-closed {
    display: none;
}

.f-edit-mode .f-only-edit {
    display: inherit;
}

.f-edit-mode .f-only-view {
    display: none;
}

.f-view-mode .f-only-view {
    display: inherit;
}

.f-view-mode .f-only-edit {
    display: none;
}

/* Dark mode */

.dark .f-page-editor-sidebar {
    background-color: #404040;
    border-color: #505050;
}
.dark .f-page-editor-toggler {
    background-color: #404040;
    border-color: #505050;
}

.dark .f-plugin-definition-item {
    background-color: #505050;
    border-color: #606060;
    color: white;
}
.dark .f-plugin-definition-item:hover {
    background-color: #606060;
    border-color: #707070;
}

.dark .f-page-editor-toggler-button {
    background-color: #505050;
    border-color: #404040;
    color: white;
    fill: white;
}
.dark .f-page-editor-toggler-button:hover {
    background-color: #606060;
    border-color: #404040;
}
.dark .f-page-editor-toggler-button-primary {
    background-color: #2e3bb3;
}
.dark .f-page-editor-toggler-button-primary:hover {
    
    background-color: #3b48bd;
}