@import './columns.editor.css';
@import './sidebar.css';
@import './columns.css';
@import './html.css';
@import './plugin-container.css';

.f-page-editor-forms {
    display: none;
}

.f-plugin-container-action-drag {
    cursor: grab;
}

.f-plugin-container-moving {
    opacity: 0.5;
}

.f-section {
    min-height: 100px;
}

.f-section:has(.f-plugin-definition-item) {
    box-shadow: inset 0 0 32px #2032ff;
    border: 1px solid rgb(0, 81, 255);
}

.f-plugin-definition-item {
    /* background-color: #005490a8; */
    /* color: transparent; */
    /* width: 100%; */
    /* min-height: 40px; */
}

a[disabled] {
    pointer-events: none;
    cursor: default;
}

.f-hidden {
    display: none;
}
