@import './toolbar.css';

.f-plugin-container {
    position: relative;
}

.f-plugin-container-content {
    min-height: 100px;
}

.f-page-editor-forms {
    display: none;
}

.f-plugin-container {
    padding: 0.5rem;
}

.f-plugin-container-content {
    border: 1px solid #dddddd;
    border-radius: 0.5rem;
    position: relative;
}

.f-plugin-container:hover .f-plugin-container-content {
    border: 1px solid #3979da;
    border-top-right-radius: 0;
}

.f-plugin-container:hover .f-plugin-container-content::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1639ff11;
    pointer-events: none;
}

a[disabled] {
    pointer-events: none;
    cursor: default;
}

.f-hidden {
    display: none;
}