@import './base.css';
@import './actions.css';
@import './columns.editor.css';
@import './grid-system.css';

.f-section {
    padding: 2rem;
    position: relative;
    /* border: 1px solid rgba(95, 95, 95, 0.486); */
    /* box-shadow: inset 0 0 0 1px var(--f-gray-100); */
    min-height: 100px;
}

.f-section:hover {
    box-shadow: inset 0 0 0 1px var(--f-secondary);
    /* border: 1px solid var(--f-gray-500); */
}

.f-section:has(.f-column:hover):hover {
    box-shadow: inset 0 0 0 1px var(--f-gray-300);
    /* border: 1px solid var(--f-gray-500); */
}
.f-column:has(.f-plugin-container:hover):hover {
    box-shadow: inset 0 0 0 1px var(--f-gray-300);
    /* border: 1px solid var(--f-gray-500); */
}

.f-section-root {
    min-height: 200px;
    position: relative;
}

.f-section-add-button {
    position: absolute;
    height: 64px;
    bottom: -32px;
    width: 100%;
}

.f-section-add-button::after {
    content: '';
    position: absolute;
    opacity: 0;
    bottom: 0;
    background-color: var(--f-primary);
    height: 32px;
    width: 32px;
    left: 50%;
    right: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}


.f-add-section-wrapper {
    display: flex;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.f-section-empty-add-button {
    background-color: var(--f-primary);
    color: white;
    padding: 8px 32px;
    border-radius: 4px;
    border: none;
}
.f-section-empty-add-button:hover {
    background-color: var(--f-primary-hover);
}

.f-plugin-actions {
    left: 24px;
}

.f-column-empty-wrapper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.f-column-empty-add-button {
    width: calc(100% / 6);
    height: 80px;
    border: 1px solid var(--f-secondary-soft-hover);
    background-color: var(--f-secondary-soft);
    color: var(--f-secondary-hover);
    border-radius: 4px;
    text-align: center;

}

.f-column-empty-add-button:hover {
    background-color: var(--f-primary-soft-hover);
    border: 1px solid var(--f-primary-hover);
}

.f-row {
    box-shadow: inset 0 0 0 1px var(--f-gray-100);
}
.f-row:has(.f-column) {
    box-shadow: none;
}

.f-column {
    /* padding: 2rem 0.5rem 0.5rem 0.5rem !important; */
    position: relative !important;
    min-height: 100px !important;
    /* border: 1px dashed var(--f-gray-300);  */
    /* box-shadow: inset 0 0 0 1px var(--f-gray-100); */
}

.f-column:hover {
    box-shadow: inset 0 0 0 1px var(--f-gray-500); 
}

.f-column-empty-add-plugin-button {
    cursor: pointer;
    min-height: 100px;
    padding: 50px;
    margin: 0.5rem;
    border: 1px solid var(--f-secondary-soft-hover);
    background-color: var(--f-secondary-soft);
    color: var(--f-secondary);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 1rem);
    font-weight: bold;
    font-size: 12px;
}
.f-column-empty-add-plugin-button:hover {
    background-color: var(--f-secondary-soft-hover);

}

.f-add-column {
    opacity: 0;
    position: absolute;
    width: 32px;
    height: 100%;
    right: -32px;
    top: 0;
}

.f-column:hover .f-add-column {
    opacity: 1;
}
.f-add-column::before {
    z-index: 10;
    content: '+';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 24px;
    height: 24px;
    background-color: var(--f-secondary);
    color: white;
    position: absolute;
    /* top: 50%; */
    bottom: 0;
    border-radius: 16px;
    transform: translate(-50%, -50%);
    right: 8px;
}
.f-add-column::before:hover {
    background-color: var(--f-secondary-hover);
}

.f-section-root:has(.f-plugin-definition-item) .f-column {
    box-shadow: inset 0 0 16px var(--f-primary);
    /* border: 1px solid rgb(0, 81, 255); */
}

.f-column-empty-add-plugin-icon {
    width: 32px;
    height: 32px;
}

.f-hidden {
    display: none !important;
}

.f-column-add-plugin-button {
    cursor: pointer;
    z-index: 4;
    padding: 2px 8px;
    font-weight: bold;
    font-size: 12px;
    opacity: 0;
    border: 1px solid var(--f-primary);
    background-color: var(--f-primary);
    color: white;
    border-radius: 12px;
    width: max-content;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    gap: 4px;
    height: 24px;
}
.f-column-add-plugin-icon {
    width: 16px;
}

.f-column:hover .f-column-add-plugin-button {
    opacity: 1;
}

.f-section-add-button:hover::after {
    opacity: 1;
}
