@import './columns.editor.css';
@import './columns.css';
@import './html.css';


.f-plugin-container {
    position: relative;
    transition: all 0.3s ease;
}

.f-plugin-container-content {
    border: 1px dashed #00549038;
    padding-top: 2.5rem;
    position: relative;
    overflow: hidden;
    min-height: 75px;
    transition: all 0.3s ease;
}

.f-plugin-container:hover .f-plugin-container-content {
    border: 1px dashed #005590;
}

.f-plugin-toolbar-actions-title {
    padding-left: 1rem;
}

.f-plugin-toolbar-actions {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 12px;
    align-items: center;
    justify-content: end;
}

.f-plugin-toolbar-action {
    border: none;
    background-color: transparent;
    color: black;
}
.f-plugin-toolbar-action:hover {
    color: #005590;
}

.f-page-editor-forms {
    display: none;
}

.f-plugin-container-actions {
    background-color: white;
    color: black;
    z-index: 4;
    height: 40px;
    border: 1px dashed #00549038;
    position: absolute;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
    justify-content: space-between;
    left: 0;
    right: 0;
}

.f-plugin-container-error {
    padding-top: 2.5rem;
}

[data-inline-editable] {
    outline: none;
    display: inline-block;
    position: relative;
}

.f-plugin-container:hover [data-inline-editable] {
    background-color: #0055f030;
}

.f-plugin-container:hover .f-plugin-container-actions {
    border: 1px dashed #005590;
}

.f-plugin-container-action-drag {
    cursor: grab;
}

.f-plugin-container-moving {
    opacity: 0.5;
}

.f-section {
    min-height: 100px;
}

.f-section:has(.f-plugin-definition-item) {
    box-shadow: inset 0 0 32px #2032ff;
    border: 1px solid rgb(0, 81, 255);
}

.f-plugin-definition-item {
    background-color: #005490a8;
    color: transparent;
    width: 100%;
    min-height: 40px;
}

a[disabled] {
    pointer-events: none;
    cursor: default;
}

.f-plugin-container-content-new {
    width: 100%;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    background-color: white;
}
.f-plugin-container-content-new .f-name {
    font-weight: bold;
    font-size: 16px;
}

.f-plugin-container-content-new .f-description {
    opacity: 0.7;
    font-size: 12px;
}


.f-hidden {
    display: none;
}