.f-toolbar {
    background-color: var(--f-toolbar-background-color);
    border-bottom: 1px solid var(--f-toolbar-border-color);
    color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
}

.f-toolbar-start {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4px;

    width: 400px;
}
.f-toolbar-center {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;

    width: 400px;
}

.f-toolbar-end {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: end;
    width: 400px;
}

.f-toolbar-button {
    background-color: var(--f-toolbar-button-background-color);
    padding: 8px;
    border-radius: 4px;
    color: rgb(37, 37, 37);
    font-size: 12px;
    border: none;
}