.f-toolbar {
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: white;
    box-shadow: inset 0 -1px 4px #00000040;
}

.f-toolbar-container {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;

}

.f-toolbar-start, .f-toolbar-center, .f-toolbar-end {
    display: flex;
    gap: 10px;
    min-width: 200px;
}

.f-toolbar-center {
    justify-content: center;
}

.f-toolbar-end {
    justify-content: end;
}

.f-toolbar-button {
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: none;
}

.f-toolbar-button-outline {
    border: 1px solid #5C90BD;
    color: #5C90BD;
    background-color: white;
}
.f-toolbar-button-primary {
    color: white;
    background-color: #5C90BD;
}
.f-toolbar-button-secondary {
    color: white;
    background-color: #A1B7C9;
}

.f-toolbar-button-outline:hover {
    background-color: #5C90BD;
    color: white;
}


.f-toolbar-button-icon {
    width: 34px;
    padding: 0;
}

.f-toolbar-responsive-buttons {
    display: flex;
    align-items: center;
    gap: 4px;
}

.f-toolbar-responsive-button {
    width: 34px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.f-toolbar-responsive-button:hover {
    color: #5C90BD;
}

.f-toolbar-responsive-button-active {
    color: #5C90BD;
}