@inherits LayoutComponentBase
@layout PanelLayout

<SectionContent SectionName="sidebar">
    <Sidebar>
        <Header>
            @* TODO *@
            <a href="/" class="items-center pl-2.5 mb-5 hidden lg:flex">
                <img src="/images/logo-shape.svg" class="dark:hidden mr-3 h-8" alt="FluentCMS Logo">
                <img src="/images/logo-shape-dark.svg" class="hidden dark:block mr-3 h-8"
                    alt="FluentCMS Logo">
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">FluentCMS</span>
            </a>
        </Header>
        <ChildContent>
            <SidebarItem Href="/components"
                         Icon="IconName.Rocket">
                Components
            </SidebarItem>
            <SidebarItem Href="/examples"
                         Icon="IconName.Grid">
                Examples
            </SidebarItem>
        </ChildContent>
        <Footer>
            <!-- TODO: Theme Switcher -->
        </Footer>
    </Sidebar>
</SectionContent>

@Body
