@inherits LayoutComponentBase
@layout PanelLayout

<SectionContent SectionName="sidebar">
    <Sidebar>
        <Header>
            @* TODO *@
            <a class="items-center pl-2.5 mb-5 hidden lg:flex"
               href="/">
                <Logo />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">FluentCMS</span>
            </a>
        </Header>
        <ChildContent>
            <SidebarItem Href="/components"
                         Icon="IconName.Rocket">
                Components
            </SidebarItem>
            <SidebarItem Href="/examples"
                         Icon="IconName.Grid">
                Examples
            </SidebarItem>
        </ChildContent>
        <Footer>
            <ThemeSwitcher />
        </Footer>
    </Sidebar>
</SectionContent>

@Body
