@namespace FluentCMS.Web.Plugins

<GridItem Small="GridItemColumn.Twelve">
    <Stack>
        @ChildContent
        <Button Visible="Submit" Color="Color.Primary" Type="ButtonType.Submit">
            Submit
        </Button>
        <!-- TODO: Only disable enhance nav for site builder -->
        <Button data-enhance-nav="disabled" Visible="Cancel" Href="@GetBackUrl()">
            Cancel
        </Button>
    </Stack>
</GridItem>
