@namespace FluentCMS.Web.Plugins

<Modal Placement="ModalPlacement.Top" OnClose="HandleClose" Size="ModalSize.Large" Visible="Open">
    <ModalHeader>@Title</ModalHeader>
    @ChildContent
    <ModalFooter>
        <Stack Justify="StackJustify.End">
            <Button @onclick="HandleClose">Close</Button>
        </Stack>
    </ModalFooter>
</Modal>