@page "/components/button"
@layout ComponentsLayout

<Page>
    <PageHeader Title="Buttons" />
    <PageBody>
        <ComponentPreview Title="Default"
                          Description="Use these default button styles with multiple colors to indicate an action or link within your website.">
            <Stack>
                <Button Color="Color.Default">
                    Default
                </Button>
                <Button Color="Color.Primary">
                    Primary
                </Button>
                <Button Color="Color.Secondary">
                    Secondary
                </Button>
                <Button Color="Color.Success">
                    Success
                </Button>
                <Button Color="Color.Info">
                    Info
                </Button>
                <Button Color="Color.Warning">
                    Warning
                </Button>
                <Button Color="Color.Danger">
                    Danger
                </Button>
            </Stack>
        </ComponentPreview>

        <ComponentPreview Title="Outline"
                          Description="Use the following button styles to show the colors only for the border of the element.">
            <Stack>
                <Button Color="Color.Default"
                        Outline="true">
                    Default
                </Button>
                <Button Color="Color.Primary"
                        Outline="true">
                    Primary
                </Button>
                <Button Color="Color.Secondary"
                        Outline="true">
                    Secondary
                </Button>
                <Button Color="Color.Success"
                        Outline="true">
                    Success
                </Button>
                <Button Color="Color.Info"
                        Outline="true">
                    Info
                </Button>
                <Button Color="Color.Warning"
                        Outline="true">
                    Warning
                </Button>
                <Button Color="Color.Danger"
                        Outline="true">
                    Danger
                </Button>
            </Stack>
        </ComponentPreview>

        <ComponentPreview Title="Disabled"
                          Description="Use the following styles to indicate a disabled button. This can be often used inside form elements to disable the submit button before all the form elements have been completed and validated.">
            <Stack>
                <Button Color="Color.Default"
                        Disabled="true">
                    Default
                </Button>
                <Button Color="Color.Primary"
                        Disabled="true">
                    Primary
                </Button>
                <Button Color="Color.Secondary"
                        Disabled="true">
                    Secondary
                </Button>
                <Button Color="Color.Success"
                        Disabled="true">
                    Success
                </Button>
                <Button Color="Color.Info"
                        Disabled="true">
                    Info
                </Button>
                <Button Color="Color.Warning"
                        Disabled="true">
                    Warning
                </Button>
                <Button Color="Color.Danger"
                        Disabled="true">
                    Danger
                </Button>
            </Stack>
        </ComponentPreview>

        <ComponentPreview Title="Link"
                          Description="Use the following styles to make button looks like a link.">
            <Stack>
                <Button Color="Color.Default"
                        Link="true">
                    Default
                </Button>
                <Button Color="Color.Primary"
                        Link="true">
                    Primary
                </Button>
                <Button Color="Color.Secondary"
                        Link="true">
                    Secondary
                </Button>
                <Button Color="Color.Success"
                        Link="true">
                    Success
                </Button>
                <Button Color="Color.Info"
                        Link="true">
                    Info
                </Button>
                <Button Color="Color.Warning"
                        Link="true">
                    Warning
                </Button>
                <Button Color="Color.Danger"
                        Link="true">
                    Danger
                </Button>
            </Stack>
        </ComponentPreview>

        <ComponentPreview Title="With Icon"
                          Description="Use the following examples to add a icon inside the button either on the left or right side.">
            <Stack>
                <Button Color="Color.Default">
                    <Icon Name="IconName.InformationFilled" />
                    Default
                </Button>
                <Button Color="Color.Primary">
                    <Icon Name="IconName.InformationFilled" />
                    Primary
                </Button>
                <Button Color="Color.Secondary">
                    <Icon Name="IconName.InformationFilled" />
                    Secondary
                </Button>
                <Button Color="Color.Success">
                    <Icon Name="IconName.InformationFilled" />
                    Success
                </Button>
                <Button Color="Color.Info">
                    <Icon Name="IconName.InformationFilled" />
                    Info
                </Button>
                <Button Color="Color.Warning">
                    <Icon Name="IconName.InformationFilled" />
                    Warning
                </Button>
                <Button Color="Color.Danger">
                    <Icon Name="IconName.InformationFilled" />
                    Danger
                </Button>
            </Stack>
        </ComponentPreview>

        <ComponentPreview Title="Ghost">
            <Stack>
                <Button Color="Color.Default"
                        Ghost="true">
                    Default
                </Button>
                <Button Color="Color.Primary"
                        Ghost="true">
                    Primary
                </Button>
                <Button Color="Color.Secondary"
                        Ghost="true">
                    Secondary
                </Button>
                <Button Color="Color.Success"
                        Ghost="true">
                    Success
                </Button>
                <Button Color="Color.Info"
                        Ghost="true">
                    Info
                </Button>
                <Button Color="Color.Warning"
                        Ghost="true">
                    Warning
                </Button>
                <Button Color="Color.Danger"
                        Ghost="true">
                    Danger
                </Button>
            </Stack>
        </ComponentPreview>

        <ComponentPreview Title="Sizes"
                          Description="Use these examples if you want to use smaller or larger buttons.">
            <Stack>
                <Button Size="ButtonSize.Small">
                    Small
                </Button>
                <Button Size="ButtonSize.Medium">
                    Medium (Default)
                </Button>
                <Button Size="ButtonSize.Large">
                    Large
                </Button>
            </Stack>
        </ComponentPreview>

        <ComponentPreview Title="Group">
            <Stack>
                <ButtonGroup>
                    <Button Color="Color.Default">
                        Cancel
                    </Button>
                    <Button Color="Color.Primary">
                        Confirm
                    </Button>
                </ButtonGroup>
            </Stack>
        </ComponentPreview>

        <ComponentPreview Title="Icon buttons"
                          Description="Sometimes you need a button to indicate an action using only an icon.">
            <Stack>
                <Button Icon="true"
                        Size="ButtonSize.Small">
                    <Icon Name="IconName.InformationFilled" />
                </Button>
                <Button Icon="true"
                        Size="ButtonSize.Medium">
                    <Icon Name="IconName.InformationFilled" />
                </Button>
                <Button Icon="true"
                        Size="ButtonSize.Large">
                    <Icon Name="IconName.InformationFilled" />
                </Button>
            </Stack>
        </ComponentPreview>

        <ComponentPreview Title="Item">
            <Stack Vertical="true">
                <Button Block="true"
                        Item="true">
                    <Icon Name="IconName.Edit" />
                    Edit
                </Button>
                <Button Block="true"
                        Item="true">
                    <Icon Name="IconName.Eye" />
                    Preview
                </Button>
                <Button Block="true"
                        Color="Color.Danger"
                        Item="true"
                        Outline="true">
                    <Icon Name="IconName.Delete" />
                    Delete
                </Button>
            </Stack>
        </ComponentPreview>
    </PageBody>
</Page>

