@page "/components/stepper"
@layout ComponentsLayout

<Page>
    <PageHeader Title="Stepper" />
    <PageBody>
        <ComponentPreview Title="Default">
            <Stepper>
                <StepperItem Title="First" />
                <StepperItem Title="Second"/>
                <StepperItem Title="Third"/>
            </Stepper>                          
           
        </ComponentPreview>

        <ComponentPreview Title="Icon">
            <Stepper>
                <StepperItem Icon="IconName.TableColumn" 
                             Title="ContentType" />
                <StepperItem Icon="IconName.PenNib" 
                             Title="Content"/>
                <StepperItem Icon="IconName.ClipboardList" 
                             Title="Api"/>
            </Stepper>                          
        </ComponentPreview>

        <ComponentPreview Title="Subtitle">
            <Stepper>
                <StepperItem Icon="IconName.TableColumn" 
                             Title="ContentType" 
                             Subtitle="First step is to create a content Type" />
                <StepperItem Icon="IconName.PenNib" 
                             Title="Content" 
                             Subtitle="Then you can create content" />
                <StepperItem Icon="IconName.ClipboardList" 
                             Title="Api" 
                             Subtitle="Finally you are able to use API" />
            </Stepper>                          
        </ComponentPreview>

        <ComponentPreview Title="ChildContent">
            <Stepper>
                <StepperItem Icon="IconName.TableColumn" 
                             Title="ContentType"  
                             Subtitle="First step is to create a content Type">
                    <Button Color="Color.Primary">
                        Create ContentType
                    </Button>
                </StepperItem>
                <StepperItem Icon="IconName.PenNib" 
                             Title="Content" 
                             Subtitle="Then you can create content">
                    <Button Color="Color.Primary">
                        Create Content
                    </Button>
                </StepperItem>
                <StepperItem Icon="IconName.ClipboardList" 
                             Title="Api" 
                             Subtitle="Finally you are able to use API">
                    <Button Color="Color.Primary">
                        Use API
                    </Button>
                </StepperItem>
            </Stepper>                          
        </ComponentPreview>
     </PageBody>
 </Page>
