@page "/components/toast"
@layout ComponentsLayout

<Page>
    <PageHeader Title="Toasts" />
    <PageBody>
        <ComponentPreview Title="Service" >
            <ButtonGroup>
                <Button OnClick="Info">Info</Button>
                <Button OnClick="Warning">Warning</Button>
                <Button OnClick="Success">Success</Button>
                <Button OnClick="Default">Default</Button>
                <Button OnClick="Danger">Danger</Button>
            </ButtonGroup>
        </ComponentPreview>
     </PageBody>
 </Page>

 @code {
    [Inject]
    ToastService Toast { get; set; } = default!;

    void Info()
    {
        Toast.Show("Info toast! Change a few things up and try submitting again.", ToastType.Info);
    } 

    void Warning()
    {
        Toast.Show("Warning toast! Change a few things up and try submitting again.", ToastType.Warning);
    }

    void Success()
    {
        Toast.Show("Success toast! Change a few things up and try submitting again.", ToastType.Success);
    }

    void Default()
    {
        Toast.Show("Default toast! Change a few things up and try submitting again.", ToastType.Default);
    }

    void Danger()
    {
        Toast.Show("Danger toast! Change a few things up and try submitting again.", ToastType.Danger);
    }
}
