@* TODO *@

@page "/components/tooltip"
@layout ComponentsLayout

<Page>
    <PageHeader Title="Tooltip" />
    <PageBody>
        <ComponentPreview Title="Default">
            <Grid ItemsSmall="GridItems.Center"
                  JustifySmall="GridJustify.Center">
                <GridItem>
                    <Button Color="Color.Danger">
                        <Icon Name="IconName.Delete" />
                    </Button>
                    <Tooltip Placement="TooltipPlacement.Top">
                        Delete current Item
                    </Tooltip>
                </GridItem>
            </Grid>
        </ComponentPreview>

        <ComponentPreview Title="Placement">
            <Grid Gutter="GridGutter.Large"
                  ItemsSmall="GridItems.Center"
                  JustifySmall="GridJustify.Center">
                <GridItem>
                    <Button>Left</Button>
                    <Tooltip Placement="TooltipPlacement.Left">
                        Tooltip
                    </Tooltip>
                </GridItem>
                <GridItem>
                    <Button>Bottom</Button>
                    <Tooltip Placement="TooltipPlacement.Bottom">
                        Tooltip
                    </Tooltip>
                </GridItem>
                <GridItem>
                    <Button>Top</Button>
                    <Tooltip Placement="TooltipPlacement.Top">
                        Tooltip
                    </Tooltip>
                </GridItem>
                <GridItem>
                    <Button>Right</Button>
                    <Tooltip Placement="TooltipPlacement.Right">
                        Tooltip
                    </Tooltip>
                </GridItem>
            </Grid>
        </ComponentPreview>
    </PageBody>
</Page>
