<section class="bg-gray-100 dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
            <div>
                <h3 class="mb-2 text-xl font-bold dark:text-white" data-inline-editable>
                    Web &amp; Mobile App Development
                </h3>
                <p class="text-gray-500 dark:text-gray-400" data-inline-editable>
                    We develop custom web and mobile applications tailored to your business needs for optimal user
                    experience and functionality.
                </p>
            </div>
            <div>
                <h3 class="mb-2 text-xl font-bold dark:text-white" data-inline-editable>Custom Software Development</h3>
                <p class="text-gray-500 dark:text-gray-400" data-inline-editable>
                    Our team creates custom software solutions to automate and streamline your business processes,
                    boosting efficiency and reducing costs.
                </p>
            </div>
            <div>
                <h3 class="mb-2 text-xl font-bold dark:text-white" data-inline-editable>UI/UX design</h3>
                <p class="text-gray-500 dark:text-gray-400" data-inline-editable>
                    Auto-assign tasks, send Slack messages, and much more. Now power up with hundreds of new templates
                    to help you get started.
                </p>
            </div>
            <div>
                <h3 class="mb-2 text-xl font-bold dark:text-white" data-inline-editable>
                    Application, API and Data Integration
                </h3>
                <p class="text-gray-500 dark:text-gray-400" data-inline-editable>
                    Audit-proof software built for critical financial operations like month-end close and quarterly
                    budgeting.
                </p>
            </div>
            <div>
                <h3 class="mb-2 text-xl font-bold dark:text-white" data-inline-editable>
                    Cloud &amp; DevOps Engineering
                </h3>
                <p class="text-gray-500 dark:text-gray-400" data-inline-editable>
                    Craft beautiful, delightful experiences for both marketing and product with real cross-company
                    collaboration.
                </p>
            </div>
            <div>
                <h3 class="mb-2 text-xl font-bold dark:text-white" data-inline-editable>IT consultation</h3>
                <p class="text-gray-500 dark:text-gray-400" data-inline-editable>
                    Keep your company’s lights on with customizable, iterative, and structured workflows built for all
                    efficient teams and individual.
                </p>
            </div>
        </div>
    </div>
</section>