@page "/admin"

<PageTitle>Home</PageTitle>
<a href="api/WeatherForecast/GetAll" target="_blank">Call Weather Api</a>

<Label>This is label</Label>
<Button>Submit</Button>
<Button Disabled="true">Disabled="true"</Button>
<Button Disabled="false">Disabled="false"</Button>
<Badge>Default</Badge>
<Badge Color="Colors.Danger">Danger</Badge>
