@page "/KitchenSink"
@rendermode RenderMode.InteractiveServer
@using System.Text.Json
<h3>KitchenSink</h3>

<EditForm Model="Model" OnValidSubmit="Submit" FormName="form">
    <Input @bind-Value="Model.Name" Disabled="false"></Input>
    <Button OnClick="Submit">Submit</Button>
</EditForm>
<pre>
    @JsonSerializer.Serialize(Model)
</pre>

<Card>
    <CardHeader>
        <CardTitle>@Model.Name</CardTitle>
    </CardHeader>
    <CardBody>
        <p>Nulla diam ipsum takimata ut diam dolore consetetur sit illum facilisi lorem gubergren dolor exerci dolore est duo ipsum sanctus</p>
    </CardBody>
</Card>

@code {
    public DummyModel Model { get; set; } = new() { Name = "Parsa" };
    public class DummyModel
    {
        public string Name { get; set; }
    }
    public void Submit()
    {
        Console.WriteLine(Model.Name);
    }
}
