@page "/kitchen-sink"

<Page>
    <PageHeader Title="Kitchen Sink">
        <PageActions>
            <NavigationButton To="/">Go Back</NavigationButton>
        </PageActions>
    </PageHeader>

    <div class="py-8">
        <h2 class="font-bold text-2xl">First Component</h2>
        <div class="py-4 flex gap-4">
            <Button>Hello</Button>
            <Button color="primary">Hello</Button>

        </div>
    </div>

    <div class="py-8">
        <h2 class="font-bold text-2xl">Alerts</h2>
        <div class="py-4 flex flex-col gap-4">
            <Alert Type="success"> Change a few things up and try submitting again.</Alert>
            <Alert Dismissible Type="warning"> Change a few things up and try submitting again.</Alert>
            <Alert Type="danger"> Change a few things up and try submitting again.</Alert>
            <Alert Type="info"> Change a few things up and try submitting again.</Alert>

        </div>
    </div>
</Page>
