@page "/kitchen-sink"

<Page>
    <PageHeader Title="Kitchen Sink">
        <PageActions>
            <NavigationButton To="/">Go Back</NavigationButton>
        </PageActions>
    </PageHeader>

    <div class="py-8">
        <h2 class="font-bold text-2xl">First Component</h2>
        <div class="py-4 flex gap-4">
            <Button>Hello</Button>
            <Button color="primary">Hello</Button>

        </div>
    </div>
</Page>
