@page "/kitchen-sink"
@layout PanelLayout

<Page>
    <PageHeader Title="Kitchen Sink">
        <PageActions>
            <NavigationButton To="/">Go Back</NavigationButton>
        </PageActions>
    </PageHeader>

    <div class="py-8">
        <h2 class="font-bold text-2xl">First Component</h2>
        <div class="py-4 flex gap-4">
            <Button>Hello</Button>
            <Button color="primary">Hello</Button>

        </div>
    </div>

    <div class="py-8">
        <h2 class="font-bold text-2xl">Alerts</h2>
        <div class="py-4 flex flex-col gap-4">
            <Alert Type="success"> Change a few things up and try submitting again.</Alert>
            <Alert Dismissible Type="warning"> Change a few things up and try submitting again.</Alert>
            <Alert Type="danger"> Change a few things up and try submitting again.</Alert>
            <Alert Type="info"> Change a few things up and try submitting again.</Alert>
        </div>
    </div>
    <div class="py-8">
        <h2 class="font-bold text-2xl">Checkbox</h2>
        <div class="py-4 flex flex-col gap-4">
            <Checkbox Value="first">First</Checkbox>
            <Checkbox Value="second" Text="Second" />
            <Checkbox Checked Value="third" Text="Third"></Checkbox>
            <Checkbox Disabled Value="fourth" Text="Fourth"></Checkbox>
        </div>
        <div>
            Checkbox Value: <span class="font-bold">@CheckboxValue</span>
        </div>
    </div>
    <div class="py-8">
        <h2 class="font-bold text-2xl">Radio</h2>
        <div class="py-4 flex flex-col gap-4">
            <Radio Name="group-1">Child Content</Radio>
            <Radio Name="group-1" Text="Text" />
            <Radio Name="group-1" Checked Text="Checked"></Radio>
            <Radio Name="group-1" Checked Disbled Text="Checked Disabled"></Radio>
            <Radio Name="group-1" Disabled Text="Disabled"></Radio>
        </div>
        <div class="py-4 flex flex-col gap-4">
            <Radio Name="group-2">Child Content</Radio>
            <Radio Name="group-2" Text="Text" />
            <Radio Name="group-2" Checked Text="Checked"></Radio>
            <Radio Name="group-2" Checked Disbled Text="Checked Disabled"></Radio>
            <Radio Name="group-2" Disabled Text="Disabled"></Radio>
        </div>
    </div>
</Page>

@code {
    private string CheckboxValue;
}