@inherits LayoutComponentBase
<HeadContent>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" />
    <link rel="stylesheet" href="/css/app.min.css">
    <link rel="icon" type="image/png" href="favicon.png" />
</HeadContent>

<div class="f-layout">
    <aside id="default-sidebar" aria-label="Sidebar" class="f-sidebar -translate-x-full">
        <div class="f-sidebar-body">
            <NavLink href="/" class="f-sidebar-item">
                <span class="f-sidebar-item-text">Home</span>
            </NavLink>
            <NavLink href="/about-me" class="f-sidebar-item">
                <span class="f-sidebar-item-text">About Me</span>
            </NavLink>
            <NavLink href="/contact" class="f-sidebar-item">
                <span class="f-sidebar-item-text">Contact Me</span>
            </NavLink>
            <NavLink href="/contact?id=1&me=you" class="f-sidebar-item">
                <span class="f-sidebar-item-text">Contact with query</span>
            </NavLink>
            <NavLink href="/kitchen-sink" class="f-sidebar-item">
                <span class="f-sidebar-item-text">Kitchen Sink</span>
            </NavLink>
            <NavLink href="/doc" class="f-sidebar-item" target="_blank">
                <span class="f-sidebar-item-text">Api Doc</span>
            </NavLink>
            <hr />
            <a href="/" class="f-sidebar-item">
                <span class="f-sidebar-item-text">Home</span>
            </a>
            <a href="/about-me" class="f-sidebar-item">
                <span class="f-sidebar-item-text">About Me</span>
            </a>
            <a href="/contact" class="f-sidebar-item">
                <span class="f-sidebar-item-text">Contact Me</span>
            </a>
            <a href="/kitchen-sink" class="f-sidebar-item">
                <span class="f-sidebar-item-text">Kitchen Sink</span>
            </a>
            <a href="/doc" class="f-sidebar-item" target="_blank">
                <span class="f-sidebar-item-text">Api Doc</span>
            </a>
        </div>
    </aside>
    <Navbar>
        <LeftContent>
            <button id="toggleSidebarMobile" aria-expanded="true" aria-controls="default-sidebar"
                class="f-navbar-button">
                <Icon id="toggleSidebarMobileHamburger" Size="xl" Name="menu-2" />
                <Icon id="toggleSidebarMobileClose" Class="hidden" Size="xl" Name="x" />
            </button>

            <a href="https://flowbite-admin-dashboard.vercel.app/" class="flex ml-2 md:mr-24">
                @* <img src="https://flowbite-admin-dashboard.vercel.app/images/logo.svg" class="h-8 mr-3"
                    alt="FlowBite Logo" /> *@
                <span class="f-logo-text">FluentCMS</span>
            </a>
        </LeftContent>
        <RightContent>
            <Dropdown>
                <Target>
                    <img class="f-avatar" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" />
                </Target>
                <MenuContent>
                    <DropdownItem>Profile</DropdownItem>
                    <DropdownItem>Settings</DropdownItem>
                    <DropdownItem>My Sites</DropdownItem>
                    <DropdownItem>Logout</DropdownItem>
                </MenuContent>
            </Dropdown>
        </RightContent>
    </Navbar>
    <main class="f-content">
        @Body
    </main>
</div>
<script src="/js/flowbite.min.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"></script>