@page "/test"
<ListPage title="Sites">
    <HeaderActions>
        <Button Color="primary">Add Site</Button>
    </HeaderActions>

    <ChildContent>
        <div class="f-site-card-list">
            <SiteCard/>
            <SiteCard/>
            <SiteCard/>
            <SiteCard/>
            <SiteCard/>
        </div>

    </ChildContent>
</ListPage>
