@namespace FluentCMS.Web.UI.Plugins.ContentTypeManagement.ContentTypeFields

<Grid GutterX="GridGutter.Large">
    <GridItem Small="GridItemColumn.Twelve"
              Medium="GridItemColumn.Six">
        <FieldName />
    </GridItem>
    <GridItem Small="GridItemColumn.Twelve"
              Medium="GridItemColumn.Six">
        <Select Label="Type"
                Value="@(Model.GetValue<Decimal>("Type"))"
                ValueChanged="@((Decimal value) => Model.SetValue<Decimal>("Type", value))">
            <Option Value="0">
                Short text
            </Option>
            <Option Value="1">
                Long text
            </Option>
        </Select>
    </GridItem>
</Grid>

@code {
    [CascadingParameter]
    public ContentTypeFieldResponse Model { get; set; }
}
