
@inherits BaseComponent

@namespace FluentCMS.Web.Plugins

@if (Visible)
{
    <EditForm Model="@Model" OnSubmit="HandleSubmit">
        <Modal Size="ModalSize.Large">
            <ModalHeader Closable>
                <ModalTitle>
                    Upload File
                </ModalTitle>
            </ModalHeader>
            <ModalBody>
                <Grid>
                    <FormFileUpload Dense OnChange="OnFilesChanged" Accept="@Config.AllowedExtensions" Required />
                </Grid>
            </ModalBody>
            <ModalFooter>
                <FormActions Submit>
                    <Button @onclick="HandleCancel">
                        Cancel
                    </Button>
                </FormActions>
            </ModalFooter>
        </Modal>
    </EditForm>
}