$confirm: $prefix + "confirm";

.#{$confirm} {
    @extend .modal;
    display: block;

    &-backdrop {
        @extend .modal-backdrop;
        @extend .fade;
        @extend .show;
    }

    &-body {
        @extend .modal-body; 
        max-height: 80vh;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        & > .#{$prefix}icon {
            width: 3rem;
            height: 3rem;
            display: block;
            @extend .text-danger;
        }
    }

    &-content {
        @extend .modal-content;
        & > .#{$prefix}close-button {
            top: 1rem;
            right: 0.75rem;
            position: absolute;
            z-index: 1;
        }

    }

    &-size-small > .#{$confirm}-wrapper{
        @extend .modal-sm;
    }
    
    &-size-large > .#{$confirm}-wrapper {
        @extend .modal-xl;
    }

    &-message {
        @extend .text-secondary;
    }

    &-wrapper {
        @extend .modal-dialog;
    }

    &-button-stack {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
    }
}