$data-table: $prefix + "data-table";

.#{$data-table} {
    @extend .table;
    @extend .table-vcenter;
    margin-bottom: 0;

    &-cell {
        white-space: nowrap;
        background-color: transparent !important;
    }

    &-head {
        .#{$data-table}-cell:last-child {
            @extend .w-1;
        }

        .#{$data-table}-cell {
            // 
        }
    }

    &-wrapper {
        @extend .table-responsive;
    }

    &-hoverable {
        @extend .table-hover;
    }
}